<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span translate="MODALS.PASSWORD_FORGOT_HEADING">Forgot password?</span>
                </div>

                <div id="lightbox_close" ng-click="$ctrl.app.closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="passwordForgotForm" novalidate>
                            <input id="email" ng-model="$ctrl.email" placeholder="{{'MODALS.PASSWORD_FORGOT_PLACEHOLDER_EMAIL' | translate}}" ng-class="{'error_input': $ctrl.errors.email}" required>
                            <label for="email" class="error_label" ng-if="$ctrl.errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{$ctrl.errors.email}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="$ctrl.doPasswordReset()" cos-disabled="passwordForgotForm.$invalid" class="blue_button" translate="MODALS.PASSWORD_FORGOT_SEND_RESET">Send reset code</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="" ng-click="$ctrl.app.closeThisDialog($event)" translate="MODALS.PASSWORD_FORGOT_BTN_CANCEL">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="$ctrl.app.closeThisDialog($event)">
    </div>

</div>
