<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="id_signing delete_topic wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">


                <div id="lightbox_header_text">
                    <div class="title">Delete topic</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="line lightest_line"></div>

            </div>


            <div class="lightbox_content">

                <div class="second_header">

                    <div class="sprite sprite-icon-delete-topic2x"></div>
                    <div class="delete_title">Are you sure you want to delete this topic?</div>
                    <div class="delete_description">Please keep in mind you cannot undo this action.</div>

                    <div id="lightbox_close" ng-click="closeThisDialog()">
                        <div class="table_cell">
                            <div class="sprite sprite-btn-popup-close2x">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="line_wrap">
                    <div class="line lightest_line"></div>
                </div>

                <div class="delete_info_wrap">

                    <div class="delete_info_text_wrap">
                        <div class="delete_info">
                            <div class="sprite sprite-checkmark2x"></div>
                            <div class="delete_info_text">All versions of the topic will be deleted</div>
                        </div>

                        <div class="delete_info">
                            <div class="sprite sprite-checkmark2x"></div>
                            <div class="delete_info_text">All discussions and voted will be deleted.</div>
                        </div>

                        <div class="delete_info">
                            <div class="sprite sprite-checkmark2x"></div>
                            <div class="delete_info_text">The topic will be removed from groups and categories.</div>
                        </div>
                    </div>

                    <div class="delete_info_button_wrap">

                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog()">NO, KEEP THIS TOPIC</div>
                        </div>

                        <div class="table_cell">
                            <div class="blue_button yes" ng-click="confirm()">YES, DELETE THIS TOPIC</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()"></div>

</div>
