<div ng-if="$ctrl.Topic.canEditDescription($ctrl.topic)" class="options_wrap">
    <div ng-if="$ctrl.app.editMode" class="blue_button" translate="VIEWS.TOPICS_TOPICID.NAV_BTN_DONE_EDITING" ng-click="$ctrl.app.doToggleEditMode()">Done editing</div>
    <div ng-if="!$ctrl.app.editMode" class="blue_button" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_EDIT_TOPIC" ng-click="$ctrl.app.doToggleEditMode()">Edit topic</div>
</div>
<div ng-if="$ctrl.Topic.canEdit($ctrl.topic) && $ctrl.topic.report.moderatedReasonType" class="options_wrap">
    <div class="blue_button" ui-sref="topics/view/reportsReview({topicId: $ctrl.topic.id, reportId: $ctrl.topic.report.id})" ui-sref-opts="{reload:false}"
            translate="VIEWS.TOPICS_TOPICID.NAV_BTN_SUBMIT_FOR_REVIEW">Submit for review
    </div>
</div>
<div class="options_wrap" ng-if="($ctrl.app.user.loggedIn || (!$ctrl.app.user.loggedIn && !$ctrl.topic.report)) && ($ctrl.topic.status !== $ctrl.STATUSES.closed || ($ctrl.Topic.canDelete($ctrl.topic) || $ctrl.topic.canLeave()))">
    <div class="options_header">
        <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.NAV_HEADING">OPTIONS</div>
    </div>
    <div class="options_content">
        <div ng-if="!($ctrl.topic.vote.id && $ctrl.topic.status===$ctrl.STATUSES.voting) && $ctrl.Topic.canSendToVote($ctrl.topic)" class="blue_link" ng-click="$ctrl.sendToVote()"
                translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SEND_TO_VOTE">Send to vote
        </div>
        <div ng-if="($ctrl.topic.vote.id && $ctrl.topic.status===$ctrl.STATUSES.voting && $ctrl.Topic.canSendToFollowUp($ctrl.topic))" class="blue_link" ng-click="$ctrl.sendToFollowUp()"
                translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SEND_TO_FOLLOW_UP">Send to follow up
        </div>
        <div class="blue_link" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)" ng-click="$ctrl.closeTopic()" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_CLOSE_TOPIC">Close topic</div>
        <div class="line lightest_line" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)"></div>
        <div class="blue_link" ng-if="$ctrl.Topic.canDelete($ctrl.topic) || $ctrl.topic.canLeave()" ui-sref="topics/view/settings({topicId: $ctrl.topic.id, tab: 'settings'})" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_ACTIONS">Actions</div>
        <div class="blue_link" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)" ui-sref="topics/view/invite({topicId: $ctrl.topic.id, tab: 'invite'})" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_INVITE_USERS">Invite users</div>
        <div class="blue_link" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)" ui-sref="topics/view/invite({topicId: $ctrl.topic.id, tab: 'share'})" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SHARE">Share topic</div>
        <div class="blue_link" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)" ui-sref="topics/view/participants({topicId: $ctrl.topic.id, tab: 'participants'})" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_PARTICIPANTS">Manage participants</div>
        <div class="blue_link" ng-if="$ctrl.Topic.canUpdate($ctrl.topic)" ng-click="$ctrl.duplicateTopic()" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_DUPLICATE_TOPIC">Duplicate topic</div>
        <div ng-if="$ctrl.topic.visibility === $ctrl.VISIBILITY.public && !$ctrl.topic.report" class="blue_link" ui-sref="topics/view/report" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_REPORT">Report
            topic
        </div>
        <div class="blue_link" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SET_TOPIC_NOTIFICATIONS" ng-click="$ctrl.app.doShowTopicNotificationSettings($ctrl.topic.id)">Set topic notifications</div>
    </div>
</div>
<div class="options_wrap" ng-if="$ctrl.app.wWidth > 767">
    <div class="options_header">
        <div class="table_cell"><span translate="VIEWS.TOPICS_TOPICID.HEADER_FILES">FILES</span><span> ({{$ctrl.TopicAttachmentService.attachments.length}}/{{$ctrl.app.config.attachments.limit}})</span></div>
    </div>
    <div class="options_content">
        <div class="blue_link" ng-repeat="attachment in $ctrl.TopicAttachmentService.attachments">
            <a ng-if="attachment.source === $ctrl.ATTACHMENT_SOURCES.upload" class="blue_link" ng-click="$event.preventDefault(); $ctrl.downloadAttachment(attachment);" href="{{attachment.link}}">{{attachment.name}}<span
                class="btn blue_button file_type">.{{attachment.type}}</span></a>
            <a ng-if="attachment.source !== $ctrl.ATTACHMENT_SOURCES.upload" target="_blank" class="blue_link" href="{{attachment.link}}">{{attachment.name}} <span class="btn blue_button file_type">{{attachment.type}}</span></a>
        </div>
        <div class="line lightest_line" ng-if="$ctrl.TopicAttachmentService.attachments.length"></div>
        <div ui-sref="topics/view/files" ng-if="$ctrl.Topic.canEdit($ctrl.topic)" class="blue_link" translate="VIEWS.TOPICS_TOPICID.LNK_ADD_MANAGE_FILES">Add/manage files</div>
    </div>
</div>
<div class="feedback_btn_wrap" ng-if="$ctrl.app.config.feedbackForm">
    <button class="feedback_btn" ng-click="$ctrl.openFeedback()">
        <div class="icon_left icon_feedback_btn"></div>
        <div class="btn_text" translate="VIEWS.TOPICS_TOPICID.BTN_FEEDBACK_OPEN"></div>
        <div class="icon_right icon_feedback_arrow"></div>
    </button>
</div>
