<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_ACTIONS"></div>
                    <div class="title_description">{{$ctrl.form.topic.title}}</div>
                </div>

                <div id="lightbox_close" class="ngdialog-close" ng-click="$ctrl.app.closeThisDialog($event)">
                    <div class="table_cell ngdialog-close" ng-click="$ctrl.app.closeThisDialog($event)">
                        <div class="sprite sprite-btn-popup-close2x ngdialog-close"
                            ng-click="$ctrl.app.closeThisDialog($event)">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider">
                        <div class="tab_button" ng-click="$ctrl.app.selectTab('settings')"
                            ng-class="$ctrl.app.tabSelected === 'settings' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_SETTINGS">ACTIONS
                                </div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-if="$ctrl.Topic.canEdit($ctrl.topic)"
                            ng-click="$ctrl.app.selectTab('categories')"
                            ng-class="$ctrl.app.tabSelected === 'categories' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_CATEGORIES">CATEGORIES
                                </div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>

            <!-- SETTINGS -->
            <div class="lightbox_content settings_section_wrap" ng-if="$ctrl.app.tabSelected === 'settings'">


                <div class="lightbox_section">


                    <div class="settings_section" ng-if="$ctrl.canChangeVisibility()">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE">Make your
                                topic private</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE_EXT">ONLY
                                PEOPLE YOU INVITE WILL BE ABLE TO JOIN THE TOPIC</div>
                        </div>

                        <div class="settings_cell">
                            <cos-toggle cos-toggle-text-on="'TOGGLE_ON' | translate"
                                cos-toggle-text-off="'TOGGLE_OFF' | translate" value="$ctrl.Topic.VISIBILITY.private"
                                off-value="$ctrl.Topic.VISIBILITY.public"
                                model="$ctrl.form.topic.visibility"></cos-toggle>
                        </div>
                    </div>

                    <div class="line lightest_line" ng-if="$ctrl.canChangeVisibility()"></div>

                    <div class="settings_section" ng-if="$ctrl.Topic.canEdit($ctrl.topic)">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG">Hashtag</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG_EXT">USE THIS
                                HASHTAG IN SOCIAL MEDIA AND THE MENTIONS WILL BE SHOWN BELOW YOUR TOPIC</div>
                        </div>
                        <div class="settings_cell hashtag_cell">
                            <div class="recycle_bin_wrap">
                                <div ng-click="$ctrl.doDeleteHashtag()" class="btn_wrap recycle_bin">
                                    <div class="btn">
                                        <div class="table_cell disabled_area">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="hashtag" value="#cos_hipsters" ng-model="$ctrl.form.topic.hashtag"
                                ng-change="$ctrl.checkHashtag()"
                                placeholder="{{'MODALS.TOPIC_SETTINGS_PLACEHOLDER_HASHTAG' | translate}}"
                                ng-class="{'error_input': $ctrl.errors.hashtag}">
                            <div class="recycle_bin_wrap wrap_mobile">
                                <div ng-click="$ctrl.doDeleteHashtag()" class="btn_wrap recycle_bin">
                                    <div class="btn">
                                        <div class="table_cell disabled_area">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="hashtag" class="error_label" ng-if="$ctrl.errors.hashtag">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{$ctrl.errors.hashtag}}"></span>
                                </div>
                            </label>
                        </div>

                    </div>
                    <div class="line lightest_line"
                        ng-if="$ctrl.Topic.canSendToFollowUp($ctrl.topic) && $ctrl.Topic.canEdit($ctrl.topic)"></div>

                    <div class="settings_section"
                        ng-if="$ctrl.Topic.canSendToFollowUp($ctrl.topic) && $ctrl.Topic.canEdit($ctrl.topic)">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE">Deadline</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE_EXT">WHEN THE
                                DEADLINE IS REACHED, THE TOPIC WILL BE CLOSED</div>
                        </div>
                        <div class="settings_cell text-right">
                            <span class="bold">{{$ctrl.form.topic.vote.endsAt | amDateFormat:'L LT Z'}}</span>
                        </div>
                        <div class="settings_cell">
                            <div class="gray_button edit_deadline_button" cos-modal-datepicker
                                ng-model="$ctrl.form.topic.vote.endsAt" cos-modal-on-save="$ctrl.doEditVoteDeadline"
                                cos-modal-title="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_TITLE'"
                                cos-modal-description="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_DESCRIPTION'"><span
                                    translate="MODALS.TOPIC_SETTINGS_BTN_EDIT_DEADLINE">Edit deadline</span></div>
                        </div>
                    </div>
                    <div class="line lightest_line" ng-if="$ctrl.Topic.canEdit($ctrl.topic)"></div>

                    <div class="settings_section"
                        ng-if="$ctrl.Topic.canSendToFollowUp($ctrl.topic) && $ctrl.Topic.canEdit($ctrl.topic)">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_REMINDER">Deadline</div>
                            <div class="setting_description">
                                <span translate="MODALS.TOPIC_SETTINGS_LBL_REMINDER_EXT">WHEN THE DEADLINE IS REACHED,
                                    THE TOPIC WILL BE CLOSED</span>
                                <div cos-dropdown class="classic_dropdown reminder_dropdown"
                                    ng-if="$ctrl.form.topic.vote.reminder">
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">{{$ctrl.selectedReminderOption()}}</div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-if="$ctrl.isVisibleReminderOption(option)"
                                            ng-repeat="(key, option) in $ctrl.reminderOptions">
                                            <div class="item_name" ng-click="$ctrl.setVoteReminder(option)">{{'OPTION_'
                                                + option.value + '_'+ option.unit.toUpperCase() | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings_cell">
                            <cos-toggle cos-toggle-text-on="'TOGGLE_ON' | translate"
                                cos-toggle-text-off="'TOGGLE_OFF' | translate"
                                model="$ctrl.form.topic.vote.reminder"></cos-toggle>
                        </div>
                    </div>
                    <div class="line lightest_line" ng-if="$ctrl.Topic.canEdit($ctrl.topic)"></div>

                    <div class="settings_section" ng-if="$ctrl.Topic.canLeave($ctrl.topic)">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC">Leave topic
                            </div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC_EXT">
                                LEAVING A TOPIC WILL RESULT IN GIVING UP ANY POWERS YOU MAY HAVE AS USER IN THAT
                                TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div class="gray_button" ng-click="$ctrl.doLeaveTopic($ctrl.topic)"
                                translate="MODALS.TOPIC_SETTINGS_BTN_LEAVE_TOPIC">Leave topic</div>
                        </div>

                    </div>
                    <div class="line lightest_line" ng-if="$ctrl.Topic.canDelete($ctrl.topic)"></div>

                    <div class="settings_section" ng-if="$ctrl.Topic.canDelete($ctrl.topic)">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC">Delete topic
                            </div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC_EXT">
                                DELETING A TOPIC CAN NOT BE UNDONE. BE SURE TO BE REALLY SURE ABOUT THIS.</div>
                        </div>

                        <div class="settings_cell">
                            <div class="blue_button yes" ng-click="$ctrl.doDeleteTopic()"
                                translate="MODALS.TOPIC_SETTINGS_BTN_DELETE_TOPIC">Delete topic</div>
                        </div>
                    </div>

                </div>

            </div>


            <!-- CATEGORIES -->
            <div class="lightbox_content categories_section_wrap" ng-if="$ctrl.app.tabSelected === 'categories'">
                <div class="lightbox_section" ng-if="$ctrl.Topic.canEdit($ctrl.topic)">
                    <div class="tip" translate="MODALS.TOPIC_SETTINGS_TXT_ASSIGN_CATEGORIES">Assign up to 3 categories
                    </div>
                    <div class="selected_categories">
                        <div class="category_wrap" ng-repeat="topicCategory in $ctrl.form.topic.categories"
                            ng-click="$ctrl.removeTopicCategory(topicCategory)">
                            <div class="category_cell category_title">
                                <span translate="{{'TXT_TOPIC_CATEGORY_' + topicCategory | uppercase}}"
                                    translate-default="{{topicCategory}}">Sport</span>
                            </div>
                            <div class="category_cell category_control"
                                ng-click="$ctrl.removeTopicCategory(topicCategory)">
                                <div class="sprite sprite-icon-category-delete2x"></div>
                            </div>
                        </div>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="category_selection">
                        <div class="category_wrap" ng-repeat="category in $ctrl.Topic.CATEGORIES"
                            ng-click="($ctrl.form.topic.categories.indexOf(category) > -1) ? $ctrl.removeTopicCategory(category): $ctrl.addTopicCategory(category)"
                            ng-class="{'category_selected': ($ctrl.form.topic.categories.indexOf(category) > -1)}">
                            <div class="category_cell category_title">
                                {{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}
                            </div>
                            <div class="category_cell category_control">
                                <div class="sprite desktop_fix"
                                    ng-class="($ctrl.form.topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x'">
                                </div>
                                <div class="sprite mobile_fix"
                                    ng-class="($ctrl.form.topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x-black'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lightbox_footer" ng-if="$ctrl.Topic.canEdit($ctrl.topic)">
                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-click="$ctrl.doSaveTopic()"
                        translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC">Save topic
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog('close')">
    </div>

</div>
