.sprite {
    background-image: url('imgs/icons_sprite_partner_login.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .sprite {
        background-image: url('imgs/icons_sprite2x_partner_login.png');
        background-size: 196px 69px;
    }
}

.sprite-cos-logo-small-positive2x {
    width: 150px;
    height: 28px;
    background-position: 0 0;
}

.sprite-login-icon-facebook2x {
    width: 14px;
    height: 14px;
    background-position: -150px -28px;
}

.sprite-login-icon-google2x {
    width: 14px;
    height: 14px;
    background-position: -164px -42px;
}

.sprite-login-icon-id2x {
    width: 18px;
    height: 13px;
    background-position: -178px -56px;
}
