.italic {
  font-style: italic; }

.bold {
  font-weight: 700 !important; }

.medium {
  font-weight: 400 !important; }

.light {
  font-weight: 300 !important; }

/* INFO BAR COLORS */
.bar_red {
  color: #FFF;
  background: #ff1d42; }
  .bar_red .info_icon:last-child:hover {
    background: #e22645; }

.bar_blue {
  color: #FFF;
  background: #0680FC; }
  .bar_blue .info_icon:last-child:hover {
    background: #0574e3; }

.bar_green {
  color: #0c6449;
  background: #2eecb4; }
  .bar_green .info_icon:last-child:hover {
    background: #28c798; }

.dark_yellow_background {
  background: #fedc32; }

.aqua_marine_background {
  background: #2eecb4; }
  .aqua_marine_background:hover {
    background: #28d4a0 !important; }
    @media (max-width: 1025px) {
      .aqua_marine_background:hover {
        background: #2eecb4; } }

.timeline_gray_background {
  background: #cfcfcf; }

.orange_background {
  background: #e66700; }

.purpule_background {
  background: #f1d9ff; }

.yellow_background {
  background: #fef78d; }

.light_gray_background {
  background: #F6F6F6; }

.favorite_yellow_background {
  background: #ffc600; }

.red_background {
  background: #e64100; }

.blue_background {
  background: #0680FC; }

.dark_gray_background {
  background: #A1A1A1; }

.white_text {
  color: #FFF; }

.black_text {
  color: #252525; }

.dark_line {
  background: #1A1A1A; }

.light_line {
  background: #3B3B3B; }

.white_line {
  background: #FFF; }

.black_line {
  background: #252525; }

.lightest_line {
  background: #e5e5e5; }

.red_text {
  color: #ff1d42; }

.gray_text {
  color: #ff1d42; }

.black_text {
  color: #252525; }

.gray_borders {
  border: 1px solid #e5e5e5;
  border-radius: 4px; }

.nature_green_button, .pinky_red_button {
  background: #BAE830;
  border: 1px solid #AED92E;
  color: #252525;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px; }
  .nature_green_button:hover, .pinky_red_button:hover {
    background: #b0dc2e !important;
    border: 1px solid #a5cc30; }
    @media (max-width: 1024px) {
      .nature_green_button:hover, .pinky_red_button:hover {
        background: #BAE830;
        border: 1px solid #AED92E; } }
  .nature_green_button.disabled, .disabled.pinky_red_button {
    background: #BAE830; }

.pinky_red_button {
  background: #ff1d42;
  border: 1px solid #e6193b; }
  .pinky_red_button:hover {
    background: #e6193b !important;
    border: 1px solid #bf0f2c; }
    @media (max-width: 1024px) {
      .pinky_red_button:hover {
        background: #ff1d42;
        border: 1px solid #e6193b; } }
  .pinky_red_button.disabled {
    background: #ff1d42; }

@media (max-width: 440px) {
  .centered_content.main_content_wrap {
    padding: 10px; } }

#main_content {
  width: 400px;
  padding: 40px 20px 21px; }
  @media (max-width: 440px) {
    #main_content {
      width: 100%; } }

p {
  margin-bottom: 21px; }

#terms {
  text-align: left;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 10px 0 30px; }
  #terms li {
    margin-bottom: 21px;
    color: #0680FC; }
    #terms li span {
      color: #252525; }

#small_text {
  font-size: 13px;
  font-style: italic;
  margin-top: 21px;
  margin-bottom: 21px; }

#partner_logo {
  height: 34px;
  width: auto;
  margin-bottom: 26px; }
  @media (max-width: 440px) {
    #partner_logo {
      width: 100%;
      height: auto;
      margin-bottom: 6px; } }
