<head>
    <title>Citizen OS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../imgs/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="terms_and_conditions.css" rel="stylesheet">
    <link href="icons.css" rel="stylesheet">
</head>

<body>

    <!-- LIVE RELOAD CODE-->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


    <div id="table_element">

        <div class="table_row">
            <div class="table_cell">
                <div class="header">
                    <div id="logo" class="centered_content">
                        <div class="sprite sprite-cos-logo-small-positive2x"></div>
                    </div>
                    <div id="name" class="centered_content">
                        Kristian Lemben
                    </div>
                    <div id="profile_image" class="centered_content">
                        <div class="profile_image_wrapper dark">
                            <div class="profile_moon sprite sprite-icon-certified-fb2x"></div>
                            <div class="account_picture">
                                <img src=".././imgs/profile.jpg">
                                <div class="profile_image_filler">
                                    <div class="table_cell">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table_row">
            <div class="centered_content main_content_wrap">
                <div id="main_content">

                    <img id="partner_logo" src="imgs/RA_logo2x.png" alt="">
                    
                    <p>
                        <span class="bold">Meie partner soovib juurdepääsu Sinu CitizenOS andmetele allolevate õigustega:</span>
                    </p>

                    <ul id="terms">
                        <li><span>Sinu profiili vaatamine ja muutmine - nimi, organisatsioon, e-post, pilt.</span></li>
                        <li><span>Sinu avalike, partneri veebilehe kaudu loodud teemade vaatamine ja muutmine.</span></li>
                        <li><span>Sinu avalike, partneri veebilehe kaudu loodud häälte vaatamine ja muutmine.</span></li>
                        <li><span>Sinu gruppide vaatamine ja muutmine.</span></li>
                    </ul>

                    <div id="small_text">
                        Meie partner kasutab Sinu infot vastavalt oma kasutustingimustele ja privaatsuspoliitikale.
                    </div>
                    
                
                    <button type="submit" ng-click="doLogin()" ng-disabled="loginForm.$invalid">Nõustun</button>
                    <div class="link_section">
                        <a class="lightbox_link" ng-click="doResetPassword()" href="">Katkesta</a>
                    </div>


                </div>
            </div>
        </div>
        
    </div>


</body>