node_modules
*.swp
Thumbs.db
*.lock
*.log
*.log*
*.sublime-project
*.sublime-workspace
*.iws
*.ipr
*.iml
/.idea/*
/.vscode/*
public/settings.js
public/config/styles/*.css
!public/config/styles/local.example.css
public/config/imgs/*.png
!public/config/imgs/mylogo_big.example.png
!public/config/imgs/mylogo_small.example.png
config/local.json
public/config/local.json

