/** Big logo in desktop view **/
.sprite-x6-cos-logo-big2x {
    background-image: url(../imgs/mylogo_big.example.png);
    background-position: 0 0;
}

/** Smaller horizontal layout logo shown for tablet. Same logo is shown in mobile, but clipped from the right. **/
.sprite-x5-cos-logo-small2x {
    background-image: url(../imgs/mylogo_small.example.png);
    background-position: 0 0;
}

/** For mobile, you can use a different logo, if the clipping above is not satisfactory **/
@media (max-width: 535px) {
    .sprite-x5-cos-logo-small2x {
        background-image: url(../imgs/mylogo_big.example.png);
        background-size: 100%;
    }
}
