<div id="about_page_root">
    <div class="about_page_left">
        <div class="about_page_section">
            <h1>
                About
            </h1>
            <p>
                Citizen OS is an e-decisionmaking platform for communities. It enables participative discussion and voting for groups, where getting everyone together into the same room oronlineatthe same time is not an option. Inhabitants of a village. Members of an NGO spread out all over the country. Employees of a multinational company from different cities and timezones.Spontaneous citizen movements. Anyone can start a discussion.
E-democracy. E-meetings. E-assemblies. E-discussions. E-decisionmaking. Citizen OS - the choice is yours.
            </p>
        </div>

    </div>
    <div class="about_page_right">
        
    </div>
        
</div>