<div id="about_page_root" class="default_setup all_zero">
    <div class="content_wrap">
        <div class="about_page_left">
                <h1>
                    About
                </h1>
                <p>
                    Citizen OS is an e-decisionmaking platform for communities. It enables participative discussion and voting for groups, where getting everyone together into the same room or online at the same time is not an option. Inhabitants of a village. Members of an NGO spread out all over the country. Employees of a multinational company from different cities and timezones. Spontaneous citizen movements. Anyone can start a discussion.
                    <br><br>
                    E-democracy. E-meetings. E-assemblies. E-discussions. E-decisionmaking. Citizen OS - the choice is yours.
                </p>

                <h2>
                    Why CitizenOS?
                </h2>
                <p>
                    How can you make a decision, when you need to involve a few dozen or a few thousand participants and they cannot all be in the same place at the same time, online or offline? Maybe they don’t even know each other by name or by face?
                    <br><br>
                    You can choose a representative and have them make the choice. Or you can write a hundred million e-mails back and forth and try to count all the votes. We believe the time has come, where technology can give the ability to participate in decisionmaking back to each and every person. Ancient Greek forum style. Direct democracy style. Except we no longer need to gather at the market square.
                    <br><br>
                    The system is simple: make a proposal >> discuss >> vote >> sign digitally >> follow up on implementation.
                </p>
                <h2>
                    CitizenOS is a platform where:
                </h2>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_blue">
                                1
                            </div>
                        </div>
                    </div>

                    <p>
                        everyone can <b>add a proposal</b>, publicly or privately. A petition to stop charging for household waste disposal in case it’s sorted is an example of a public proposal. Initiating a change in the statutes of an organisation is an example of a private proposal, where only the members of that organisation are invited to participate.
                    </p>
                </div>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_yellow">
                                2
                            </div>
                        </div>
                    </div>

                    <p>
                        proposals can be <b>discussed</b>. Every participant can comment, offer up alternatives, suggest arguments pro and con and edit wording. Everything is preserved in a single location, in a single feed.
                    </p>
                </div>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_aqua_marine">
                                3
                            </div>
                        </div>
                    </div>

                    <p>proposals can be <b>decided</b> on. You can use the veto system to reach a consensus. You can run mini-votes on wording issues. You can vote yes-no or between custom choices. You can delegate votes to other participants. In the future, you can even create your own voting system.</p>
                </div>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_orange">
                                4
                            </div>
                        </div>
                    </div>

                    <p>
                        decisions can be <b>properly formulated</b>. There are no anonymous comments and no anonymous votes. Every participant is identified either via social media or by the national digital ID / mobile ID. Voting results are presented as a statistical overview, as a visual summary and as a digitally signed container.
                    </p>
                </div>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_sky_blue">
                                5
                            </div>
                        </div>
                    </div>

                    <p>
                        decisions can <b>be followed up on</b>. Participants can enquire about the implementation status. Petitions, that have been signed by at least 1000 people, can be directly sent to the Estonian Parliament committee for discussion. Progress through the parliament can be followed up on.
                    </p>
                </div>

                <p><b>In English. In Estonian. In Russian.</b></p>


                <h2>
                    Team
                </h2>
                <p>
                    <b>Idea:</b> Ahti Heinla
                </p>
                <p>
                    <b>Code:</b> Mikk Andresen @ Tiblu OÜ
                </p>
                <p>
                    <b>Front-end:</b> Lennart Rikk @ Kraater OÜ
                </p>
                <p>
                    <b>UX/UI:</b> Kevin Crepin, Kristian Lember, Jannus Jaska @ DUX
                </p>
                <p>
                    <b>Connections:</b> Hille Hinsberg
                </p>
                <p>
                    <b>Words (incl. Russian):</b> Katerina Danilova
                </p>
                <p>
                    <b>Leadership:</b> Margo Loor, Eva Truuverk
                </p>
                <p>
                    <b>Minds that think alike:</b> Henri Laupmaa, Liia Hänni, Rainer Nõlvak
                </p>
                <p>
                   <b>CitizenOS is supported by:</b>
                    <ul class="blue_bullets">
                        <li>
                            <span class="black_text">Let’s Do It World</span>
                        </li>
                        <li>
                            <span class="black_text">Estonian Debating Society</span>
                        </li>
                        <li>
                            <span class="black_text">Estonian Cooperation Assembly</span>
                        </li>
                        <li>
                            <span class="black_text">Open Estonia Foundation</span>
                        </li>
                    </ul>
                </p>

                <p><b>Project was funded by NGO Fund of EEA Grants through the Open Estonia Foundation.</b></p>

                <img height="40px" src="../imgs/logo_openestonianfoundation2x.png">
                <img height="50px" src="../imgs/logo_eeagrants2x.png">

                <div class="line lightest_line"></div>

                <p>
                    We can help decisionmaking bodies seamlessly implement e-decisionmaking. We will consult, assist, test and adapt to other local and national systems. We aim to bring participativee-decisionmaking into widespread use in Estonia and beyond.
                </p>

                <div class="last_paragraph">
                    <p>
                        Contact us: <a class="blue_link" href="mailto:margo@letsdoitworld.org" target="_top">margo@letsdoitworld.org</a>
                    </p>

                    <p>
                        Follow us: <a class="blue_link" href="https://www.facebook.com/citizenos.web">https://www.facebook.com/citizenos.web</a>
                    </p>
                </div>

        </div>
        <div class="about_page_right">

            <div class="sample">
                <div class="sample_icon_wrap">
                    <div class="sample_icon">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-about-addproposal2x"></div>
                        </div>
                    </div>
                </div>
                <div class="sample_container">
                    Add a proposal
                </div>
            </div>

            <div class="v_line "></div>

            <div class="sample">
                <div class="sample_icon_wrap">
                    <div class="sample_icon">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-about-discuss2x"></div>
                        </div>
                    </div>
                </div>
                <div class="sample_container">
                    Discuss
                </div>
            </div>

            <div class="v_line "></div>

            <div class="sample">
                <div class="sample_icon_wrap">
                    <div class="sample_icon">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-about-vote2x"></div>
                        </div>
                    </div>
                </div>
                <div class="sample_container">
                    Vote
                </div>
            </div>

            <div class="v_line "></div>

            <div class="sample">
                <div class="sample_icon_wrap">
                    <div class="sample_icon">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-about-sign2x"></div>
                        </div>
                    </div>
                </div>
                <div class="sample_container">
                    Sign digitally
                </div>
            </div>

            <div class="v_line "></div>

            <div class="sample">
                <div class="sample_icon_wrap">
                    <div class="sample_icon">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-about-followup2x"></div>
                        </div>
                    </div>
                </div>
                <div class="sample_container">
                    Follow up
                </div>
            </div>


        </div>
    </div>
</div>
