<div id="about_page_root" class="default_setup all_zero">
    <div class="content_wrap">
        <div class="about_page_left">
            <div class="about_page_section">
                <h1>
                    About
                </h1>
                <p>
                    Citizen OS is an e-decisionmaking platform for communities. It enables participative discussion and voting for groups, where getting everyone together into the same room oronlineatthe same time is not an option. Inhabitants of a village. Members of an NGO spread out all over the country. Employees of a multinational company from different cities and timezones.Spontaneous citizen movements. Anyone can start a discussion.
                    <br><br>
                    E-democracy. E-meetings. E-assemblies. E-discussions. E-decisionmaking. Citizen OS - the choice is yours.
                </p>

                <h2>
                    Why CitizenOS?
                </h2>
                <p>
                    How can you make a decision, when you need to involve a few dozen or a few thousand participants and they cannot all be in the same place at the same time, online or offline? Maybethey don’t even know each other by name or by face?
                    <br><br>
                    You can choose a representative and have them make the choice. Or you can write a hundred million e-mails back and forth and try to count all the votes. We believe the time hascome,where technology can give the ability to participate in decisionmaking back to each and every person. Ancient Greeck forum style. Direct democracy style. Except we no longer needtogather at the market square.
                    <br><br>
                    The system is simple: make a proposal >> discuss >> vote >> sign digitally >> follow up on implementation.
                </p>
                <h2>
                    CitizenOS is a platform where:
                </h2>

                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_blue">
                                1
                            </div>
                        </div>
                    </div>

                    <p>
                        everyone can add a proposal, publicly or privately. A petition to stop charging for household waste disposal in case it’s sorted is an exampleof a public proposal. Initiating a change in the statutes of an organisation is an example of a private proposal, where only the members of that organisation are invited to participate.
                    </p>
                </div>
                
                <div class="colored_bullet">

                    <div class="bullet_number_wrap">
                        <div class="bullet_number">
                            <div class="table_cell bullet_blue">
                                1
                            </div>
                        </div>
                    </div>

                    <p>
                        everyone can add a proposal, publicly or privately. A petition to stop charging for household waste disposal in case it’s sorted is an exampleof a public proposal. Initiating a change in the statutes of an organisation is an example of a private proposal, where only the members of that organisation are invited to participate.
                    </p>
                </div>




            </div>

        </div>
        <div class="about_page_right">
            <div class="samples">
                test
            </div>
        </div>
    </div>
    <div class="side_panel_background">
    </div>
</div>