<div ng-controller="GroupTestCtrl">
    <h1>GROUPS TEST</h1>
    <h2 ng-repeat="group in groupList">
        {{group.name}}
        <ul ng-if="group.topics.latest">
            <li>
                {{group.topics.latest.title}}
                <form name="topicEditForm">
                    <input type="text" ng-model="group.topics.latest.title">
                    <button ng-click="group.topics.latest.$update()">UPDATE TOPIC</button>
                </form>
            </li>
        </ul>
        <form name="groupEditForm">
            <input type="text" ng-model="group.name">
            <button ng-click="group.$update()">SAVE</button>
            <button ng-click="group.$delete()">DELETE</button>
        </form>
    </h2>
    <h2>Create a group!</h2>
    <form name="groupCreate">
        <input type="text" ng-model="form.group.name">
        <button ng-click="form.group.$save()">CREATE</button>
    </form>
</div>
