<div id="groups_root">

    <div class="groups_wrap">
        <div class="group_wrap" ng-repeat="i in [1,2,3]">
            
            <div class="group_shown_content">

                <div class="group_header">

                    <div class="table_cell group_icon">
                        <!--<img src=".././imgs/test_topic_logo.png">-->
                        <div class="group_circle big">
                            <div class="table_cell">
                                C
                            </div>
                        </div>
                    </div>
                    
                    <div class="table_cell group_name">
                        Telliskivi Creative City
                    </div>

                    <div class="button_cell">
                        <div class="blue_button">Request invite</div>
                    </div>
                    
                </div>
            
                <div class="line lightest_line"></div>

                <div class="group_details">
                    <div class="group_details_header">

                        <div class="group_column">
                            <div class="content_item">
                                <div class="item_description">
                                    Users
                                </div>
                                <div class="item_content">
                                    <div class="item_text">
                                        555 555 555 <span class="separator">|</span> <span class="blue_link">view</span>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>

                        <div class="group_column">
                            <div class="content_item">
                                <div class="item_description">
                                    Topics
                                </div>
                                <div class="item_content">
                                    <div class="item_text">
                                        555 555 555 <span class="separator">|</span> <span class="blue_link">view</span>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>

                        <div class="clearer show_in_mobile"></div>

                        <div class="group_column text_group">
                            <div class="content_item">
                                <div class="item_description">
                                    Last active topic
                                </div>
                                <div class="item_content">
                                    <div class="item_text">
                                        We need to do something about the hipsters in Telliskivi! We need to do something about the hipsters in Telliskivi! We need to do something about the hipsters in Telliskivi! <span class="separator">|</span> <span class="blue_link">view</span>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>

                        <div class="clearer"></div>

                    </div>
                </div>

            </div>

            <div class="group_hidden_content">
                
                <div class="group_table">
                    <div class="table_upper_block">
                        <div class="table_cell">
                            Topic list | <span class="blue_link">search</span> | <span class="blue_link">create topic</span>
                        </div>
                        <div class="minimize_container" ng-click="app.tempVar = !app.tempVar">
                            <div ng-class="app.tempVar ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite sprite-btn-minimize2x"></div>
                        </div>
                    </div>

                    <div class="table_wrapper">
                        <div class="pretend_table">
                            <div class="pretend_tr">
                                <div class="pretend_th">
                                    <div class="th_text">
                                        Title
                                    </div>
                                </div>
                                <div class="pretend_th">
                                    <div class="th_text">
                                        Activity
                                    </div>
                                </div>
                                <div class="pretend_th">
                                    <div class="th_text">
                                        Users<div class="sprite sprite-icon-list-ordering2x"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="pretend_tr" ng-repeat="i in [1,2,3]">
                                <div class="pretend_td">
                                    <span class="blue_link bold">Ettepanek seadusega keelata kõrvklappide kandmine tänaval</span>
                                </div>
                                <div class="pretend_td">
                                    55.55.5555 55:55
                                </div>
                                <div class="pretend_td">
                                    555 000 000
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        
        </div>
    </div>
</div>