
<!-- GROUPS AREA -->


<div id="home_root" class="no_padding">
    <!-- TOPICS AREA -->

    <div class="section_header">
        <div class="title"><h1 translate="VIEWS.HOME.PUBLIC_GROUPS_TITLE">Popular public groups</h1></div>
        <div class="description" translate="VIEWS.HOME.PUBLIC_GROUPS_DESCRIPTION">Have a sneak peek at some of the most popular public groups currently available on Citizen OS.</div>
    </div>
    <div class="groups_wrap">
        <div class="group_wrap" ng-repeat="group in $ctrl.PublicGroupService.groups">
            <div>
                <div class="group_shown_content" ng-click="$ctrl.goToGroupView(group)">
                    <div class="group_header">
                        <div class="group_icon">
                            <div class="group_circle">
                                <div class="group_icon"ng-if="group.imageUrl"><img ng-src="{{group.imageUrl}}" /></div>

                                <cos-initials  ng-if="!group.imageUrl && group.name" class="table_cell" ng-model="group.name" initial-limit="1"></cos-initials>
                            </div>
                        </div>
                    </div>
                    <div class="group_name">
                        <span ng-bind="group.name"></span>
                    </div>
                    <div class="group_details">
                        <span ng-bind="group.description"></span>
                    </div>
                </div>
                <div class="join_button">
                    <div class="blue_button_wrap">
                        <button class="blue_button" ng-if="!group.userLevel" ng-click="$ctrl.joinGroup(group);$event.stopPropagation();" translate="VIEWS.PUBLIC_GROUPS.BTN_JOIN_GROUP">Join group</button>
                        <button class="blue_button" ng-if="group.userLevel" ng-click="$ctrl.goToGroupView(group);$event.stopPropagation();" translate="VIEWS.PUBLIC_GROUPS.BTN_VIEW_GROUP">View group</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!$ctrl.PublicGroupService.groups.length" class="table">
            <div class="no_results v_align_cell">
                <div class="no_results_icon_wrap">
                    <div class="sprite sprite-icon-no-results2x no_results_img"></div>
                </div>
                <div class="title_area">
                    <h3 translate="VIEWS.PUBLIC_GROUPS.HEADING_NO_RESUTS">We’re sorry, but we couldn’t find any results :(</h3>
                    <p translate="VIEWS.PUBLIC_GROUPS.HEADING_GET_STARTED">Maybe you can get the first discussion initiated by</p>
                </div>

                <div class="button_area" ng-if="$ctrl.app.user.loggedIn">

                    <div class="big_button" ui-sref="groups/create">
                        <div class="button_cell">
                            <div class="topic_text" translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP" ng-click="$ctrl.createGroup()">Creating a new topic</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="blue_button_wrap" ui-sref="public/groups">
        <div class="blue_button view_more_button" ng-class="{disabled: $ctrl.isTopicListLoading}"><span translate="VIEWS.HOME.BTN_VIEW_ALL_GROUPS">View all public groups</span><div class="icon sprite sprite-bullet-arrow2x"></div></div>
    </div>
    <!-- TOPICS AREA -->

    <div class="section_header">
        <div class="title"><h1 translate="VIEWS.HOME.PUBLIC_TOPICS_TITLE">Popular public topics</h1></div>
        <div class="description" translate="VIEWS.HOME.PUBLIC_TOPICS_DESCRIPTION">Have a sneak peek at some of the most popular public groups currently available on Citizen OS.</div>
    </div>

    <div id="topics_area" ng-class="{no_tutorial_topic: $ctrl.filters.categories.value !== $ctrl.FILTERS_ALL || $ctrl.filters.statuses.value !== FILTERS_ALL, no_results: !$ctrl.PublicTopicService.topics.length}">


        <div ng-if="!$ctrl.PublicTopicService.isLoading && !$ctrl.PublicTopicService.topics.length" class="table">
            <div class="no_results v_align_cell">
                <div class="no_results_icon_wrap">
                    <div class="sprite sprite-icon-no-results2x"></div>
                </div>
                <div class="title_area">
                    <h3 translate="VIEWS.HOME.HEADING_NO_RESUTS">We’re sorry, but we couldn’t find any results :(</h3>
                    <p translate="VIEWS.HOME.HEADING_GET_STARTED">Maybe you can get the first discussion initiated by</p>
                </div>

                <div class="button_area">

                    <div class="big_button" ng-click="$ctrl.createNewTopic()">
                        <div class="button_cell">
                            <div class="topic_text" translate="VIEWS.HOME.BTN_CREATING_A_NEW_TOPIC">Creating a new topic</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a ng-click="$ctrl.goToTopicView(topic)" class="topic" ng-repeat="topic in $ctrl.PublicTopicService.topics" ng-class="topic.categories.indexOf($ctrl.filters.categories.value) > -1 ? $ctrl.filters.categories.value : $ctrl.filters.categories.options.indexOf(topic.categories[0]) > -1 ? topic.categories[0] : 'varia'">
            <div class="topic_wrap">
                <div class="top text_small">
                    <div class="date" ng-bind="topic.lastActivity | amDateFormat : 'L'">12/12/2015</div>
                    <div class="author" ng-bind="topic.creator.name">creator name</div>
                    <div class="clearer"></div>
                </div>

                <div class="main_text">
                    <div class="text_big" ng-bind-html="topic.title">Open Governance Workshop: Public decision-making in 2025</div>
                    <div class="text_small" ng-if="$ctrl.app.wWidth > 667" ng-bind-html="topic.description">Discussions, lectures and a mini-hackathon to change experiences and ideas, to get inspired and boost ope…</div>
                </div>

                <div class="line"></div>

                <div class="text_small categories" ng-if="$ctrl.app.wWidth > 667">
                    <span ng-repeat="category in topic.categories">
                        <span translate="{{'TXT_TOPIC_CATEGORY_' + category | uppercase}}" translate-default="{{category}}"></span><span ng-class="{hidden: $last}">, </span>
                    </span>
                </div>
            </div>
        </a>

        <div class="clearer"></div>
    </div>

    <div id="blue_button_wrap" ui-sref="public/topics">
        <div class="blue_button view_more_button" ng-class="{disabled: $ctrl.isTopicListLoading}"><span translate="VIEWS.HOME.BTN_VIEW_ALL_TOPICS">View all public topics</span><div class="icon sprite sprite-bullet-arrow2x"></div></div>
    </div>

    <div ui-view></div>

</div>
