<div class="full_height">
    <div id="topics_root" ng-if="itemList.length">

        <div class="v_line separator absolute_separator" ng-class="{hidden: (wWidth < 750)}"></div>

        <div id="topics_wrap">

            <!-- LEFT SIDE -->
            <div class="topics_left" ng-class="{hidden: (wWidth <= 750 && (('my.groups.groupId' | isState) || ('my.topics.topicId' | isState)))}">

                <div cos-dropdown class="classic_dropdown">

                    <div class="dropdown_selection">
                        <div class="dropdown_text" translate="{{filters.selected.name}}">
                            Selected filter
                        </div>

                        <div class="arrow_holder">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                <div class="v_line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown">

                        <div class="dropdown_item" ng-repeat="item in filters.items">
                            <div ng-if="item.children">
                                <div class="item_category" translate="{{item.name}}">
                                    Item category
                                </div>
                                <div class="item_names_wrap">
                                    <div ng-repeat="child in item.children" class="item_name" ng-click="child.onSelect(item)" ng-class="child === filters.selected ? 'bold' : ''">
                                        <span translate="{{child.name}}">Child name</span>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="!item.children">
                                <div class="item_name" ng-click="item.onSelect()" ng-class="item === filters.selected ? 'bold' : ''" translate="{{item.name}}">
                                    Item name
                                </div>
                            </div>

                            <div class="clearer"></div>
                        </div>

                    </div>
                </div>

                <div ng-repeat-start="item in itemList"></div><!-- item can be Topic or a Group -->

                <!-- Group -->
                <div ng-if="isGroup(item)" class="container_header bold" ui-sref-active="active">
                    <div class="header_img_wrap">
                        <img ng-if="item.imageUrl" ng-src="{{item.imageUrl}}">
                        <div ng-if="!item.imageUrl" class="group_circle small">
                            <div class="table_cell" cos-initials="item.name | limitTo: 1">
                                C
                            </div>
                        </div>
                    </div>
                    <a class="header_text" ui-sref="my.groups.groupId({groupId: item.id, filter: 'grouped'})" ng-bind="item.name+' ('+item.members.topics.count+')'">
                        item (0)
                    </a>
                    <div class="minimize_container" ng-if="item.members.topics.count" ng-click="doToggleGroupTopicList(item)">
                        <div ng-class="!isGroupMemberTopicsVisible(item) ?  'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
                    </div>
                </div>

                <!-- Group member Topic -->
                <a ng-if="isGroupMemberTopicsVisible(item)" ng-repeat="groupMemberTopic in item.members.topics.rows" class="small_topic" ui-sref="my.topics.topicId({topicId: groupMemberTopic.id})" ui-sref-active="active">
                    <div class="container_pin" ng-class="groupMemberTopic.pinned ? 'pinned' : ''" ng-click="groupMemberTopic.togglePin();">
                        <div class="ff_table_fix">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-favourite2x-white"></div>
                                <div class="yellow_bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="small_topic_header">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_icon">
                                <div class="sprite" ng-class="'sprite-mytopics-icon-' + (groupMemberTopic.status | lowercase) + '2x'"></div>
                            </div>
                            <div class="small_topic_small_text">{{'TXT_TOPIC_STATUS_' + groupMemberTopic.status | uppercase | translate}}</div>
                        </div>

                        <div class="small_topic_right_cont" ng-if="groupMemberTopic.members.groups.count > 0">
                            <div class="small_topic_icon">
                                <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                            </div>
                            <div class="small_topic_small_text" translate="VIEWS.MY.LBL_GROUPS_COUNT" translate-values="{count: groupMemberTopic.members.groups.count}">0 groups</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="small_topic_title">
                        <span ng-bind="groupMemberTopic.title">title</span> <span class="lock_icon_wrap" ng-class="{hidden: !groupMemberTopic.isPrivate()}"><div class="sprite sprite-icon-lock2x"></div></span>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="small_topic_footer">
                        <div class="small_topic_right_cont">
                            <div class="small_topic_small_text" ng-bind="(groupMemberTopic.updatedAt || groupMemberTopic.createdAt) | amDateFormat : 'L LT'">12/12/2012</div>
                        </div>
                    </div>
                </a>

                <!-- Topics -->
                <a ng-if="!isGroup(item)" class="small_topic" ui-sref="my.topics.topicId({topicId: item.id})" ui-sref-active="active">
                    <div class="container_pin" ng-class="item.pinned ? 'pinned' : ''" ng-click="item.togglePin();">
                        <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span translate='MODALS.TOOLTIP_PIN_TOPIC'>Pin topic</span>">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-favourite2x-white"></div>
                                <div class="yellow_bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="small_topic_header">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_icon">
                                <div class="sprite" ng-class="'sprite-mytopics-icon-' + (item.status | lowercase) + '2x'"></div>
                            </div>
                            <div class="small_topic_small_text">{{'TXT_TOPIC_STATUS_' + item.status | uppercase | translate}}</div>
                        </div>

                        <div class="small_topic_right_cont" ng-if="item.members.groups.count > 0">
                            <div class="small_topic_icon">
                                <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                            </div>
                            <div class="small_topic_small_text" translate="VIEWS.MY.LBL_GROUPS_COUNT" translate-values="{count: item.members.groups.count}">0 groups</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="small_topic_title">
                        <span ng-bind="item.title">title</span><span class="lock_icon_wrap" ng-class="{hidden: !item.isPrivate()}"><div class="sprite sprite-icon-lock2x"></div></span>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="small_topic_footer">
                        <div class="small_topic_right_cont">
                            <div class="small_topic_small_text" ng-bind="(item.updatedAt || item.createdAt) | amDateFormat : 'L LT'">12/12/2015</div>
                        </div>
                    </div>
                </a>

                <div ng-repeat-end></div>

            </div>

            <!-- RIGHT SIDE -->
            <div ui-view></div>

            <div class="clearer"></div>
        </div>
    </div>

    <!-- No results -->
    <div class="table" ng-if="!itemList.length">
        <!-- No Groups view -->
        <div class="v_align_cell" ng-if="('my.groups' | isState) || ('my.groups.create' | isState)">
            <div class="title_area">
                <h1 translate="VIEWS.MY.HEADING_NOT_IN_GROUP">You are not yet part of a group. It's highschool all over again!</h1>
                <h2 translate="VIEWS.MY.HEADING_AT_LEAST_WE_HELP">At least you still have us to help you by</h2>
            </div>

            <div class="button_area">

                <div class="big_button" ui-sref="my.groups.create">
                    <div class="button_cell">
                        <div class="icon_nudge">
                            <div class="sprite sprite-icon-creategroup2x"></div>
                        </div>
                        <div class="topic_text" translate="VIEWS.MY.TXT_CREATING_A NEW_GROUP">Creating a new group</div>
                    </div>
                </div>

                <!--div class="big_button">
                    <div class="button_cell">
                        <div class="sprite sprite-icon-joingroup2x"></div>
                        <div class="topic_text">Joining a public group</div>
                    </div>
                </div-->

            </div>
        </div>
        <!-- No Topics view -->
        <div class="v_align_cell" ng-if="'my.topics' | isState">
            <div class="title_area">
                <h1 translate="VIEWS.MY.HEADING_NOT_PARTICIPATED">You have not participated in a topic yet. Try it, it’s really cool!</h1>
                <h2 translate="VIEWS.MY.HEADING_GET_INVOLVED">You can get involved by</h2>
            </div>

            <div class="button_area">

                <div class="big_button" ui-sref="topics.create">
                    <div class="button_cell">
                        <div class="icon_nudge">
                            <div class="sprite sprite-x2-mytopics-icon-newtopic-big2x"></div>
                        </div>
                        <div class="topic_text" translate="VIEWS.MY.MY_CREATING_A_NEW_TOPIC">Creating a new topic</div>
                    </div>
                </div>

                <!--div class="big_button">
                    <div class="button_cell">
                        <div class="sprite sprite-x1-mytopics-icon-discuss-big2x"></div>
                        <div class="topic_text">Actively<br> joining a topic</div>
                    </div>
                </div-->

            </div>
        </div>
        <div ui-view></div>
    </div>
</div>
