<div class="full_height">
    <div id="topics_root">

        <div class="v_line separator absolute_separator" ng-class="{hidden: (wWidth < 750)}"></div>

        <div id="topics_wrap">

            <!-- LEFT SIDE -->
            <div class="topics_left" ng-class="{hidden: (wWidth <= 750 && (('my.groups.groupId' | isState) || ('my.topics.topicId' | isState)))}">

                <div cos-dropdown class="classic_dropdown">

                    <div class="dropdown_selection">
                        <div class="dropdown_text" translate="{{filters.selected.name}}">
                            Selected filter
                        </div>

                        <div class="arrow_holder">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                <div class="v_line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown">

                        <div class="dropdown_item" ng-repeat="item in filters.items">
                            <div ng-if="item.children">
                                <div class="item_category" translate="{{item.name}}">
                                    Item category
                                </div>
                                <div class="item_names_wrap">
                                    <div ng-repeat="child in item.children" class="item_name" ng-click="child.onSelect(item)" ng-class="child === filters.selected ? 'bold' : ''">
                                        <span translate="{{child.name}}">Child name</span>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="!item.children">
                                <div class="item_name" ng-click="item.onSelect()" ng-class="item === filters.selected ? 'bold' : ''" translate="{{item.name}}">
                                    Item name
                                </div>
                            </div>

                            <div class="clearer"></div>
                        </div>

                    </div>
                </div>

                <div ng-repeat-start="item in itemList"></div><!-- item can be Topic or a Group -->

                <!-- Group -->
                <div ng-if="isGroup(item)" class="container_header bold" ui-sref-active="active">
                    <div class="header_img_wrap">
                        <img ng-if="item.imageUrl" ng-src="{{item.imageUrl}}">
                        <div ng-if="!item.imageUrl" class="group_circle small">
                            <div class="table_cell" cos-initials="item.name | limitTo: 1">
                                C
                            </div>
                        </div>
                    </div>
                    <a class="header_text" ui-sref="my.groups.groupId({groupId: item.id, filter: 'grouped'})" ng-bind="item.name+' ('+item.members.topics.count+')'">
                        item (0)
                    </a>
                    <div cos-dropdown class="classic_dropdown minimize_container" >
                        <div class="sprite sprite-btn-filter-gray"></div>

                        <div class="dropdown">
                            <div class="dropdown_item" ng-repeat="filter in groupFilters.items">
                                <div class="item_category bold">
                                    <span translate="{{filter.name}}">Order group topics by:</span>
                                </div>
                                <div ng-if="filter.children">
                                    <div class="item_names_wrap">
                                        <div ng-repeat="child in filter.children" class="item_name" ng-click="doOrderGroupTopicList(item, child.id)">
                                            <span translate="{{child.name}}">Child name</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>

                        </div>
                    </div>

                    <div class="minimize_container" ng-if="item.members.topics.count" ng-click="doToggleGroupTopicList(item)">
                        <div ng-class="!isGroupMemberTopicsVisible(item) ?  'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
                    </div>
                </div>

                <!-- Group member Topic -->
                <a ng-if="isGroupMemberTopicsVisible(item)" ng-repeat="groupMemberTopic in item.members.topics.rows" class="small_topic" ui-sref="my.topics.topicId({topicId: groupMemberTopic.id})" ui-sref-active="active">
                    <div class="container_pin" ng-class="groupMemberTopic.pinned ? 'pinned' : ''" ng-click="groupMemberTopic.togglePin();">
                        <div class="ff_table_fix">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-favourite2x-white"></div>
                                <div class="yellow_bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="small_topic_header">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_icon">
                                <div class="sprite" ng-class="'sprite-mytopics-icon-' + (groupMemberTopic.status | lowercase) + '2x'"></div>
                            </div>
                            <div class="small_topic_small_text">{{'TXT_TOPIC_STATUS_' + groupMemberTopic.status | uppercase | translate}}</div>
                        </div>

                        <div class="small_topic_right_cont" ng-if="groupMemberTopic.members.groups.count > 0">
                            <div class="small_topic_icon">
                                <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                            </div>
                            <div class="small_topic_small_text" translate="VIEWS.MY.LBL_GROUPS_COUNT" translate-values="{count: groupMemberTopic.members.groups.count}">0 groups</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="small_topic_title">
                        <div class="title_div" ng-bind="groupMemberTopic.title">title</div>
                        <div class="container_visibility" >
                            <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span>{{('TOOLTIP_TOPIC_VISIBILITY_'+groupMemberTopic.visibility | uppercase) | translate}}</span>">
                                <div class="table_cell">
                                    <div class="sprite" ng-class="{'sprite-icon-public-topic': !groupMemberTopic.isPrivate(), 'sprite-icon-private-topic': groupMemberTopic.isPrivate()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="small_topic_footer">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_link" ng-click="goToTopicView(groupMemberTopic, true); $event.stopPropagation(); $event.preventDefault();" ng-if="groupMemberTopic.status==='inProgress'">
                                <div class="small_topic_icon">
                                    <div class="sprite" ng-class="isActiveTopic(groupMemberTopic) ? 'sprite-icon-edit-topic_white': 'sprite-icon-edit-topic_black'"></div>
                                </div>
                                <div class="small_topic_small_text small_topic_link" translate="VIEWS.MY.LNK_TOPIC_EDIT">Edit</div>
                            </div>
                        </div>
                        <div class="small_topic_right_cont">
                            <div class="small_topic_small_text" ng-bind="(groupMemberTopic.updatedAt || groupMemberTopic.createdAt) | amDateFormat : 'L LT'">12/12/2012</div>
                        </div>
                    </div>
                </a>

                <!-- Topics -->
                <div ng-if="!isGroup(item)" class="small_topic" ui-sref="my.topics.topicId({topicId: item.id})" ng-class="isActiveTopic(item) ? 'active': ''">
                    <div class="container_pin" ng-class="item.pinned ? 'pinned' : ''" ng-click="item.togglePin();">
                        <div class="ff_table_fix" translate translate-attr-title="TOOLTIP_PIN_TOPIC">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-favourite2x-white"></div>
                                <div class="yellow_bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="small_topic_header">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_icon">
                                <div class="sprite" ng-class="'sprite-mytopics-icon-' + (item.status | lowercase) + '2x'"></div>
                            </div>
                            <div class="small_topic_small_text">{{'TXT_TOPIC_STATUS_' + item.status | uppercase | translate}}</div>
                        </div>

                        <div class="small_topic_right_cont" ng-if="item.members.groups.count > 0">
                            <div class="small_topic_icon">
                                <div ></div>
                            </div>
                            <div class="small_topic_small_text" translate="VIEWS.MY.LBL_GROUPS_COUNT" translate-values="{count: item.members.groups.count}">0 groups</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <a class="small_topic_title">
                        <div class="title_div" ng-bind="item.title">title</div>
                        <div class="container_visibility" >
                            <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span>{{('TOOLTIP_TOPIC_VISIBILITY_'+item.visibility | uppercase) | translate}}</span>">
                                <div class="table_cell">
                                    <div class="sprite" ng-class="{'sprite-icon-public-topic': !item.isPrivate(), 'sprite-icon-private-topic': item.isPrivate()}"></div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="line lightest_line"></div>

                    <div class="small_topic_footer">
                        <div class="small_topic_left_cont">
                            <div class="small_topic_link" ng-click="goToTopicView(item, true); $event.stopPropagation();" ng-if="item.status==='inProgress'">
                                <div class="small_topic_icon">
                                    <div class="sprite" ng-class="isActiveTopic(item) ? 'sprite-icon-edit-topic_white': 'sprite-icon-edit-topic_black'"></div>
                                </div>
                                <div class="small_topic_small_text small_topic_link" translate="VIEWS.MY.LNK_TOPIC_EDIT">Edit</div>
                            </div>
                        </div>
                        <div class="small_topic_right_cont">
                            <div class="small_topic_small_text" ng-bind="(item.updatedAt || item.createdAt) | amDateFormat : 'L LT'">12/12/2015</div>
                        </div>
                    </div>
                </div>

                <div ng-repeat-end></div>

                 <!-- No results -->
                <div class="no_results table" ng-if="!itemList.length">
                    <!-- No Groups view -->
                    <div class="v_align_cell">
                        <div class="no_results_icon_wrap">
                            <div class="sprite sprite-icon-no-results2x"></div>
                        </div>
                        <div class="title_area">
                            <h3 translate="VIEWS.MY.NO_RESULTS_FOUND_TITLE">No results found</h3>
                            <p translate="VIEWS.MY.NO_RESULTS_FOUND_DESCRIPTION">We can’t display results for what you’re searching. Maybe try another search?</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- RIGHT SIDE -->
            <div ui-view></div>

            <div class="clearer"></div>
        </div>
    </div>
</div>
