<!-- RIGHT SIDE -->
<div class="topics_right" ng-if="itemList.length">

    <div class="v_line separator"></div>

    <!-- GENERAL INFO GROUPS VIEW -->
    <div class="info_container group_detail">

        <div class="container_header" ng-click="generalInfo.isVisible = !generalInfo.isVisible">
            <div class="header_text" translate="VIEWS.MY_GROUPS_GROUPID.HEADING_GENERAL_INFORMATION">General information</div>
            <div class="minimize_container">
                <div ng-class="!generalInfo.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="generalInfo.isVisible">

            <div class="content_top">
                <div class="container_title">
                    <div class="group_circle big" ng-if="!group.imageUrl">
                        <div class="table_cell" cos-initials="group.name | limitTo: 1">
                            C
                        </div>
                    </div>
                    <img ng-if="group.imageUrl" ng-src="group.imageUrl"><span ng-bind="group.name">group.name</span>
                </div>

                <!--div class="container_pin" ng-class="app.pinned ? 'pinned' : ''" ng-click="app.pinned = !app.pinned">  //Needs group pinning
                    <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span translate='MODALS.TOOLTIP_PIN_TOPIC'>Pin topic</span>">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-favourite2x-white"></div>
                            <div class="yellow_bg"></div>
                        </div>
                    </div>
                </div-->
            </div>

            <div class="line lightest_line"></div>

            <div class="content_bottom">


                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_TOPICS">Topics</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="group.members.topics.count">0</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="doShowMemberTopicList(group)" translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW">view</span>
                                <span ng-if="group.canUpdate()">
                                    <span class="separator">|</span>
                                    <span class="item_link blue_link" ui-sref="my.groups.groupId.settings({groupId: group.id, tab: 'topics'})" translate="VIEWS.MY_GROUPS_GROUPID.LNK_ADD">add</span>
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_USERS">Users</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="group.members.users.count">0</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="doShowMemberUserList(group)" translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW">view</span>
                                <span ng-if="group.canUpdate()">
                                    <span class="separator">|</span>
                                    <span class="item_link blue_link" ui-sref="my.groups.groupId.settings({groupId: group.id, tab: 'users'})" translate="VIEWS.MY_GROUPS_GROUPID.LNK_INVITE">invite</span>
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_YOUR_RIGHTS">Your rights</div>
                        <div class="item_content bold">{{'TXT_TOPIC_LEVELS_' + group.permission.level | uppercase | translate}}</div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">

                    <div class="content_item" ng-if="group.members.topics.latest">
                        <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_LATEST">Latest</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="group.members.topics.latest.title">latest title</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link bold" ui-sref="topics.view({topicId: group.members.topics.latest.id})" translate="VIEWS.MY_GROUPS_GROUPID.LNK_VIEW">view</span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_GROUPS_GROUPID.LBL_GROUP_ACTIONS">Group actions</div>
                        <div class="item_content">
                            <span class="item_text blue_link" ng-if="group.canUpdate()" ui-sref="my.groups.groupId.settings({groupId: group.id})" translate="VIEWS.MY_GROUPS_GROUPID.LNK_SETTINGS">settings</span>
                            <span class="separator" ng-if="group.canUpdate()">|</span>
                            <span class="item_text blue_link" ng-click="doLeaveGroup()" translate="VIEWS.MY_GROUPS_GROUPID.LNK_LEAVE">leave</span>
                            <span ng-if="group.canDelete()">
                                <span class="separator">|</span>
                                <span class="remove item_text blue_link" ng-click="doDeleteGroup(group)">
                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                    <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_DELETE">delete</span>
                                </span>
                            </span>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- ACTIVITY FEED & NOTIFICATIONS -->
    <!--div class="info_container">

        <div class="container_header">
            <div class="header_text">
                Activity feed & notifications
            </div>
            <div class="minimize_container" ng-click="app.activityFeed = !app.activityFeed">
                <div ng-class="app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content activity_container" ng-if="!app.activityFeed">

            <div class="activity" ng-repeat="(key, this) in ['1', '2']">

                <div class="activity_left">
                    <div class="activiy_time">55.07.2056 11:23</div>
                </div>

                <div class="activity_right">
                    <div class="activity_icon">
                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                    </div>
                    <div class="activiy_title">Kristian Lember <span class="highlight aqua_marine_background">added</span> a <span class="highlight dark_yellow_background">comment</span>:</div>
                    <div class="activiy_description">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your
                        home office combo? First off, you will need to set a budget for your new ...
                    </div>
                </div>

                <div class="clearer"></div>
            </div>

            <div class="activity">

                <div class="activity_left">
                    <div class="view_older blue_link">View older</div>
                </div>

                <div class="activity_right">
                    &nbsp;
                </div>

            </div>

        </div>

    </div-->

    <!-- TOPIC LIST -->
    <div class="info_container group_list" id="topic_list">
        <div class="container_header">
            <div class="header_text">
                <span translate="VIEWS.MY_GROUPS_GROUPID.HEADING_TOPIC_LIST" translate-values="{count: group.members.topics.count}">Topic list ({{group.members.topics.count}})</span>
                <span ng-if="group.members.topics.count">|</span>
                <div class="blue_link" ng-if="group.members.topics.count" ng-click="topicList.isSearchVisible = !topicList.isSearchVisible; doShowMemberTopicList(group); $event.stopPropagation();" translate="VIEWS.MY_GROUPS_GROUPID.LNK_FILTER">filter</div>
                <span ng-if="group.canUpdate()">|
                    <div class="blue_link" ui-sref="my.groups.groupId.settings({groupId: group.id, tab: 'topics'})" ng-click="$event.stopPropagation()" translate="VIEWS.MY_GROUPS_GROUPID.LNK_ADD">add</div>
                </span>
            </div>
            <div cos-dropdown class="classic_dropdown minimize_container" >
                <div class="sprite sprite-btn-filter-gray"></div>

                <div class="dropdown">
                    <div class="dropdown_item" ng-repeat="filter in groupFilters.items">
                        <div class="item_category bold">
                            <span translate="{{filter.name}}">Order group topics by:</span>
                        </div>
                        <div ng-if="filter.children">
                            <div class="item_names_wrap">
                                <div ng-repeat="child in filter.children" class="item_name" ng-click="doOrderTopicList(child.id)">
                                    <span translate="{{child.name}}">Child name</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>
            </div>
            <div class="minimize_container" ng-if="group.members.topics.count"  ng-click="doToggleMemberTopicList(group);">
                <div ng-class="!topicList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="topicList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="{{'VIEWS.MY_GROUPS_GROUPID.PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate}}" ng-change="loadMemberTopicsList()" ng-model-options="{debounce:250}" ng-model="topicList.searchFilter" focus-if>
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="topicList.searchFilter = ''" translate="VIEWS.MY_GROUPS_GROUPID.LNK_CLEAR_FILTER">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="topicList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_ORDER_BY">Order by:</div>
                    </div>
                    <div class="pretend_th" ng-click="topicList.searchOrderBy.property = 'title'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_TITLE">Title</span>
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_RIGHTS">Rights</span>
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_USERS">Users</span>
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LBL_REMOVE_FROM_GROUP">Remove from group</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="topic in group.members.topics.rows">
                    <div class="pretend_td">
                        <div class="blue_link" ui-sref="my.topics.topicId({topicId: topic.id})" ng-bind="topic.title">topic.title</div>
                    </div>
                    <div class="pretend_td" ng-if="topic.canUpdate()">
                        <div cos-dropdown class="classic_dropdown">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + topic.permission.levelGroup | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_item" ng-repeat="(key, level) in GroupMemberTopic.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberTopic(topic, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <span class="pretend_table_mobile_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_USERS_COUNT" translate-values="{count: topic.members.users.count}">Users: 0</span>
                    </div>
                    <div class="pretend_td recycle_bin_wrap" ng-if="topic.canDelete()">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn" ng-click="doDeleteMemberTopic(topic)">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pretend_tr">
                    <div class="pagination_wrapper">
                        <div class="pagination" cos-pagination select="loadMemberTopicsPage" total-pages="group.members.topics.totalPages" page="group.members.topics.page"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- USER LIST -->
    <div class="info_container group_list user_list" id="user_list">
        <div class="container_header" ng-click="doToggleMemberUserList(); $event.stopPropagation();">
            <div class="header_text">
                <span translate="VIEWS.MY_GROUPS_GROUPID.HEADING_USERS_LIST" translate-values="{count: (group.members.users.count || 0)}">User list (0)</span>
                |
                <div class="blue_link" ng-click="userList.isSearchVisible = !userList.isSearchVisible; doShowMemberUserList(group); $event.stopPropagation();" translate="VIEWS.MY_GROUPS_GROUPID.LNK_FILTER">filter</div>
                <span ng-if="group.canUpdate()">|
                    <div class="blue_link" ui-sref="my.groups.groupId.settings({groupId: group.id, tab: 'users'})" ng-click="$event.stopPropagation()" translate="VIEWS.MY_GROUPS_GROUPID.LNK_INVITE">invite</div>
                </span>
            </div>
            <div class="minimize_container">
                <div ng-class="!userList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="userList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="{{'VIEWS.MY_GROUPS_GROUPID.PLACEHOLDER_NAME_PERMISSION' | translate}}" ng-change="loadMemberUsersList()" ng-model-options="{debounce:250}" ng-model="userList.searchFilter" focus-if>
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="userList.searchFilter = ''" translate="VIEWS.MY_GROUPS_GROUPID.LNK_CLEAR_FILTER">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="userList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text" translate="VIEWS.MY_GROUPS_GROUPID.LBL_ORDER_BY">Order by:</div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'name'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_PROFILE">Profile</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'name'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'level'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LNK_RIGHTS">Rights</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'level'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-if="group.canUpdate()">
                        <div class="th_text">
                            <span translate="VIEWS.MY_GROUPS_GROUPID.LBL_REMOVE_FROM_GROUP">Remove from group</span>
                        </div>
                    </div>
                </div>
                <!-- GroupMemberUsers -->
                <div class="pretend_tr" ng-repeat="user in group.members.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                            <div class="account_picture">
                                <img ng-if="user.imageUrl" ng-src="{{user.imageUrl}}">
                                <div ng-if="!user.imageUrl" class="profile_image_filler">
                                    <div class="table_cell" cos-initials="user.name">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div ng-bind="user.name">John Smith</div>
                                <div class="via">
                                    {{user.email}} {{user.phoneNumber}} {{user.pid}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td" >
                        <div cos-dropdown class="classic_dropdown" ng-if="group.canUpdate()">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown" ng-if="group.canUpdate()">
                                <div class="dropdown_item" ng-repeat="(key, level) in GroupMemberUser.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberUser(user, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!group.canUpdate()">
                            <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</span>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap" ng-if="group.canUpdate()">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn" ng-click="doDeleteMemberUser(user)">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr">
                    <div class="pagination_wrapper">
                        <div class="pagination" cos-pagination select="loadMemberUsersPage" total-pages="group.members.users.totalPages" page="group.members.users.page"></div>
                    </div>
                </div>
                <!-- GroupInviteUsers -->
                <div class="pretend_tr" ng-repeat="invite in group.invites.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                            <div ng-bind="invite.user.name">John Smith</div>
                            <div class="via">
                                <span ng-if="invite.user.email || invite.user.phoneNumber || invite.user.pid">
                                    {{invite.user.email}} {{invite.user.phoneNumber}} {{invite.user.pid}}
                                </span>
                                <span>
                                    <span ng-if="invite.user.email || invite.user.phoneNumber || invite.user.pid"> • </span>
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING">Pending invite</span>
                                </span>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell smooth_gray">
                                <div class="via" translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING">
                                    Pending invite
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</span>
                        <!--div cos-dropdown class="classic_dropdown" cos-disabled>
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                        </div-->
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin" ng-if="group.canUpdate()">
                            <div class="btn" ng-click="doDeleteInviteUser(invite)">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr">
                    <div class="pagination_wrapper">
                        <div class="pagination" cos-pagination select="loadUsersInvitedPage" total-pages="group.invites.users.totalPages" page="group.invites.users.page"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ui-view></div>

</div>
