<!-- RIGHT SIDE -->
<div class="topics_right" ng-if="itemList.length">

    <div class="v_line separator"></div>

    <!-- GENERAL INFO TOPIC VIEW -->
    <div class="info_container">

        <div class="container_header" ng-click="generalInfo.isVisible = !generalInfo.isVisible">
            <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GENERAL_INFORMATION">General information</div>
            <div class="minimize_container">
                <div ng-class="!generalInfo.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="generalInfo.isVisible">

            <div class="content_top">
                <div class="container_title" ui-sref="topics.view({topicId: topic.id})" ng-bind="topic.title">Topic title</div>
                <div class="container_pin" ng-class="topic.pinned ? 'pinned' : ''" ng-click="togglePin()">
                    <div class="ff_table_fix" tooltips tooltip-side="left" tooltip-template="<span translate='TOOLTIP_PIN_TOPIC'>Pin topic</span>">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-favourite2x-white"></div>
                            <div class="yellow_bg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line lightest_line"></div>

            <div class="content_bottom">


                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_AUTHOR">Author</div>
                        <div class="item_content">
                            <div class="item_text" ng-bind="topic.creator.name">Autor autor</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_DATE_CREATED">Date created</div>
                        <div class="item_content">
                            <div class="item_text" ng-bind="topic.createdAt | amDateFormat : 'L'">12/12/2017</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_YOUR_RIGHTS">Your rights</div>
                        <div class="item_content">
                            <div class="item_text">{{'TXT_TOPIC_LEVELS_' + topic.permission.level | uppercase | translate}}</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_USERS">Users</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="topic.members.users.count">0</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="doShowMemberUserList();" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW">view</span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_GROUPS">Groups</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="topic.members.groups.count">0</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="doShowMemberGroupList();" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW">view</span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 3 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_STATUS">Status</div>
                        <div class="item_content">
                            <div class="item_text">{{'TXT_TOPIC_STATUS_' + topic.status | uppercase | translate}}</div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_TOPIC_ACTIONS">Topic actions</div>
                        <div class="item_content">
                            <span class="item_text blue_link" ui-sref="my.topics.topicId.settings({topicId: topic.id})" translate="VIEWS.MY_TOPICS_TOPICID.LNK_SETTINGS">settings</span>
                            <span class="separator">|</span>
                            <span class="item_text blue_link" ui-sref="topics.view({topicId: topic.id})" translate="VIEWS.MY_TOPICS_TOPICID.LNK_VIEW">view</span>
                            <span class="separator">|</span>
                            <span class="item_text blue_link" ui-sref="topics.view({topicId: topic.id, editMode: true})" cos-disabled="!topic.canEditDescription()" translate="VIEWS.MY_TOPICS_TOPICID.LNK_EDIT">edit</span>
                            <span class="separator">|</span>
                            <span class="item_text blue_link" ng-click="doLeaveTopic()" translate="VIEWS.MY_TOPICS_TOPICID.LNK_LEAVE">leave</span>
                            <span ng-if="topic.canDelete()">
                                <span class="separator">|</span>
                                <span class="item_text remove blue_link" ng-click="doDeleteTopic()">
                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_DELETE">delete</span>
                                </span>
                            </span>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- ACTIVITY FEED & NOTIFICATIONS -->
    <div class="info_container">

        <div class="container_header" ng-click="doToggleActivities();">
            <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_ACTIVITY_FEED_AND_NOTIFICATIONS">
                Activity feed & notifications
            </div>
            <div class="minimize_container">
                <div ng-class="!app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content activity_container" ng-if="app.activityFeed" cos-scroll on-scroll="loadActivities">
            <div class="activity_wrap compact">
                <div class="activity_area">

                    <div ng-repeat="(key, group) in activities">
                        <div class="activity_content" ng-repeat="(keyRow, activity) in group.values" >
                            <div ng-if="$first" class="left_side">
                                <div class="line_top"></div>
                                <div class="icon">
                                    <div ng-class="'sprite sprite-icon-activity-{{activity.values.className}}{{activity.isNew}}-2x'"></div>
                                </div>
                                <div class="line_bottom"></div>
                            </div>
                            <div class="right_side" ng-if="keyCounter(group.values) > 1">
                                <div class="text_box" ng-if="$first" ng-click="group.show = !group.show">
                                    <div class="main_text">
                                        <span ng-bind-html="activity.string">User Tom has added a new argument for topic: HELP.</span>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="arrow_holder" ng-click="group.show = !group.show">
                                        <div class="table_cell" ng-click="group.show = !group.show">
                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                            <div class="v_line"></div>
                                        </div>
                                    </div>
                                    <b class="notch border-notch"></b>
                                    <b class="notch"></b>
                                </div>
                                <div class="text_box no_margin" ng-if="$first && group.show">
                                    <div class="activity_group_row" ng-repeat="item in group.values" ng-click="activityRedirect(item)">
                                        <div class="profile_image_wrapper dark">
                                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                                            <div class="account_picture">
                                                <div class="profile_image_filler">
                                                    <div class="table_cell" cos-initials="item.values.userName">
                                                        ML
                                                    </div>
                                                    <div class="profile_circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contents">
                                            <div class="contents_data">
                                                <em>{{::item.values.userName}}</em>
                                                <i ng-if="item.values.userName !== item.values.groupItemValue && !showActivityUpdateVersions(item)">{{(item.values.groupItemValue | limitTo: 200) + (item.values.groupItemValue.length > 200 ? '...' : '') }}</i>
                                                <i ng-if="showActivityUpdateVersions(item)">
                                                    <em>{{::item.values.fieldName}}</em>
                                                    <div class="activity_previous" translate="ACTIVITY_FEED.ACTIVITY_PREVIOUS_VERSION" translate-values="{previousValue: '{{(item.values.previousValue | limitTo: 200) + (item.values.previousValue.length > 200 ? '...' : '')}}'}"></div>

                                                    <div class="activity_new" translate="ACTIVITY_FEED.ACTIVITY_NEW_VERSION" translate-values="{newValue: '{{(item.values.newValue | limitTo: 200) + (item.values.newValue.length > 200 ? '...' : '')}}'}"></div>
                                                </i>
                                            </div>
                                            <div class="date_area" ng-bind="item.updatedAt | amDateFormat : 'DD.MM.YYYY HH:mm'">55.07.2056 11:23</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="right_side" ng-if="keyCounter(group.values) === 1" ng-click="activityRedirect(activity)">
                                <div class="text_box">
                                    <div class="main_text">
                                        <span ng-bind-html="activity.string" >User Tom has added a new argument for topic: HELP.</span>
                                    </div>
                                    <div class="description_area italic">
                                        <span ng-if="showActivityUpdateVersions(activity)">
                                            <span class="activity_previous" translate="ACTIVITY_FEED.ACTIVITY_PREVIOUS_VERSION" translate-values="{previousValue: '{{(activity.values.previousValue | limitTo: 200) + (activity.values.previousValue.length > 200 ? '...' : '')}}'}"></span>
                                            <br>
                                            <span class="activity_new" translate="ACTIVITY_FEED.ACTIVITY_NEW_VERSION" translate-values="{newValue: '{{(activity.values.newValue | limitTo: 200) + (activity.values.newValue.length > 200 ? '...' : '')}}'}"></span>
                                        </span>
                                        <span ng-if="showActivityDescription(activity) && !showActivityUpdateVersions(activity)" class="activity_description_text" ng-bind="(activity.values.description | limitTo: 200) + (activity.values.description.length > 200 ? '...' : '')">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your
                                            home office combo? First off, you will need to set a budget for your new ...
                                        </span>
                                    </div>
                                    <div class="date_area" ng-bind="activity.updatedAt | amDateFormat : 'DD.MM.YYYY HH:mm'">55.07.2056 11:23</div>
                                    <b class="notch border-notch"></b>
                                    <b class="notch"></b>
                                </div>
                            </div>
                            <div class="clearer"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>

    <!-- CURRENT VOTE WITH VOTING -->

    <div class="info_container vote_results" ng-if="topic.vote.id" >

        <div class="container_header" ng-click="voteResults.isVisible = !voteResults.isVisible;">
            <div class="header_text" translate="VIEWS.MY_TOPICS_TOPICID.HEADING_CURRENT_VOTE_RESULTS">Current vote results</div>
            <div class="minimize_container">
                <div ng-class="!voteResults.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="voteResults.isVisible">


            <div class="content_bottom">

                <!-- COLUMN 1 -->
                <div class="content_column" ng-controller="TopicVoteCtrl">
                    <div class="content_item" ng-if="topic.status === STATUSES.voting">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.VOTE_CAST_YOUR_VOTE">
                            Cast your vote
                        </div>
                        <div class="voting_buttons">
                            <div class="line lightest_line"></div>

                            <div class="voting_platform_buttons">

                                <div class="voting_button" cos-disabled="!topic.canVote()" ng-class="(option.selected) ? '' : 'active'" ng-repeat="(key, option) in topic.vote.options.rows" ng-click="doVote(option)">
                                    <div class="table_cell left_side">
                                        {{getOptionLetter(key)}}.
                                    </div>
                                    <div class="table_cell right_side" translate="{{'VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_' + option.value | linky | uppercase}}"
                                         translate-default="{{option.value | linky}}">
                                    </div>
                                </div>

                            </div>

                            <div class="delegation_section" ng-if="!topic.hasVoteEnded()">

                                <div class="voting_button voting_button_blue" cos-disabled="(!topic.canDelegate() || topic.vote.authType === voteAuthTypes.hard)" ng-class="topic.vote.delegation ? '' : 'active'" ng-click="doDelegate()">
                                    <div class="table_cell left_side">
                                        <div class="sprite sprite-icon-delegate2x"></div>
                                    </div>
                                    <div class="table_cell right_side" translate="VIEWS.MY_TOPICS_TOPICID.VOTE_HEADING_DELEGATE">Delegate your vote</div>
                                </div>

                                <div class="delegation_information" ng-if="topic.vote.delegation">
                                    <div class="delegation_title" translate="VIEWS.MY_TOPICS_TOPICID.VOTE_DELEGATED_TO">You delegated your vote to</div>
                                    <div class="delegations">

                                        <div class="table_cell">
                                            <div class="profile_image_wrapper dark">
                                                <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                                                <div class="account_picture">
                                                    <img ng-if="topic.vote.delegation.imageUrl" ng-src="{{topic.vote.delegation.imageUrl}}">
                                                    <div ng-if="!topic.vote.delegation.imageUrl" class="profile_image_filler">
                                                        <div class="table_cell" cos-initials="topic.vote.delegation.name | limitTo: 1">
                                                            C
                                                        </div>
                                                        <div class="profile_circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="name_wrap">
                                                <div class="table_cell">
                                                    <div class="blue_link bold">{{topic.vote.delegation.name}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table_cell">
                                            <div class="blue_button" ng-click="doRevokeDelegation()" translate="VIEWS.MY_TOPICS_TOPICID.VOTE_REVOKE_DELEGATION">Revoke your delegation</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_RESULTS">Results</div>

                        <div class="results_table">

                            <div class="item_content" ng-repeat="voteOption in topic.vote.options.rows | orderBy: 'voteCount'">
                                <div class="item_text" translate="{{'VIEWS.TOPICS_TOPICID.VOTE_LBL_OPTION_' + voteOption.value | linky | uppercase}}" translate-default="{{voteOption.value | linky}}">voteOption.value</div>
                                <div class="item_text">{{voteOption.voteCount || 0}}</div>
                            </div>

                        </div>

                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">


                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTES_COUNTED">Votes counted</div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.vote.getVoteCountTotal()}}
                                <!--<span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view who voted TODO!
                                </span-->
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description" translate="VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE">Vote deadline</div>
                        <div class="item_content">
                            <div class="item_text">
                                <span ng-bind="(topic.vote.endsAt | amDateFormat : 'L') || ('VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE_NONE' | translate)">12/12/2017</span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" cos-modal-datepicker ng-model="topic.vote.endsAt" cos-modal-title="'VIEWS.MY_TOPICS_TOPICID.LBL_VOTE_DEADLINE' | translate" cos-modal-description="topic.title" cos-modal-on-save="doSaveVoteEndsAt"><span translate="VIEWS.MY_TOPICS_TOPICID.LNK_EDIT">edit</span></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- TOPIC LIST -->
    <div class="info_container group_list" id="group_list">
        <div class="container_header" ng-click="doToggleMemberGroupList();">
            <div class="header_text"><span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_GROUP_LIST">Group list</span> <span ng-bind="'('+topic.members.groups.count+')'">0</span> |
                <div class="blue_link" cos-disabled="!topic.members.groups.count" ng-click="groupList.isSearchVisible = !groupList.isSearchVisible; doShowMemberGroupList(); $event.stopPropagation()" translate="VIEWS.MY_TOPICS_TOPICID.LNK_FILTER">filter</div>
                |
                <div class="blue_link" ui-sref="my.topics.topicId.settings({topicId: topic.id, tab: 'invite'})" ng-click="$event.stopPropagation()" translate="VIEWS.MY_TOPICS_TOPICID.LNK_ADD">add</div>
            </div>
            <div class="minimize_container" ng-if="topic.members.groups.count">
                <div ng-class="!groupList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="groupList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate}}" ng-model="groupList.searchFilter">
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="groupList.searchFilter = ''" translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_FILTER">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="groupList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'name'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_NAME">Name</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'name'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'level'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_RIGHTS">Rights</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'level'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'members.users.count'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_USERS">Users</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'members.users.count'"></div>
                        </div>
                    </div>
                    <div class="pretend_th not_sortable">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC">Remove from topic</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="group in topic.members.groups.rows | filter: groupList.searchFilter | orderBy: groupList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="blue_link" ng-if="group.permission.level" ui-sref="my.groups.groupId({groupId: group.id, filter: 'grouped'})" ui-sref-opts="{reload: true}" ng-bind="group.name">Group name</div>
                        <div ng-if="!group.permission.level" class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP">&lt;Inaccessible Group&gt;</div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown" cos-disabled="!topic.canUpdate()">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_item" ng-repeat="(key, level) in TopicMemberGroup.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberGroup(group, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <span class="pretend_table_mobile_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_USERS_COUNT" translate-values="{count: group.members.users.count}">Users: 0</span>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn" ng-click="doDeleteMemberGroup(group)" cos-disabled="!topic.canUpdate()">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- USER LIST -->
    <div class="info_container group_list user_list" id="user_list">
        <div class="container_header" ng-click="doToggleMemberUserList();">
            <div class="header_text">
                <span translate="VIEWS.MY_TOPICS_TOPICID.HEADING_USERS_LIST">User list</span> <span ng-bind="'(' + topic.members.users.count + ')'">(0)</span> |
                <div class="blue_link" ng-click="userList.isSearchVisible = !userList.isSearchVisible; doShowMemberUserList(); $event.stopPropagation();" translate="VIEWS.MY_TOPICS_TOPICID.LNK_FILTER">filter</div>
                |
                <div class="blue_link" translate="VIEWS.MY_TOPICS_TOPICID.LNK_INVITE" ui-sref="my.topics.topicId.settings({topicId: topic.id, tab: 'invite'})" ng-click="$event.stopPropagation()">invite</div>
            </div>
            <div class="minimize_container">
                <div ng-class="!userList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="userList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="{{'VIEWS.MY_TOPICS_TOPICID.PLACEHOLDER_NAME_PERMISSION' | translate}}" ng-model="userList.searchFilter">
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="userList.searchFilter = ''" translate="VIEWS.MY_TOPICS_TOPICID.LNK_CLEAR_FILTER">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="userList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'name'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_PROFILE">Profile</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'name'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'level'">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_RIGHTS">Rights</span>
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'level'"></div>
                        </div>
                    </div>
                    <div class="pretend_th not_sortable">
                        <div class="th_text">
                            <span translate="VIEWS.MY_TOPICS_TOPICID.LBL_REMOVE_FROM_TOPIC">Remove from topic</span>
                        </div>
                    </div>
                </div>
                <!-- TopicMemberUsers -->
                <div class="pretend_tr" ng-repeat="user in topic.members.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                            <div class="account_picture">
                                <img ng-if="user.imageUrl" ng-src="{{user.imageUrl}}">
                                <div ng-if="!user.imageUrl" class="profile_image_filler">
                                    <div class="table_cell" cos-initials="user.name">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div ng-bind="user.name" tooltips tooltip-hidden="{{(!user.email && !user.pid && !user.phoneNumber)}}" tooltip-class="tooltip_author"
                                    tooltip-template="<span class='creator_data_tooltip_row'>{{user.email}}</span><span class='creator_data_tooltip_row'>{{user.phoneNumber}}</span><span class='creator_data_tooltip_row'>{{user.pid}}</span>"
                                    tooltip-smart="true">user.name</div>
                                <div class="via" ng-if="user.groups.rows.length && !user.levelUser"><span translate="VIEWS.MY_TOPICS_TOPICID.LBL_VIA">via</span> <span ng-repeat="group in user.groups.rows"><span ng-if="!$first">, </span><span ng-if="group.name" class="blue_link" ui-sref="my.groups.groupId({groupId: group.id, filter: 'grouped'})">{{group.name}} ({{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}})</span><span
                                    ng-if="!group.name" class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP" translate-values="{level: {{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}}">&lt;Inaccessible Group&gt; (read)</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown" cos-disabled="!topic.canUpdate()">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_item" ng-repeat="(key, level) in TopicMemberUser.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberUser(user, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn" ng-click="doDeleteMemberUser(user)" cos-disabled="!topic.canUpdate() || !user.levelUser" cos-disabled-tooltip="{{!topic.canUpdate() ? ('VIEWS.MY_TOPICS_TOPICID.TXT_NO_PERMISSION_TO_DELETE_MEMBER' | translate) : ('VIEWS.MY_TOPICS_TOPICID.TXT_PERMISSION_VIA_GROUP' | translate)}}">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TopicInviteUsers -->
                <div class="pretend_tr" ng-repeat="invite in topic.invites.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                            <div class="account_picture">
                                <img ng-if="invite.user.imageUrl" ng-src="{{invite.user.imageUrl}}">
                                <div ng-if="!invite.user.imageUrl" class="profile_image_filler">
                                    <div class="table_cell" cos-initials="invite.user.name">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell smooth_gray">
                                <div ng-bind="invite.user.name" tooltips tooltip-hidden="{{(!invite.user.email && !invite.user.pid && !invite.user.phoneNumber)}}" tooltip-class="tooltip_author"
                                     tooltip-template="<span class='creator_data_tooltip_row'>{{invite.user.email}}</span><span class='creator_data_tooltip_row'>{{invite.user.phoneNumber}}</span><span class='creator_data_tooltip_row'>{{invite.user.pid}}</span>"
                                     tooltip-smart="true">invite.user.name</div>
                                <div class="via" translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING">
                                    Pending invite
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown" cos-disabled>
                            <div class="dropdown_selection">
                                <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn" ng-click="doDeleteInviteUser(invite)" cos-disabled="!topic.canUpdate()" cos-disabled-tooltip="{{'VIEWS.MY_TOPICS_TOPICID.TXT_NO_PERMISSION_TO_DELETE_MEMBER' | translate}}">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ui-view></div>

</div>
