<!-- RIGHT SIDE -->
<div class="topics_right" ng-if="itemList.length" ng-controller="TopicCtrl">

    <div class="v_line separator"></div>

    <!-- GENERAL INFO TOPIC VIEW -->
    <div class="info_container">

        <div class="container_header">
            <div class="header_text">
                General information
            </div>
            <div class="minimize_container" ng-click="generalInfo.isVisible = !generalInfo.isVisible">
                <div ng-class="!generalInfo.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="generalInfo.isVisible">

            <div class="content_top">
                <div class="container_title">
                    {{topic.title}}
                </div>
                <!--div class="container_favorite" ng-class="app.favorite ? 'favorited' : ''" ng-click="app.favorite = !app.favorite">
                    <div class="ff_table_fix">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-favourite2x-white"></div>
                            <div class="yellow_bg"></div>
                        </div>
                    </div>
                </div-->
            </div>

            <div class="line lightest_line"></div>

            <div class="content_bottom">


                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Author
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.creator.name}}
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Date created
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.createdAt | amDateFormat : 'L'}}
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Your rights
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.permission.level}}
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Users
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.members.users.count}}
                            </div>
                            <div class="v_line"></div>
                            <div class="item_link blue_link" ng-click="doShowMemberUserList(topic);">
                                view
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Groups
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.members.groups.count}}
                            </div>
                            <div class="v_line"></div>
                            <div class="item_link blue_link" ng-click="doShowMemberGroupList(topic);">
                                view
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 3 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Status
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                {{topic.status}}
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Topic actions
                        </div>
                        <div class="item_content">
                            <div class="item_text blue_link" ui-sref="topics.view({topicId: topic.id})">
                                view
                            </div>
                            <div class="v_line bold"></div>
                            <div class="item_text blue_link" ng-click="doLeaveTopic(topic)">
                                leave
                            </div>
                            <div ng-if="topic.canDelete()">
                                <div class="v_line bold"></div>
                                <div class="item_text remove blue_link" ng-click="doDeleteTopic(topic)">
                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                    delete
                                </div>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- ACTIVITY FEED & NOTIFICATIONS -->
    <!--div class="info_container">

        <div class="container_header">
            <div class="header_text">
                Activity feed & notifications
            </div>
            <div class="minimize_container" ng-click="app.activityFeed = !app.activityFeed">
                <div ng-class="app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content activity_container" ng-if="!app.activityFeed">

            <div class="activity" ng-repeat="(key, this) in ['1', '2']">

                <div class="activity_left">
                    <div class="activiy_time">55.07.2056 11:23</div>
                </div>

                <div class="activity_right">
                    <div class="activity_icon">
                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                    </div>
                    <div class="activiy_title">Kristian Lember <span class="highlight aqua_marine_background">added</span> a <span class="highlight dark_yellow_background">comment</span>:</div>
                    <div class="activiy_description">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your
                        home office combo? First off, you will need to set a budget for your new ...
                    </div>
                </div>

                <div class="clearer"></div>
            </div>

            <div class="activity">

                <div class="activity_left">
                    <div class="view_older blue_link">View older</div>
                </div>

                <div class="activity_right">
                    &nbsp;
                </div>

            </div>

        </div>

    </div-->

    <!-- CURRENT VOTE RESULTS -->
    <div class="info_container vote_results" ng-if="topic.vote">

        <div class="container_header">
            <div class="header_text">
                Current vote results
            </div>
            <div class="minimize_container" ng-click="doToggleVoteResults(topic)">
                <div ng-class="!voteResults.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="voteResults.isVisible">


            <div class="content_bottom">

                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Results
                        </div>

                        <!-- ng-repeat -->
                        <div ng-repeat-start="voteOption in topic.vote.options.rows"></div>

                        <div class="line lightest_line" ng-if="!$first"></div>
                        <div class="item_content">
                            <div class="item_text">
                                {{voteOption.value}}
                            </div>
                            <div class="item_text">
                                {{voteOption.voteCount || 0}}
                            </div>
                        </div>
                        <div class="clearer"></div>

                        <div ng-repeat-end></div>
                        <!-- /ng-repeat -->

                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">


                    <div class="content_item">
                        <div class="item_description">
                            Votes counted
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                26
                            </div>
                            <div class="v_line"></div>
                            <div class="item_link blue_link">
                                view who voted
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">

                        <div class="item_description">
                            Votes needed
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                1000
                            </div>
                            <div class="v_line"></div>
                            <div class="item_link blue_link" ng-click="app.doShowSetNumber()">
                                edit
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Vote deadline
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                12.08.2016
                            </div>
                            <div class="v_line"></div>
                            <div class="item_link blue_link">
                                edit
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- TOPIC LIST -->
    <div class="info_container group_list" id="group_list">
        <div class="container_header">
            <div class="header_text">
                Group list ({{topic.members.groups.count}}) |
                <div class="blue_link" ng-click="groupList.isSearchVisible = !groupList.isSearchVisible">search</div>
                |
                <div class="blue_link">add</div>
            </div>
            <div class="minimize_container" ng-if="topic.members.groups.count" ng-click="doToggleMemberGroupList(topic)">
                <div ng-class="!groupList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="groupList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="Topic title, permission" ng-model="groupList.searchFilter">
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="groupList.searchFilter = ''">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="groupList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text">
                            Order by:
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'name'">
                        <div class="th_text">
                            Name
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'name'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'level'">
                        <div class="th_text">
                            Rights
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'level'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'members.users.count'">
                        <div class="th_text">
                            Users
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'members.users.count'"></div>
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Remove <span>from topic</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="group in topic.members.groups.rows | filter: groupList.searchFilter | orderBy: groupList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="blue_link" ng-if="group.permission.level" ui-sref="my.groups.groupId({groupId: group.id})" ui-sref-opts="{reload: true}">{{group.name}}</div>
                        <div ng-if="!group.permission.level" class="disabled">&lt;Inaccessible Group&gt;</div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown" cos-disabled="!topic.canUpdate()">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    {{group.level}}
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_item" ng-repeat="(key, value) in TopicMemberGroup.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberGroup(topic, group, value)">
                                        {{value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        {{group.members.users.count}}
                    </div>
                    <div class="pretend_td">
                        <div class="btn_wrap recycle_bin" ng-click="doDeleteMemberGroup(topic, group)" cos-disabled="!topic.canUpdate()">
                            <div class="btn">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- USER LIST -->
    <div class="info_container group_list user_list" id="user_list">
        <div class="container_header">
            <div class="header_text">
                User list ({{topic.members.users.count}}) |
                <div class="blue_link" ng-click="userList.isSearchVisible = !userList.isSearchVisible">search</div>
                |
                <div class="blue_link">invite</div>
            </div>
            <div class="minimize_container" ng-click="doToggleMemberUserList(topic)">
                <div ng-class="!userList.isVisible ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>
        <div class="container_header second_header" ng-if="userList.isSearchVisible">
            <div class="table_cell">
                <input placeholder="Username, permission" ng-model="userList.searchFilter">
            </div>
            <div class="table_cell">
                <div class="blue_link" ng-click="userList.searchFilter = ''">clear filter</div>
            </div>
        </div>
        <div class="container_content" ng-if="userList.isVisible">
            <div class="pretend_table">
                <div class="pretend_tr">
                    <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                        <div class="th_text">
                            Order by:
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'name'">
                        <div class="th_text">
                            Profile
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'name'"></div>
                        </div>
                    </div>
                    <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'level'">
                        <div class="th_text">
                            Rights
                            <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'level'"></div>
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Remove <span>from topic</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="user in topic.members.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                            <div class="account_picture">
                                <img ng-if="user.imageUrl" ng-src="{{user.imageUrl}}">
                                <div ng-if="!user.imageUrl" class="profile_image_filler">
                                    <div class="table_cell" cos-initials="user.name">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div>{{user.name}}</div>
                                <div class="via" ng-if="user.groups.rows.length && !user.levelUser">
                                    via <span ng-repeat="group in user.groups.rows"><span ng-if="!$first">, </span><span class="blue_link" ui-sref="my.groups.groupId({groupId: group.id})">{{group.name}} ({{group.level}})</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown" cos-disabled="!topic.canUpdate()">
                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    {{user.level}}
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown">
                                <div class="dropdown_item" ng-repeat="(key, level) in TopicMemberUser.LEVELS">
                                    <div class="item_name" ng-click="doUpdateMemberUser(topic, user, level)">
                                        {{level}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <div class="btn_wrap recycle_bin" ng-click="doDeleteMemberUser(topic, user)" cos-disabled="!topic.canUpdate() || !user.levelUser">
                            <div class="btn">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="tooltip" ng-if="!user.levelUser">
                                        Permission via Group, remove User from the Group or override the permissions selecting appropriate value from the dropdown.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
