<div class="table">
    <div class="v_align_cell">
        <div class="title_area">
            <h1>
                You are not yet part of a group. It's highschool all over again!
            </h1>
            <h2>
                At least you still have us to help you by
            </h2>
        </div>

        <div class="button_area">

            <div class="big_button">
                <div class="button_cell">
                    <div class="icon_nudge">
                    <div class="sprite sprite-icon-creategroup2x"></div>
                    </div>
                    <div class="topic_text">Creating<br> a new group</div>
                </div>
            </div>

            <div class="big_button">
                <div class="button_cell">
                    <div class="sprite sprite-icon-joingroup2x"></div>
                    <div class="topic_text">Joining a public<br>group</div>
                    <!-- Only show this if the user is NOT logged in -->
                </div>
            </div>

        </div>
    </div>

</div>