<div id="title_area">
    <h1>
        You have not participated in a topic yet. Try it, it’s really cool!
    </h1>
    <h2>
        You can get involved by
    </h2>
</div>

<div id="button_area">

    <div class="big_button">
        <div class="button_cell">
            <div class="icon_nudge">
            <div class="sprite sprite-x2-mytopics-icon-newtopic-big2x"></div>
            </div>
            <div class="topic_text">Creating<br> a new topic</div>
        </div>
    </div>

    <div class="big_button">
        <div class="button_cell">
            <div class="sprite sprite-x1-mytopics-icon-discuss-big2x"></div>
            <div class="topic_text">Actively<br> joining a topic</div>
            <!-- Only show this if the user is NOT logged in -->
        </div>
    </div>

</div>