<p>
    <span class="bold">Meie partner soovib juurdepääsu Sinu CitizenOS andmetele allolevate õigustega:</span>
</p>

<ul id="terms">
    <li><span>Sinu profiili vaatamine ja muutmine - nimi, organisatsioon, e-post, pilt.</span></li>
    <li><span>Sinu avalike, partneri veebilehe kaudu loodud teemade vaatamine ja muutmine.</span></li>
    <li><span>Sinu avalike, partneri veebilehe kaudu loodud häälte vaatamine ja muutmine.</span></li>
    <li><span>Sinu gruppide vaatamine ja muutmine.</span></li>
</ul>

<div id="small_text">
    Meie partner kasutab Sinu infot vastavalt oma kasutustingimustele ja privaatsuspoliitikale.
</div>


<button type="submit" ng-click="doLogin()" ng-disabled="loginForm.$invalid">Nõustun</button>
<div class="link_section">
    <a class="lightbox_link" ng-click="doResetPassword()" href="">Katkesta</a>
</div>
