<div id="back_link">
    <div class="icon bullet_arrow_left"></div><a ui-sref="public/groups" translate="VIEWS.PUBLIC_GROUP.LNK_BACK_TO_PUBLIC_GROUPS"> Back to all public groups</a>
</div>
<div id="group_root">
    <div class="group_wrap">
        <div class="group_header">
            <div id="create_group" class="blue_button_wrap">
            </div>
        </div>
        <div class="group_shown_content">
            <div class="group_header">
                <div class="group_icon">
                    <div class="group_circle">
                        <div class="group_icon" ng-if="$ctrl.group.imageUrl"><img ng-src="{{$ctrl.group.imageUrl}}" /></div>
                        <cos-initials  ng-if="!$ctrl.group.imageUrl && $ctrl.group.name" class="table_cell" ng-model="$ctrl.group.name" initial-limit="1"></cos-initials>
                    </div>
                </div>
                <div class="group_name">
                    <span ng-bind="$ctrl.group.name"></span>
                </div>
                <div class="group_actions">
                    <div cos-dropdown class="bar_select" ng-if="$ctrl.canUpdate()">
                        <div class="select_text">
                            {{'VIEWS.PUBLIC_GROUP.DROPDOWN_GROUP_ACTIONS' | translate}}
                            <div class="icon_holder">
                                <div class="table_cell">
                                    <div class="icon_arrow_down_white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown big_drop">
                            <div class="line lightest_line"></div>

                            <div class="dropdown_item" ng-click="$ctrl.showSettings()" ng-if="$ctrl.canUpdate()">
                                <div class="icon icon_settings"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_SETTINGS">
                                    Settings
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="dropdown_item" ng-click="$ctrl.leaveGroup()">
                                <div class="icon icon_x_black"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_LEAVE">
                                    Leave
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="dropdown_item" ng-click="$ctrl.deleteGroup()" ng-if="$ctrl.canUpdate()">
                                <div class="icon icon_delete"></div>
                                <div class="item_name red_text" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_DELETE">
                                    Delete
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>
                    </div>
                    <button ng-if="!$ctrl.group.userLevel" class="blue_button" ng-click="$ctrl.joinGroup()" translate="VIEWS.PUBLIC_GROUP.BTN_JOIN_GROUP">Join group</button>
                    <button ng-if="$ctrl.group.userLevel && !$ctrl.canUpdate()" class="pink_button_big" ng-click="$ctrl.leaveGroup()" translate="VIEWS.PUBLIC_GROUP.BTN_LEAVE_GROUP">Leave group</button>
                </div>
                <div class="group_members">
                    <div class="icon icon_members"></div>
                    <span class="count" ng-bind="$ctrl.users.count">1</span>
                </div>
                <div class="group_details">
                    <span ng-bind="$ctrl.group.description"></span>
                </div>
            </div>
        </div>
        <div class="header_row_wrap">
            <div class="header_row" slide-controller identifier="topicSettingsSlider">
                <div class="tab_button" ng-click="$ctrl.app.selectTab('topics')" ng-class="$ctrl.app.tabSelected === 'topics' ? 'active' : ''">
                    <div class="tab_buttom_wrap">
                        <div class="tab_button_text" translate="VIEWS.PUBLIC_GROUP.TAB_TOPICS">Topics</div>
                        <div class="blue_bottom_line"></div>
                    </div>
                </div>

                <div class="tab_button" ng-click="$ctrl.app.selectTab('members')" ng-class="$ctrl.app.tabSelected === 'members' ? 'active' : ''">
                    <div class="tab_buttom_wrap">
                        <div class="tab_button_text" translate="VIEWS.PUBLIC_GROUP.TAB_MEMBERS">Members</div>
                        <div class="blue_bottom_line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-if="$ctrl.app.tabSelected === 'topics'">
            <div class="container_content" >
                <div ng-if="!$ctrl.topics.rows.length" class="table">
                    <div class="no_results v_align_cell">
                        <div class="no_results_icon_wrap">
                            <div class="no_results_img sprite sprite-icon-no-results2x"></div>
                        </div>
                        <div class="title_area">
                            <h3 translate="VIEWS.PUBLIC_GROUP.HEADING_NO_RESUTS">We’re sorry, but we couldn’t find any results :(</h3>
                            <p translate="VIEWS.PUBLIC_GROUP.HEADING_DESCRIPTION">Maybe you can get the first discussion initiated by</p>
                        </div>

                        <div class="button_area">

                            <div class="big_button" ng-if="$ctrl.group.userLevel" ng-click="$ctrl.showSettings('topics')">
                                <div class="button_cell">
                                    <div class="topic_text" translate="VIEWS.PUBLIC_GROUP.BTN_ADD_TOPICS">Add topic</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div cos-dropdown class="bar_select" ng-if="$ctrl.app.wWidth <= 560">
                    <div class="select_text">
                        {{'VIEWS.PUBLIC_GROUP.ORDER_TITLE' | translate}}
                        <div class="icon_holder">
                            <div class="table_cell">
                                <div class="icon_arrow_down_black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown big_drop">
                        <div class="line lightest_line"></div>

                        <div class="dropdown_item" ng-click="$ctrl.sortMemberTopics('title', 'ASC')">
                            <div class="icon arrow_th_sort_down"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_TITLE_ASC">
                                ORDER
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="dropdown_item" ng-click="$ctrl.sortMemberTopics('title', 'DESC')">
                            <div class="icon arrow_th_sort_up"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_TITLE_DESC">
                                Leave
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>
                <div class="default_table" ng-if="$ctrl.topics.rows.length">
                    <div class="pretend_tr" ng-if="$ctrl.app.wWidth > 560">
                        <div class="pretend_th link" ng-click="$ctrl.sortMemberTopics('title')">
                            <div class="th_text">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_TITLE">Title</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.topics.searchOrderBy.sortOrder === 'ASC', 'icon arrow_th_sort_down': $ctrl.topics.searchOrderBy.sortOrder === 'DESC' }"></div>
                            </div>
                        </div>
                        <div class="pretend_th">
                            <span translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY">Last activity</span>
                        </div>
                        <div class="pretend_th">
                            <span translate="VIEWS.PUBLIC_GROUP.LNK_STATUS">Status</span>
                        </div>
                    </div>
                    <group-member-topic ng-if="$ctrl.topics.count" class="group_item_row pretend_tr" ng-repeat="topic in $ctrl.topics.rows" fields="['lastActivity', 'status']" member-topic="topic" group="$ctrl.group"></group-member-topic>

                    <div class="pretend_tr" ng-if="$ctrl.topics.totalPages > 1">
                        <div class="pagination_wrapper">
                            <cos-pagination class="pagination" select="$ctrl.loadMemberTopicsPage" total-pages="$ctrl.topics.totalPages" page="$ctrl.topics.page" items="$ctrl.topics.rows"></cos-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="content" ng-if="$ctrl.app.tabSelected === 'members'">
            <div class="container_content">
                <div cos-dropdown class="bar_select" ng-if="$ctrl.app.wWidth <= 560">
                    <div class="select_text">
                        {{'VIEWS.PUBLIC_GROUP.ORDER_NAME' | translate}}
                        <div class="icon_holder">
                            <div class="table_cell">
                                <div class="icon_arrow_down_black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown big_drop">
                        <div class="line lightest_line"></div>

                        <div class="dropdown_item" ng-click="$ctrl.sortMemberUser('name', 'ASC')">
                            <div class="icon arrow_th_sort_down"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_NAME_ASC">
                                ORDER
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="dropdown_item" ng-click="$ctrl.sortMemberUser('name', 'DESC')">
                            <div class="icon arrow_th_sort_up"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_NAME_DESC">
                                Leave
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>

                <div class="default_table">
                    <div class="pretend_tr"  ng-if="$ctrl.app.wWidth > 560">
                        <div class="pretend_th" ng-click="$ctrl.sortMemberUser('name')">
                            <div class="th_text">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_PROFILE">Profile</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.users.searchOrderBy.sortOrder === 'ASC', 'icon arrow_th_sort_down': $ctrl.users.searchOrderBy.sortOrder === 'DESC' }" ng-if="$ctrl.users.searchOrderBy.property === 'name'"></div>
                            </div>
                        </div>
                        <div class="pretend_th">
                            <span translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY">Latest activity</span>
                        </div>
                        <div class="pretend_th" ng-click="$ctrl.sortMemberUser('level')">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_ROLE">Role</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.users.searchOrderBy.sortOrder === 'ASC', 'icon arrow_th_sort_down': $ctrl.users.searchOrderBy.sortOrder === 'DESC' }" ng-if="$ctrl.users.searchOrderBy.property === 'level'"></div>
                        </div>
                        <div class="pretend_th" ng-if="$ctrl.canUpdate()">
                            <span translate="VIEWS.PUBLIC_GROUP.LBL_REMOVE_FROM_GROUP">Remove from group</span>
                        </div>
                    </div>
                    <!-- GroupMemberUsers -->
                    <my-member-user class="group_item_row pretend_tr" ng-repeat="user in $ctrl.users.rows | filter: $ctrl.users.searchFilter | orderBy : $ctrl.users.searchOrderBy.property" member="user" group="$ctrl.group" can-update="$ctrl.canUpdate" fields="['level', 'lastActivity', 'remove']"></my-member-user>

                    <div class="pretend_tr" ng-if="$ctrl.users.totalPages > 1">
                        <div class="pagination_wrapper">
                            <cos-pagination class="pagination" select="$ctrl.loadMemberUsersPage" total-pages="$ctrl.users.totalPages" page="$ctrl.users.page"></cos-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>

</div>
