<div class="arguments_container" ng-controller="TopicCommentCtrl">
    <div class="arguments_wrap">
        <div class="arguments_header">
            <div class="number_of_arguments" translate="VIEWS.TOPICS_TOPICID.TAB_ARGUMENTS_HEADING" translate-values="{count: (topicComments.count.pro + topicComments.count.con)}">0 arguments</div>
            <div class="arguments_data">
                <div class="data_left">
                    <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_PRO" translate-values="{countPro:topicComments.count.pro}">pro: 0</span>
                    <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_CON" translate-values="{countCon:topicComments.count.con}">con: 0</span>
                    <span class="data_item" translate="VIEWS.TOPICS_TOPICID.LBL_ARGUMENTS_COUNT_POI" translate-values="{countPoi:topicComments.count.poi}">poi: 0</span>
                </div>
                <div class="data_right print_never">
                    <div cos-dropdown class="classic_dropdown borderless_dropdown">
                        <div class="dropdown_selection">
                            <div class="dropdown_text data_item">
                                {{topicComments.orderByTranslation}}
                            </div>

                            <div class="arrow_holder">
                                <div class="table_cell">
                                    <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown">
                            <!-- NO CATEGORY -->
                            <div class="dropdown_item" ng-repeat="(key, orderOption) in topicComments.orderByOptions">
                                <div class="item_name" ng-click="orderComments(key)">
                                    {{::orderOption.translation}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="blue_button" ng-click="doAddComment()" translate="VIEWS.TOPICS_TOPICID.BTN_ADD_ARGUMENT">Add argument</div>

                </div>
            </div>
            <div class="clearer"></div>

            <div class="line lightest_line"></div>
        </div>

        <div class="arguments_content" id="arguments" ng-if="(topicComments.count.pro + topicComments.count.con + topicComments.count.poi)">
            <!-- FIRST COMMENT -->
            <div class="argument_wrap is_{{::comment.type}}" ng-repeat="comment in topicComments.rows | orderBy: topicComments.orderBy">
                <div class="single_argument">
                    <div id="{{::comment.id + '_v' + (comment.edits.length-1)}}" class="argument" ng-class="{post_argument_wrap: comment.showEdit}">
                        <!-- COMMENT HEADER -->
                        <div class="argument_header">
                            <div class="argumentator">
                                <div class="table_cell">
                                    <div ng-if="::!comment.creator.email" class="classic_dropdown borderless_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text data_item">
                                                {{::comment.creator.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div cos-dropdown ng-if="::comment.creator.email" class="classic_dropdown borderless_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text data_item">
                                                {{::comment.creator.name}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown comment_creator_dropdown">
                                            <!-- NO CATEGORY -->
                                            <div class="dropdown_item">
                                                <div class="item_name">
                                                    <a ng-href="mailto:{::{comment.creator.email}}">{{::comment.creator.email}}</a>
                                                </div>
                                                <div class="item_name" ng-if="!!comment.creator.phoneNumber">{{::comment.creator.phoneNumber}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="argument_header_widget">
                                <div class="table_cell" ng-attr-title="{{::comment.createdAt | amDateFormat : 'L LT'}}">
                                    {{::comment.createdAt | amTimeAgo}}
                                </div>
                            </div>
                            <div ng-if="::comment.isEdited()" class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div ng-if="::comment.isEdited()" class="argument_header_widget underline_link" ng-click="comment.showEdits = !comment.showEdits">
                                <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS">
                                    View previous versions
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="table_cell">
                                <div cos-dropdown class="classic_dropdown borderless_dropdown">

                                    <div class="dropdown_selection">
                                        <div class="dropdown_text data_item" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_SELECT_ACTIONS">
                                            Actions
                                        </div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <!-- NO CATEGORY -->
                                        <div class="dropdown_item">
                                            <div ng-if="::comment.canEdit()" class="item_name" ng-click="commentEditMode(comment)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_EDIT">Edit</div>
                                            <div ng-if="::comment.canDelete()" class="item_name" ng-click="doShowDeleteComment(comment)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_DELETE">Delete
                                            </div>
                                            <div class="item_name" ng-click="copyCommentLink(comment.id, (comment.edits.length-1), $event)"><span translate="LNK_DIRECT_LINK">link</span><input
                                                class="comment_link_input" id="comment_link_input_{{comment.id + '_v'+(comment.edits.length-1)}}" value=""/></div>
                                            <div class="item_name" ng-if="app.user.loggedIn" ng-click="doCommentReport(comment)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_REPORT">Report</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <!-- END COMMENT HEADER -->
                        <!-- EDIT COMMENT -->
                        <div class="argument_edit_wrap" ng-if="comment.showEdit" ng-controller="TopicCommentCreateFormCtrl">
                            <div class="post_argument_overlay" ng-if="!app.user.loggedIn">
                                <h3 translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE">You need to
                                    <div class="blue_link">log in</div>
                                    to comment
                                </h3>
                            </div>

                            <form cos-disabled="::!app.user.loggedIn" name="postArgument">
                                <div cos-dropdown class="classic_dropdown" ng-class="{'error_input': form.errors.type}">

                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">
                                            {{('VIEWS.TOPICS_TOPICID.COMMENT_TYPE_SELECT_OPTION_' + comment.editType | uppercase) | translate}} <span ng-if="!comment.editType">*</span>
                                        </div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-repeat="type in TopicCommentTypes">
                                            <div class="item_name" ng-click="comment.editType = type">
                                                {{('VIEWS.TOPICS_TOPICID.COMMENT_TYPE_SELECT_OPTION_' + type | uppercase) | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input id="comment_edit_subject" ng-if="comment.showEdit" ng-keyup="commentSubjectLengthCheck(comment, comment.editSubject)" translate
                                       translate-attr-placeholder="VIEWS.TOPICS_TOPICID.PLACEHOLDER_EDIT_ARGUMENT_SUBJECT" ng-model="comment.editSubject" class="gray_borders"
                                       ng-class="{'error_input': comment.errors.subject}" maxlength="COMMENT_SUBJECT_MAXLENGTH" focus-if required>

                                <label for="comment_edit_subject" class="error_label" ng-if="comment.errors.subject">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{comment.errors.subject}}"></span>
                                    </div>
                                </label>

                                <textarea cos-markdown id="comment_edit" ng-if="comment.showEdit" placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_EDIT_ARGUMENT_TEXT' | translate}}"
                                          class="gray_borders"
                                          ng-model="comment.editText" ng-keyup="commentTextLengthCheck(comment, comment.editText)"
                                          ng-class="{'error_input': comment.errors.text}" maxlength="COMMENT_TYPES_MAXLENGTH[form.type] || COMMENT_TYPES_MAXLENGTH['pro']" required></textarea>

                                <label for="comment_edit" class="error_label" ng-if="comment.errors.text">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{comment.errors.text}}"></span>
                                    </div>
                                </label>

                                <div class="argument_footer_with_buttons" ng-if="comment.showEdit">
                                    <div class="table_cell">
                                        <div class="blue_button" cos-disabled="postArgument.$invalid || !comment.editType" translate="VIEWS.TOPICS_TOPICID.BTN_ARGUMENT_POST"
                                             ng-click="updateComment(comment)">
                                            Post
                                        </div>
                                    </div>
                                    <div class="table_cell">
                                        <div class="blue_button blue_white_button" ng-click="commentEditMode(comment)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_EDIT_BTN_CANCEL_EDIT">
                                            Cancel edit
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- END EDIT COMMENT -->
                        <!-- COMMENT CONTENT -->
                        <div class="argument_title">
                            <span ng-if="::comment.isVisible()">{{::comment.subject}}</span>
                        </div>

                        <div class="argument_text_wrap" check-height ng-class="{overheight: offsetHeight > maxTextHeight, read_more: readMore}">
                            <div ng-if="::comment.isVisible()" class="argument_text" ng-bind-html="::comment.text | markdown">Comment text</div>
                            <div ng-if="!comment.isVisible() && comment.deletedBy.id === comment.creator.id" class="argument_text italic" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY"
                                 translate-values="{usersFullName: comment.deletedBy.name}">This comment has been deleted by {{::comment.deletedBy.name}}
                            </div>
                            <div ng-if="!comment.isVisible() && comment.deletedBy.id !== comment.creator.id" class="argument_text italic"
                                 translate="VIEWS.TOPICS_TOPICID.ARGUMENT_HAS_BEEN_DELETED_BY_MODERATOR" translate-values="{usersFullName: comment.deletedBy.name}">This comment has been deleted by
                                {{::comment.deletedBy.name}} (moderator)
                            </div>
                            <div class="argument_overlay"></div>
                            <div class="blue_link read_more_link" ng-click="$parent.readMore = !$parent.readMore"
                                 translate="{{($parent.readMore) ? 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_CLOSE' : 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_READ_MORE'}}">Read more
                            </div>
                        </div>
                        <!-- END COMMENT CONTENT -->
                        <!-- COMMENT DELETED -->
                        <div class="argument_footer delete_reasons" ng-if="::comment.deletedAt">
                            <div class="link_wrap">
                                <div class="table_cell">
                                    <div class="blue_link active_red" ng-click="comment.showDeleteReason = !comment.showDeleteReason" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_WHY">
                                        Why?
                                    </div>
                                    <div class="active_red_triangle_wrap" ng-if="::comment.showDeleteReason">
                                        <div class="active_red_triangle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="link_wrap">
                                <div class="table_cell">
                                    <div class="blue_link active_red" ng-click="comment.showDeletedComment = !comment.showDeletedComment"
                                         translate="VIEWS.TOPICS_TOPICID.ARGUMENT_VIEW_ARGUMENT_ANYWAY">
                                        View comment anyway
                                    </div>
                                    <div class="active_red_triangle_wrap" ng-if="::comment.isVisible() && !comment.showDeleteReason">
                                        <div class="active_red_triangle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>

                        <div class="alert_argument" ng-if="comment.showDeleteReason" ng-click="comment.showDeleteReason = !comment.showDeleteReason">
                            <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_FOUND_INAPPRIOPRIATE_BY" translate-values="{usersFullName: comment.deletedBy.name}">This comment was found inappriopriate by <b>{{::comment.deletedBy.name}}</b></span><span
                            ng-if="comment.deletedReasonType || comment.deleteReasonText">:</span>
                            <b ng-if="comment.deletedReasonType">{{('TXT_REPORT_TYPES_' + ::comment.deletedReasonType | uppercase) | translate}}</b><br>
                            <b ng-if="comment.deletedReasonText" class="italic">{{::comment.deletedReasonText}}</b>
                            <br>
                            <br>
                            <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_READ_CODE_OF_CONDUCT" translate-values="{codeOfConduct: app.config.moderation.codeOfConduct}">Read our <a
                                class="underlined_link" href="">code of conduct</a> for more information</span>
                        </div>
                        <div class="alert_argument" ng-if="comment.deletedAt && comment.isVisible()">
                            <span class="replys_reply italic"><b>{{::comment.subject}}</b></span><br>
                            <span class="italic" ng-click="comment.showDeletedComment = !comment.showDeletedComment" ng-bind-html="::comment.text | markdown">Comment text</span>
                        </div>
                        <!-- END COMMENT DELETED-->
                        <!-- COMMENT EDITS -->
                        <div id="{{comment.id + '_v' + version}}" class="argument" ng-class="'is_' + edit.type" ng-if="comment.showEdits && comment.isEdited() && !$last"
                             ng-repeat="(version, edit) in comment.edits">
                            <div class="argument_header">
                                <div class="argument_header_widget">
                                    <div class="table_cell" ng-attr-title="{{edit.createdAt | amDateFormat : 'L LT'}}">
                                        {{edit.createdAt | amTimeAgo}}
                                    </div>
                                </div>
                                <div class="line_wrap">
                                    <div class="table_cell">
                                        <div class="v_line"></div>
                                    </div>
                                </div>
                                <div class="argument_header_widget">
                                    <div class="table_cell">
                                        <a href="#" ng-click="copyCommentLink(comment.id, version, $event)"><span translate="LNK_DIRECT_LINK">link</span><input class="comment_link_input"
                                                                                                                                                                id="comment_link_input_{{comment.id + '_v'+version}}"
                                                                                                                                                                value=""/></a>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="argument_title" ng-if="::edit.subject">
                                {{::edit.subject}}
                            </div>
                            <div class="argument_text_wrap">
                                <div class="argument_text italic" ng-bind-html="edit.text"></div>
                            </div>
                        </div>
                        <!-- END COMMENT EDITS -->
                        <!-- COMMENT FOOTER -->
                        <div class="argument_footer">
                            <div ng-if="!comment.deletedAt">
                                <div class="link_wrap">
                                    <div class="table_cell">
                                        <div class="blue_link black_text" ng-click="comment.showReply=!comment.showReply" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY">
                                            Reply
                                        </div>
                                    </div>
                                </div>
                                <div class="line_wrap" ng-if="app.user.loggedIn">
                                    <div class="table_cell">
                                        <div class="v_line"></div>
                                    </div>
                                </div>
                                <div class="thumbs_up" ng-class="{'active': comment.votes.up.selected}" ng-if="app.user.loggedIn">
                                    <div class="table_cell" ng-click="doCommentVote(comment, 1)">
                                        <div class="sprite sprite-icon-thumb-up-gray">
                                        </div>
                                    </div>
                                    <div class="table_cell comment_vote_count" ng-click="doShowVotersList(comment)">
                                        {{comment.votes.up.count}}
                                    </div>
                                </div>
                                <div class="thumbs_down" ng-class="{'active': comment.votes.down.selected}" ng-if="app.user.loggedIn">
                                    <div class="table_cell" ng-click="doCommentVote(comment, -1)">
                                        <div class="sprite sprite-icon-thumb-down-gray">
                                        </div>
                                    </div>
                                    <div class="table_cell comment_vote_count" ng-click="doShowVotersList(comment)">
                                        {{comment.votes.down.count}}
                                    </div>
                                </div>
                            </div>
                            <div ng-if="comment.replies.rows.length" class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="link_wrap" ng-if="comment.replies.rows.length" ng-click="comment.showReplies = !comment.showReplies">
                                <div class="table_cell">
                                    <div ng-if="!comment.showReplies" class="blue_link black_text" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_SHOW_REPLIES"
                                         translate-values="{count: comment.replies.rows.length}">
                                        Show Replies
                                    </div>
                                    <div ng-if="comment.showReplies" class="blue_link black_text" translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_HIDE_REPLIES">
                                        Hide Replies
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <!-- END COMMENT FOOTER -->
                    </div>

                    <!-- REPLY TO COMMENT  -->
                    <div class="post_argument_wrap" ng-if="comment.showReply" ng-controller="TopicCommentCreateFormCtrl">
                        <div class="post_argument_overlay" ng-if="!app.user.loggedIn">
                            <h3 translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE">You need to
                                <div class="blue_link">log in</div>
                                to comment
                            </h3>
                        </div>
                        <form ng-if="app.user.loggedIn" name="argumentConReply">
                            <textarea cos-markdown id="argument_con_reply_text" ng-model="form.text" class="gray_borders" ng-keyup="commentTextLengthCheck(form, form.text)"
                                      ng-class="{'error_input': form.errors.text}"
                                      placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_WRITE_REPLY_HERE' | translate}}" maxlength="COMMENT_TYPES_MAXLENGTH['reply']" focus-if></textarea>
                            <label for="argument_con_reply_text" class="error_label" ng-if="form.errors.text">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{form.errors.text}}"></span>
                                </div>
                            </label>
                            <div class="blue_button" cos-disabled="argumentConReply.$invalid" ng-click="submitReply(comment.id, (comment.edits.length-1))"
                                 translate="VIEWS.TOPICS_TOPICID.BTN_ARGUMENT_POST_REPLY">
                                Post reply
                            </div>
                            <div class="clearer"></div>
                        </form>
                    </div>
                    <!-- END REPLY TO COMMENT -->
                </div>

                <!-- COMMENT REPLY -->
                <div class="single_argument is_reply" ng-if="comment.showReplies" ng-repeat="reply in comment.replies.rows" ng-click="">
                    <div id="{{reply.id + '_v' + (reply.edits.length-1)}}" class="argument" ng-class="{post_argument_wrap: reply.showEdit}">
                        <!-- REPLY HEADER -->
                        <div class="argument_header">
                            <div class="reply_icon sprite sprite-icon-arrow-reply2x">
                            </div>
                            <div class="argumentator">
                                <div class="table_cell">
                                    <div cos-dropdown class="classic_dropdown borderless_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text data_item">
                                                {{reply.creator.name}}
                                            </div>

                                            <div class="arrow_holder" ng-if="reply.creator.email">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown comment_creator_dropdown" ng-if="comment.creator.email">
                                            <!-- NO CATEGORY -->
                                            <div class="dropdown_item">
                                                <div class="item_name">
                                                    <a ng-href="mailto:{{comment.creator.email}}">{{reply.creator.email}}</a>
                                                </div>
                                                <div class="item_name" ng-if="!!(reply.creator.phoneNumber)">{{reply.creator.phoneNumber}}</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="argument_header_widget">
                                <div class="table_cell" ng-attr-title="{{::reply.createdAt | amDateFormat : 'L LT'}}">
                                    {{::reply.createdAt | amTimeAgo}}
                                </div>
                            </div>
                            <div ng-if="reply.isEdited()" class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div ng-if="reply.isEdited()" class="argument_header_widget underline_link" ng-click="reply.showEdits = !reply.showEdits">
                                <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS">
                                    View previous versions
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="table_cell">
                                <div cos-dropdown class="classic_dropdown borderless_dropdown">

                                    <div class="dropdown_selection">
                                        <div class="dropdown_text data_item" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_SELECT_ACTIONS">
                                            Actions
                                        </div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-dropdown-arrowdown-small2x"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <!-- NO CATEGORY -->
                                        <div class="dropdown_item">
                                            <div ng-if="::reply.canEdit()" class="item_name" ng-click="commentEditMode(reply)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_EDIT">Edit</div>
                                            <div ng-if="::reply.canDelete()" class="item_name" ng-click="doShowDeleteComment(reply)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_DELETE">Delete</div>
                                            <div class="item_name" ng-click="copyCommentLink(reply.id, (reply.edits.length-1), $event)"><span translate="LNK_DIRECT_LINK">link</span><input
                                                class="comment_link_input" id="comment_link_input_{{reply.id + '_v'+(reply.edits.length-1)}}" value=""/></div>
                                            <div class="item_name" ng-if="app.user.loggedIn" ng-click="doCommentReport(reply)" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_REPORT">Report</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <!-- END REPLY HEADER -->
                        <!-- REPLY EDIT-->
                        <div class="argument_edit_wrap" ng-if="reply.showEdit" ng-controller="TopicCommentCreateFormCtrl">
                            <form ng-if="app.user.loggedIn" name="replyEdit">
                                <div class="post_argument_overlay" ng-if="!app.user.loggedIn">
                                    <h3 translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE">You need to
                                        <div class="blue_link">log in</div>
                                        to comment
                                    </h3>
                                </div>
                                <textarea cos-markdown id="reply_edit" class="gray_borders" placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_EDIT_REPLY' | translate}}"
                                          ng-keyup="commentTextLengthCheck(reply, reply.editText)" ng-class="{'error_input': reply.errors.text}"
                                          ng-model="reply.editText" maxlength="COMMENT_TYPES_MAXLENGTH['reply']" focus-if></textarea>
                                <label for="reply_edit" class="error_label" ng-if="reply.errors.text">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{reply.errors.text}}"></span>
                                    </div>
                                </label>
                                <div ng-if="reply.showEdit" class="argument_footer_with_buttons">
                                    <div class="table_cell">
                                        <div class="blue_button" ng-click="updateComment(reply)">
                                            <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_BTN_SAVE_EDIT_REPLY">
                                                Save
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table_cell">
                                        <div class="blue_button blue_white_button" ng-click="commentEditMode(reply)">
                                            <div class="table_cell" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_BTN_CANCEL_EDIT_REPLY">
                                                Cancel
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--END REPLY EDIT-->
                        <!-- REPLY EDITS -->
                        <div id="{{reply.id + '_v' + version}}" class="argument" ng-if="reply.showEdits && reply.isEdited() && !$last" ng-repeat="(version, edit) in reply.edits">
                            <div class="argument_header" ng-attr-title="{{edit.createdAt | amDateFormat : 'L LT'}}">
                                <div class="argument_header_widget">
                                    <div class="table_cell" ng-attr-title="{{edit.createdAt | amDateFormat : 'L LT'}}">
                                        {{edit.createdAt | amTimeAgo}}
                                    </div>
                                </div>
                                <div class="line_wrap">
                                    <div class="table_cell">
                                        <div class="v_line"></div>
                                    </div>
                                </div>
                                <div class="argument_header_widget">
                                    <div class="table_cell">
                                        <a href="#" ng-click="copyCommentLink(reply.id, version, $event)"><span translate="LNK_DIRECT_LINK">link</span><input class="comment_link_input"
                                                                                                                                                              id="comment_link_input_{{reply.id + '_v'+version}}"
                                                                                                                                                              value=""/></a>
                                    </div>
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="argument_text_wrap">
                                <div class="argument_text italic" ng-bind-html="edit.text | markdown"></div>
                            </div>
                        </div>
                        <!-- END REPLY EDITS -->
                        <div class="argument_text_wrap" ng-class="{overheight:offsetHeight > maxTextHeight, read_more: readMore}" check-height>
                            <a ng-if="!reply.deletedAt && reply.isVisible()" href="#" class="replys_reply"
                               ui-sref="topics.view({topicId: topic.id, commentId: getCommentIdWithVersion(reply.parent.id, reply.parent.version)})"
                               ng-click="goToParentComment(comment, reply.parent, $event)">@{{getParentAuthor(comment, reply.parent.id)}}</a>
                            <div ng-if="!reply.deletedAt && reply.isVisible()" class="argument_text" ng-bind-html="reply.text | markdown"></div>
                            <div ng-if="!reply.isVisible()" class="argument_text italic">This comment has been deleted by {{reply.deletedBy.name}}</div>
                            <div class="argument_overlay">
                            </div>
                            <div class="blue_link read_more_link " ng-click="$parent.readMore = !$parent.readMore"
                                 translate="{{($parent.readMore) ? 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY_CLOSE' : 'VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY_READ_MORE'}}">
                                Read more
                            </div>
                        </div>
                        <!-- REPLY DELETED -->
                        <div class="argument_footer delete_reasons" ng-if="reply.deletedAt">
                            <div class="link_wrap">
                                <div class="table_cell">
                                    <div class="blue_link active_red" ng-click="reply.showDeleteReason = !reply.showDeleteReason" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_WHY">
                                        Why?
                                    </div>
                                    <div class="active_red_triangle_wrap" ng-if="reply.showDeleteReason">
                                        <div class="active_red_triangle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line_wrap">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="link_wrap">
                                <div class="table_cell">
                                    <div class="blue_link active_red" ng-click="reply.showDeletedComment = !reply.showDeletedComment" translate="VIEWS.TOPICS_TOPICID.ARGUMENT_VIEW_REPLY_ANYWAY">
                                        View comment anyway
                                    </div>
                                    <div class="active_red_triangle_wrap" ng-if="reply.isVisible() && !reply.showDeleteReason">
                                        <div class="active_red_triangle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>

                        <div class="alert_argument" ng-if="reply.showDeleteReason" ng-click="reply.showDeleteReason = !reply.showDeleteReason">
                            <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_REPLY_FOUND_INAPPRIOPRIATE_BY" translate-values="{usersFullName: reply.deletedBy.name}">This comment was found inappriopriate by <b>{{reply.deletedBy.name}}</b></span><span
                            ng-if="reply.deletedReasonType || reply.deletedReasonText">:</span>
                            <b ng-if="reply.deletedReasonType">::{{('TXT_REPORT_TYPES_' + ::reply.deletedReasonType | uppercase) | translate}}</b><br>
                            <b class="italic" ng-if="reply.deletedReasonText">{{::reply.deletedReasonText}}</b><br>
                            <br>
                            <br>
                            <span translate="VIEWS.TOPICS_TOPICID.ARGUMENT_READ_CODE_OF_CONDUCT">Read our <a class="underlined_link" href="">code of conduct</a> for more information</span>
                        </div>
                        <div class="alert_argument" ng-if="reply.deletedAt && reply.isVisible()">
                            <span class="replys_reply" ui-sref="topics.view({topicId: topic.id, commentId: getCommentIdWithVersion(reply.parent.id, reply.parent.version)})"
                                  ng-click="goToParentComment(comment, reply.parent, $event)">@{{getParentAuthor(comment, reply.parent.id)}}</span>
                            <span class="italic" ng-click="reply.showDeletedComment = !reply.showDeletedComment">{{reply.text}}</span>
                        </div>
                        <!-- END REPLY DELETED -->
                        <!-- REPLY FOOTER -->
                        <div class="argument_footer reply_footer" ng-if="!reply.deletedAt">
                            <div class="link_wrap">
                                <div class="table_cell">
                                    <div class="blue_link black_text" ng-click="reply.showReply = !reply.showReply"
                                         translate="VIEWS.TOPICS_TOPICID.LNK_ARGUMENT_REPLY_REPLY">Reply
                                    </div>
                                </div>
                            </div>
                            <div class="line_wrap" ng-if="app.user.loggedIn">
                                <div class="table_cell">
                                    <div class="v_line"></div>
                                </div>
                            </div>
                            <div class="thumbs_up" ng-class="{'active': reply.votes.up.selected}" ng-if="app.user.loggedIn">
                                <div class="table_cell" ng-click="doCommentVote(reply, 1)">
                                    <div class="sprite sprite-icon-thumb-up-gray">
                                    </div>
                                </div>
                                <div class="table_cell comment_vote_count" ng-click="doShowVotersList(reply)">
                                    {{reply.votes.up.count}}
                                </div>
                            </div>
                            <div class="thumbs_down" ng-class="{'active': reply.votes.down.selected}" ng-if="app.user.loggedIn">
                                <div class="table_cell" ng-click="doCommentVote(reply, -1)">
                                    <div class="sprite sprite-icon-thumb-down-gray">
                                    </div>
                                </div>
                                <div class="table_cell comment_vote_count" ng-click="doShowVotersList(reply)">
                                    {{reply.votes.down.count}}
                                </div>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <!-- REPLY FOOTER -->
                    </div>
                    <!-- REPLY TO REPLY -->
                    <div class="post_argument_wrap" ng-if="reply.showReply" ng-controller="TopicCommentCreateFormCtrl">
                        <div class="post_argument_overlay" ng-if="!app.user.loggedIn">
                            <h3 translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE">You need to
                                <div class="blue_link">log in</div>
                                to comment
                            </h3>
                        </div>
                        <form ng-if="app.user.loggedIn" name="argumentReplyForm">
                            <textarea cos-markdown id="argument_pro_reply_text" class="gray_borders" ng-model="form.text" ng-keyup="commentTextLengthCheck(form, form.text)"
                                      ng-class="{'error_input': form.errors.text}" placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_WRITE_REPLY_HERE' | translate}}" required
                                      maxlength="COMMENT_TYPES_MAXLENGTH['reply']" focus-if></textarea>
                            <label for="argument_pro_reply_text" class="error_label" ng-if="form.errors.text">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{form.errors.text}}"></span>
                                </div>
                            </label>
                            <div class="blue_button" cos-disabled="argumentReplyForm.$invalid" ng-click="submitReply(reply.id, (reply.edits.length-1))"
                                 translate="VIEWS.TOPICS_TOPICID.BTN_ARGUMENT_REPLY_POST_REPLY">
                                Post reply
                            </div>
                            <div class="clearer"></div>
                        </form>
                    </div>
                    <!-- END REPLY TO REPLY -->
                </div>
            </div>
            <div class="pagination" cos-pagination select="loadPage" total-pages="topicComments.totalPages" page="topicComments.page"></div>

        </div>

        <div id="post_argument_wrap" class="post_argument_wrap print_never" ng-controller="TopicCommentCreateFormCtrl">
            <div class="post_argument_overlay" ng-if="!app.user.loggedIn">
                <h3 translate-compile translate="VIEWS.TOPICS_TOPICID.LOG_IN_TO_PARTICIPATE">You need to
                    <div class="blue_link">log in</div>
                    to comment
                </h3>
            </div>
            <form cos-disabled="!app.user.loggedIn" name="argumentForm">
                <div cos-dropdown class="classic_dropdown" ng-class="{'error_input': form.errors.type}">

                    <div class="dropdown_selection">
                        <div class="dropdown_text">
                            {{('VIEWS.TOPICS_TOPICID.COMMENT_TYPE_SELECT_OPTION_' + form.type | uppercase) | translate}} <span ng-if="!form.type">*</span>
                        </div>

                        <div class="arrow_holder">
                            <div class="table_cell">
                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                <div class="v_line"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown with_description">
                        <div class="column">
                            <div class="dropdown_item" ng-repeat="type in TopicCommentTypes" ng-class="['item_' + $index, 'is_' + type.toLowerCase()]">
                                <div class="item_name" ng-click="form.type = type">
                                    {{('VIEWS.TOPICS_TOPICID.COMMENT_TYPE_SELECT_OPTION_' + type | uppercase) | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="column dropdown_item_descriptions">
                            <div class="item_description" ng-repeat="type in TopicCommentTypes" ng-class="['item_' + $index, {active: $index === 0}, 'is_' + type.toLowerCase()]">
                                <p>{{('VIEWS.TOPICS_TOPICID.COMMENT_TYPE_SELECT_OPTION_DESCRIPTION_' + type | uppercase) | translate}}</p>
                                <p class="bold" translate="VIEWS.TOPICS_TOPICID.COMMENT_TYPE_CHARACTER_LIMIT" translate-values="{numberOfCharacters: COMMENT_TYPES_MAXLENGTH[type]}">Character limit:
                                    2084</p>
                            </div>
                        </div>
                    </div>
                </div>

                <input id="argument_subject" ng-model="form.subject" placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_ADD_SUBJECT_TO_ARGUMENT' | translate}}"
                       class="gray_borders" ng-class="{'error_input': form.errors.subject}" required ng-keyup="commentSubjectLengthCheck(form, form.subject)"
                       ng-maxlength="{{COMMENT_SUBJECT_MAXLENGTH}}"
                       focus-if="focusArgumentSubject">
                <label for="argument_subject" class="error_label" ng-if="form.errors.subject">
                    <div class="table_cell">
                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                        <span translate="{{form.errors.subject}}"></span>
                    </div>
                </label>
                <textarea cos-markdown cos-markdown-translate-character-status-key="'VIEWS.TOPICS_TOPICID.COMMENT_TYPE_CHARACTER_LIMIT'" id="argument_text" ng-model="form.text" class="gray_borders" placeholder="{{'VIEWS.TOPICS_TOPICID.PLACEHOLDER_EXPLAIN_YOUR_ARGUMENT' | translate}}"
                          ng-class="{'error_input': form.errors.text}" maxlength="COMMENT_TYPES_MAXLENGTH[form.type] || COMMENT_TYPES_MAXLENGTH['pro']" required></textarea>
                <label for="argument_text" class="error_label" ng-if="form.errors.text">
                    <div class="table_cell">
                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                        <span translate="{{form.errors.text}}"></span>
                    </div>
                </label>

                <div class="blue_button" cos-disabled="argumentForm.$invalid || !form.type" translate="VIEWS.TOPICS_TOPICID.BTN_ARGUMENT_POST" ng-click="saveComment()">
                    Post
                </div>
                <div class="clearer"></div>
            </form>
        </div>

    </div>

</div>
