/** Main **/
$base: #f6f6f6;
$white: #fff;
$medium_black: #252525;
$deep_sky_blue: #0680FC;
$bold: 700;
$lightest_gray: #e5e5e5;
$favorite_yellow: #ffc600;

/* cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/Q47Ro23nlKqZrOLipd3-SyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/qkE6YsKPRiYUugBb1_QwHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/N2U74xxQEyaTBF6QLZRr1CEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/1_daFS3X6gkNOcmGmHl7UiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/G-mm5mDezDSs-RvEL7XAECEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/fVu1p3782bqS2z-CaJvp9iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://fonts.gstatic.com/s/notoserif/v6/eCpfeMZI7q4jLksXVRWPQ_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#editorcontainer {
    overflow: hidden;
}

.toolbar {
    background: none;
    border: none;
}

.timeslider-bar {
    background: none;
}

#editbar {
    background: $base;
    border-bottom: 1px solid #ccc;
}

/** iframe #ace_outer **/
#outerdocbody {
    overflow: hidden;
    background: none;
}

/** iframe #ace_inner **/
#innerdocbody, #padcontent {
    background: none;
    * {
        font-family: 'Noto Serif', serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 175%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 20px 0;
    }

    h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
        font-family: 'Open Sans', sans-serif;
        color: $medium_black;
        font-weight: bold;
        line-height: 135%;
    }

    h1 * {
        font-size: 46px;
    }

    h2 * {
        font-size: 40px;
    }

    h3 * {
        font-size: 34px;
    }

    h4 * {
        font-size: 28px;
    }

    h5 * {
        font-size: 22px;
    }

    h6 * {
        font-size: 16px;
    }

    .image {
        img {
            width: auto;
            max-width: 100%;
        }
    }
    /** MOBILE **/
    @media (max-width: 535px) {
        h1 * {
            font-size: 30px;
        }

        h2 * {
            font-size: 24px;
        }

        h3 * {
            font-size: 18px;
        }

        h4 *, h5 *, h6 * {
            font-size: 16px;
        }
    }

    a {
        color: $deep_sky_blue;
    }

    b, b * {
        font-weight: bold;
    }

    code * {
        font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif
    }

    fs8 *, .fs8 * {
        font-size:8px
    }
    fs9 *, .fs9 * {
        font-size:9px
    }
    fs10 *, .fs10 * {
        font-size:10px;
    }
    fs11 *, .fs11 * {
        font-size:11px;
    }
    fs12 *, .fs12 * {
        font-size:12px;
    }
    fs13 *, .fs13 * {
        font-size:13px;
    }
    fs14 *, .fs14 * {
        font-size:14px;
    }
    fs15 *, .fs15 * {
        font-size:15px;
    }
    fs16 *, .fs16 * {
        font-size:16px;
    }
    fs17 *, .fs17 * {
        font-size:17px;
    }
    fs18 *, .fs18 * {
        font-size:18px;
    }
    fs19 *, .fs19 * {
        font-size:19px;
    }
    fs20 *, .fs20 * {
        font-size:20px;
    }

    [data-color="black"] *, .color\:black * {
        color:black;
    }
    [data-color="red"] *, .color\:red * {
        color:red;
    }
    [data-color="green"] *, .color\:green * {
        color:green;
    }
    [data-color="blue"] *, .color\:blue * {
        color:blue;
    }
    [data-color="yellow"] *, .color\:yellow * {
        color:yellow;
    }
    [data-color="orange"] *, .color\:orange * {
        color:orange;
    }

}

#epAuthorshipToggleAuthorList {
    font-family: bold, sans-serif;
    background: $base;
}

#padpage {
    #timeslider-top {
        background: $base;

        * {
            font-family: bold, sans-serif;
        }

        .toolbar * {
            font-family: regular, sans-serif;
        }

        #steppers .stepper {
            font-family: fontawesome-etherpad;
        }
    }
}

/** Chat flickers on load, don't want that **/
#chatbox, #chaticon {
    display: none !important;
}

.popup, #users, #connectivity {
    background: $base;
    border-top: 1px solid $base;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 0;
    z-index: 1500 !important;
    margin-top: -1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.comment {
    background: $favorite_yellow!important;
}

#newComments, #comments {

    font-size: 14px;
    padding: 5px;

    input[type="submit"], input[type="reset"], button {
        background: $deep_sky_blue;
        border-radius: 4px;
        font-weight: $bold;
        cursor: pointer;
        text-align: center;
        color: $white;
        font-size: 14px;
        padding: 5px 5px 6px;
        box-sizing: border-box;
        border: none;
        width: auto;
        height: auto;
        
        &.comment-edit-cancel {
            background: $lightest_gray;
            color: $medium_black;
            border: 1px solid #ccc!important;
            border-radius: 4px;
            padding: 6px 10px 5px;
            font-size: 13px;
        }
    }
    .comment-options {
        border-left: solid 1px $lightest_gray;
        border-right: solid 1px$lightest_gray;
        border-bottom: solid 1px $lightest_gray;
        border-radius: 0 0 4px 4px;
        background-color: $white;
        width: 100%;
        left: -1px;
        top: 29px;
        position: absolute;
        color: $medium_black;
        max-height: 500px;
        overflow-y: auto;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
        padding: 5px 0;
        margin-bottom: 20px;
        :hover {
            color: $deep_sky_blue;
            background-color: $white; 
        }
        &.hidden {
            display: none;
        }
    }

    .comment-options-selected {
        background-color: $white;
    }

    note {
        padding: 5px;
        font-family: 'Open Sans',sans-serif;
        font-size: 13px;

        form {
            input :not([type="checkbox"]) {
                width: 100%;
                font-size: 13px;
                box-sizing: border-box;
                padding: 6px 10px;
            }
        }
    }

    .comment-reply-input {
        font-family: 'Open Sans', sans-serif;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid $lightest_gray;
        border-radius: 4px;
        width: 100%;
        font-size: 13px;
        box-sizing: border-box;
        padding: 6px 10px;
    }
    .comment-reply, .suggestion, .comment-author-name, .commetn-text, .comment-changeFrom-label, .comment-changeTo-label {
        font-size: 14px;
        padding: 5px;
        color: $medium_black;
    }
    .comment-changeFrom-value, .comment-changeTo-value {
        display: block;
        padding: 5px;
    }
    #newComment {    
        padding: 5px;
        font-family: 'Open Sans',sans-serif;
        font-size: 13px;
    
        .comment-buttons {
            input[type="submit"], input[type="reset"] {
                background: $deep_sky_blue;
                border-radius: 4px;
                font-weight: $bold;
                cursor: pointer;
                text-align: center;
                color: $white;
                font-size: 14px;
                padding: 5px 5px 6px;
                box-sizing: border-box;
                border: none;
                width: auto;
                height: auto;
                
                &#comment-reset {
                    background: $lightest_gray;
                    color: $medium_black;
                    border: 1px solid #ccc!important;
                    border-radius: 4px;
                    padding: 6px 10px 5px;
                    font-size: 13px;
                }
            }
        }
     }
}
