<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="id_signing delete_topic wide_lightbox my_account_lightbox" ng-controller="AddEidCtrl">
        <div id="lightbox_wrap">

            <div id="lightbox_header">


                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.ADD_EID_HEADING">Connect your account with your eID</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x"></div>
                    </div>
                </div>

                <div class="line lightest_line"></div>

            </div>


            <div class="lightbox_content">

                <div class="second_header">

                    <div class="sprite sprite-icon-warn-topic2x"></div>
                    <div class="warn_title" translate="MODALS.ADD_EID_HEADING">Connect your account with your eID</div>

                    <div id="lightbox_close" ng-click="closeThisDialog()">
                        <div class="table_cell">
                            <div class="sprite sprite-btn-popup-close2x"></div>
                        </div>
                    </div>

                </div>

                <div class="line_wrap">
                    <div class="line lightest_line"></div>
                </div>

                <div class="lightbox_section">

                    <div class="delete_info_text_wrap">
                        <div>
                            <div class="delete_info_text" translate="MODALS.ADD_EID_DESCRIPTION">Did you know you can sync your account with your eID? Click the button below to do this or continue without syncing (you can still do this later in your account settings).</div>
                        </div>
                    </div>
                    <div class="delete_info_text_wrap section_with_padding">
                        <div ng-if="authMethodsAvailable.mobiilId || authMethodsAvailable.idCard" id="id_card" ng-click="doConnectEsteId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-id2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.ADD_EID_BTN_CONNECT_ID_CARD_MID">Connect with ID-Card / Mobiil-ID</div>
                            </div>
                        </div>

                        <div ng-if="authMethodsAvailable.smartId" id="smart_id" ng-click="doConnectSmartId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-smartid2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.ADD_EID_BTN_CONNECT_SMART_ID">Connect with Smart-ID</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="lightbox_footer">
                <div class="line lightest_line"></div>

                <div class="lightbox_section">
                    <div class="footer_button_wrap right">
                        <div class="blue_link" translate="MODALS.ADD_EID_LNK_BACK" ng-click="back()">Back</div>
                        <div class="blue_button" ng-click="continue()" ng-disabled="myAccountForm.$invalid" class="blue_button"
                        translate="MODALS.ADD_EID_BTN_CONTINUE">Continue without connecting</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="close_lightbox" ng-click="logout();closeThisDialog();"></div>

</div>
