<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="GroupCreateCtrl">
    <div id="lightbox" class="wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header" class="title_and_button">

                <div id="lightbox_header_text">
                    <div class="title">Add topics to</div>
                    <div class="title_description">Ettepanek seadusega keelata kõrvklappide kandmine tänaval Ettepanek seadusega keelata kõrvklappide kandmine tänaval </div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row">
                        
                        <div ng-if="wWidth > 560" class="blue_button_wrap">
                            <!--FIXME: Should be based on if any Users were added or not...-->
                            <div class="blue_button">
                                Save group
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>
            <!-- URL -->
            <div id="lightbox_content" class="padding_bottom_zero top_112">

                <div class="lightbox_section">
                    <div class="searchbox_with_icon_and_text">
                        <div cos-dropdown class="search_with_dropdown">
                            <input placeholder="Search for a topic">
                            <div class="search_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-search-gray-2x"></div>
                                </div>
                            </div>
                            <div class="search_area_wrap">
                                <div class="search_dropdown_area">
                                    <div class="search_dropdown_item" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]">
                                        <div class="table_cell search_item_text">
                                            <b>Lorem ipsum</b> saved my lie in 5 easy steps. Lorem ipsum saved my lie in 5 easy steps. Find out how here saved my lie in 5 easy steps. Lorem ipsum saved
                                        </div>
                                        <div class="table_cell blue_link">
                                            <span class="submit_link">Press enter or click to add</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search_text">
                            <div class="table_cell blue_link">
                                Press enter to add
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="lightbox_section double_row_list small_header group_create_modal">

                    <div class="category_title">
                        <div class="table_cell">
                            Order by:
                        <div class="black_link">
                            Title A-Z
                        </div>
                        <div class="black_link">
                            Users
                            <div class="sprite sprite-icon-list-ordering2x"></div>
                        </div>
                        </div>
                    </div>

                    <div class="double_row_item" ng-repeat="i in [1,2,3,4,5,6]">
                        <div class="blue_link">
                            Aenean mollis, nibh eu vehicula euismod, erat ipsum ornare risus, eget gravida lacus mauris nec erat...
                        </div>
                        <div class="double_row_footer">
                            <div class="left">Topic users: <b>312</b></div>
                            <div class="right">
                                <span class="dropdown_description">Group right over topic:</span>
                                
                                <div class="btn_wrap recycle_bin white_bg">
                                    <div class="btn">
                                        <div class="table_cell">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div cos-dropdown class="classic_dropdown">
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">
                                            Admin
                                        </div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                                            <div class="item_name">
                                                Read
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="clearer"></div>
                            
                        </div>
                    </div>

                </div>
            </div>

            <!-- MOBILE SAVE BUTTON -->
            <div ng-if="wWidth <= 560" class="blue_button_wrap mobile">
                <div class="blue_button">
                    Save group
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
