<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="confirm_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">Delete user</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>


                <div class="profile_area">

                    <div class="table">
                        <div class="profile_image_cell">
                            <div class="profile_image_wrapper dark">
                                <!--div class="profile_moon sprite sprite-icon-certified-google2x"></div-->
                                <div class="account_picture">
                                    <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">
                                    <div class="profile_image_filler" ng-if="!app.user.imageUrl">
                                        <div class="table_cell" cos-initials="app.user.name">
                                            ML
                                        </div>
                                        <div class="profile_circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="profile_text">
                            {{app.user.name}}
                        </div>

                    </div>

                </div>

            </div>

            <div class="line lightest_line"></div>


            <!-- CONFIRM CONTENT -->
            <div id="lightbox_content">

                <div class="lightbox_section">

                        Are you sure you want to delete this [user/comment/…]?

                        <div class="yes_no_buttons">
                            <div class="table_cell">
                                <div class="blue_button no">NO</div>
                            </div>
                            <div class="table_cell">
                                <div class="blue_button yes">YES</div>
                            </div>
                        </div>

                </div>

            </div>


        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
