<!-- LIGHTBOX SKELETON -->
<div class="line lightest_line"></div>
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="date_picker_wrap">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">Edit vote deadline for</div>

                    <div class="lightbox_header_description_text">
                        Ettepanek seadusega keelata kõrvklappide kandmine tänaval
                    </div>

                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>


            </div>

            <div class="line lightest_line"></div>


            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">

                <div class="lightbox_section picker_content">

                    <div class="toggle_widget" ng-click="app.vote_toggle = !app.vote_toggle" ng-class="app.vote_toggle ? 'no' : 'yes'">
                        <div class="toggle_circle"></div>
                    </div>

                    <div class="bubble_content">

                        <div class="bubble_section">
                            <div class="bubble_title">Deadline</div>
                            <div class="bubble_description">

                                <div class="picker_deadline_date">
                                    21.12.2016
                                </div>
                                <div class="picker_days_left">
                                    76 days left
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>


                        <div class="line lightest_line"></div>


                        <div class="bubble_section">
                            <div class="month_chooser">
                                <div class="arrow">
                                    <div class="sprite sprite-arrow-calendar-left2x"></div>
                                </div>
                                <div class="month_text">December 2016</div>
                                <div class="arrow">
                                    <div class="sprite sprite-arrow-calendar-right2x"></div>
                                </div>
                            </div>
                        </div>

                        <div class="bubble_section_table">
                            <table>
                                <tr>
                                    <th>
                                        M
                                    </th>
                                    <th>
                                        T
                                    </th>
                                    <th>
                                        W
                                    </th>
                                    <th>
                                        T
                                    </th>
                                    <th>
                                        F
                                    </th>
                                    <th>
                                        S
                                    </th>
                                    <th>
                                        S
                                    </th>
                                </tr>

                                <tr>
                                    <td class="no_date">
                                    </td>
                                    <td class="no_date">
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                1
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                2
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                3
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                4
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                5
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                6
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                7
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                8
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                9
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                10
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                11
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                12
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                13
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                14
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle selected">
                                            <div class="table_cell">
                                                15
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                16
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                17
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                18
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                19
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                20
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                21
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                22
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                23
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                24
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                25
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                26
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                27
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                28
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                29
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                30
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="date_circle">
                                            <div class="table_cell">
                                                31
                                            </div>
                                        </div>
                                    </td>
                                    <td class="no_date">
                                    </td>
                                    <td class="no_date">
                                    </td>
                                </tr>

                            </table>
                        </div>

                    </div>

                    <div class="bubble_section date_save_buttons">
                        <div class="blue_button">Save</div>
                        <div class="blue_link_wrapper">
                            <div class="blue_link">Cancel</div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
