<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="confirm_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">Remove topic</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="confirm_description_wrap">
                    <div class="confirm_description">
                        {{ngDialogData.topic.title}}
                    </div>
                </div>

                <div class="clearer"></div>

            </div>

            <div class="line lightest_line"></div>

            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">
                <div class="lightbox_section">
                    Are you sure you want to remove this topic?
                    <div class="yes_no_buttons">
                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog()">NO</div>
                        </div>
                        <div class="table_cell">
                            <div class="blue_button yes" ng-click="confirm()">YES</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()"></div>

</div>
