<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="GroupCreateSettingsCtrl">

    <div id="lightbox" class="wide_lightbox with_header_menu" ng-class="form.group.id ? 'with_title_description' : ''">

        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" ng-if="!form.group.id" translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_CREATE">Create a group</div>
                    <div class="title" ng-if="form.group.id" translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_EDIT">Edit group settings</div>
                    <div class="title_description" ng-if="group.id">{{group.name}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="createGroupSlider">
                        <div class="tab_button" ng-click="selectTab('settings')" ng-class="tabSelected === 'settings' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.GROUP_CREATE_SETTINGS_TAB_SETTINGS">SETTINGS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('topics')" ng-class="tabSelected === 'topics' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.GROUP_CREATE_SETTINGS_TAB_ADD_TOPICS">ADD TOPICS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('users')" ng-class="tabSelected === 'users' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.GROUP_CREATE_SETTINGS_TAB_INVITE_USERS">INVITE USERS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="line lightest_line"></div>

            <!-- SETTINGS -->
            <div class="lightbox_content settings_section_wrap" ng-if="tabSelected === 'settings'">

                <div class="lightbox_section">

                    <div class="settings_section full_width">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_GROUP_NAME">Group name</div>
                            <div class="setting_description" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_GROUP_NAME_EXP">USE A NAME THAT IS CLEAR AND UNDERSTANDABLE</div>
                            <input id="groupName" cos-disabled="!form.group.canUpdate()" placeholder="{{'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_GROUP_NAME' | translate}}" ng-model="form.group.name" ng-class="{'error_input': errors.name}">
                            <label for="groupName" class="error_label" ng-if="errors.name">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.name}}"></span>
                                </div>
                            </label>
                        </div>
                    </div>

                    <!--<div class="line lightest_line"></div-->
                    <!--div class="settings_section group_image">

                        <div class="settings_cell">
                            <div class="setting_title">
                                Group image
                            </div>
                            <div class="button_holder">
                                <div class="gray_button">Upload another image</div>
                                <div class="blue_link red_text">Remove image</div>
                            </div>
                        </div>
                        <div class="clearer"></div>

                        <div class="settings_cell">
                            <img src='.././imgs/profile_large.jpg')>
                        </div>
                    </div>
                    <div class="line lightest_line"></div-->


                    <div class="line lightest_line" ng-if="group.id"></div>
                    <div class="settings_section" ng-if="group.id">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_LEAVE_GROUP">Leave group</div>
                            <div class="setting_description" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_LEAVE_GROUP_EXP">LEAVING A GROUP WILL RESULT IN GIVING UP ANY POWERS YOU MAY HAVE AS USER IN THAT GROUP</div>
                        </div>

                        <div class="settings_cell">
                            <div class="gray_button" ng-click="doLeaveGroup(group)" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_LEAVE_GROUP">Leave group</div>
                        </div>
                    </div>


                    <div class="line lightest_line" ng-if="form.group.id"></div>
                    <div class="settings_section" ng-if="form.group.id && form.group.canDelete()">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_DELETE_GROUP">Delete group</div>
                            <div class="setting_description" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_DELETE_GROUP_EXP">DELETING A GROUP CAN NOT BE UNDONE. BE SURE TO BE REALLY SURE ABOUT THIS.</div>
                        </div>
                        <div class="settings_cell">
                            <div class="blue_button yes" ng-click="doDeleteGroup(group)" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_DELETE_GROUP">Delete group</div>
                        </div>
                    </div>


                </div>

            </div>

            <!-- ADD TOPICS -->
            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="tabSelected === 'topics'">
                <div class="lightbox_section" ng-if="group.id">
                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="lbl_input_no_margin" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_NEW_TOPIC">Create a new topic</div>
                            <input class="left_input" translate translate-attr-placeholder="MODALS.GROUP_CREATE_SETTINGS_NEW_TOPIC_TITLE" ng-model="form.newMemberTopicTitle" />
                        </div>
                        <div class="settings_cell with_dropdown">
                            <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_NEW_TOPIC_GROUP_RIGHTS">Group permissions</div>
                            <div cos-dropdown class="classic_dropdown groups_settings_dropdown">
                                <div class="dropdown_selection">
                                    <div class="dropdown_text">
                                        {{'TXT_TOPIC_LEVELS_' + form.newMemberTopicLevel | uppercase | translate}}
                                    </div>

                                    <div class="arrow_holder">
                                        <div class="table_cell">
                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                            <div class="v_line"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <div class="dropdown_item" ng-repeat="level in GroupMemberTopic.LEVELS">
                                        <div class="item_name" ng-click="form.newMemberTopicLevel=level">
                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings_cell">
                            <div class="blue_button create_topic_btn" cos-disabled="!form.newMemberTopicTitle" ng-click="addNewGroupMemberTopic(form.newMemberTopicTitle, form.newMemberTopicLevel)" translate="MODALS.GROUP_CREATE_SETTINGS_ADD_CREATE_TOPIC">Create topic</div>
                        </div>
                    </div>
                </div>
                <div class="lightbox_section" ng-if="form.group.canUpdate()">
                    <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_ADD_TOPICS">Add topics searching by title</div>
                    <div cos-dropdown ng-class="{search_with_dropdown : searchResults.topics.length, dropdown_active : searchResults.topics.length}">
                        <typeahead class="searchbox_with_icon_and_text auto-complete" items="searchResults.topics" term="searchStringTopic" search="search(term, 'topic')"
                                   select="addGroupMemberTopic(item)" placeholder="{{'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_SEARCH_TOPIC' | translate}}">
                            <div class="search_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-search-gray-2x"></div>
                                </div>
                            </div>
                            <div class="search_text" ng-click="addGroupMemberTopic(item)">
                                <div class="table_cell blue_link" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD">Press enter to add</div>
                            </div>
                            <div class="search_area_wrap" ng-class="{hidden: !searchResults.topics.length}">
                                <div class="search_dropdown_area">
                                    <div class="search_dropdown_item" typeahead-item="topic" ng-repeat="topic in searchResults.topics">
                                        <div class="table_cell search_item_text">
                                            <b>{{topic.title}}</b>
                                        </div>
                                        <div class="table_cell blue_link">
                                            <span class="submit_link" ng-click="addGroupMemberTopic(topic)" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD">Press enter or click to add</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </typeahead>
                    </div>
                </div>
                <div class="lightbox_section double_row_list small_header" ng-if="memberTopics.length">
                    <div class="category_title">
                        <div class="table_cell">
                            Order by:
                            <div class="black_link" ng-click="doOrderTopics('title')">
                                <span translate="MODALS.GROUP_CREATE_SETTINGS_TH_TITLE">Title A-Z</span>
                                <div class="sprite sprite-icon-list-ordering2x" ng-if="topicList.searchOrderBy.property === 'title' || topicList.searchOrderBy.property === '-title'"
                                     ng-class="{desc : topicList.searchOrderBy.property === '-title'}"></div>
                            </div>
                            <div class="black_link" ng-click="doOrderTopics('members.users.count')">
                                <span translate="MODALS.GROUP_CREATE_SETTINGS_TH_USERS">Users</span>
                                <div class="sprite sprite-icon-list-ordering2x"
                                     ng-if="topicList.searchOrderBy.property === 'members.users.count' || topicList.searchOrderBy.property === '-members.users.count'"
                                     ng-class="{desc : topicList.searchOrderBy.property === '-members.users.count'}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="double_row_item" ng-repeat="topic in memberTopics | orderBy: topicList.searchOrderBy.property">
                        <div class="blue_link">
                            {{topic.title}}
                        </div>
                        <div class="double_row_footer">
                            <div class="left" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_TOPIC_USERS"  translate-values="{count: topic.members.users.countTotal}">Topic users: 99</div>
                            <div class="right">
                                <span class="dropdown_description" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_GROUP_RIGHTS">Group right over topic:</span>

                                <div class="btn_wrap recycle_bin white_bg">
                                    <div class="btn">
                                        <div class="table_cell" ng-click="removeGroupMemberTopic(topic)">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-voted-check2x"></div>
                                        </div>
                                    </div>
                                </div>

                                <div cos-dropdown class="classic_dropdown">
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">
                                            {{'TXT_TOPIC_LEVELS_' + topic.permission.level | uppercase | translate}}
                                        </div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-repeat="level in GroupMemberTopic.LEVELS">
                                            <div class="item_name" ng-click="updateGroupMemberTopicLevel(topic, level)">
                                                {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearer"></div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- INVITE USERS -->
            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="tabSelected === 'users'">

                <div class="lightbox_section" ng-if="form.group.canUpdate()">

                    <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_INVITE_USERS">Invite users via their name or e-mail address</div>

                    <div class="searchbox_with_icon_and_text only_text">
                        <div cos-dropdown ng-class="{search_with_dropdown : searchResults.users.length, dropdown_active : searchResults.users.length}">
                            <typeahead id="userSearch" class="auto-complete" items="searchResults.users" term="searchStringUser" search="search(term, 'user')"
                                       select="addGroupMemberUser(item)" placeholder="{{'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_SEARCH_BY_NAME_EMAIL' | translate}}">
                                <div class="search_area_wrap">
                                    <div class="search_dropdown_area" ng-class="{hidden: !searchResults.users.length}">
                                        <div class="search_dropdown_item" typeahead-item="user" ng-repeat="user in searchResults.users">
                                            <div class="table_cell search_item_text">
                                                <b>{{user.name}}</b> {{user.company}}
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addGroupMemberUser(user)" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD">Press enter or click to add</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="search_text">
                                    <div class="table_cell blue_link" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD">Press enter to add</div>
                                </div>

                            </typeahead>

                        </div>
                    </div>

                </div>

                <div class="lightbox_section double_row_list user_list" ng-if="members.length">
                    <div>
                        <table>
                            <tr>
                                <td><span translate="MODALS.GROUP_CREATE_SETTINGS_LBL_CHANGE_ALL">Change all</span><div class="mobile_extra_info">
                                    <div class="left">

                                        <div cos-dropdown class="classic_dropdown">

                                            <div class="dropdown_selection">
                                                <div class="dropdown_text">
                                                    {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                                                </div>

                                                <div class="arrow_holder">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                        <div class="v_line"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dropdown">
                                                <div  class="dropdown_item" ng-repeat="level in GroupMemberUser.LEVELS">
                                                    <div class="item_name" ng-click="updateGroupLevel(level)">
                                                        {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="right">
                                        <div class="btn_wrap recycle_bin white_bg">
                                            <div class="btn" ng-click="removeAllMembers()">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                                <td>
                                    <div cos-dropdown class="classic_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div  class="dropdown_item" ng-repeat="level in GroupMemberUser.LEVELS">
                                                <div ng-if="level !== GroupMemberUser.LEVELS.none" class="item_name" ng-click="updateGroupLevel(level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="removeAllMembers()">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="category_title" ng-repeat-start="title in memberGroups" ng-if="itemsExist(title)">
                            <div class="table_cell">
                                <span>{{"MODALS.TOPIC_SETTINGS_RESULT_GROUP_" + title | uppercase | translate}}</span>
                            </div>
                        </div>

                        <table  ng-repeat-end ng-if="itemsExist(title)">
                            <!--table  ng-repeat-end ng-if="itemsExist(title)"-->
                                <tr ng-repeat="(memberKey, member) in members" ng-if="isOnPage($index, membersPage) && isInGroup(member, title)">
                            <!--tr ng-repeat="(memberKey, member) in members"-->
                                <td>
                                    <div class="profile_image_wrapper dark">
                                        <!--div class="profile_moon sprite"></div-->
                                        <div class="account_picture">
                                            <img ng-if="member.imageUrl" ng-src="{{member.imageUrl}}">
                                            <div class="profile_image_filler">
                                                <div class="table_cell" cos-initials="member.name">
                                                    ML
                                                </div>
                                                <div class="profile_circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="name_wrap">
                                        <div class="table_cell">
                                            <div class="blue_link" ng-click="doRemoveMemberUser(member)">{{member.name}}</div>
                                            <div class="via">{{member.company}}</div>
                                        </div>
                                    </div>

                                    <div class="mobile_extra_info">
                                        <div class="left">
                                            <div cos-dropdown class="classic_dropdown">

                                                <div class="dropdown_selection">
                                                    <div class="dropdown_text">
                                                        {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                                    </div>

                                                    <div class="arrow_holder">
                                                        <div class="table_cell">
                                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                            <div class="v_line"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="dropdown">
                                                    <div class="dropdown_item" ng-repeat="level in GroupMemberUser.LEVELS">
                                                        <div class="item_name" ng-click="updateGroupMemberUserLevel(member, level)">
                                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="right">
                                            <div class="btn_wrap recycle_bin white_bg">
                                                <div class="btn">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div cos-dropdown class="classic_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div class="dropdown_item" ng-repeat="level in GroupMemberUser.LEVELS">
                                                <div class="item_name" ng-click="updateGroupMemberUserLevel(member, level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="doRemoveMemberUser(member)">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <div class="pagination" cos-pagination select="loadPage" total-pages="totalPages(members)" page="membersPage"></div>
                    </div>


                </div>

            </div>

            <div class="lightbox_footer">

                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-if="!members.length && form.group.canUpdate()" ng-click="doSaveGroup()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_SAVE_GROUP">Save group</div>
                    <div class="blue_button" ng-if="members.length && form.group.canUpdate()" ng-click="doSaveGroup()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_SAVE_GROUP_AND_INVITE">Save group and send invite</div>
                </div>
            </div>
        </div>

    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()"></div>

</div>
