<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span>Input tests</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div id="lightbox_content">
                <div id="login_lightbox" ng-controller="LoginFormCtrl">
                    <div class="line lightest_line"></div>
                    <div class="lightbox_section">
                        <form name="inputTest">
                            <input name="email" type="email" placeholder="Email *">
                            <input name="tel" type="tel" placeholder="Phone number *">
                            <input name="number" type="number" placeholder="Number *">
                            <input name="date" type="date" placeholder="Date *">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
