<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lighbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span>Log in / Register</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div id="lightbox_content">
                <div id="login_lightbox" ng-controller="LoginFormCtrl">
                    <div class="line lightest_line"></div>
                    <div class="lightbox_section">

                        <div id="facebook" ng-click="doLoginPartner(LOGIN_PARTNERS.facebook)" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-facebook2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell">
                                    Login with Facebook account
                                </div>
                            </div>
                        </div>

                        <div id="google" ng-click="doLoginPartner(LOGIN_PARTNERS.google)" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-google2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell">
                                    Login with Google account
                                </div>
                            </div>
                        </div>

                        <div id="id_card" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-id2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell">
                                    Login with ID-Card / Mobiil-ID
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="loginForm">
                            <!-- Do not focus on mobile devices, otherwise scrolls past social login options and shows keyboard -->
                            <input id="email" ng-model="form.email" placeholder="E-mail address" focus-if="{{wWidth > 1024}}" ng-class="{'error_input': errors.email}" required>
                            <label for="email" class="error_label" ng-if="errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.email}}"></span>
                                </div>
                            </label>
                            <input id="password" ng-model="form.password" type="password" placeholder="Password" ng-class="{'error_input': errors.password}" required>
                            <label for="password" class="error_label" ng-if="errors.password">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.password}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="doLogin()" ng-disabled="loginForm.$invalid" class="blue_button">Log in / Register</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="">Forgot password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
