<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span translate="MODALS.LOGIN_HEADING">Log in / Register to Citizen OS</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox" ng-controller="LoginFormCtrl">
                    <div class="line lightest_line"></div>
                    <div class="lightbox_section" ng-if="authMethodsAvailable.facebook || authMethodsAvailable.google || authMethodsAvailable.mobiilId || authMethodsAvailable.idCard || authMethodsAvailable.smartId">

                        <div ng-if="authMethodsAvailable.facebook" id="facebook" ng-click="doLoginPartner(LOGIN_PARTNERS.facebook)" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-facebook2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.LOGIN_BTN_LOGIN_FACEBOOK">Login with Facebook account</div>
                            </div>
                        </div>

                        <div ng-if="authMethodsAvailable.google" id="google" ng-click="doLoginPartner(LOGIN_PARTNERS.google)" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-google2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.LOGIN_BTN_LOGIN_GOOGLE">Login with Google account</div>
                            </div>
                        </div>

                        <div ng-if="authMethodsAvailable.mobiilId || authMethodsAvailable.idCard" id="id_card" ng-click="doLoginEsteId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-id2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.LOGIN_BTN_LOGIN_ESTEID">Login with ID-Card / Mobiil-ID</div>
                            </div>
                        </div>

                        <div ng-if="authMethodsAvailable.smartId" id="smart_id" ng-click="doLoginSmartId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-smartid2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.LOGIN_BTN_LOGIN_SMARTID">Login with Smart-ID</div>
                            </div>
                        </div>

                    </div>

                    <div ng-if="authMethodsAvailable.citizenos">
                        <div class="line lightest_line"></div>

                        <div class="lightbox_section">
                            <form name="loginForm">
                                <!-- Do not focus on mobile devices, otherwise scrolls past social login options and shows keyboard -->
                                <input id="email" ng-model="form.email" type="email" placeholder="{{'MODALS.LOGIN_PLACEHOLDER_EMAIL' | translate}}" focus-if="{{wWidth > 1024}}"
                                       ng-class="{'error_input': errors.email}" maxlength="254" required>
                                <label for="email" class="error_label" ng-if="errors.email">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{errors.email}}"></span>
                                    </div>
                                </label>
                                <input id="password" ng-model="form.password" type="password" placeholder="{{'MODALS.LOGIN_PLACEHOLDER_PASSWORD' | translate}}"
                                       ng-class="{'error_input': errors.password}" maxlength="64" required>
                                <label for="password" class="error_label" ng-if="errors.password">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                                        <span translate="{{errors.password}}"></span>
                                    </div>
                                </label>
                                <button type="submit" ng-click="doLogin()" cos-disabled="loginForm.$invalid" class="blue_button" translate="MODALS.LOGIN_BTN_LOGIN_REGISTER">Log in / Register</button>
                                <div class="link_section">
                                    <a class="lightbox_link" ng-click="doResetPassword()" href="" translate="MODALS.LOGIN_LNK_FORGOT_PASSWORD">Forgot password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
