<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="my_account_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span translate="MODALS.MY_ACCOUNT_HEADING">My account</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="myAccountForm" ng-controller="MyAccountFormCtrl">
                        <div id="image_edit_section">
                            <div class="profile_image_wrapper dark big">
                                <!--div class="profile_moon sprite sprite-icon-certified-google-2-x2x"></div-->
                                <div class="account_picture">
                                    <!-- NB Remember to use image that has 2x size, meaning 160x160px for this <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">-->
                                    <img ng-if="form.imageUrl" ng-src="{{form.imageUrl}}">
                                    <input type="file" id="profileImage" name="image" onchange="angular.element(this).scope().switchImage(this)" />
                                    <div class="profile_image_filler" ng-if="!form.imageUrl">
                                        <div class="table_cell" cos-initials="form.name">
                                            ML
                                        </div>
                                        <div class="profile_circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="edit_image_properties">
                                <div class="blue_link" translate="" ng-click="uploadImage()">Upload new</div> |
                                <div class="blue_link" translate="" ng-click="deleteProfileImage()">Delete</div>
                                <br>
                                <span translate="">Max 500kb jpg, gif or png</span>
                            </div>
                        </div>

                            <input id="name" ng-model="form.name" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_NAME' | translate}}" focus-if="{{wWidth > 1024}}" ng-class="{'error_input': errors.name}" maxlength="255" required>
                            <label for="name" class="error_label" ng-if="errors.name">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.name}}"></span>
                                </div>
                            </label>
                            <input id="company" ng-model="form.company" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_COMPANY' | translate}}" ng-class="{'error_input': errors.company}" maxlength="255">
                            <label for="company" class="error_label" ng-if="errors.company">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.company}}"></span>
                                </div>
                            </label>
                            <input id="email" ng-model="form.email" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_EMAIL' | translate}}" ng-class="{'error_input': errors.email}"  maxlength="254" required>
                            <label for="email" class="error_label" ng-if="errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.email}}"></span>
                                </div>
                            </label>
                            <input id="password" ng-model="form.password" type="password" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_PASSWORD' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64" required>
                            <label for="password" class="error_label" ng-if="errors.password">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.password}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="doUpdateProfile()" ng-disabled="myAccountForm.$invalid" class="blue_button" translate="">Save changes</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="" ng-click="closeThisDialog()" translate="">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
