<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="my_account_lightbox wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">
            <form name="myAccountForm" ng-controller="MyAccountFormCtrl">
            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.MY_ACCOUNT_HEADING">My account</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider">
                        <div class="tab_button" ng-click="selectTab('profile')" ng-class="tabSelected === 'profile' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.MY_ACCOUNT_TAB_PROFILE">PROFILE</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>

                        <div class="tab_button" ng-click="selectTab('preferences')" ng-class="tabSelected === 'preferences' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.MY_ACCOUNT_TAB_PREFERENCES">PREFERENCES</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>

                        <div class="tab_button" ng-click="selectTab('account')" ng-class="tabSelected === 'account' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.MY_ACCOUNT_TAB_ACCOUNT">ACCOUNT</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="lightbox_content" ng-if="tabSelected === 'profile'">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">

                        <div id="image_edit_section">
                            <div class="profile_image_wrapper dark big">
                                <!--div class="profile_moon sprite sprite-icon-certified-google-2-x2x"></div-->
                                <div class="account_picture">
                                    <!-- NB Remember to use image that has 2x size, meaning 160x160px for this <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">-->
                                    <img ng-if="form.imageUrl" ng-src="{{form.imageUrl}}">
                                    <input type="file" id="profileImage" name="image" cos-file-upload select="switchImage" />
                                    <div class="profile_image_filler" ng-if="!form.imageUrl">
                                        <div class="table_cell" cos-initials="form.name">
                                            ML
                                        </div>
                                        <div class="profile_circle"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="edit_image_properties">
                                <div class="blue_link" ng-click="uploadImage()" translate="MODALS.MY_ACCOUNT_UPLOAD_AVATAR">Upload new</div> |
                                <div class="blue_link" ng-click="deleteProfileImage()" translate="MODALS.MY_ACCOUNT_DELETE_AVATAR">Delete</div>
                                <br>
                                <span translate="MODALS.MY_ACCOUNT_AVATAR_RESTRICTIONS">Max 500kb jpg, gif or png</span>
                            </div>
                        </div>

                        <div class="profile_line v_line lightest_line"></div>

                        <div id="profile_edit_section">
                            <input id="name" ng-model="form.name" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_NAME' | translate}}" focus-if="{{wWidth > 1024}}" ng-class="{'error_input': errors.name}" maxlength="255" required>
                            <label for="name" class="error_label" ng-if="errors.name">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.name}}"></span>
                                </div>
                            </label>
                            <input id="company" ng-model="form.company" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_COMPANY' | translate}}" ng-class="{'error_input': errors.company}" maxlength="255">
                            <label for="company" class="error_label" ng-if="errors.company">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.company}}"></span>
                                </div>
                            </label>
                            <input id="email" ng-model="form.email" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_EMAIL' | translate}}" ng-class="{'error_input': errors.email}"  maxlength="254" required>
                            <label for="email" class="error_label" ng-if="errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.email}}"></span>
                                </div>
                            </label>

                        </div>
                    </div>

                </div>
            </div>
            <div class="lightbox_content" ng-if="tabSelected === 'preferences'">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <div class="settings_section">
                            <div class="settings_cell">
                                <div class="setting_title" translate="MODALS.MY_ACCOUNT_LBL_SHOW_IN_SEARCH">Make your topic private</div>
                                <div class="setting_description" translate="MODALS.MY_ACCOUNT_LBL_SHOW_IN_SEARCH_DESCRIPTION">ONLY PEOPLE YOU INVITE WILL BE ABLE TO JOIN THE TOPIC</div>
                            </div>

                            <div class="settings_cell">
                                <div cos-toggle cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"
                                        ng-model="form.preferences.showInSearch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lightbox_content" ng-if="tabSelected === 'account'">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <div id="account_edit_section">
                            <input id="password" ng-model="form.password" type="password" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_NEW_PASSWORD' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64">
                            <input id="password_confirm" ng-model="form.passwordConfirm" type="password" placeholder="{{'MODALS.MY_ACCOUNT_PLACEHOLDER_PASSWORD_CONFIRM' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64">
                            <label for="password" class="error_label" ng-if="errors.password">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.password}}"></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lightbox_footer">
                <div class="line lightest_line"></div>
                <div class="table_cell">
                    <span class="delete_account" ng-click="doDeleteAccount()">
                        <span class="sprite sprite-mytopics-icon-deletetopic2x"></span>
                        <span class="item_text remove blue_link ng-scope" translate="MODALS.MY_ACCOUNT_LNK_DELETE">Delete account</span>
                    </span>
                </div>
                <div class="table_cell">
                    <div class="blue_button_wrap">
                        <div class="blue_button" ng-click="doUpdateProfile()" ng-disabled="myAccountForm.$invalid" class="blue_button"
                            translate="MODALS.MY_ACCOUNT_BTN_SAVE">Save changes
                        </div>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
