<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="confirm_lightbox">
        <div id="lightbox_wrap">
            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="{{ngDialogData.heading}}">Invitation expired DEFAULT</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>
            </div>

            <div class="line lightest_line"></div>

            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">
                <div class="lightbox_section">
                    <span translate="{{ngDialogData.content}}">We’re sorry! This invitation has expired in the meantime. We apologize for the inconvenience. You can re-request the access to this topic.</span>
                </div>
            </div>

            <div class="line lightest_line"></div>

            <div id="lightbox_footer">
                <div class="table_cell">
                    <div class="blue_button" ng-click="closeThisDialog($event)" translate="BTN_CLOSE">Close</div>
                </div>
            </div>
        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog($event)"></div>

</div>
