<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span>Forgot password?</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div id="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="passwordForgotForm" ng-controller="PasswordForgotFormCtrl" novalidate>
                            <input id="email" ng-model="form.email" placeholder="E-mail address *" ng-class="{'error_input': errors.email}" required>
                            <label for="email" class="error_label" ng-if="errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.email}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="doPasswordReset()" ng-disabled="passwordForgotForm.$invalid" class="blue_button">Send reset code</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="" ng-click="closeThisDialog()">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
