<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span translate="MODALS.PASSWORD_RESET_HEADING">Reset password</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="passwordResetForm" ng-controller="PasswordResetFormCtrl" novalidate>
                            <span translate="MODALS.PASSWORD_RESET_LBL_EMAIL">Account e-mail:</span> <b>{{passwordResetEmail}}</b>
                            <input id="password" ng-model="form.password" type="password" placeholder="{{'MODALS.PASSWORD_RESET_PLACEHOLDER_PASSWORD' | translate}}" ng-class="{'error_input': errors.password}" required>
                            <input id="password_confirm" ng-model="form.passwordConfirm" type="password" placeholder="{{'MODALS.PASSWORD_RESET_PLACEHOLDER_PASSWORD_CONFIRM' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64">
                            <label for="password" class="error_label" ng-if="errors.password">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.password}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="doPasswordReset()" ng-disabled="passwordResetForm.$invalid" class="blue_button" translate="MODALS.PASSWORD_RESET_BTN_RESET_PASSWORD">Reset your password</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="" ng-click="closeThisDialog()" translate="MODALS.PASSWORD_RESET_LNK_CANCEL">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
