<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_TITLE">Set topic notifications</div>
                    <div class="title_description" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_TITLE_DESCRIPTION">Set topic notifications</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider">
                        <div class="tab_button" ng-click="selectTab('general')" ng-class="tabSelected === 'general' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_TAB_GENERAL">GENERAL</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <!--div class="tab_button" ng-click="selectTab('channels')" ng-class="tabSelected === 'channels' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_TAB_CHANNELS">CHANNELS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div-->
                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>

            <!-- SETTINGS -->
            <div class="lightbox_content settings_section_wrap" ng-if="tabSelected === 'general'">

                <div class="lightbox_section">

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_NOTIFICATIONS">Topic notifications</div>
                        </div>
                        {{setting.allowNotifications}}
                        <div class="settings_cell">
                            <div cos-toggle cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate" ng-model="settings.allowNotifications" ></div>
                        </div>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="settings_section" >
                        <div class="settings_cell no_padding">
                            <div class="setting_title" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_NOTIFY_ME_ABOUT">Notify me about:</div>
                            <table>
                                <tr>
                                    <td>
                                        <label class="checkcontainer" >
                                            <input type="checkbox" ng-disabled="!settings.allowNotifications" class="checkbox" ng-checked="allChecked()" ng-click="toggleAllNotifications()">
                                            <span class="option_checkbox"></span>
                                            <span>All actions in this topic</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-disabled="!settings.allowNotifications" ng-checked="settings.preferences.updates" ng-click="settings.preferences.updates = !settings.preferences.updates">
                                            <span class="option_checkbox"></span>
                                            <span>Topic updates (content, status, categories etc.)</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-disabled="!settings.allowNotifications" ng-checked="settings.preferences.discussion" ng-click="settings.preferences.discussion = !settings.preferences.discussion">
                                            <span class="option_checkbox"></span>
                                            <span>Topic discussion (arguments ,replies)</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-disabled="!settings.allowNotifications" ng-checked="settings.preferences.reports" ng-click="settings.preferences.reports = !settings.preferences.reports">
                                            <span class="option_checkbox"></span>
                                            <span>Reports</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-disabled="!settings.allowNotifications" ng-checked="settings.preferences.events" ng-click="settings.preferences.events = !settings.preferences.events">
                                            <span class="option_checkbox"></span>
                                            <span>Follow up events</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <!-- CATEGORIES -->
            <div class="lightbox_content settings_section_wrap" ng-if="tabSelected === 'channels'">
                <div class="lightbox_section">
                    <div class="settings_section" >
                        <div class="settings_cell no_padding">
                            <div class="setting_title" translate="MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_NOTIFY_ME_IN_CHANNELS">Notify me in channels:</div>
                            <table>
                                <tr>
                                    <td>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-checked="allChecked()" ng-click="toggleAllNotifications()">
                                            <span class="option_checkbox"></span>
                                            <span>All channels</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-checked="notifications.updates" ng-click="notifications.updates = !notifications.updates">
                                            <span class="option_checkbox"></span>
                                            <span>Push (web and mobile)</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-checked="notifications.discussion" ng-click="notifications.discussion = !notifications.discussion">
                                            <span class="option_checkbox"></span>
                                            <span>Email</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-checked="notifications.reports" ng-click="notifications.reports = !notifications.reports">
                                            <span class="option_checkbox"></span>
                                            <span>SMS</span>
                                        </label>
                                        <label class="checkcontainer">
                                            <input type="checkbox" class="checkbox" ng-checked="notifications.events" ng-click="notifications.events = !notifications.events">
                                            <span class="option_checkbox"></span>
                                            <span>Slack</span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lightbox_footer">
                <div class="line lightest_line"></div>
                <div class="lightbox_section">
                    <div class="footer_button_wrap right">
                        <div class="blue_link" translate="MODALS.ADD_EID_LNK_BACK" ng-click="closeThisDialog()">Back</div>
                        <div class="blue_button" ng-click="doSaveSettings()" translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC">Save topic</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()">
    </div>

</div>
