<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="GroupCreateCtrl">
    <div id="lightbox" class="date_picker_wrap set_number">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">Minimum votes</div>
                        
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>


            </div>
            
            <div class="line lightest_line"></div>


            <!-- CONFIRM CONTENT -->
            <div id="lightbox_content">

                <div class="lightbox_section picker_content">


                    <div class="description_wrap">
                        <div class="description">
                            The amount of votes needed before successful closure.
                        </div>
                        
                        <div class="toggle_cell">
                            <div class="toggle_widget" ng-click="app.vote_toggle = !app.vote_toggle" ng-class="app.vote_toggle ? 'no' : 'yes'">
                                <div class="toggle_circle"></div>
                            </div>
                        </div>

                    </div>

                    <div class="input_wrap">
                        <input ng-disabled="!app.vote_toggle" value="1000">
                    </div>

                    
                    <div class="bubble_section date_save_buttons">
                        <div class="blue_button">Save</div>
                        <div class="blue_link_wrapper">
                            <div class="blue_link">Cancel</div>
                        </div>
                    </div>
                </div>  

            

            </div>


        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
