<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <span translate="MODALS.SIGN_UP_HEADING">Register</span>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox">
                    <div class="line lightest_line"></div>

                    <div class="lightbox_section">
                        <form name="signUpForm" ng-controller="SignUpFormCtrl">
                            <input id="name" ng-model="form.name" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_NAME' | translate}}" focus-if="{{wWidth > 1024}}" ng-class="{'error_input': errors.name}"
                                   maxlength="255" required>
                            <label for="name" class="error_label" ng-if="errors.name">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.name}}"></span>
                                </div>
                            </label>
                            <input id="company" ng-model="form.company" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_COMPANY' | translate}}" ng-class="{'error_input': errors.company}" maxlength="255">
                            <label for="company" class="error_label" ng-if="errors.company">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.company}}"></span>
                                </div>
                            </label>
                            <input id="email" ng-model="form.email" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_EMAIL' | translate}}" ng-class="{'error_input': errors.email}" maxlength="254" required>
                            <label for="email" class="error_label" ng-if="errors.email">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.email}}"></span>
                                </div>
                            </label>
                            <input id="password" ng-model="form.password" type="password" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_PASSWORD' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64" required>
                            <input id="password_confirm" ng-model="form.passwordConfirm" type="password" placeholder="{{'MODALS.SIGN_UP_PLACEHOLDER_PASSWORD_CONFIRM' | translate}}" ng-class="{'error_input': errors.password}" maxlength="64">
                            <label for="password_confirm" class="error_label" ng-if="errors.password">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.password}}"></span>
                                </div>
                            </label>
                            <button type="submit" ng-click="doSignUp()" ng-disabled="signUpForm.$invalid" class="blue_button" translate="MODALS.SIGN_UP_BTN_SAVE">Register</button>
                            <div class="link_section">
                                <a class="lightbox_link" href="" ng-click="closeThisDialog()" translate="MODALS.SIGN_UP_LNK_CANCEL">Cancel</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
