<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="TopicAttachmentsCtrl">
    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_ATTACHMENTS_TITLE">Add/edit files for</div>
                    <div class="title_description">{{topic.title}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

            </div>


            <div class="line lightest_line"></div>

            <!-- INVITE USERS -->
            <div class="lightbox_content padding_bottom_zero">

                <div class="table file_upload_table">
                    <div class="table_row">
                        <div class="file_add_cell" ng-if="app.config.attachments.upload">
                            <input id="addFile" type="file" name="lisa fail" cos-file-model select="selectFile" multiple="true"/>
                            <div class="file_add_btn_wrap" ng-click="uploadFile()">
                                <div class="file_add_btn">
                                    <div class="sprite sprite-topic-file-upload2x"></div>
                                </div>
                                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_COMPUTER">Computer</div>
                            </div>
                        </div>
                        <div class="line_files_sepparator" ng-if="app.config.attachments.upload"></div>
                        <div class="file_add_cell" ng-if="app.config.attachments.dropbox">
                            <div class="file_add_btn_wrap" ng-click="dropboxSelect()">
                                <div class="file_add_btn">
                                    <div class="sprite sprite-topic-file-dropbox2x"></div>
                                </div>
                                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_DROPBOX">Dropbox</div>
                            </div>
                        </div>
                        <div class="line_files_sepparator" ng-if="app.config.attachments.dropbox"></div>
                        <div class="file_add_cell" ng-if="app.config.attachments.googleDrive">
                            <div class="file_add_btn_wrap" ng-click="googleDriveSelect()">
                                <div class="file_add_btn">
                                    <div class="sprite sprite-topic-file-googledrive2x"></div>
                                </div>
                                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_GOOGLE_DRIVE">Google Drive</div>
                            </div>
                        </div>
                        <div class="line_files_sepparator" ng-if="app.config.attachments.googleDrive"></div>
                        <div class="file_add_cell" ng-if="app.config.attachments.oneDrive">
                            <div class="file_add_btn_wrap" ng-click="oneDriveSelect();">
                                <div class="file_add_btn">
                                    <div class="sprite sprite-topic-file-onedrive2x"></div>
                                </div>
                                <div class="file_add_btn_description" translate="MODALS.TOPIC_ATTACHMENTS_LBL_ONEDRIVE">OneDrive</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="lightbox_section double_row_list user_list" ng-if="form.files.length">

                    <div>

                        <div class="category_title">
                            <div class="table_cell" translate="MODALS.TOPIC_ATTACHMENTS_TITLE_FILES">
                                Files
                            </div>
                        </div>

                        <table>

                            <tr ng-repeat="(key,file) in form.files">
                                <td>
                                    <div class="name_wrap file_name">
                                        <div class="table_cell">
                                            <div ng-if="!file.editMode" class="blue_link">{{file.name}}</div>
                                            <input ng-if="file.editMode" type="text" ng-model="file.name"/>
                                        </div>
                                    </div>

                                    <div class="mobile_extra_info">
                                        <div class="left">
                                            <div class="name_wrap">
                                                <div class="table_cell">
                                                    <div ng-if="!file.editMode" class="blue_link">{{file.name}}</div>
                                                    <input ng-if="file.editMode" type="text" ng-model="file.name"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="btn_wrap recycle_bin white_bg">
                                                <div class="btn" ng-click="deleteAttachment(key, file)">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn_wrap edit_btn" ng-click="editAttachment(file)">
                                                <div class="btn">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-icon-edit2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="file_buttons">
                                    <div class="btn_wrap edit_btn" ng-click="editAttachment(file)">
                                        <div class="btn">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-icon-edit2x"></div>
                                                <div class="sprite mobile_fix sprite-icon-edit2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="deleteAttachment(key, file)">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>


                </div>

            </div>

             <!-- MOBILE SAVE BUTTON -->
            <div ng-if="wWidth <= 560 && topic.canEdit()" class="blue_button_wrap mobile">
                <div class="blue_button" cos-disabled="saveInProgress" ng-click="doSaveFiles()" translate="MODALS.TOPIC_ATTACHMENTS_SAVE_ATTACHMENTS">Save attachments</div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()">
    </div>

</div>
