<!-- LIGHTBOX SKELETON -->
<!--FIXME: Rename the template after proper path naming has been agreed -->
<div id="root_lightbox" class="full_screen" ng-controller="TopicInviteFormCtrl">
    <div id="lightbox" class="delete_comment">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="">Topic invitation</div><!--FIXME-->
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

            </div>

            <div class="line lightest_line"></div>

            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">


                <div class="lightbox_section">
                    You've been invited by <b>{{invite.creator.name}}</b> to: <!--FIXME - profile and styles and translation-->
                    <h2>{{invite.topic.title}}</h2><!--FIXME: styles-->
                </div>
                <div class="lightbox_section">
                    <div class="yes_no_buttons">
                        <div class="table_cell">
                            <div class="blue_button" ng-click="doAccept()" translate="">Accept invitation</div><!--FIXME translate-->
                        </div>
                        <div class="table_cell">
                            Your topic rights: <b>{{invite.level}}</b> <!--FIXME translate-->
                        </div>
                    </div>
                </div>
                <div class="line lightest_line"></div>

                <div class="lightbox_section">
                    <span translate="">You can also:</span>
                    <ul>
                        <li><a href="#">Log in or register to Citizen OS</a></li><!--FIXME action, style and translate-->
                        <li><a href="#">Learn more about Citizen OS if you're new!</a></li><!--FIXME action, style and translate-->
                    </ul>
                </div>

            </div>


        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
