<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="TopicSettingsCtrl">

    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="VIEWS.TOPICS_TOPICID.NAV_LNK_SETTINGS"></div>
                    <div class="title_description">{{form.topic.title}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider">
                        <div class="tab_button" ng-click="selectTab('settings')" ng-class="tabSelected === 'settings' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_SETTINGS">SETTINGS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('categories')" ng-class="tabSelected === 'categories' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_CATEGORIES">CATEGORIES</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('invite')" ng-class="tabSelected === 'invite' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_INVITE">INVITE</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('share')" ng-class="tabSelected === 'share' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_SETTINGS_TAB_SHARE">SHARE</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>

            <!-- SETTINGS -->
            <div class="lightbox_content settings_section_wrap" ng-if="tabSelected === 'settings'">


                <div class="lightbox_section">


                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE">Make your topic private</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_MAKE_PRIVATE_EXT">ONLY PEOPLE YOU INVITE WILL BE ABLE TO JOIN THE TOPIC</div>
                        </div>

                        <div class="settings_cell">
                            <div cos-disabled="!topic.canEdit()" cos-toggle cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"
                                 ng-value="Topic.VISIBILITY.private" off-value="Topic.VISIBILITY.public" ng-model="form.topic.visibility"></div>
                        </div>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG">Hashtag</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_HASHTAG_EXT">USE THIS HASHTAG IN SOCIAL MEDIA AND THE MENTIONS WILL BE SHOWN BELOW YOUR TOPIC</div>
                        </div>
                        <div class="settings_cell hashtag_cell">
                            <div class="recycle_bin_wrap" cos-disabled="!topic.canEdit()">
                                <div ng-click="doDeleteHashtag()" class="btn_wrap recycle_bin">
                                    <div class="btn">
                                        <div class="table_cell disabled_area">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input id="hashtag" cos-disabled="!topic.canEdit()" value="#cos_hipsters" ng-model="form.topic.hashtag" ng-change="checkHashtag()"
                                   placeholder="{{'MODALS.TOPIC_SETTINGS_PLACEHOLDER_HASHTAG' | translate}}" ng-class="{'error_input': errors.hashtag}">
                            <div class="recycle_bin_wrap wrap_mobile" cos-disabled="!topic.canEdit()">
                                <div ng-click="doDeleteHashtag()" class="btn_wrap recycle_bin">
                                    <div class="btn">
                                        <div class="table_cell disabled_area">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label for="hashtag" class="error_label" ng-if="errors.hashtag">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.hashtag}}"></span>
                                </div>
                            </label>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>

                    <div class="settings_section" ng-if="topic.canSendToFollowUp()">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE">Deadline</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DEADLINE_EXT">WHEN THE DEADLINE IS REACHED, THE TOPIC WILL BE CLOSED</div>
                        </div>
                        <div class="settings_cell text-right">
                            <span class="bold">{{form.topic.vote.endsAt | amDateFormat:'L'}}</span>
                        </div>
                        <div class="settings_cell">
                            <div cos-disabled="!topic.canEdit()" class="gray_button edit_deadline_button" cos-modal-datepicker ng-model="form.topic.vote.endsAt" cos-modal-on-save="doEditVoteDeadline" cos-modal-title="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_TITLE'" cos-modal-description="'MODALS.TOPIC_SETTINGS_MODAL_DEADLINE_DESCRIPTION'"><span translate="MODALS.TOPIC_SETTINGS_BTN_EDIT_DEADLINE">Edit deadline</span></div>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC">Leave topic</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_LEAVE_TOPIC_EXT">LEAVING A TOPIC WILL RESULT IN GIVING UP ANY POWERS YOU MAY HAVE AS USER IN THAT
                                TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div cos-disabled="!topic.canLeave()" class="gray_button" ng-click="doLeaveTopic(topic)" translate="MODALS.TOPIC_SETTINGS_BTN_LEAVE_TOPIC">Leave topic</div>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC">Delete topic</div>
                            <div class="setting_description" translate="MODALS.TOPIC_SETTINGS_LBL_DELETE_TOPIC_EXT">DELETING A TOPIC CAN NOT BE UNDONE. BE SURE TO BE REALLY SURE ABOUT THIS.</div>
                        </div>

                        <div class="settings_cell">
                            <div cos-disabled="!topic.canDelete()" class="blue_button yes" ng-click="doDeleteTopic(topic)" translate="MODALS.TOPIC_SETTINGS_BTN_DELETE_TOPIC">Delete topic</div>
                        </div>
                    </div>

                </div>

            </div>


            <!-- CATEGORIES -->
            <div class="lightbox_content categories_section_wrap" ng-if="tabSelected === 'categories'">
                <div class="lightbox_section">
                    <div class="tip" translate="MODALS.TOPIC_SETTINGS_TXT_ASSIGN_CATEGORIES">Assign up to 3 categories</div>
                    <div class="selected_categories">
                        <div class="category_wrap" ng-repeat="topicCategory in form.topic.categories" cos-disabled="!topic.canEdit()" ng-click="removeTopicCategory(topicCategory)">
                            <div class="category_cell category_title">
                                <span translate="{{'TXT_TOPIC_CATEGORY_' + topicCategory | uppercase}}" translate-default="{{topicCategory}}">Sport</span>
                            </div>
                            <div class="category_cell category_control" cos-disabled="!topic.canEdit()" ng-click="removeTopicCategory(topicCategory)">
                                <div class="sprite sprite-icon-category-delete2x"></div>
                            </div>
                        </div>
                    </div>

                    <div class="line lightest_line"></div>

                    <div class="category_selection">
                        <div class="category_wrap" ng-repeat="category in Topic.CATEGORIES" cos-disabled="!topic.canEdit()"
                             ng-click="(form.topic.categories.indexOf(category) > -1) ? removeTopicCategory(category): addTopicCategory(category)"
                             ng-class="{'category_selected': (form.topic.categories.indexOf(category) > -1)}">
                            <div class="category_cell category_title">
                                {{'TXT_TOPIC_CATEGORY_' + category | uppercase | translate}}
                            </div>
                            <div class="category_cell category_control" cos-disabled="!topic.canEdit()">
                                <div class="sprite desktop_fix" ng-class="(form.topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x'"></div>
                                <div class="sprite mobile_fix" ng-class="(form.topic.categories.indexOf(category) > -1) ? 'sprite-icon-category-delete2x' : 'sprite-icon-category-add2x-black'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- INVITE USERS -->
            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="tabSelected === 'invite'">

                <div class="lightbox_section">

                    <div class="input_text_margin_bottom" translate="MODALS.TOPIC_SETTINGS_TXT_INVITE_USERS_AND_GROUPS">Invite users and groups via name or e-mail address</div>

                    <div class="searchbox_with_icon_and_text only_text">
                        <div cos-dropdown
                             ng-class="{search_with_dropdown : (searchResults.users.length || searchResults.groups.length || searchResults.emails.length), dropdown_active : (searchResults.users.length || searchResults.groups.length || searchResults.emails.length)}">
                            <typeahead id="userSearch" class="auto-complete" items="searchResults.combined" term="searchString" search="search(term, 'user')"
                                       select="addTopicMember(item)" placeholder="{{'MODALS.TOPIC_SETTINGS_PLACEHOLDER_INVITE_USERS_AND_GROUPS' | translate}}">
                                <div class="search_area_wrap">
                                    <div class="search_dropdown_area" ng-class="{hidden: (!searchResults.users.length && !searchResults.groups.length && !searchResults.emails.length)}">
                                        <div class="search_dropdown_item" ng-if="searchResults.users.length">
                                            <div class="table_cell" translate="MODALS.TOPIC_SETTINGS_TH_USERS">Users</div>
                                        </div>
                                        <div class="search_dropdown_item" typeahead-item="user" ng-repeat="user in searchResults.users">
                                            <div class="table_cell search_item_text">
                                                <b>{{user.name}}</b> {{user.company}}
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addTopicMemberUser(user)" translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD">Press enter or click to add</span>
                                            </div>
                                        </div>
                                        <div class="search_dropdown_item" ng-if="searchResults.groups.length">
                                            <div class="table_cell" translate="MODALS.TOPIC_SETTINGS_TH_GROUPS">Groups</div>
                                        </div>
                                        <div class="search_dropdown_item" typeahead-item="group" ng-repeat="group in searchResults.groups">
                                            <div class="table_cell search_item_text">
                                                <b>{{group.name}}</b>
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addTopicMemberGroup(group)"
                                                      translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_TO_ADD">Press enter or click to add</span>
                                            </div>
                                        </div>
                                        <div class="search_dropdown_item" ng-if="searchResults.emails.length">
                                            <div class="table_cell" translate="MODALS.TOPIC_SETTINGS_TH_USERS">Users</div>
                                        </div>
                                        <div class="search_dropdown_item" typeahead-item="email" ng-repeat="email in searchResults.emails">
                                            <div class="table_cell search_item_text">
                                                <b>{{email}}</b>
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addTopicMemberUser()" translate="MODALS.TOPIC_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD">Press enter or click to add</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </typeahead>
                        </div>
                    </div>

                </div>


                <div class="lightbox_section double_row_list user_list" ng-if="members.users.length || members.groups.length || members.emails.length">
                    <div ng-repeat="(key, memberGroups) in members" ng-if="memberGroups.length">
                        <div ng-if="memberGroups.length">
                            <div cos-dropdown class="classic_dropdown">

                                <div class="dropdown_selection">
                                    <div class="dropdown_text">
                                        {{'TXT_TOPIC_LEVELS_' + groupLevel | uppercase | translate}}
                                    </div>

                                    <div class="arrow_holder">
                                        <div class="table_cell">
                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                            <div class="v_line"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <div  class="dropdown_item" ng-repeat="level in TopicMemberUser.LEVELS">
                                        <div ng-if="level !== TopicMemberUser.LEVELS.none" class="item_name" ng-click="updateGroupLevel(level)">
                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="category_title">
                            <div class="table_cell">
                                {{('MODALS.TOPIC_SETTINGS_RESULT_GROUP_' + key) | uppercase | translate}}
                            </div>
                        </div>

                        <table>

                            <tr ng-repeat="(memberKey, member) in memberGroups" ng-if="isOnPage($index, membersPage)">
                                <td>
                                    <div class="profile_image_wrapper dark">
                                        <!--div class="profile_moon sprite"></div-->
                                        <div class="account_picture">
                                            <img ng-if="member.imageUrl" src="{{member.imageUrl}}">
                                            <div class="profile_image_filler">
                                                <div class="table_cell" cos-initials="member.name">
                                                    ML
                                                </div>
                                                <div class="profile_circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="name_wrap">
                                        <div class="table_cell">
                                            <div class="blue_link" ng-click="(key === 'groups')? removeTopicMemberGroup(member) : removeTopicMemberUser(member)">{{member.name}}</div>
                                            <div class="via">{{member.company}}</div>
                                        </div>
                                    </div>

                                    <div class="mobile_extra_info">
                                        <div class="left">
                                            <div cos-dropdown class="classic_dropdown">

                                                <div class="dropdown_selection">
                                                    <div class="dropdown_text">
                                                        {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                                    </div>

                                                    <div class="arrow_holder">
                                                        <div class="table_cell">
                                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                            <div class="v_line"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="dropdown">
                                                    <div ng-if="key === 'emails' || key ==='users'" class="dropdown_item" ng-repeat="level in TopicMemberUser.LEVELS">
                                                        <div ng-if="level !== TopicMemberUser.LEVELS.none" class="item_name" ng-click="updateTopicMemberUserLevel(member, level)">
                                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                        </div>
                                                    </div>
                                                    <div ng-if="key ==='groups'" class="dropdown_item" ng-repeat="level in TopicMemberGroup.LEVELS">
                                                        <div ng-if="level !== TopicMemberUser.LEVELS.none" class="item_name" ng-click="updateTopicMemberGroupLevel(member, level)">
                                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="right">
                                            <div class="btn_wrap recycle_bin white_bg">
                                                <div class="btn" ng-click="(key === 'groups')? removeTopicMemberGroup(member) : removeTopicMemberUser(member)">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div cos-dropdown class="classic_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div ng-if="key === 'emails' || key ==='users'" class="dropdown_item" ng-repeat="level in TopicMemberUser.LEVELS">
                                                <div ng-if="level !== TopicMemberUser.LEVELS.none" class="item_name" ng-click="updateTopicMemberUserLevel(member, level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                            <div ng-if="key ==='groups'" class="dropdown_item" ng-repeat="level in TopicMemberGroup.LEVELS">
                                                <div ng-if="level !== TopicMemberUser.LEVELS.none" class="item_name" ng-click="updateTopicMemberGroupLevel(member, level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="(key === 'groups')? removeTopicMemberGroup(member) : removeTopicMemberUser(member)">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr><td></td></tr>
                        </table>
                        <div class="pagination" cos-pagination select="loadPage" total-pages="totalPages(memberGroups)" page="membersPage"></div>
                    </div>


                </div>

            </div>

            <!-- SHARE -->
            <div class="lightbox_content invite_url" ng-if="tabSelected === 'share'">

                <div class="lightbox_section">
                    <div class="input_text_margin_bottom" translate="MODALS.TOPIC_SETTINGS_TXT_SHARE_LINK">Share this link to people you want to join the topic:</div>

                    <div class="copy_link">
                        <div class="searchbox_with_icon_and_text">
                            <input id="url_invite_topic_input" ng-model="form.urlJoin" cos-disabled="!topic.canUpdate()"
                                   placeholder="{{'MODALS.TOPIC_SETTINGS_PLACEHOLDER_CREATE_NEW_LINK' | translate}}">
                            <div class="search_text">
                                <div class="blue_link table_cell" cos-disabled="!topic.canUpdate()" ng-click="generateTokenJoin()"
                                     translate="{{'MODALS.TOPIC_SETTINGS_LNK_CREATE_NEW_LINK' | translate}}">Create a new link
                                </div>
                            </div>
                        </div>

                        <div class="blue_button" cos-disabled="!topic.canUpdate()" ng-click="copyInviteLink()" ng-if="!app.createGroupsInviteUsers" translate="MODALS.TOPIC_SETTINGS_BTN_COPY_LINK">Copy
                            link
                        </div>
                    </div>

                </div>

                <div class="lightbox_section" ng-if="topic.canUpdate()">

                    <div class="qr_code">
                        <qrcode data="{{form.urlJoin}}" size="210" version="4" error-correction-level="L" download class="qr_img"></qrcode>
                    </div>

                </div>

            </div>

            <div class="lightbox_footer">
                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-if="!members.users.length && !members.emails.length" cos-disabled="!topic.canEdit()" ng-click="doSaveTopic()"
                         translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC">Save topic
                    </div>
                    <div class="blue_button" ng-if="members.users.length || members.emails.length" cos-disabled="!topic.canEdit()" ng-click="doSaveTopic()"
                         translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC_AND_INVITE">Save topic and send invite
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()">
    </div>

</div>
