<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_VOTE_SIGN_HEADING">Choose a signing method</div>
                    <div class="title_description">{{ngDialogData.topic.title}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content">
                <div id="login_lightbox" ng-controller="SignFormCtrl">
                    <div class="line lightest_line"></div>
                    <div class="lightbox_section">

                        <div id="id_card" ng-click="doSignEsteId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-id2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.TOPIC_VOTE_SIGN_BTN_SIGN_ESTEID">Sign with ID-Card / Mobiil-ID</div>
                            </div>
                        </div>

                        <div id="smart_id" ng-click="doSignSmartId()" class="social_button">
                            <div class="social_icon">
                                <div class="table_cell">
                                    <div class="sprite sprite-login-icon-smartid2x"></div>
                                </div>
                            </div>
                            <div class="social_text">
                                <div class="table_cell" translate="MODALS.TOPIC_VOTE_SIGN_BTN_SIGN_SMARTID">Sign with Smart-ID</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()">
    </div>

</div>
