<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="id_signing delete_topic wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_HEADING">Delete attachment</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="line lightest_line"></div>

            </div>

            <div class="lightbox_content">

                <div class="second_header">

                    <div class="sprite sprite-icon-delete-topic2x"></div>
                    <div class="delete_title" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_TXT_ARE_YOU_SURE">Are you sure you want to delete this attachment?</div>
                    <div class="delete_description" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_TXT_NO_UNDO">Please keep in mind you cannot undo this action.</div>

                    <div id="lightbox_close" ng-click="closeThisDialog($event)">
                        <div class="table_cell">
                            <div class="sprite sprite-btn-popup-close2x">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="line_wrap">
                    <div class="line lightest_line"></div>
                </div>

                <div id="delete_info_wrap">

                    <div class="delete_info_text_wrap">
                        <div class="delete_info">
                            <div class="sprite sprite-checkmark2x"></div>
                            <div class="delete_info_text" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_TXT_ATTACHMENT_DELETED">The attachment will be deleted.</div>
                        </div>
                    </div>

                    <div class="delete_info_button_wrap">
                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog($event)" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_BTN_NO">NO, KEEP THIS ATTACHMENT</div>
                        </div>
                        <div class="table_cell">
                            <div class="blue_button yes" ng-click="confirm()" translate="MODALS.TOPIC_ATTACHMENT_DELETE_CONFIRM_BTN_YES">YES, DELETE THIS ATTACHMENT</div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog($event)"></div>

</div>
