<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="TopicSettingsCtrl">

    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">{{topic.title}}</div>
                    <div class="title_description">{{form.description}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider" start_slide_at="329">
                        <div class="tab_button" ng-click="selectTab('topicSettingsSettings')" ng-class="tabSelected === 'topicSettingsSettings' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text">SETTINGS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('topicSettingsCategories')" ng-class="tabSelected === 'topicSettingsCategories' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text">CATEGORIES</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('topicSettingsInvite')" ng-class="tabSelected === 'topicSettingsInvite' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text">INVITE</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('topicSettingsShare')" ng-class="tabSelected === 'topicSettingsShare' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text">SHARE</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>

                        <div ng-if="wWidth > 560" class="blue_button_wrap">
                            <div class="blue_button" ng-if="!members.users.length && !members.emails.length" cos-disabled="!topic.canUpdate()" ng-click="doSaveTopic()">
                                Save topic
                            </div>
                            <div class="blue_button" ng-if="members.users.length || members.emails.length" cos-disabled="!topic.canUpdate()" ng-click="doSaveTopic()">
                                Save topic and send invite
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>

            <!-- SETTINGS -->
            <div class="lightbox_content settings_section_wrap" ng-if="tabSelected === 'topicSettingsSettings'">


                <div class="lightbox_section">
                    <!--<div class="settings_section group_image">

                        <div class="settings_cell">
                            <div class="setting_title">
                                Topic image
                            </div>
                            <div class="button_holder">
                                <div class="gray_button">Upload another image</div>
                                <div class="blue_link red_text">Remove image</div>
                            </div>
                        </div>
                        <div class="clearer"></div>

                        <div class="settings_cell">
                            <img src='.././imgs/profile_large.jpg')>
                        </div>
                    </div>
                    <div class="line lightest_line"></div> -->


                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title">
                                Make your topic private
                            </div>
                            <div class="setting_description">
                                ONLY PEOPLE YOU INVITE WILL BE ABLE TO JOIN THE TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div cos-disabled="!topic.canUpdate()" cos-toggle cos-toggle-text-on="'ON'" cos-toggle-text-off="'OFF'" ng-model="form.topic.visibility"></div>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>


                    <!--<div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title">
                                Topic visibility
                            </div>
                            <div class="setting_description">
                                THIS SETS WHO CAN SEE YOUR TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div cos-dropdown class="classic_dropdown">

                            <div class="dropdown_selection">

                                <div class="dropdown_text">
                                    {{form.topic.visibility}}
                                </div>

                                <div class="arrow_holder">
                                        <div class="table_cell">
                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                            <div class="v_line"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <!-- NO CATEGORY
                                    <div class="dropdown_item" ng-repeat="(level, value) in levels">
                                        <div class="item_name" ng-click="updateTopicVisibility(level)">
                                            {{level}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title">
                                Hashtag
                            </div>
                            <div class="setting_description">
                                USE THIS HASHTAG IN SOCIAL MEDIA AND THE MENTIONS WILL BE SHOWN BELOW YOUR TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <input cos-disabled="!topic.canUpdate()" value="#cos_hipsters" ng-model="form.topic.hashtag" ng-change="checkHashtag()" ng-class="{'error_input': errors.hashtag}">
                            <label for="hashtag" class="error_label" ng-if="errors.hashtag">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                                    <span translate="{{errors.hashtag}}"></span>
                                </div>
                            </label>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title">
                                Leave topic
                            </div>
                            <div class="setting_description">
                                LEAVING A TOPIC WILL RESULT IN GIVING UP ANY POWERS YOU MAY HAVE AS USER IN THAT TOPIC
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div class="gray_button" ng-click="doLeaveTopic(topic)">Leave topic</div>
                        </div>

                    </div>
                    <div class="line lightest_line"></div>

                    <div class="settings_section">
                        <div class="settings_cell">
                            <div class="setting_title">
                                Delete topic
                            </div>
                            <div class="setting_description">
                                DELETING A TOPIC CAN NOT BE UNDONE. BE SURE TO BE REALLY SURE ABOUT THIS.
                            </div>
                        </div>

                        <div class="settings_cell">
                            <div cos-disabled="!topic.canDelete()" class="blue_button yes" ng-click="doDeleteTopic(topic)">Delete topic</div>
                        </div>

                    </div>

                </div>

            </div>


            <!-- CATEGORIES -->
            <div class="lightbox_content categories_section_wrap" ng-if="tabSelected === 'topicSettingsCategories'">
                <div class="lightbox_section">
                    <div class="tip">Assign up to 3 categories</div>
                    <div class="selected_categories">

                        <div class="category_wrap" ng-repeat="topicCategory in form.topic.categories">

                            <div class="category_cell category_title">
                                {{topicCategory}}
                            </div>

                            <div class="category_cell category_control" cos-disabled="!topic.canUpdate()" ng-click="removeTopicCategory(topicCategory)">
                                    <div class="sprite_temp2 sprite-icon-category-delete2x"></div>
                            </div>

                        </div>


                    </div>
                    <div class="line lightest_line"></div>

                    <div class="category_selection">

                        <div class="category_wrap" ng-repeat="category in Topic.CATEGORIES">

                            <div class="category_cell category_title">
                                {{category}}
                            </div>

                            <div class="category_cell category_control" cos-disabled="!topic.canUpdate()" ng-click="addTopicCategory(category)">
                                    <div class="sprite_temp2 desktop_fix sprite-icon-category-add2x"></div>
                                    <div class="sprite_temp2 mobile_fix sprite-icon-category-add2x-black"></div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- INVITE USERS -->
            <div class="lightbox_content padding_bottom_zero" ng-if="tabSelected === 'topicSettingsInvite'">

                <div class="lightbox_section">

                    <div class="input_text_margin_bottom">
                        Invite users via their name or e-mail address
                    </div>

                    <div class="searchbox_with_icon_and_text only_text">
                        <div cos-dropdown ng-class="{search_with_dropdown : (searchResults.users.length || searchResults.groups.length), dropdown_active : (searchResults.users.length || searchResults.groups.length)}">
                            <typeahead cos-disabled="!topic.canUpdate()" id="userSearch" class="auto-complete" items="searchResults.combined" term="searchString" search="search(term, 'user')"
                                       select="addTopicMember(item)" placeholder="Search by username or e-mail address">
                                <div class="search_area_wrap">
                                    <div class="search_dropdown_area" ng-show="searchResults.users.length || searchResults.groups.length">
                                        <div class="search_dropdown_item" ng-if="searchResults.users.length">
                                            <div class="table_cell">Users</div>
                                        </div>
                                        <div class="search_dropdown_item" typeahead-item="user" ng-repeat="user in searchResults.users">
                                            <div class="table_cell search_item_text">
                                                <b>{{user.name}}</b> {{user.company}}
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addTopicMemberUser(user)">Press enter or click to add</span>
                                            </div>
                                        </div>
                                        <div class="search_dropdown_item" ng-if="searchResults.groups.length">
                                            <div class="table_cell">Groups</div>
                                        </div>
                                        <div class="search_dropdown_item" typeahead-item="group" ng-repeat="group in searchResults.groups">
                                            <div class="table_cell search_item_text">
                                                <b>{{group.name}}</b>
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="addTopicMemberGroup(group)">Press enter or click to add</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </typeahead>

                        </div>
                        <div class="search_text">
                            <div class="table_cell blue_link">
                                Press enter to add
                            </div>
                        </div>
                    </div>

                </div>


                <div class="lightbox_section double_row_list user_list">

                    <div ng-repeat="(key, members) in members" ng-if="members.length">

                        <div class="category_title">
                            <div class="table_cell">
                                {{key | uppercase}}
                            </div>
                        </div>

                        <table>

                            <tr ng-repeat="(memberKey, member) in members">
                                <td>
                                    <div class="profile_image_wrapper dark">
                                        <div class="profile_moon sprite"></div>
                                        <div class="account_picture">
                                            <img ng-if="member.imageUrl" src="{{member.imageUrl}}">
                                            <div class="profile_image_filler">
                                                <div class="table_cell" cos-initials="member.name">
                                                    ML
                                                </div>
                                                <div class="profile_circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="name_wrap">
                                        <div class="table_cell">
                                            <div class="blue_link" ng-click="(key==='groups')? removeTopicMemberGroup(member) : removeTopicMemberUser(member)">{{member.name}}</div>
                                            <div class="via">{{member.company}}</div>
                                        </div>
                                    </div>

                                    <div class="mobile_extra_info">
                                        <div class="left">
                                            <div cos-dropdown class="classic_dropdown">

                                                <div class="dropdown_selection">
                                                    <div class="dropdown_text">
                                                        {{member.level}}
                                                    </div>

                                                    <div class="arrow_holder">
                                                        <div class="table_cell">
                                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                            <div class="v_line"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="dropdown">
                                                    <div ng-if="key ==='users'" class="dropdown_item" ng-repeat="level in TopicMemberUser.LEVELS">
                                                        <div class="item_name" ng-click="updateTopicMemberUserLevel(member, level)">
                                                            {{level}}
                                                        </div>
                                                    </div>
                                                    <div ng-if="key ==='groups'" class="dropdown_item" ng-repeat="level in TopicMemberGroup.LEVELS">
                                                        <div class="item_name" ng-click="updateTopicMemberGroupLevel(member, level)">
                                                            {{level}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="right">
                                            <div class="btn_wrap recycle_bin white_bg">
                                                <div class="btn">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div cos-dropdown class="classic_dropdown">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{member.level}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div ng-if="key ==='users'" class="dropdown_item" ng-repeat="level in TopicMemberUser.LEVELS">
                                                <div class="item_name" ng-click="updateTopicMemberUserLevel(member, level)">
                                                    {{level}}
                                                </div>
                                            </div>
                                            <div ng-if="key ==='groups'" class="dropdown_item" ng-repeat="level in TopicMemberGroup.LEVELS">
                                                <div class="item_name" ng-click="updateTopicMemberGroupLevel(member, level)">
                                                    {{level}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="(key==='groups')? removeTopicMemberGroup(member) : removeTopicMemberUser(member)">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>


                </div>

            </div>

            <!-- SHARE -->
            <div class="lightbox_content invite_url" ng-if="tabSelected === 'topicSettingsShare'">

                <div class="lightbox_section">
                    <div class="input_text_margin_bottom">
                        Share this link to people you want to join the topic:
                    </div>

                    <div class="copy_link">
                        <div class="searchbox_with_icon_and_text">
                            <input id="url_invite_topic_input" ng-model="form.urlJoin" cos-disabled="!topic.canUpdate()">
                            <div class="search_text">
                                <div class="blue_link table_cell" cos-disabled="!topic.canUpdate()" ng-click="generateTokenJoin()">
                                    Create a new link
                                </div>
                            </div>
                        </div>

                        <div class="blue_button" cos-disabled="!topic.canUpdate()" ng-click="copyInviteLink()" ng-if="!app.createGroupsInviteUsers">
                            Copy link
                        </div>
                    </div>

                </div>

                <div class="lightbox_section">

                    <div class="qr_code">
                        <qrcode data="{{form.urlJoin}}" size="210" version="3" error-correction-level="L" download class="qr_img"></qrcode>
                        <!-- <a class="blue_link">Download QR code pdf</a> -->
                    </div>

                </div>

            </div>


            <!-- MOBILE SAVE BUTTON -->
            <div ng-if="wWidth <= 560" class="blue_button_wrap mobile">
                <div class="blue_button">
                    Save settings
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()">

    </div>

</div>
