<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen" ng-controller="TopicMembersCtrl">

    <div id="lightbox" class="wide_lightbox with_title_description with_header_menu">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_INVITE_HEADING"></div>
                    <div class="title_description">{{form.topic.title}}</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="topicSettingsSlider">
                        <div class="tab_button" ng-click="selectTab('participants')" ng-class="tabSelected === 'participants' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_PARTICIPANTS">PARTICIPANTS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('groups')" ng-class="tabSelected === 'groups' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_GROUPS">GROUPS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                        <div class="tab_button" ng-click="selectTab('invited')" ng-class="tabSelected === 'invited' ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="MODALS.TOPIC_MEMBERS_TAB_INVITED">INVITED</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="line lightest_line"></div>
            <!-- PARTICIPANTS USERS -->
            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="tabSelected === 'participants'">

                <div class="lightbox_section user_list">
                    <div class="pretend_table">
                        <div class="pretend_tr">
                            <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                                <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                            </div>
                            <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'name'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_PROFILE">Profile</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'name'"></div>
                                </div>
                            </div>
                            <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'level'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_RIGHTS">Rights</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'level'"></div>
                                </div>
                            </div>
                            <div class="pretend_th not_sortable">
                                <div class="th_text">
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr" ng-repeat="user in members.users.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                            <div class="pretend_td">
                                <div class="profile_image_wrapper dark">
                                    <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                                    <div class="account_picture">
                                        <img ng-if="user.imageUrl" ng-src="{{user.imageUrl}}">
                                        <div ng-if="!user.imageUrl" class="profile_image_filler">
                                            <div class="table_cell" cos-initials="user.name">
                                                ML
                                            </div>
                                            <div class="profile_circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="name_wrap">
                                    <div class="table_cell">
                                        <div ng-bind="user.name" tooltips tooltip-hidden="{{(!user.email && !user.pid && !user.phoneNumber)}}" tooltip-class="tooltip_author"
                                            tooltip-template="<span class='creator_data_tooltip_row'>{{user.email}}</span><span class='creator_data_tooltip_row'>{{user.phoneNumber}}</span><span class='creator_data_tooltip_row'>{{user.pid}}</span>"
                                            tooltip-smart="true">user.name</div>
                                        <div class="via" ng-if="user.groups.rows.length && !user.levelUser"><span translate="VIEWS.MY_TOPICS_TOPICID.LBL_VIA">via</span> <span ng-repeat="group in user.groups.rows"><span ng-if="!$first">, </span><span ng-if="group.name" class="blue_link" ui-sref="my.groups.groupId({groupId: group.id, filter: 'grouped'})">{{group.name}} ({{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}})</span><i
                                            ng-if="!group.name" class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP" translate-values="{level: ('TXT_TOPIC_LEVELS_' + group.level | uppercase | translate)}">Inaccessible Group</i> <i class="disabled">(<span  translate="{{'TXT_TOPIC_LEVELS_' + group.level | uppercase }}">admin</span>)</i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pretend_td">
                                <div cos-dropdown class="classic_dropdown" ng-if="topic.canUpdate()">
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-repeat="(key, level) in TopicMemberUser.LEVELS">
                                            <div class="item_name" ng-click="doUpdateMemberUser(user, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <span ng-if="!topic.canUpdate()" class="user_level_text">{{'TXT_TOPIC_LEVELS_' + user.level | uppercase | translate}}</span>
                            </div>
                            <div class="pretend_td recycle_bin_wrap" ng-if="topic.canUpdate()">
                                <div class="btn_wrap recycle_bin" ng-if="user.levelUser">
                                    <div class="btn" ng-click="doDeleteMemberUser(user)">
                                        <div class="table_cell">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr">
                            <div class="pagination_wrapper">
                                <div class="pagination" cos-pagination select="loadMemberUsersPage" total-pages="topic.members.users.totalPages" page="topic.members.users.page"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- SHARE -->
            <div class="lightbox_content invite_url" ng-if="tabSelected === 'groups'">

                <div class="lightbox_section user_list" ng-if="members.groups.rows.length">
                    <div class="pretend_table">
                        <div class="pretend_tr">
                            <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                                <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                            </div>
                            <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'name'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_NAME">Name</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'name'"></div>
                                </div>
                            </div>
                            <div class="pretend_th" ng-click="groupList.searchOrderBy.property = 'level'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_RIGHTS">Rights</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="groupList.searchOrderBy.property === 'level'"></div>
                                </div>
                            </div>
                            <div class="pretend_th not_sortable">
                                <div class="th_text">
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr" ng-repeat="group in members.groups.rows | orderBy: groupList.searchOrderBy.property">
                            <div class="pretend_td">
                                <div class="blue_link" ng-if="group.permission.level" ui-sref="my.groups.groupId({groupId: group.id, filter: 'grouped'})" ui-sref-opts="{reload: true}" ng-bind="group.name">Group name</div>
                                <div ng-if="!group.permission.level"><i class="disabled" translate="VIEWS.MY_TOPICS_TOPICID.LBL_INACCESSIBLE_GROUP">Inaccessible Group</i></div>
                            </div>
                            <div class="pretend_td">
                                <div cos-dropdown class="classic_dropdown">
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + group.level | uppercase | translate}}</div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <div class="dropdown_item" ng-repeat="(key, level) in TopicMemberGroup.LEVELS">
                                            <div class="item_name" ng-click="doUpdateMemberGroup(group, level)">{{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pretend_td recycle_bin_wrap">
                                <div class="btn_wrap recycle_bin" ng-if="topic.canUpdate()">
                                    <div class="btn" ng-click="doDeleteMemberGroup(group)">
                                        <div class="table_cell">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr">
                            <div class="pagination_wrapper">
                                <div class="pagination" cos-pagination select="loadMemberGroupPage" total-pages="topic.members.groups.totalPages" page="topic.members.groups.page"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="tabSelected === 'invited'">

                <div class="lightbox_section user_list ">
                    <!-- TopicInviteUsers -->
                    <div class="pretend_table">
                        <div class="pretend_tr">
                            <div class="mobile_text pretend_th" ng-if="wWidth <= 560">
                                <div class="th_text" translate="VIEWS.MY_TOPICS_TOPICID.LBL_ORDER_BY">Order by:</div>
                            </div>
                            <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'name'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_PROFILE">Profile</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'name'"></div>
                                </div>
                            </div>
                            <div class="pretend_th" ng-click="userList.searchOrderBy.property = 'level'">
                                <div class="th_text">
                                    <span translate="VIEWS.MY_TOPICS_TOPICID.LNK_RIGHTS">Rights</span>
                                    <div class="sprite sprite-icon-list-ordering2x" ng-if="userList.searchOrderBy.property === 'level'"></div>
                                </div>
                            </div>
                            <div class="pretend_th not_sortable">
                                <div class="th_text">
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr" ng-repeat="invite in members.invited.rows | filter: userList.searchFilter | orderBy : userList.searchOrderBy.property">
                            <div class="pretend_td">
                                <div class="profile_image_wrapper dark">
                                    <!--div class="profile_moon sprite sprite-icon-certified-fb2x"></div-->
                                    <div class="account_picture">
                                        <img ng-if="invite.user.imageUrl" ng-src="{{invite.user.imageUrl}}">
                                        <div ng-if="!invite.user.imageUrl" class="profile_image_filler">
                                            <div class="table_cell" cos-initials="invite.user.name">
                                                ML
                                            </div>
                                            <div class="profile_circle"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="name_wrap">
                                    <div class="table_cell smooth_gray">
                                        <div ng-bind="invite.user.name" tooltips tooltip-hidden="{{(!invite.user.email && !invite.user.pid && !invite.user.phoneNumber)}}" tooltip-class="tooltip_author"
                                            tooltip-template="<span class='creator_data_tooltip_row'>{{invite.user.email}}</span><span class='creator_data_tooltip_row'>{{invite.user.phoneNumber}}</span><span class='creator_data_tooltip_row'>{{invite.user.pid}}</span>"
                                            tooltip-smart="true">invite.user.name</div>
                                        <div class="via" translate="VIEWS.MY_TOPICS_TOPICID.TXT_INVITE_PENDING">
                                            Pending invite
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pretend_td">
                                <span class="user_level_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</span>
                                <!--div cos-dropdown class="classic_dropdown" cos-disabled>
                                    <div class="dropdown_selection">
                                        <div class="dropdown_text">{{'TXT_TOPIC_LEVELS_' + invite.level | uppercase | translate}}</div>

                                        <div class="arrow_holder">
                                            <div class="table_cell">
                                                <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                <div class="v_line"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                            <div class="pretend_td recycle_bin_wrap">
                                <div class="btn_wrap recycle_bin" ng-if="topic.canUpdate()">
                                    <div class="btn" ng-click="doDeleteInviteUser(invite)">
                                        <div class="table_cell">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pretend_tr">
                            <div class="pagination_wrapper">
                                <div class="pagination" cos-pagination select="loadUsersInvitedPage" total-pages="mebers.invited.totalPages" page="mebers.invited.page"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="lightbox_footer" ng-if="topic.canEdit()">
                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-if="!members.length" ng-click="doSaveTopic()"
                        translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC">Save topic
                    </div>
                    <div class="blue_button" ng-if="members.length" ng-click="doSaveTopic()"
                        translate="MODALS.TOPIC_SETTINGS_BTN_SAVE_TOPIC_AND_INVITE">Save topic and send invite
                    </div>
                </div>
            </div>

            </div>
            </div>

            <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog()">
            </div>

</div>
