<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox" class="id_signing delete_topic wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_MEMBER_USER_LEAVE_CONFIRM_HEADING">Leave topic</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="line lightest_line"></div>

            </div>


            <div class="lightbox_content">

                <div class="second_header">

                    <div class="sprite sprite-icon-warn-topic2x"></div>
                    <div class="warn_title" translate="MODALS.TOPIC_MEMBER_USER_LEAVE_CONFIRM_TXT_ARE_YOU_SURE_CONTINUE">Are you sure you want to continue?</div>

                    <div id="lightbox_close" ng-click="closeThisDialog()">
                        <div class="table_cell">
                            <div class="sprite sprite-btn-popup-close2x">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="line_wrap">
                    <div class="line lightest_line"></div>
                </div>

                <div id="delete_info_wrap">

                    <div class="delete_info_text_wrap">
                        <div class="delete_info">
                            <div class="sprite sprite-checkmark2x"></div>
                            <div class="delete_info_text" translate="MODALS.TOPIC_MEMBER_USER_LEAVE_CONFIRM_TXT_ARE_YOU_SURE">Are you sure you want to leave this topic?</div>
                        </div>
                    </div>

                    <div class="delete_info_button_wrap">

                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog()" translate="MODALS.TOPIC_MEMBER_USER_LEAVE_CONFIRM_BTN_NO">NO</div>
                        </div>

                        <div class="table_cell">
                            <div class="blue_button" ng-click="confirm()" translate="MODALS.TOPIC_MEMBER_USER_LEAVE_CONFIRM_BTN_YES">YES, LEAVE</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog()"></div>

</div>
