<!-- LIGHTBOX SKELETON -->
<!-- FIXME: Translate! -->
<!-- FIXME: Link to moderation guidelines! -->
<div id="root_lightbox">
    <div id="lightbox" class="id_signing delete_topic wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">


                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_REPORT_REPORTID_HEADING">This topic has been reported.
                        Are you sure you want to read it?</div>
                </div>

                <div class="line lightest_line"></div>

            </div>


            <div class="lightbox_content">

                <div class="second_header">

                    <div class="sprite sprite-icon-delete-topic2x"></div>
                    <div class="delete_title" translate="">This topic has been reported.</div>
                    <div class="delete_title" translate="">Are you sure you want to read it?</div>

                </div>

                <div class="line_wrap">
                    <div class="line lightest_line"></div>
                </div>

                <div id="delete_info_wrap">
                    <h3>Reason</h3>
                    <div class="text-block">
                        <h4>{{topic.report.moderatedReasonType || topic.report.type}}</h4>
                        {{topic.report.moderatedReasonText || topic.report.text}}
                    </div>

                    <h3>Current status</h3>
                    <div class="text-block">
                        <h4>Waiting for update & review request.</h4>
                        You can find more details about Citizen OS moderation process <a href="#">here</a>.
                    </div>

                    <div class="delete_info_button_wrap">

                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog()" translate="">NO, TAKE ME BACK</div><!-- FIXME: History BACK? -->
                        </div>

                        <div class="table_cell">
                            <div class="blue_button yes" ng-click="confirm()" translate="">YES, READ ANYWAY</div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
