<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="confirm_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header" class="profile_circle_on">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.TOPIC_MEMBER_GROUP_DELETE_CONFIRM_HEADING">Remove group</div>
                </div>

                <div id="lightbox_close" ng-click="closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="profile_area">

                    <div class="table">
                        <div class="profile_image_cell">
                            <div class="group_circle big" ng-if="!group.imageUrl">
                                <cos-initials class="table_cell" ng-model="ngDialogData.group.name" initial-limit="1"></cos-initials>
                            </div>
                            <img ng-if="group.imageUrl" ng-src="group.imageUrl">{{group.name}}
                        </div>

                        <div class="profile_text">
                            {{ngDialogData.group.name}}
                        </div>

                    </div>

                </div>
            </div>

            <div class="line lightest_line"></div>

            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">
                <div class="lightbox_section">
                    <span translate="MODALS.TOPIC_MEMBER_GROUP_DELETE_CONFIRM_TXT_ARE_YOU_SURE">Are you sure you want to remove this group?</span>
                    <div class="yes_no_buttons">
                        <div class="table_cell">
                            <div class="blue_button no" ng-click="closeThisDialog($event)" translate="MODALS.TOPIC_MEMBER_GROUP_DELETE_CONFIRM_BTN_NO">NO</div>
                        </div>
                        <div class="table_cell">
                            <div class="blue_button yes" ng-click="confirm()" translate="MODALS.TOPIC_MEMBER_GROUP_DELETE_CONFIRM_BTN_YES">YES, REMOVE</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="closeThisDialog($event)"></div>

</div>
