<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox">
    <div id="lightbox">
        <div id="lightbox_wrap">
            <div id="lightbox_header">
                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.WIDGETS_HOW_DOES_IT_WORK_HEADING">How it works?</div>
                </div>
                <div id="lightbox_close" ng-click="closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>
                <div class="clearer"></div>
            </div>

            <div class="lightbox_content">
                <div class="line lightest_line"></div>

                <div class="lightbox_section" translate="MODALS.WIDGETS_HOW_DOES_IT_WORK_TEXT">
                </div>
            </div>
        </div>
    </div>
    <div id="close_lightbox" class="ngdialog-close" ng-click="closeThisDialog($event)"></div>
</div>
