<div id="login_lightbox">
    <div class="line lightest_line"></div>
    <div class="lightbox_section">

        <div id="facebook" class="social_button">
            <div class="social_icon">
                <div class="table_cell">
                    <div class="sprite sprite-login-icon-facebook2x"></div>
                </div>
            </div>
            <div class="social_text">
                <div class="table_cell">
                    Login with Facebook account
                </div>
            </div>
        </div>   

        <div id="google" class="social_button">
            <div class="social_icon">
                <div class="table_cell">
                    <div class="sprite sprite-login-icon-google2x"></div>
                </div>
            </div>
            <div class="social_text">
                <div class="table_cell">
                    Login with Facebook account
                </div>
            </div>
        </div>   

        <div id="id_card" class="social_button">
            <div class="social_icon">
                <div class="table_cell">
                    <div class="sprite sprite-login-icon-id2x"></div>
                </div>
            </div>
            <div class="social_text">
                <div class="table_cell">
                    Login with Facebook account
                </div>
            </div>
        </div>   
        
         
    </div>
</div>