<div ng-if="wWidth > 1024">
    <div class="logo_area">
        <!-- Only show this if the user is logged in -->
        <div class="logo sprite sprite-x5-cos-logo-small2x" ng-click="app.showSearchResults = false" ng-if="app.user.loggedIn" ui-sref="home">
        </div>
        <!-- Only show this if the user is NOT logged in -->
        <div class="logo sprite sprite-x6-cos-logo-big2x" ng-if="!app.user.loggedIn" ui-sref="home">
        </div>
    </div>
</div>


<div class="nav_inside">


    <!-- Only show this if the user is NOT logged in -->
    <div class="blue_button" ng-click="app.doShowLogin()" ng-if="!app.user.loggedIn" translate="DEFAULT.NAV.LNK_LOG_IN_REGISTER">Log in / Register</div>

    <!-- Only show this if the user is logged in -->
    <div ng-if="app.user.loggedIn">

        <div id="account_area">

            <div class="table_cell">
                <div class="profile_image_wrapper">
                    <!--div class="profile_moon sprite sprite-icon-certified-google2x"></div-->
                    <div class="account_picture">
                        <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">
                        <div class="profile_image_filler" ng-if="!app.user.imageUrl">
                            <div class="table_cell" cos-initials="app.user.name">
                                ML
                            </div>
                            <div class="profile_circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="account_text">
                <div class="section_header bold_white">{{app.user.name}}</div>
                <a ng-click="app.doShowMyAccount()" id="account_action" href="" translate="DEFAULT.NAV.LNK_MY_ACCOUNT">My Account</a>
            </div>

        </div>

        <div class="line dark_line"></div>
        <div class="line light_line"></div>

        <!-- Nav section -->
        <div class="section">
            <a ng-click="app.doShowActivityModal()" class="section_item" ng-class="{active: app.isShowActivityModal}">
                <div class="section_icon">
                    <div class="table_cell">
                        <div ng-if="!app.unreadActivitiesCount" class="sprite sprite-menu-icon-activities2x"></div>
                        <div ng-if="app.unreadActivitiesCount" class="activities_counter">
                            {{app.unreadActivitiesCount}}
                        </div>
                    </div>
                </div>
                <span id="activity_feed_link_text" translate="DEFAULT.NAV.LNK_ACTIVITY">Activity</span>
            </a>
        </div>

        <div class="line dark_line"></div>
        <div class="line light_line"></div>

        <div class="section">
            <div class="section_item section_header bold_white">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-topics2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.HEADING_TOPICS">Topics</span>
            </div>
            <a ui-sref="topics.create" ui-sref-active="active" class="section_item bold_blue">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-plus2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_CREATE_TOPICS">Create topic</span>
            </a>
            <a ui-sref="my.topics({filter: 'all'})" ui-sref-opts="{reload: true}" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_MY_TOPICS">My topics</span>
            </a>
            <a ui-sref="home" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_PUBLIC_TOPICS">Public topics</span>
            </a>
        </div>

        <!-- Nav section -->
        <div class="section">
            <div class="section_item section_header bold_white">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-groups2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.HEADING_GROUPS">Groups</span>
            </div>
            <a ui-sref="my.groups.create({filter:null})" ui-sref-opts="{reload: true}" ui-sref-active="active" class="section_item bold_blue">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-plus2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_CREATE_GROUPS">Create groups</span>
            </a>
            <a ui-sref="my.groups({filter: 'grouped'})" ui-sref-opts="{reload: true}" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_MY_GROUPS">My groups</span>
            </a>
        </div>
    </div>


    <div class="line dark_line"></div>
    <div class="line light_line"></div>


    <!-- Nav section -->
    <div class="section">

        <a ng-if="app.config.links.about" class="section_item" ng-href="{{app.config.links.about}}">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-about2x"></div>
                </div>
            </div>
            <span translate="DEFAULT.NAV.LNK_ABOUT">About</span>
        </a>

        <a class="section_item" ng-click="app.toggleHelp()">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-help2x"></div>
                </div>
            </div>
            <span translate="DEFAULT.NAV.LNK_HELP">Help</span>
        </a>
        <a class="section_item" ng-click="app.doShowLanguageSelect()">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-x0-menu-icon-help2x"></div>
                    </div>
                </div>
                {{app.config.language.list[app.language]}}
        </a>
    </div>


    <!-- Only show this if the user is logged in -->
    <div ng-if="app.user.loggedIn">

        <div class="line dark_line"></div>
        <div class="line light_line"></div>


        <div class="section">

            <a ng-click="app.doLogout();" class="section_item" href="">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-logout2x"></div>
                    </div>
                </div>
                <span translate="DEFAULT.NAV.LNK_LOG_OUT">Log out</span>
            </a>

        </div>
    </div>
    <div id="nav_partner_wrap" ng-if="app.displayEmpoweredIcon()">
        <a href="https://citizenos.com" target="_blank">
            <div id="nav_partner_items">
                <span>Empowered by </span>
                <span><div id="nav_partner_logo" class="nav_partner_logo"></div></span>
            </div>
        </a>
    </div>
</div>
