<div ng-if="wWidth > 1024">
    <!-- Only show this if the user is logged in -->
    <div class="logo_area" ng-click="app.showSearchResults = false" ng-if="app.user.loggedIn">
        <div class="logo sprite sprite-x5-cos-logo-small2x">
        </div>
    </div>

    <!-- Only show this if the user is NOT logged in -->
    <div class="logo sprite sprite-x6-cos-logo-big2x" ng-if="!app.user.loggedIn">
    </div>
</div>


<div class="nav_inside">


    <!-- Only show this if the user is NOT logged in -->
    <div class="blue_button" ng-click="app.doShowLogin()" ng-if="!app.user.loggedIn">
        Log in / Register
    </div>

    <!-- Only show this if the user is logged in -->
    <div ng-if="app.user.loggedIn">

        <div id="account_area">

            <div class="table_cell">
                <div class="profile_image_wrapper">
                    <!--div class="profile_moon sprite sprite-icon-certified-google2x"></div-->
                    <div class="account_picture">
                        <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">
                        <div class="profile_image_filler" ng-if="!app.user.imageUrl">
                            <div class="table_cell" cos-initials="app.user.name">
                                ML
                            </div>
                            <div class="profile_circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="account_text">
                <div class="section_header bold_white">{{app.user.name}}</div>
                <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" id="account_action" href="#">My Account</a>
            </div>

        </div>

        <div class="line dark_line"></div>
        <div class="line light_line"></div>

        <!-- Nav section -->
        <div class="section">
            <div class="section_item section_header bold_white">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-topics2x"></div>
                    </div>
                </div>
                Topics
            </div>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false; app.doShowIdSigning();" ui-sref-active="active" class="section_item bold_blue">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-plus2x"></div>
                    </div>
                </div>
                Create topic
            </a>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" ui-sref="mytopics" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                My topics
            </a>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" ui-sref="home" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                Public topics
            </a>
        </div>

        <!-- Nav section -->
        <div class="section">
            <div class="section_item section_header bold_white">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-groups2x"></div>
                    </div>
                </div>
                Groups
            </div>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" ui-sref-active="active" class="section_item bold_blue">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-plus2x"></div>
                    </div>
                </div>
                Create groups
            </a>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" ui-sref="mygroups" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                My groups
            </a>
            <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false"  ui-sref="groups" ui-sref-active="active" class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-bullet-arrow2x"></div>
                    </div>
                </div>
                Public groups
            </a>
        </div>
    </div>


    <div class="line dark_line"></div>
    <div class="line light_line"></div>


    <!-- Nav section -->
    <div class="section">

        <a ng-click="app.navOpen = false; app.showSearchFiltersMobile = false" class="section_item" href="#" ng-if="app.user.loggedIn">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-connections2x"></div>
                </div>
            </div>
            Connections
        </a>

        <a ui-sref="about" ng-click="app.doShowNotification(app.notifications.levels.SUCCESS, 'NOT IMPLEMENTED!'); app.doShowNotification(app.notifications.levels.SUCCESS, 'SECOND MESSAGE'); app.navOpen = false; app.showSearchFiltersMobile = false" class="section_item" href="#">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-about2x"></div>
                </div>
            </div>
            About
        </a>

        <a ng-click="app.doShowNotification(app.notifications.levels.INFO, 'NOT IMPLEMENTED!'); app.navOpen = false; app.showSearchFiltersMobile = false" class="section_item" href="#">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-faq2x"></div>
                </div>
            </div>
            FAQ
        </a>

        <a ng-click="app.doShowNotification(app.notifications.levels.ERROR, 'NOT IMPLEMENTED!'); app.navOpen = false; app.showSearchFiltersMobile = false" class="section_item" href="#">
            <div class="section_icon">
                <div class="table_cell">
                    <div class="sprite sprite-menu-icon-help2x"></div>
                </div>
            </div>
            Help
        </a>

        <div cos-dropdown id="dropdown_wrap">
            <div class="section_item">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-x0-menu-icon-help2x"></div>
                    </div>
                </div>
                <div class="section_icon arrow_down">
                    <div class="table_cell">
                        <div class="sprite sprite-x4-icon-language-dropdown2x"></div>
                    </div>
                </div>
                {{app.config.language.list[app.language]}}
            </div>
            <div class="dropdown">
                <div class="section_item" ng-repeat="(language, languageText) in app.config.language.list" ng-click='app.doSwitchLanguage(language)'>
                    {{languageText}}
                </div>
            </div>
        </div>

    </div>


    <!-- Only show this if the user is logged in -->
    <div ng-if="app.user.loggedIn">

        <div class="line dark_line"></div>
        <div class="line light_line"></div>


        <div class="section">

            <a ng-click="app.doLogout(); app.navOpen = false; app.showSearchFiltersMobile = false;" class="section_item" href="#">
                <div class="section_icon">
                    <div class="table_cell">
                        <div class="sprite sprite-menu-icon-logout2x"></div>
                    </div>
                </div>
                Log out
            </a>

        </div>
    </div>

</div>
