<div class="logo_area" ng-click="!app.showSearchResults" ui-sref="home">
    <div class="logo sprite sprite-x5-cos-logo-small2x">
    </div>
</div>

<div class="header_button search overview_active" ng-click="app.showSearch = !app.showSearch;" ng-style="{'display': app.showSearch ? 'none ' : 'relative'}">
    <div class="header_button_icon">
        <div class="sprite sprite-icon-search2x">
        </div>
    </div>
    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_SEARCH">Search</div>
</div>

<div ng-if="wWidth <= 750">
    <div class="header_button overview" ui-sref="my.topics" ng-if="'my.topics.topicId' | isState">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-back2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_OVERVIEW">Overview</div>

        <div class="line_holder">
            <div class="v_line light_line"></div>
            <div class="v_line dark_line"></div>
        </div>
    </div>

    <div class="header_button overview" ui-sref="my.groups" ng-if="'my.groups.groupId' | isState">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-back2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_OVERVIEW">Overview</div>

        <div class="line_holder">
            <div class="v_line light_line"></div>
            <div class="v_line dark_line"></div>
        </div>
    </div>
</div>

<div ng-if="wWidth <= 1024">
    <div class="header_button edit" ng-if="app.topic.canEdit()" ng-click="app.doToggleEditMode()" ng-class="app.editMode ? 'active': ''" ng-if="('topics.**' | includedByState) && app.user.loggedIn">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-mobile-edit2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_EDIT">Edit</div>

        <div class="line_holder">
            <div class="v_line dark_line"></div>
            <div class="v_line light_line"></div>
        </div>
    </div>
</div>

<div class="header_button settings" ng-click="app.topics_settings = !app.topics_settings" ng-class="app.topics_settings ? 'active': ''" ng-if="('topics.**' | includedByState) && app.user.loggedIn">
    <div class="header_button_icon">
        <div class="sprite sprite-icon-mobile-settings2x">
        </div>
    </div>

    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_ACTIONS">Actions</div>

    <div class="line_holder" ng-if="!app.editMode">
        <div class="v_line dark_line"></div>
        <div class="v_line light_line"></div>
    </div>
</div>

<div class="header_button" ng-click="app.showNav = !app.showNav">
    <div class="line_holder first_holder">
        <div class="v_line light_line"></div>
        <div class="v_line dark_line"></div>
    </div>

    <div class="header_button_icon">
        <div class="sprite" ng-class="app.showNav ? 'sprite-icon-closemenu2x' : 'sprite-icon-hamburger2x'">
        </div>
    </div>
    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_MENU">Menu</div>
</div>

<div id="search_area" ng-class="{hidden: !app.showSearch}">
    <div ng-include="'views/default/search.html'"></div>
</div>
