<div class="logo_area" ng-click="!$ctrl.sapp.showSearchResults" ui-sref="home">
    <div class="logo sprite sprite-x5-cos-logo-small2x">
    </div>
</div>

<div class="header_button search overview_active" ng-click="$ctrl.sapp.showSearch = !$ctrl.sapp.showSearch;" ng-style="{'display': $ctrl.sapp.showSearch ? 'none ' : 'relative'}">
    <div class="header_button_icon">
        <div class="sprite sprite-icon-search2x">
        </div>
    </div>
    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_SEARCH">Search</div>
</div>

<div ng-if="wWidth <= 750">
    <div class="header_button overview" ui-sref="my/topics" ng-if="'my/topics/topicId' | isState">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-back2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_OVERVIEW">Overview</div>

        <div class="line_holder">
            <div class="v_line light_line"></div>
            <div class="v_line dark_line"></div>
        </div>
    </div>

    <div class="header_button overview" ui-sref="my/groups" ng-if="'my/groups/groupId' | isState">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-back2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_OVERVIEW">Overview</div>

        <div class="line_holder">
            <div class="v_line light_line"></div>
            <div class="v_line dark_line"></div>
        </div>
    </div>
</div>

<div ng-if="wWidth <= 1024">
    <div class="header_button edit" ng-if="$ctrl.sapp.topic.canEdit()" ng-click="$ctrl.sapp.doToggleEditMode()" ng-class="$ctrl.sapp.editMode ? 'active': ''" ng-if="('topics.**' | includedByState) && $ctrl.sapp.user.loggedIn">
        <div class="header_button_icon">
            <div class="sprite sprite-icon-mobile-edit2x">
            </div>
        </div>
        <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_EDIT">Edit</div>

        <div class="line_holder">
            <div class="v_line dark_line"></div>
            <div class="v_line light_line"></div>
        </div>
    </div>
</div>

<div class="header_button settings" ng-click="$ctrl.sapp.topics_settings = !$ctrl.sapp.topics_settings" ng-class="$ctrl.sapp.topics_settings ? 'active': ''" ng-if="('topics.**' | includedByState) && $ctrl.sapp.user.loggedIn">
    <div class="header_button_icon">
        <div class="sprite sprite-icon-mobile-settings2x">
        </div>
    </div>

    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_SETTINGS">Actions</div>

    <div class="line_holder" ng-if="!$ctrl.sapp.editMode">
        <div class="v_line dark_line"></div>
        <div class="v_line light_line"></div>
    </div>
</div>

<div class="header_button" ng-click="$ctrl.sapp.showNav = !$ctrl.sapp.showNav">
    <div class="line_holder first_holder">
        <div class="v_line light_line"></div>
        <div class="v_line dark_line"></div>
    </div>

    <div class="header_button_icon">
        <div class="sprite" ng-class="$ctrl.sapp.showNav ? 'sprite-icon-closemenu2x' : 'sprite-icon-hamburger2x'">
        </div>
    </div>
    <div class="header_button_text" translate="DEFAULT.NAV_MOBILE.BTN_MENU">Menu</div>
</div>

<div id="search_area" ng-class="{hidden: !$ctrl.sapp.showSearch}">
    <search></search>
</div>
