<div id="login_lightbox">
    <div class="line lightest_line"></div>

    <div class="lightbox_section">
        <input name="name" placeholder="Full name *" ng-if="wWidth > 1024" autofocus>
        <input name="name" placeholder="Full name *" ng-if="wWidth <= 1024">
        <input name="Company" placeholder="Company">
        <input name="email" placeholder="E-mail address">
        <input name="psw" type="password" placeholder="Password">
        <input name="psw_repeat" type="password" placeholder="Repeat password *">
        <button type="submit" ng-click="closeAll();  $root.loggedIn = true;" class="blue_button">Save</button>
        <div class="link_section">
            <a class="lightbox_link" href="" ng-click="$root.registerLightbox = false; $root.loginLightbox = true">Cancel</a>
        </div>
    </div>
</div>