
<div id="search_area_wrap">
    <div ng-repeat="(context, results) in searchResults">
        <div ng-repeat="(model, items) in results">
            <div class="search_cat" ng-if="!noResults && items.count">
                <div class="cat_wrap" translate="DEFAULT.SEARCH.HEADING_RESULTS_IN" translate-values="{context: context, model: model}">Context search results in <b>{{context}} {{model}}</b></div>
            </div>

            <div class="results_area" ng-if="!noResults && items.count">
                <div class="result_group">

                    <div class="result_links" ng-repeat="(key, row) in items.rows">
                        <div class="links_wrap">
                            <span>
                                <a ng-if="model ==='groups'" ng-click="goToView(row.id, 'group')" class="blue_link result_link" > {{row.name}}</a>
                                <a ng-if="model ==='topics'" ng-click="goToView(row.id, 'topic')" class="blue_link result_link">{{row.title}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="result_links" ng-if="items.rows.length < items.count" >
                        <div class="more_results" ng-click="viewMoreResults(context, model)" translate="DEFAULT.SEARCH.LNK_VIEW_MORE_RESULTS">View more results</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="results_area" ng-if="noResults">
        <div class="result_group">

            <div class="no_results">
                <b class="search_msgb" translate="DEFAULT.SEARCH.TXT_OOPS_NO_RESULTS">Oops, we couldn’t find any results matching your search :(</b>
                <br>
                <div class="search_msg" translate="DEFAULT.SEARCH.TXT_MAYBE_TYPO">Maybe you have a typo in your search?<br>We did find some things scattered throughout the CitizenOS platform, so feel free to check them out. We promise it will be worth your while!</div>
            </div>
        </div>
    </div>
</div>
