<!-- MOBILE HEADER NAV -->
<div id="mobile_header" ng-if="app.wWidth <= 1024">
    <nav-mobile></nav-mobile>
</div>

<!-- NAV -->
<nav ng-class="app.showNav ? 'nav_is_open' : ''" ng-click="app.showSearchResults = false" ng-swipe-right="app.showNav = false">
</nav>

<!-- CONTENT -->
<div id="content_root" ng-class="app.showNav ? 'navOpen' : ''">
    <!-- CONTENT WRAP -->
    <div id="content_wrap">
        <div id="close_mobile_menu" ng-if="app.showNav" ng-swipe-right="app.showNav = false" ng-click="app.showNav = false"></div>

        <div id="content" ng-class="!displaySearch() ? 'content_no_padding' : ''">
            <!-- SEARCH AREA -->
            <div id="search_area" ng-if="app.wWidth > 1024 && displaySearch()">
                <search></search>
            </div>
            <div id="content_cell">
                <!-- CLOSE SEARCH AREA -->
                <div ng-click="app.showSearchResults = false" id="search_area_close" ng-class="{hidden: !app.showSearchResults}"></div>

                <!-- ROUTES CONTENT -->
                <div id="view" ui-view></div>
            </div>
        </div>
    </div>
</div>
