<!-- MOBILE HEADER NAV -->
<div id="mobile_header" ng-if="wWidth <= 1024">
    <div ng-include="'views/default/nav_mobile.html'"></div>
</div>

<!-- NAV -->
<nav ng-class="app.showNav ? 'nav_is_open' : ''" ng-click="app.showSearchResults = false" ng-swipe-right="app.showNav = false">
    <div ng-include="'views/default/nav.html'"></div>
</nav>

<!-- CONTENT -->
<div id="content_root" ng-class="app.showNav ? 'navOpen' : ''">
    <!-- CONTENT WRAP -->
    <div id="content_wrap">
        <div id="close_mobile_menu" ng-if="app.showNav" ng-swipe-right="app.showNav = false" ng-click="app.showNav = false"
             ng-style="{'background' : app.showNav ? 'rgba(0,0,0,.3)' : 'rgba(0,0,0,0)' }"></div>


        <div id="close_mobile_menu" ng-if="app.showNav" ng-swipe-right="app.showNav = false" ng-click="app.showNav = false"
             ng-style="{'background' : app.showNav ? 'rgba(0,0,0,.3)' : 'rgba(0,0,0,0)' }"></div>


        <div id="content">
            <!-- SEARCH AREA -->
            <div id="search_area" ng-if="wWidth > 1024">
                <div ng-include="'views/default/search.html'"></div>
            </div>
            <div id="content_cell">
                <!-- CLOSE SEARCH AREA -->
                <div ng-click="app.showSearchResults = false" id="search_area_close" ng-style="{'display' : app.showSearchResults ? 'block' : 'none' }"></div>

                <!-- ROUTES CONTENT -->
                <div id="view" ui-view></div>
            </div>
        </div>
        <div id="raa_notification" ng-if="app.displayRaaNotification()">
            <div id="raa_logo_wrapper">
                <div id="raa_logo_container">
                    <img src="../imgs/icon_handshake.png">
                </div>
            </div>
            <div id="raa_content_wrapper">
                <div id="notification_title">Rahvaalgatus lendab pesast välja.</div>
                <div id="notification_text">Meil on hea meel teatada, et Rahvaalgatus.ee on kõvasti kasvanud ja kolib alates 16.11 Citizen OS serverist omaette serverisse. Teenusega koos kolitakse ka Rahvaalgatus.ee kaudu algatatud teemad. Kui mõni teema tundub olevat siit kadunud, ärge muretsege! Leiate selle Rahvaalgatus.ee lehelt. Teenus toetub ka edaspidi Citizen OS tarkvarale.</div>
            </div>
            <div id="raa_close_wrapper">
                <div class="blue_button" ng-click="app.closeRaaNotification()" class="blue_button">Tuult tiibadesse</div>
            </div>
        </div>
    </div>
</div>
