<div id="table_element">

    <div class="table_row">
        <div class="table_cell">
            <div class="header">
                <div id="logo" class="centered_content">
                    <div class="sprite sprite-cos-logo-small-positive2x"></div>
                </div>
                <div id="name" class="centered_content" ng-if="app.user.loggedIn" ng-bind="app.user.name">
                    user name
                </div>
                <div id="profile_image" class="centered_content" ng-if="app.user.loggedIn">
                    <div class="profile_image_wrapper dark">
                        <div class="account_picture">
                            <img ng-if="app.user.imageUrl" ng-src="{{app.user.imageUrl}}" src="">
                            <div class="profile_image_filler" ng-if="!app.user.imageUrl">
                                <cos-initials class="table_cell" ng-model="app.user.name"></cos-initials>
                                <div class="profile_circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table_row">
        <div class="centered_content main_content_wrap" ng-class="('partners/consent' | isState) ? 'consent' : ''">
            <div id="main_content">
                <img id="partner_logo" ng-src="{{'imgs/partners/logo_' + partner.id + '.png'}}" alt="">

                <div ui-view></div>
            </div>
        </div>
    </div>

</div>
