<div id="table_element">

    <div class="table_row">
        <div class="table_cell">
            <div class="header">
                <div id="logo" class="centered_content">
                    <div class="sprite sprite-cos-logo-small-positive2x"></div>
                </div>
                <!-- FIXME: IF logged in-->
                <div id="name" class="centered_content">
                    Kristian Lemben
                </div>
                <div id="profile_image" class="centered_content">
                    <div class="profile_image_wrapper dark">
                        <div class="profile_moon sprite sprite-icon-certified-fb2x"></div>
                        <div class="account_picture">
                            <img src=".././imgs/profile.jpg">
                            <div class="profile_image_filler">
                                <div class="table_cell">
                                    ML
                                </div>
                                <div class="profile_circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table_row">
        <div class="centered_content main_content_wrap">
            <div id="main_content">

                <!-- FIXME: Dynamic -->
                <img id="partner_logo" src="imgs/RA_logo2x.png" alt="">

                <div ui-view></div>

            </div>
        </div>
    </div>

</div>
