<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="date_picker_wrap set_number">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">{{cosModalTitle}}</div>
                    <div class="lightbox_header_description_text" ng-if="cosModalDescription">
                        {{cosModalDescription}}
                    </div>
                </div>

                <div id="lightbox_close" ng-click="cosModalClose()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

            </div>

            <div class="line lightest_line"></div>


            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content">

                <div class="lightbox_section picker_content">
                    <div class="bubble_content">

                        <div class="cos_modal_content"></div>

                        <div id="cosOverlayConfirmButtons" class="bubble_section date_save_buttons">
                            <div class="blue_button" ng-click="cosModalSaveAction()" translate="DIRECTIVES.COS_MODAL.BTN_SAVE">Save</div>
                            <div class="blue_link_wrapper" ng-click="cosModalClose()">
                                <div class="blue_link" translate="DIRECTIVES.COS_MODAL.BTN_CANCEL">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="cosModalClose()"></div>

</div>
