<div class="line lightest_line"></div>
<div id="root_lightbox" class="full_screen">
    <div id="lightbox" class="date_picker_wrap">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">{{cosModalTitle}}</div>
                    <div class="lightbox_header_description_text" ng-if="cosModalDescription">
                        {{cosModalDescription}}
                    </div>
                </div>

                <div id="lightbox_close" ng-click="cosModalClose()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

            </div>

            <div class="line lightest_line"></div>

            <div class="lightbox_content">

                <div class="lightbox_section picker_content">

                    <div cos-toggle ng-model="cosModalIsDateSelected" cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"></div>

                    <div class="bubble_content">

                        <div class="bubble_section">
                            <div class="bubble_title" translate="">Deadline</div>
                            <div class="bubble_description">
                                <div ng-if="cosModalIsDateSelected">
                                    <div class="picker_deadline_date">
                                        {{cosModelValue | amDateFormat:'L'}}
                                    </div>
                                    <div class="picker_days_left">
                                        {{cosModelValue | amDifference : null : 'days'}}
                                    </div>
                                </div>&nbsp;<!-- Fix for padding when datepicker is not shown, could use a better fix tho -->
                                <div class="clearer"></div>
                            </div>
                        </div>

                        <div ng-if="cosModalIsDateSelected" class="line lightest_line"></div>

                        <div ng-if="cosModalIsDateSelected" date-picker="$parent.cosModelValue" min-date="$parent.datePickerMin" max-view="date" min-view="date" template="/views/directives/date_picker.html"></div>

                        <div class="bubble_section date_save_buttons">
                            <div class="blue_button" ng-click="cosModalSaveAction()" translate="">Save</div>
                            <div class="blue_link_wrapper" ng-click="cosModalClose()">
                                <div class="blue_link" translate="">Cancel</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div id="close_lightbox" ng-click="cosModalClose()"></div>

</div>
