<div id="root_lightbox" class="full_screen" ng-if="$ctrl.isModalVisible">
    <div id="lightbox" class="date_picker_wrap wide_lightbox">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title">{{$ctrl.cosModalTitle}}</div>
                    <div class="lightbox_header_description_text" ng-if="$ctrl.cosModalDescription">
                        {{$ctrl.cosModalDescription}}
                    </div>
                </div>

                <div id="lightbox_close" ng-click="$ctrl.cosModalClose()">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

            </div>

            <div class="line lightest_line"></div>

            <div class="lightbox_content">

                <div class="lightbox_section picker_content">

                    <div class="gray_toggle_box">
                        <div class="table_cell">
                            <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_DEADLINE">Deadline</div>
                        </div>
                        <div class="table_cell">
                            <cos-toggle model="$ctrl.cosModalIsDateSelected" cos-toggle-text-on="'TOGGLE_ON' | translate" cos-toggle-text-off="'TOGGLE_OFF' | translate"></cos-toggle>
                        </div>
                    </div>
                    <div class="double_cell_layout ten_px_margin_between margin_betwen_boxes ten_px_padding" ng-if="$ctrl.cosModalIsDateSelected">
                        <div class="left_row add_bottom_borders">
                            <div class="picker_content active">
                                <div class="bubble_content">

                                    <div class="bubble_section">

                                        <div class="bubble_description">
                                            <div class="picker_deadline_date">
                                                {{$ctrl.form.deadline | amDateFormat:'L LT Z'}}
                                            </div>
                                            <div class="picker_days_left" translate="VIEWS.TOPICS_TOPICID.VOTE_TXT_DEADLINE_CALENDAR_DAYS_LEFT"
                                                translate-values="{numberOfDaysLeft: $ctrl.daysToVoteEnd()}">0 days left
                                            </div>
                                            <div class="clearer"></div>
                                        </div>
                                    </div>
                                    <div class="double_cell_layout">
                                        <div class="left_row gray_toggle_box">
                                            <div class="set_vote_time_wrap">
                                                <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_TIME">Set a time</div>
                                                <div class="input_row">
                                                    <input class="time_input" ng-model="$ctrl.form.endsAt.h" ng-change="$ctrl.formatTime(form.endsAt.h); $ctrl.setEndsAtTime()" type="number" min="0" max="{{$ctrl.HCount}}" step="1"/><span class="time_separator">:</span><input type="number" class="time_input" min="0" max="60" step="5" ng-model="$ctrl.form.endsAt.min" ng-change="$ctrl.formatTime($ctrl.form.endsAt.min);$ctrl.setEndsAtTime()" />

                                                    <div cos-dropdown class="classic_dropdown">

                                                        <div class="dropdown_selection">
                                                            <div class="dropdown_text">
                                                                {{'VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_'+$ctrl.form.endsAt.timeFormat | uppercase | translate}}
                                                            </div>

                                                            <div class="arrow_holder">
                                                                <div class="table_cell">
                                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                                    <div class="v_line"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown">

                                                            <div class="dropdown_item">

                                                                <div class="item_names_wrap">
                                                                    <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_24" ng-click="$ctrl.form.endsAt.timeFormat = 24; $ctrl.setTimeFormat()">
                                                                        24 hr clock
                                                                    </div>
                                                                    <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_AM" ng-click="$ctrl.form.endsAt.timeFormat = 'AM'; $ctrl.setTimeFormat()">
                                                                        AM
                                                                    </div>
                                                                    <div class="item_name" translate="VIEWS.TOPICS_TOPICID.VOTE_SETTING_TIME_OPTION_PM" ng-click="$ctrl.form.endsAt.timeFormat = 'PM'; $ctrl.setTimeFormat()">
                                                                        PM
                                                                    </div>
                                                                </div>

                                                                <div class="clearer"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="set_vote_timezone_wrap">
                                                <div class="toggle_box_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_TIMEZONE">Set a time</div>
                                                <div class="input_row">
                                                    <div cos-dropdown class="classic_dropdown timezone_dropdown">

                                                        <div class="dropdown_selection">
                                                            <div class="dropdown_text">
                                                                {{$ctrl.getTimeZoneName($ctrl.form.endsAt.timezone)}}
                                                            </div>

                                                            <div class="arrow_holder">
                                                                <div class="table_cell">
                                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                                    <div class="v_line"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="dropdown">

                                                            <div class="dropdown_item" ng-class="zone === $ctrl.form.endsAt.timezone ? 'bold' : ''"  ng-repeat="zone in $ctrl.timezones">
                                                                <div class="item_names_wrap">
                                                                    <div class="item_name" ng-click="$ctrl.form.endsAt.timezone = zone.value; $ctrl.setEndsAtTime()">
                                                                        {{zone.name}}
                                                                    </div>
                                                                </div>
                                                                <!--div class="item_props">
                                                                    404 topics
                                                                </div-->
                                                                <div class="clearer"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right_row gray_toggle_box">
                                                <div class="toggle_box_title datepicker_title" translate="VIEWS.TOPICS_TOPICID.VOTE_LBL_SET_DATE">Set date</div>
                                                <div class="date_picker_wrap" date-picker="$ctrl.form.endsAt.date" min-date="$ctrl.datePickerMin" max-view="date" min-view="date"
                                                    template="/views/directives/date_picker.html" ng-click="$ctrl.setEndsAtTime()"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lightbox_footer">
                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-click="$ctrl.cosModalSaveAction()" translate="DIRECTIVES.COS_MODAL_DATEPICKER.BTN_SAVE">Save</div>
                    <div class="blue_button no" ng-click="$ctrl.cosModalClose()" translate="DIRECTIVES.COS_MODAL_DATEPICKER.BTN_CANCEL">Cancel</div>
                </div>
            </div>
        </div>
    </div>

    <div id="close_lightbox" ng-click="$ctrl.cosModalClose()"></div>

</div>
<span class="item_link blue_link" ng-click="$ctrl.cosModalOpen()">{{$ctrl.cosModalLinkText}}</span>
