<!-- LIGHTBOX SKELETON -->
<div id="root_lightbox" class="full_screen">

    <div id="lightbox" class="wide_lightbox with_header_menu" ng-class="$ctrl.group.id ? 'with_title_description' : ''">

        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.GROUP_INVITE_SHARE_HEADING">Invite & share</div>
                    <div class="title_description" ng-if="$ctrl.group.id">{{$ctrl.group.name}}</div>
                </div>

                <div id="lightbox_close" class="ngdialog-close" ng-click="$ctrl.app.closeThisDialog($event)">
                    <div class="table_cell ngdialog-close">
                        <div class="sprite sprite-btn-popup-close2x ngdialog-close">
                        </div>
                    </div>
                </div>

                <div class="clearer"></div>

                <div class="header_row_wrap">
                    <div class="header_row" slide-controller identifier="createGroupSlider">
                        <div class="tab_button" ng-repeat="tab in $ctrl.tabs" ng-click="$ctrl.tabSelected = tab.id" ng-class="$ctrl.tabSelected === tab.id ? 'active' : ''">
                            <div class="tab_buttom_wrap">
                                <div class="tab_button_text" translate="{{'MODALS.GROUP_CREATE_SETTINGS_TAB_'+tab.name}}">SETTINGS</div>
                                <div class="blue_bottom_line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line lightest_line"></div>
            <!-- INVITE USERS -->
            <div class="lightbox_content settings_section_wrap padding_bottom_zero" ng-if="$ctrl.tabSelected === 'users'">

                <div class="lightbox_section" ng-if="$ctrl.Group.canShare($ctrl.group)">
                    <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_INVITE_LBL_OPTIONAL_MESSAGE">Add an optional invitation message</div>
                    <textarea id="invite_body" translate translate-attr-placeholder="MODALS.GROUP_CREATE_SETTINGS_INVITE_PLACHOLDER_OPTIONAL_MESSAGE" class="gray_borders"
                                placeholder="Edit your reply here..." ng-model="$ctrl.form.inviteMessage" maxlength="{{::$ctrl.inviteMessageMaxLength}}"></textarea>

                    <div class="input_text_margin_bottom" translate="MODALS.GROUP_CREATE_SETTINGS_LBL_INVITE_USERS">Invite users via their name or e-mail address</div>

                    <div class="searchbox_with_icon_and_text only_text">
                        <div cos-dropdown ng-class="{search_with_dropdown : $ctrl.searchResults.users.length, dropdown_active : $ctrl.searchResults.users.length}">
                            <typeahead id="userSearch" class="auto-complete" items="$ctrl.searchResults.users" term="$ctrl.searchStringUser" search="$ctrl.search(term, 'user')"
                                        select="$ctrl.addGroupMemberUser(item)" placeholder="{{'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_SEARCH_BY_NAME_EMAIL' | translate}}">
                                <div class="search_area_wrap">
                                    <div class="search_dropdown_area" ng-class="{hidden: !$ctrl.searchResults.users.length}">
                                        <div class="search_dropdown_item" typeahead-item="user" ng-repeat="user in $ctrl.searchResults.users">
                                            <div class="table_cell search_item_text">
                                                <b>{{user.name}}</b> {{user.email}}
                                            </div>
                                            <div class="table_cell blue_link">
                                                <span class="submit_link" ng-click="$ctrl.addGroupMemberUser(user)" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_OR_CLICK_TO_ADD">Press enter or click to add</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="search_text">
                                    <div class="table_cell blue_link"  ng-click="$ctrl.addGroupMemberUser()" translate="MODALS.GROUP_CREATE_SETTINGS_TXT_PRESS_ENTER_TO_ADD">Press enter to add</div>
                                </div>

                            </typeahead>

                        </div>
                    </div>
                </div>

                <!-- INVALID INPUTS -->
                <div class="lightbox_section double_row_list user_list" ng-if="$ctrl.invalid.length">
                    <div class="category_title">
                        <div class="input_text_margin_bottom  error_label">
                            <div class="sprite sprite-icon-inputfield-error2x"></div>
                            <span translate="MODALS.TOPIC_SETTINGS_ERROR_MSG_INVALID_EMAILS_FOUND">Invalid e-mail formats found. Please correct and add before sending invite.</span>
                        </div>
                    </div>
                    <table>
                        <tr ng-repeat="(key, email) in $ctrl.invalid">
                            <td>
                                <input type="text" class="error_input" ng-model="email" ng-keypress="($event.which === 13)? $ctrl.addCorrectedEmail(email, key) : 0"/>

                                <div class="mobile_extra_info">
                                    <div class="left">
                                        <div class="light_gray_button" ng-click="$ctrl.addCorrectedEmail(email, key)" translate="MODALS.TOPIC_SETTINGS_BTN_ADD">
                                            Add
                                        </div>
                                    </div>

                                    <div class="right">
                                        <div class="btn_wrap recycle_bin white_bg">
                                            <div class="btn" ng-click="$ctrl.removeInvalidEmail(key)">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="light_gray_button" ng-click="$ctrl.addCorrectedEmail(email, key)" translate="MODALS.TOPIC_SETTINGS_BTN_ADD">
                                    Add
                                </div>
                            </td>
                            <td>
                                <div class="btn_wrap recycle_bin white_bg">
                                    <div class="btn" ng-click="$ctrl.removeInvalidEmail(key)">
                                        <div class="table_cell">
                                            <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <div class="lightbox_section double_row_list user_list" ng-if="$ctrl.members.length">
                    <div>
                        <table>
                            <tr>
                                <td ><span translate="MODALS.GROUP_CREATE_SETTINGS_LBL_CHANGE_ALL">Change all</span><div class="mobile_extra_info">
                                    <div class="left">

                                        <div cos-dropdown class="classic_dropdown" ng-if="$ctrl.Group.canUpdate($ctrl.group)">

                                            <div class="dropdown_selection">
                                                <div class="dropdown_text">
                                                    {{'TXT_TOPIC_LEVELS_' + $ctrl.groupLevel | uppercase | translate}}
                                                </div>

                                                <div class="arrow_holder">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                        <div class="v_line"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dropdown" >
                                                <div  class="dropdown_item" ng-repeat="level in $ctrl.GroupMemberUser.LEVELS">
                                                    <div class="item_name" ng-click="$ctrl.updateGroupLevel(level)">
                                                        {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="right">
                                        <div class="btn_wrap recycle_bin white_bg">
                                            <div class="btn" ng-click="$ctrl.removeAllMembers()">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                                <td ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                                    <div cos-dropdown class="classic_dropdown" ng-if="$ctrl.Group.canUpdate($ctrl.group)">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{'TXT_TOPIC_LEVELS_' + $ctrl.groupLevel | uppercase | translate}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div  class="dropdown_item" ng-repeat="level in $ctrl.GroupMemberUser.LEVELS">
                                                <div ng-if="level !== $ctrl.GroupMemberUser.LEVELS.none" class="item_name" ng-click="$ctrl.updateGroupLevel(level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="$ctrl.removeAllMembers()">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="category_title" ng-repeat-start="title in $ctrl.memberGroups" ng-if="$ctrl.itemsExist(title)">
                            <div class="table_cell">
                                <span>{{"MODALS.TOPIC_SETTINGS_RESULT_GROUP_" + title | uppercase | translate}}</span>
                            </div>
                        </div>

                        <table  ng-repeat-end ng-if="$ctrl.itemsExist(title)">
                                <tr ng-repeat="(memberKey, member) in $ctrl.members" ng-if="$ctrl.isOnPage($index, $ctrl.membersPage) && $ctrl.isInGroup(member, title)">
                                <td>
                                    <div class="profile_image_wrapper dark">
                                        <!--div class="profile_moon sprite"></div-->
                                        <div class="account_picture">
                                            <img ng-if="member.imageUrl" ng-src="{{member.imageUrl}}">
                                            <div class="profile_image_filler">
                                                <cos-initials class="table_cell" ng-model="member.name" ></cos-initials>
                                                <div class="profile_circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="name_wrap">
                                        <div class="table_cell">
                                            <div class="blue_link" ng-click="$ctrl.doRemoveMemberUser(member)">{{member.name}}</div>
                                            <div class="via">{{member.company}}</div>
                                            <div class="via" translate="MODALS.TOPIC_SETTINGS_INVITE_EXPIRES" translate-values="{expiresAt: ($ctrl.getExpiresAt() | amTimeAgo)}"></div>
                                        </div>
                                    </div>

                                    <div class="mobile_extra_info">
                                        <div class="left">
                                            <div cos-dropdown class="classic_dropdown" ng-if="$ctrl.Group.canUpdate($ctrl.group)">

                                                <div class="dropdown_selection">
                                                    <div class="dropdown_text">
                                                        {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                                    </div>

                                                    <div class="arrow_holder">
                                                        <div class="table_cell">
                                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                            <div class="v_line"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="dropdown">
                                                    <div class="dropdown_item" ng-repeat="level in $ctrl.GroupMemberUser.LEVELS">
                                                        <div class="item_name" ng-click="$ctrl.updateGroupMemberUserLevel(member, level)">
                                                            {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="right">
                                            <div class="btn_wrap recycle_bin white_bg">
                                                <div class="btn">
                                                    <div class="table_cell">
                                                        <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div cos-dropdown class="classic_dropdown" ng-if="$ctrl.Group.canUpdate($ctrl.group)">

                                        <div class="dropdown_selection">
                                            <div class="dropdown_text">
                                                {{'TXT_TOPIC_LEVELS_' + member.level | uppercase | translate}}
                                            </div>

                                            <div class="arrow_holder">
                                                <div class="table_cell">
                                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                                    <div class="v_line"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <div class="dropdown_item" ng-repeat="level in $ctrl.GroupMemberUser.LEVELS">
                                                <div class="item_name" ng-click="$ctrl.updateGroupMemberUserLevel(member, level)">
                                                    {{'TXT_TOPIC_LEVELS_' + level | uppercase | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn_wrap recycle_bin white_bg">
                                        <div class="btn" ng-click="$ctrl.doRemoveMemberUser(member)">
                                            <div class="table_cell">
                                                <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                                <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <cos-pagination class="pagination" select="$ctrl.loadPage(page)" total-pages="$ctrl.totalPages($ctrl.members)" page="$ctrl.membersPage"></cos-pagination>
                    </div>


                </div>

            </div>

            <!-- SHARE -->
            <div class="lightbox_content invite_url" ng-if="$ctrl.tabSelected === 'share'">

                <div class="lightbox_section" ng-if="$ctrl.Group.canShare($ctrl.group)">
                    <h3 translate="MODALS.TOPIC_SETTINGS_HEADING_LINK_SHARING">Link sharing</h3>
                    <div class="share_link">
                        <div class="table_row">
                            <div class="searchbox_with_icon_and_text only_text">
                                <input id="url_invite_group_input" ng-model="$ctrl.form.joinUrl" placeholder="{{'MODALS.GROUP_CREATE_SETTINGS_PLACEHOLDER_CREATE_NEW_LINK' | translate}}">
                                <div class="regenerate_link not_mobile" ng-click="$ctrl.generateTokenJoin()" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                                    <div class="sprite sprite-icon-refresh"></div>
                                </div>
                            </div>
                            <div class="blue_button not_mobile" ng-click="$ctrl.copyInviteLink()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_COPY_LINK">Copy
                                link
                            </div>
                        </div>
                        <div class="permissions">
                            <div class="label" translate="MODALS.GROUP_CREATE_SETTINGS_LABEL_DROPDOWN_PERMISSION_DESCRIPTION">Anyone with the link can</div>
                            <span ng-if="!$ctrl.Group.canUpdate($ctrl.group)" class="bold">{{('TXT_GROUP_LEVELS_' + $ctrl.form.join.level | uppercase) | translate}}</span>
                            <div cos-dropdown class="classic_dropdown" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                                <div class="dropdown_selection">
                                    <div class="dropdown_text">
                                        {{('TXT_GROUP_LEVELS_' + $ctrl.form.join.level | uppercase) | translate}}
                                    </div>

                                    <div class="arrow_holder">
                                        <div class="table_cell">
                                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                            <div class="v_line"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <div class="dropdown_item" ng-repeat="level in $ctrl.GroupMemberUser.LEVELS">
                                        <div class="item_name" ng-click="$ctrl.doUpdateJoinToken(level)">
                                            {{('TXT_GROUP_LEVELS_' + level | uppercase) | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table_row mobile_only">
                            <div class="blue_button" ng-click="$ctrl.copyInviteLink()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_COPY_LINK">Copy link</div>
                        </div>
                        <div class="table_row mobile_only">
                            <div class="white_button" ng-click="$ctrl.generateTokenJoin()" translate="MODALS.GROUP_CREATE_SETTINGS_LNK_CREATE_NEW_LINK">Create a new link</div>
                        </div>
                    </div>
                </div>

                <div class="lightbox_section social_sharing" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                    <h3 translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_SOCIAL_SHARING">Social sharing</h3>
                    <a href="#" socialshare socialshare-provider="facebook" socialshare-text="{{$ctrl.group.name}}" socialshare-url="{{$ctrl.form.joinUrl}}"><div class="sprite sprite-icon-social-facebook-v2"></div></a>
                    <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{$ctrl.group.name}}" socialshare-url="{{$ctrl.form.joinUrl}}"><div class="sprite sprite-icon-social-linkedin-v2"></div></a>
                    <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{$ctrl.group.name}}" socialshare-url="{{$ctrl.form.joinUrl}}"><div class="sprite sprite-icon-social-twitter-v2"></div></a>
                </div>

                <div class="lightbox_section" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                    <h3 translate="MODALS.GROUP_CREATE_SETTINGS_HEADING_QR_SHARING">QR sharing</h3>
                    <div class="qr_code">
                        <qrcode data="{{$ctrl.form.joinUrl}}" size="120" version="4" error-correction-level="L" download class="qr_img"></qrcode>
                    </div>
                    <!--a href="#fixme" class="table_cell" translate="MODALS.TOPIC_SETTINGS_LINK_QR_CODE_PDF">Download QR code PDF</a-->
                </div>

            </div>

            <div class="lightbox_footer">

                <div class="line lightest_line"></div>
                <div class="blue_button_wrap">
                    <div class="blue_button" ng-if="!$ctrl.members.length && $ctrl.Group.canShare($ctrl.group)" ng-click="$ctrl.doSaveGroup()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_SAVE_GROUP">Save group</div>
                    <div class="blue_button" ng-if="$ctrl.members.length && $ctrl.Group.canShare($ctrl.group)" ng-click="$ctrl.doSaveGroup()" translate="MODALS.GROUP_CREATE_SETTINGS_BTN_SAVE_GROUP_AND_INVITE">Save group and send invite</div>
                </div>
            </div>
        </div>

    </div>

    <div id="close_lightbox" class="ngdialog-close" ng-click="$ctrl.app.closeThisDialog($event)"></div>

</div>
