<div id="groups_root">
    <!-- TOPICS AREA -->

    <div class="groups_header">
        <div id="title"><h2 translate="VIEWS.PUBLIC_GROUPS.TITLE">Public groups</h2></div>

        <div id="action_wrapper">
            <div id="filter">
                <div cos-dropdown class="bar_select">
                    <div class="select_text">
                        {{'VIEWS.PUBLIC_GROUP.DROPDOWN_GROUP_ACTIONS' | translate}}
                        <div class="icon_holder">
                            <div class="table_cell">
                                <div class="icon_arrow_down_black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown group_filter_dropdown big_drop">
                        <div class="line lightest_line"></div>

                        <div class="dropdown_item" ng-click="$ctrl.sortGroups('ASC')">
                            <div class="icon arrow_th_sort_down"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUPS.ORDER_TITLE_ASC">
                                ORDER
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="dropdown_item" ng-click="$ctrl.sortGroups('DESC')">
                            <div class="icon arrow_th_sort_up"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUPS.ORDER_TITLE_DESC">
                                Leave
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$ctrl.app.user.loggedIn" id="create_group" class="blue_button_wrap">
                <button ng-click="$ctrl.createGroup()" class="blue_button" translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP">Create public group</button>
            </div>
        </div>
    </div>
    <div class="groups_wrap">
        <div class="group_wrap" ng-repeat="group in $ctrl.PublicGroupService.groups">
            <div>
                <div class="group_shown_content" ng-click="$ctrl.goToGroupView(group)">
                    <div class="group_header">
                        <div class="group_icon">
                            <div class="group_circle">
                                <div class="group_icon"ng-if="group.imageUrl"><img ng-src="{{group.imageUrl}}" /></div>

                                <cos-initials  ng-if="!group.imageUrl && group.name" class="table_cell" ng-model="group.name" initial-limit="1"></cos-initials>
                            </div>
                        </div>
                    </div>
                    <div class="group_name">
                        <span ng-bind="group.name"></span>
                    </div>
                    <div class="group_details">
                        <span ng-bind="group.description"></span>
                    </div>
                </div>
                <div class="join_button">
                    <div class="blue_button_wrap">
                        <button class="blue_button" ng-if="!group.userLevel" ng-click="$ctrl.joinGroup(group);$event.stopPropagation();" translate="VIEWS.PUBLIC_GROUPS.BTN_JOIN_GROUP">Join group</button>
                        <button class="blue_button" ng-if="group.userLevel" ng-click="$ctrl.goToGroupView(group);$event.stopPropagation();" translate="VIEWS.PUBLIC_GROUPS.BTN_VIEW_GROUP">View group</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!$ctrl.PublicGroupService.groups.length" class="table">
            <div class="no_results v_align_cell">
                <div class="no_results_icon_wrap">
                    <div class="sprite sprite-icon-no-results2x no_results_img"></div>
                </div>
                <div class="title_area">
                    <h3 translate="VIEWS.PUBLIC_GROUPS.HEADING_NO_RESUTS">We’re sorry, but we couldn’t find any results :(</h3>
                    <p translate="VIEWS.PUBLIC_GROUPS.HEADING_GET_STARTED">Maybe you can get the first discussion initiated by</p>
                </div>

                <div class="button_area" ng-if="$ctrl.app.user.loggedIn">

                    <div class="big_button" ui-sref="groups/create">
                        <div class="button_cell">
                            <div class="topic_text" translate="VIEWS.PUBLIC_GROUPS.BTN_CREATE_PUBLIC_GROUP" ng-click="$ctrl.createGroup()">Creating a new topic</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="blue_button_wrap" ng-click="$ctrl.PublicGroupService.loadMore()" ng-if="$ctrl.PublicGroupService.countTotal > $ctrl.PublicGroupService.groups.length">
        <div class="blue_button" ng-class="{disabled: $ctrl.isTopicListLoading}" translate="VIEWS.PUBLIC_GROUPS.BTN_LOAD_MORE_GROUPS">Load more groups</div>
    </div>
</div>

<div ui-view></div>

