<div id="back_link">
    <div class="icon bullet_arrow_left"></div><a ui-sref="public/groups" translate="VIEWS.PUBLIC_GROUP.LNK_BACK_TO_PUBLIC_GROUPS"> Back to all public groups</a>
</div>
<div id="group_root">
    <div class="group_wrap">
        <div class="group_header">
            <div id="create_group" class="blue_button_wrap">
            </div>
        </div>
        <div class="group_shown_content">
            <div class="group_header">
                <div class="group_icon">
                    <div class="group_circle">
                        <div class="group_icon" ng-if="$ctrl.group.imageUrl"><img ng-src="{{$ctrl.group.imageUrl}}" /></div>
                        <cos-initials  ng-if="!$ctrl.group.imageUrl && $ctrl.group.name" class="table_cell" ng-model="$ctrl.group.name" initial-limit="1"></cos-initials>
                    </div>
                </div>
                <div class="group_name">
                    <span ng-bind="$ctrl.group.name"></span>
                </div>
                <div class="group_details">
                    <span ng-bind="$ctrl.group.description"></span>
                </div>
                <div class="group_actions">
                    <div class="group_members" ng-click="$ctrl.shareGroupDialog();$event.stopPropagation();" ng-if="$ctrl.group.userLevel">
                        <span>Invite & share</span>
                    </div>
                    <div cos-dropdown class="bar_select bar_select_blue" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                        <div class="select_text">
                            {{'VIEWS.PUBLIC_GROUP.DROPDOWN_GROUP_ACTIONS_ADD_TOPICS' | translate}}
                            <div class="icon_holder">
                                <div class="table_cell">
                                    <div class="icon_arrow_down_white"></div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown big_drop">
                            <div class="line lightest_line"></div>

                            <div class="dropdown_item" ng-click="$ctrl.createTopicDialog();$event.stopPropagation();">
                                <div class="icon icon_plus_black"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_CREATE_TOPIC">
                                    Settings
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="dropdown_item"  ng-click="$ctrl.addTopicDialog(); $event.stopPropagation();">
                                <div class="icon icon_topic_black"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_ADD_TOPICS">
                                    Add Topics
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>
                    </div>
                    <div cos-dropdown class="bar_select" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                        <div class="select_text">
                            {{'VIEWS.PUBLIC_GROUP.DROPDOWN_GROUP_ACTIONS_MORE' | translate}}
                            <div class="icon_holder">
                                <div class="table_cell">
                                    <div class="icon_arrow_down_black"></div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown big_drop">
                            <div class="line lightest_line"></div>

                            <div class="dropdown_item" ng-click="$ctrl.showSettings()" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                                <div class="icon icon_settings"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_SETTINGS">
                                    Settings
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="dropdown_item" ng-click="$ctrl.leaveGroup()">
                                <div class="icon icon_x_black"></div>
                                <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_LEAVE">
                                    Leave
                                </div>
                                <div class="clearer"></div>
                            </div>
                            <div class="dropdown_item" ng-click="$ctrl.deleteGroup()" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                                <div class="icon icon_delete"></div>
                                <div class="item_name red_text" translate="VIEWS.PUBLIC_GROUP.ACTION_OPTION_DELETE">
                                    Delete
                                </div>
                                <div class="clearer"></div>
                            </div>
                        </div>
                    </div>
                    <button ng-if="!$ctrl.group.userLevel" class="blue_button" ng-click="$ctrl.joinGroup()" translate="VIEWS.PUBLIC_GROUP.BTN_JOIN_GROUP">Join group</button>
                    <button ng-if="$ctrl.group.userLevel && !$ctrl.Group.canUpdate($ctrl.group)" class="light_gray_button_big" ng-click="$ctrl.leaveGroup()"><div class="icon icon_x_black"></div><span translate="VIEWS.PUBLIC_GROUP.BTN_LEAVE_GROUP">Leave group</span></button>
                </div>
            </div>
        </div>
        <div class="header_row_wrap">
            <div class="header_row" slide-controller identifier="topicSettingsSlider">
                <div class="tab_button" ng-click="$ctrl.app.selectTab('topics')" ng-class="$ctrl.app.tabSelected === 'topics' ? 'active' : ''">
                    <div class="tab_buttom_wrap">
                        <div class="tab_button_text"><span  translate="VIEWS.PUBLIC_GROUP.TAB_TOPICS">Topics</span> <span>({{$ctrl.PublicGroupMemberTopicService.countTotal}})</span></div>
                        <div class="blue_bottom_line"></div>
                    </div>
                </div>

                <div class="tab_button" ng-click="$ctrl.app.selectTab('members')" ng-class="$ctrl.app.tabSelected === 'members' ? 'active' : ''">
                    <div class="tab_buttom_wrap">
                        <div class="tab_button_text"><span translate="VIEWS.PUBLIC_GROUP.TAB_MEMBERS">Members</span> <span>({{$ctrl.GroupMemberUserService.countTotal}})</span></div>
                        <div class="blue_bottom_line"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" ng-if="$ctrl.app.tabSelected === 'topics'">
            <div class="container_content" >
                <div ng-if="!$ctrl.PublicGroupMemberTopicService.countTotal" class="table">
                    <div class="no_results v_align_cell">
                        <div class="no_results_icon_wrap">
                            <div class="no_results_img sprite sprite-icon-no-results2x"></div>
                        </div>
                        <div class="title_area">
                            <h3 translate="VIEWS.PUBLIC_GROUP.HEADING_NO_RESUTS">We’re sorry, but we couldn’t find any results :(</h3>
                            <p translate="VIEWS.PUBLIC_GROUP.HEADING_DESCRIPTION">Maybe you can get the first discussion initiated by</p>
                        </div>

                        <div class="button_area">

                            <div class="big_button" ng-if="$ctrl.Group.canUpdate($ctrl.group)" ng-click="$ctrl.addTopicDialog()">
                                <div class="button_cell">
                                    <div class="topic_text" translate="VIEWS.PUBLIC_GROUP.BTN_ADD_TOPICS">Add topic</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div cos-dropdown class="bar_select" ng-if="$ctrl.app.wWidth <= 560">
                    <div class="select_text">
                        {{'VIEWS.PUBLIC_GROUP.ORDER_TITLE' | translate}}
                        <div class="icon_holder">
                            <div class="table_cell">
                                <div class="icon_arrow_down_black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown big_drop">
                        <div class="line lightest_line"></div>

                        <div class="dropdown_item" ng-click="$ctrl.PublicGroupMemberTopicService.doOrder('title', 'ASC')">
                            <div class="icon arrow_th_sort_down"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_TITLE_ASC">
                                ORDER
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="dropdown_item" ng-click="$ctrl.PublicGroupMemberTopicService.doOrder('title', 'DESC')">
                            <div class="icon arrow_th_sort_up"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_TITLE_DESC">
                                Leave
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>
                <div class="default_table" ng-if="$ctrl.PublicGroupMemberTopicService.countTotal">
                    <div class="pretend_tr" ng-if="$ctrl.app.wWidth > 560">
                        <div class="pretend_th link" ng-click="$ctrl.PublicGroupMemberTopicService.doOrder('title')">
                            <div class="th_text">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_TITLE">Title</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.PublicGroupMemberTopicService.order === 'ASC', 'icon arrow_th_sort_down': $ctrl.PublicGroupMemberTopicService.order === 'DESC' }"></div>
                            </div>
                        </div>
                        <div class="pretend_th">
                            <span translate="VIEWS.PUBLIC_GROUP.LNK_LAST_ACTIVITY">Last activity</span>
                        </div>
                        <div class="pretend_th">
                            <span translate="VIEWS.PUBLIC_GROUP.LNK_STATUS">Status</span>
                        </div>
                    </div>
                    <group-member-topic ng-if="$ctrl.PublicGroupMemberTopicService.countTotal" class="group_item_row pretend_tr" ng-repeat="topic in $ctrl.PublicGroupMemberTopicService.topics" fields="['lastActivity', 'status', 'delete']" member-topic="topic" group="$ctrl.group"></group-member-topic>

                    <div class="pretend_tr" ng-if="$ctrl.PublicGroupMemberTopicService.totalPages > 1">
                        <div class="pagination_wrapper">
                            <cos-pagination class="pagination" select="$ctrl.PublicGroupMemberTopicService.loadPage(page)" total-pages="$ctrl.PublicGroupMemberTopicService.totalPages" page="$ctrl.PublicGroupMemberTopicService.page"></cos-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="content" ng-if="$ctrl.app.tabSelected === 'members'">
            <div class="container_content">
                <div cos-dropdown class="bar_select" ng-if="$ctrl.app.wWidth <= 560">
                    <div class="select_text">
                        {{'VIEWS.PUBLIC_GROUP.ORDER_NAME' | translate}}
                        <div class="icon_holder">
                            <div class="table_cell">
                                <div class="icon_arrow_down_black"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown big_drop">
                        <div class="line lightest_line"></div>

                        <div class="dropdown_item" ng-click="$ctrl.GroupMemberUserService.doOrder('name', 'ASC')">
                            <div class="icon arrow_th_sort_down"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_NAME_ASC">
                                ORDER
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="dropdown_item" ng-click="$ctrl.GroupMemberUserService.doOrder('name', 'DESC')">
                            <div class="icon arrow_th_sort_up"></div>
                            <div class="item_name" translate="VIEWS.PUBLIC_GROUP.ORDER_NAME_DESC">
                                Leave
                            </div>
                            <div class="clearer"></div>
                        </div>
                    </div>
                </div>

                <div class="default_table">
                    <div class="pretend_tr"  ng-if="$ctrl.app.wWidth > 560">
                        <div class="pretend_th" ng-click="$ctrl.GroupMemberUserService.doOrder('name')">
                            <div class="th_text">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_PROFILE">Profile</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.GroupMemberUserService.order === 'ASC', 'icon arrow_th_sort_down': $ctrl.GroupMemberUserService.order === 'DESC' }" ng-if="$ctrl.GroupMemberUserService.orderBy === 'name'"></div>
                            </div>
                        </div>
                        <div class="pretend_th member_level" ng-click="$ctrl.GroupMemberUserService.doOrder('level')">
                                <span translate="VIEWS.PUBLIC_GROUP.LNK_ROLE">Role</span>
                                <div ng-class="{'icon arrow_th_sort_up': $ctrl.GroupMemberUserService.order === 'ASC', 'icon arrow_th_sort_down': $ctrl.GroupMemberUserService.order === 'DESC' }" ng-if="$ctrl.GroupMemberUserService.orderBy === 'level'"></div>
                        </div>
                        <div class="pretend_th" ng-if="$ctrl.Group.canUpdate($ctrl.group)">
                            <span translate="VIEWS.PUBLIC_GROUP.LBL_REMOVE_FROM_GROUP">Remove from group</span>
                        </div>
                    </div>
                    <!-- GroupMemberUsers -->
                    <my-member-user class="group_item_row pretend_tr" ng-repeat="user in $ctrl.GroupMemberUserService.users  track by user.id" member="user" group="$ctrl.group" fields="['level', 'remove']"></my-member-user>

                    <div class="pretend_tr" ng-if="$ctrl.GroupMemberUserService.totalPages > 1">
                        <div class="pagination_wrapper">
                            <cos-pagination class="pagination" select="$ctrl.GroupMemberUserService.loadPage(page)" total-pages="$ctrl.GroupMemberUserService.totalPages" page="$ctrl.GroupMemberUserService.page"></cos-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>

</div>
