<div id="home_root">

    <form name="test">
        <label><input type="checkbox" ng-model="showForm" style="width: 20px; height: 20px; color: red; border: 1px solid red;">Show form {{showForm}}</label>

        <div ng-if="showForm">
            <label style="display: block">isDisabled: <input type="checkbox" ng-model="isDisabled" style="width: 20px; height: 20px; color: red; border: 1px solid red;"> {{isDisabled}}</label>
            <label style="display: block">With tooltip: <input type="text" value="TEST" cos-disabled="isDisabled" cos-disabled-tooltip="{{'META_DEFAULT_DESCRIPTION' | translate}}"></label>
            <label style="display: block">Without tooltip: <input type="text" value="TEST" cos-disabled="isDisabled"></label>
            <div cos-dropdown id="dropdown1" class="classic_dropdown" cos-disabled="isDisabled">
                <div class="dropdown_selection">
                    <div class="dropdown_text">
                        Disable
                    </div>

                    <div class="arrow_holder">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropdown_item" ng-repeat="level in [1,2,3,4]">
                        <div class="item_name">
                            {{level}}
                        </div>
                    </div>
                </div>
            </div>

            <div cos-dropdown id="dropdown2" class="classic_dropdown" cos-disabled="isDisabled" cos-disabled-tooltip="cos-dropdown disabled!">
                <div class="dropdown_selection">
                    <div class="dropdown_text">
                        Disabled with tooltip
                    </div>

                    <div class="arrow_holder">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                        </div>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="dropdown_item" ng-repeat="level in [1,2,3,4]">
                        <div class="item_name">
                            {{level}}
                        </div>
                    </div>
                </div>
            </div>

            <div cos-toggle ng-model="foobardoobar" cos-disabled="isDisabled" cos-disabled-tooltip="cos-toggle disabled!">

            </div>

            <a style="display: block" href="https://disabled.com" class="blue_link" cos-disabled="isDisabled">Link disabled</a>
            <a style="display: block" href="https://disabledwithtooltip.com" class="blue_link" cos-disabled="isDisabled" cos-disabled-tooltip="Link disabled">Link disabled with tooltip</a>

            <div class="blue_button" cos-disabled="isDisabled">
                Button disabled
            </div>
            <div class="blue_button" cos-disabled="isDisabled" cos-disabled-tooltip="Button disabled with tooltip">
                Button disabled with tooltip
            </div>
        </div>
    </form>

</div>
