<div id="topics_root">

    <div class="v_line separator absolute_separator" ng-show="wWidth > 750"></div>

    <div id="topics_wrap">

        <!-- LEFT SIDE -->
        <div class="topics_left" ng-hide="wWidth <= 750 && 'mytopics.topicId' | isState">

            <div cos-dropdown class="classic_dropdown">

                <div class="dropdown_selection">
                    <div class="dropdown_text">
                        Show only: Public topics
                    </div>

                    <div class="arrow_holder">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                            <div class="v_line"></div>
                        </div>
                    </div>
                </div>

                <div class="dropdown">

                    <!-- NO CATEGORY -->
                    <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                        <div class="item_name">
                            Show all my topics
                        </div>
                    </div>

                    <!-- WITH CATEGORY -->
                    <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2', '3', '4', '5']">
                        <div class="table">
                            <div class="item_category">
                                Show only:
                            </div>
                            <div class="item_names_wrap">
                                <div class="item_name" ng-class="key === 0 ? 'bold' : ''" ng-repeat="(key, this) in ['1', '2', '3', '4']">
                                    My public topics
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="small_topic" ui-sref="mytopics.view({topicId: key})" ui-sref-active="active" ng-repeat="(key, this) in ['1', '2']">
                <div class="small_topic_header">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-mytopics-icon-inprogress2x"></div>
                        </div>
                        <div class="small_topic_small_text">In progress</div>
                    </div>

                    <div class="small_topic_right_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                        </div>
                        <div class="small_topic_small_text">3 groups</div>

                        <div class="hover_info">

                            <div class="info_arrow sprite sprite-tooltip-arrow2x">
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <img class="topic_image" src=".././imgs/test_topic_logo.png">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <img class="topic_image" src=".././imgs/test_topic_logo.png">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                        </div>
                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="small_topic_title">
                    Kuidas paremini arutleda<span class="lock_icon_wrap"><div class="sprite sprite-icon-lock2x"></div></span>
                </div>

                <div class="line lightest_line"></div>


                <div class="small_topic_footer">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_small_text">10 new activity</div>
                    </div>


                    <div class="small_topic_right_cont">
                        <div class="small_topic_small_text">12.07.2016 11:23</div>
                    </div>

                </div>

            </div>

            <div class="small_topic" ui-sref="mytopics.view({topicId: key})" ui-sref-active="active" ng-repeat="(key, this) in ['1', '2']">
                <div class="small_topic_header">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-mytopics-icon-closed2x"></div>
                        </div>
                        <div class="small_topic_small_text">Closed</div>
                    </div>

                    <div class="small_topic_right_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                        </div>
                        <div class="small_topic_small_text">3 groups</div>

                        <div class="hover_info">

                            <div class="info_arrow sprite sprite-tooltip-arrow2x">
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <img class="topic_image" src=".././imgs/test_topic_logo.png">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <img class="topic_image" src=".././imgs/test_topic_logo.png">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                        </div>
                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="small_topic_title">
                    Kuidas paremini arutleda<span class="lock_icon_wrap"><div class="sprite sprite-icon-lock2x"></div></span>
                </div>

                <div class="line lightest_line"></div>


                <div class="small_topic_footer">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_small_text">10 new activity</div>
                    </div>


                    <div class="small_topic_right_cont">
                        <div class="small_topic_small_text">12.07.2016 11:23</div>
                    </div>

                </div>

            </div>

            <div class="container_header bold">
                <div class="header_img_wrap">
                    <!--<img src=".././imgs/test_logo2.jpg">-->
                    <div class="group_circle small">
                        <div class="table_cell">
                            C
                        </div>
                    </div>
                </div>
                <div class="header_text">
                    CitizenOS test Group (2)
                </div>
                <div class="minimize_container" ng-click="app.votingThree = !app.votingThree">
                    <div ng-class="app.votingThree ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite sprite-btn-minimize2x"></div>
                </div>
            </div>

            <div class="small_topic" ui-sref="mytopics.view({topicId: 3})" ui-sref-active="active" ng-if="!app.votingThree">
                <div class="small_topic_header">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-mytopics-icon-voting2x"></div>
                        </div>
                        <div class="small_topic_small_text">In voting</div>
                    </div>

                    <div class="small_topic_right_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-menu-icon-groups2x-dark"></div>
                        </div>
                        <div class="small_topic_small_text">3 groups</div>

                        <div class="hover_info">

                            <div class="info_arrow sprite sprite-tooltip-arrow2x">
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                            <div class="hover_item">
                                <div class="icon_container">
                                    <div class="sprite sprite-icon-favourite2x"></div>
                                </div>
                                <div class="item_text">CitizenOS test group</div>
                            </div>

                        </div>
                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="small_topic_title">
                    Kuidas paremini arutleda
                </div>

                <div class="line lightest_line"></div>


                <div class="small_topic_footer">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_small_text">10 new activity</div>
                    </div>


                    <div class="small_topic_right_cont">
                        <div class="small_topic_small_text">12.07.2016 11:23</div>
                    </div>

                </div>

            </div>


            <div class="container_header bold active">
                <div class="header_img_wrap">
                    <!--<img src=".././imgs/test_topic_logo.png">-->
                    <div class="group_circle small">
                        <div class="table_cell">
                            C
                        </div>
                    </div>
                </div>
                <div class="header_text">
                    CitizenOS test Group (2)
                </div>
                <div class="minimize_container" ng-click="app.votingFour = !app.votingFour">
                    <div ng-class="app.votingFour ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite sprite-btn-minimize2x"></div>
                </div>
            </div>

            <div class="small_topic" ui-sref="mytopics.view({topicId: 4})" ui-sref-active="active" ng-if="!app.votingFour">
                <div class="favorite_container">
                    <div class="sprite sprite-icon-favourite2x"></div>
                </div>

                <div class="small_topic_header">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_icon">
                            <div class="sprite sprite-mytopics-icon-followup2x"></div>
                        </div>
                        <div class="small_topic_small_text">In follow-up</div>
                    </div>

                    <div class="small_topic_right_cont">
                        <div class="icon_container">
                            <!--<img class="topic_image" src=".././imgs/test_topic_logo.png">-->
                            <div class="group_circle small">
                                <div class="table_cell">
                                    C
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="small_topic_title">
                    Kuidas paremini arutleda
                </div>

                <div class="line lightest_line"></div>


                <div class="small_topic_footer">

                    <div class="small_topic_left_cont">
                        <div class="small_topic_small_text">10 new activity</div>
                    </div>


                    <div class="small_topic_right_cont">
                        <div class="small_topic_small_text">12.07.2016 11:23</div>
                    </div>

                </div>

            </div>
        </div>

        <!-- RIGHT SIDE -->
        <div ui-view></div>

        <div class="clearer"></div>
    </div>
</div>
