<!-- RIGHT SIDE -->
<div class="topics_right">

    <div class="v_line separator"></div>

    <!-- GENERAL INFO GROUPS VIEW -->
    <div class="info_container group_detail">

        <div class="container_header">
            <div class="header_text">
                General information
            </div>
            <div class="minimize_container" ng-click="app.generalInformation = !app.generalInformation">
                <div ng-class="app.generalInformation ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.generalInformation">

            <div class="content_top">
                <div class="container_title">
                    <div class="group_circle big">
                        <div class="table_cell">
                            C
                        </div>
                    </div>
                    <!--<img src=".././imgs/test_logo2.jpg">-->
                    CitizenOS test Group
                </div>
                <div class="container_favorite" ng-class="app.favorite ? 'favorited' : ''" ng-click="app.favorite = !app.favorite">
                    <div class="ff_table_fix">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-favourite2x-white"></div>
                            <div class="yellow_bg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line lightest_line"></div>

            <div class="content_bottom">


                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Users
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                66
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="app.doShowActivityModal()">
                                    view
                                </span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="app.doShowInviteUsers()">
                                    invite
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Topics
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                3
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view
                                </span>
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="app.doShowAddTopics()">
                                    add
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Your rights
                        </div>
                        <div class="item_content bold">
                            Read
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Status
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                Ettepanek seadusega keelata kõrvklappide kandmine tänaval
                                <span class="separator">|</span>
                                <span class="item_link blue_link bold">
                                    view
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Group actions
                        </div>
                        <div class="item_content">
                            <span class="item_text blue_link" ng-click="app.doShowTopicSettings()">
                                settings
                            </span>
                            <span class="separator">|</span>
                            <span class="item_text blue_link">
                                leave
                            </span>
                            <span class="separator">|</span>
                            <div class="remove item_text blue_link">
                                <div class="sprite sprite-mytopics-icon-deletetopic2x"></div>
                                delete
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>


    <!-- GENERAL INFORMATION -->
    <div class="info_container">

        <div class="container_header">
            <div class="header_text">
                General information
            </div>
            <div class="minimize_container" ng-click="app.generalInformation = !app.generalInformation">
                <div ng-class="app.generalInformation ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.generalInformation">

            <div class="content_top">
                <div class="container_title">
                    Kuidas paremini arutleda
                </div>
                <div class="container_favorite" ng-class="app.favorite ? 'favorited' : ''" ng-click="app.favorite = !app.favorite">
                    <div class="ff_table_fix">
                        <div class="table_cell">
                            <div class="sprite sprite-icon-favourite2x-white"></div>
                            <div class="yellow_bg"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line lightest_line"></div>

            <div class="content_bottom">


                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Author
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                Taivo Pungas
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Date created
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                11.06.2016
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Date deadline
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                24.12.2016
                                <span class="separator">|</span>
                                <span class="item_link blue_link" ng-click="app.doShowDatePicker()">
                                    edit
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Users
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                66
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Groups
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                3
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Your rights
                        </div>
                        <div class="item_content">
                            <div class="item_text blue_link">
                                Read
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>


                <!-- COLUMN 3 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Status
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                In progress
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="content_item">
                        <div class="item_description">
                            Topic actions
                        </div>
                        <div class="item_content">
                            <div class="item_text blue_link">
                                Leave
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- ACTIVITY FEED & NOTIFICATIONS -->
    <div class="info_container">

        <div class="container_header">
            <div class="header_text">
                Activity feed & notifications
            </div>
            <div class="minimize_container" ng-click="app.activityFeed = !app.activityFeed">
                <div ng-class="app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content activity_container" ng-if="!app.activityFeed">

            <div class="activity" ng-repeat="(key, this) in ['1', '2']">

                <div class="activity_left">
                    <div class="activiy_time">55.07.2056 11:23</div>
                </div>

                <div class="activity_right">
                    <div class="activity_icon">
                        <div class="sprite sprite-icon-inputfield-error2x"></div>
                    </div>
                    <div class="activiy_title">Kristian Lember <span class="highlight aqua_marine_background">added</span> a <span class="highlight dark_yellow_background">comment</span>:</div>
                    <div class="activiy_description">If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your
                        home office combo? First off, you will need to set a budget for your new ...
                    </div>
                </div>

                <div class="clearer"></div>
            </div>

            <div class="activity">

                <div class="activity_left">
                    <div class="view_older blue_link">View older</div>
                </div>

                <div class="activity_right">
                    &nbsp;
                </div>

            </div>

        </div>


    </div>

    <!-- ACTIVITY FEED & NOTIFICATIONS -->
    <div class="info_container">

        <div class="container_header">
            <div class="header_text">
                Activity feed & notifications
            </div>
            <div class="minimize_container" ng-click="app.activityFeed = !app.activityFeed">
                <div ng-class="app.activityFeed ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content activity_container" ng-if="!app.activityFeed">

                <div class="activity_wrap compact">
                        <div class="activity_area">
                            
                            <div class="activity_content" ng-repeat="(key, this) in ['1', '2', '3', '4']">

                                <div class="left_side">
                                    <div class="line_top"></div>
                                    <div class="icon">
                                        <div class="sprite sprite-icon-activity-vote-2x"></div>
                                    </div>
                                    <div class="line_bottom"></div>
                                </div>
                                
                                <div class="right_side">
                                    <div class="text_box">

                                        <div class="main_text">
                                            <span class="activity_action">Kristian Lember added a comment</span> <span class="activity_conjunctive">in</span> <a href="" class="blue_link activity_link">Ettepanek seadusega keelata kõrvklappide kandmine tänaval</a>
                                        </div>
                                        
                                        <div class="description_area italic">
                                            If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? First off, you will need to set a budget for your new ... 
                                        </div>
                                        <div class="date_area">
                                            12.07.2016 11:23
                                        </div>
                                        <b class="notch border-notch"></b>
                                        <b class="notch"></b>
                                    </div>
                                </div>

                                <div class="clearer"></div>

                            </div>

                        </div>
                    </div>

        </div>


    </div>

    <!-- CURRENT VOTE RESULTS -->
    <div class="info_container vote_results">

        <div class="container_header">
            <div class="header_text">
                Current vote results
            </div>
            <div class="minimize_container" ng-click="app.voteResults = !app.voteResults">
                <div ng-class="app.voteResults ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.voteResults">


            <div class="content_bottom">

                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Results
                        </div>
                        <div class="results_table">
                            <div class="item_content">
                                <div class="item_text">
                                    Yes
                                </div>
                                <div class="item_text">
                                    14
                                </div>
                            </div>
                            <div class="item_content">
                                <div class="item_text">
                                    No
                                </div>
                                <div class="item_text">
                                    12
                                </div>
                            </div>
                            <div class="item_content">
                                <div class="item_text">
                                    Some very long option that user has created
                                </div>
                                <div class="item_text">
                                    9
                                </div>
                            </div>
                            <div class="item_content">
                                <div class="item_text">
                                    Anotherverylongoptionthat user has created Anotherverylongoptionthat user has created Anotherverylongoptionthat user has created
                                </div>
                                <div class="item_text">
                                    555 555 555
                                </div>
                            </div>
                            <div class="item_content">
                                <div class="item_text">
                                    Neutral
                                </div>
                                <div class="item_text">
                                    2
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">


                    <div class="content_item">
                        <div class="item_description">
                            Votes counted
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                26
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view who voted
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="clearer"></div>

                    <div class="content_item">

                        <div class="item_description">
                            Votes needed
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                1000
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    edit
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>

                    </div>

                    <div class="clearer"></div>


                    <div class="content_item">

                        <div class="item_description">
                            Vote deadline
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                none
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    edit
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>

                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- CURRENT VOTE WITH VOTING -->
    <div class="info_container vote_results">

        <div class="container_header">
            <div class="header_text">
                Current vote results
            </div>
            <div class="minimize_container" ng-click="app.voteResults = !app.voteResults">
                <div ng-class="app.voteResults ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.voteResults">


            <div class="content_bottom">

                <!-- COLUMN 1 -->
                <div class="content_column">

                    <div class="content_item">
                        <div class="item_description">
                            Cast your vote
                        </div>
                        <div class="voting_buttons">
                            <div class="line lightest_line"></div>
                                
                            <div class="voting_platform_buttons">

                                <div class="voting_button" ng-class="i == 2 ? 'active' : ''" ng-repeat="i in [1,2,3,4,5,6]">
                                    <div class="table_cell left_side">
                                        A
                                    </div>
                                    <div class="table_cell right_side">
                                        YES
                                    </div>
                                </div>

                            </div>

                            <div class="delegation_section">

                                <div class="voting_button voting_button_blue" ng-class="i == 2 ? 'active' : ''" ng-repeat="i in [1,2]">
                                    <div class="table_cell left_side">
                                        <div class="sprite sprite-icon-delegate2x"></div>
                                    </div>
                                    <div class="table_cell right_side">
                                        Delegate your vote
                                    </div>
                                </div>

                                <div class="delegation_information">
                                    <div class="delegation_title">You delegated your vote to</div>
                                    <div class="delegations">

                                        <div class="table_cell">
                                            <div class="profile_image_wrapper dark">
                                                <div class="profile_moon sprite sprite-icon-certified-fb2x"></div>
                                                <div class="account_picture">
                                                    <!--<img src=".././imgs/profile.jpg">-->
                                                    <div class="profile_image_filler">
                                                        <div class="table_cell">
                                                            ML
                                                        </div>
                                                        <div class="profile_circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="name_wrap">
                                                <div class="table_cell">
                                                    <div class="blue_link bold">Kristian Lember</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table_cell">
                                            <div class="blue_button">Revoke your delegation</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <!-- COLUMN 2 -->
                <div class="content_column">


                    <div class="content_item">
                        <div class="item_description">
                            Votes counted
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                26
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    view who voted
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>
                    </div>

                    <div class="clearer"></div>

                    <div class="content_item">

                        <div class="item_description">
                            Votes needed
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                1000
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    edit
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>

                    </div>

                    <div class="clearer"></div>


                    <div class="content_item">

                        <div class="item_description">
                            Vote deadline
                        </div>
                        <div class="item_content">
                            <div class="item_text">
                                none
                                <span class="separator">|</span>
                                <span class="item_link blue_link">
                                    edit
                                </span>
                            </div>
                        </div>
                        <div class="clearer"></div>

                    </div>

                    <div class="clearer"></div>

                </div>

                <div class="clearer"></div>

            </div>

        </div>


    </div>

    <!-- GROUP LIST -->
    <div class="info_container group_list">

        <div class="container_header">
            <div class="header_text">
                Group list |
                <div class="blue_link">search</div>
                |
                <div class="blue_link">add</div>
            </div>
            <div class="minimize_container" ng-click="app.groupList = !app.groupList">
                <div ng-class="app.groupList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.groupList">

            <div class="pretend_table">
                <div class="pretend_tr">
                    <div ng-if="wWidth <= 560" class="mobile_text pretend_th">
                        <div class="th_text">
                            Order by:
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Title
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Rights
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Users
                            <div class="sprite sprite-icon-list-ordering2x"></div>
                        </div>
                    </div>
                    <div class="pretend_th not_sortable">
                        <div class="th_text">
                            Remove <span>from topic</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="(key, this) in ['1', '2', '3', '4', '5']">
                    <div class="pretend_td">
                        <div class="blue_link">CitizenOS test group</div>
                    </div>
                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown disabled">

                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    Admin
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown">

                                <!-- NO CATEGORY -->
                                <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                                    <div class="item_name">
                                        Read
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pretend_td">
                        <span class="pretend_table_mobile_text">
                            Users:
                        </span>
                        41
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin disabled">
                            <div ng-click="app.doShowDeleteTopic()" class="btn">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <!-- USER LIST -->
    <div class="info_container group_list user_list">

        <div class="container_header">
            <div class="header_text">
                User list |
                <div class="blue_link">cancel search</div>
                |
                <div class="blue_link">invite</div>
            </div>
            <div class="minimize_container" ng-click="app.userList = !app.userList">
                <div ng-class="app.userList ? 'sprite-btn-expand2x' : 'sprite-btn-minimize2x'" class="sprite"></div>
            </div>
        </div>

        <div class="container_header second_header" ng-if="!app.userList">
            <div class="table_cell">
                <input placeholder="Username, e-mail or group">
            </div>
            <div class="table_cell">
                <div class="blue_button">Search</div>
            </div>
            <div class="table_cell">
                <div class="blue_link">cancel</div>
            </div>
        </div>

        <div class="container_content" ng-if="!app.userList">

            <div class="pretend_table">
                <div class="pretend_tr">
                    <div ng-if="wWidth <= 560" class="mobile_text pretend_th">
                        <div class="th_text">
                            Order by:
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Profile
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Has voted
                        </div>
                    </div>
                    <div class="pretend_th">
                        <div class="th_text">
                            Rights
                            <div class="sprite sprite-icon-list-ordering2x"></div>
                        </div>
                    </div>
                    <div class="pretend_th not_sortable">
                        <div class="th_text">
                            Remove <span>from topic</span>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="(key, this) in ['1']">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <div class="profile_moon sprite sprite-icon-certified-fb2x"></div>
                            <div class="account_picture">
                                <!--<img src=".././imgs/profile.jpg">-->
                                <div class="profile_image_filler">
                                    <div class="table_cell">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div class="blue_link">Kristian Lember</div>
                                <div class="via">via
                                    <div class="blue_link">Group Name Accesssible</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td with_checkmark">
                        <div class="checkmark_text">Has voted:</div>
                        <div class="sprite sprite-voted-check2x"></div>
                    </div>

                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown">

                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    Admin
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown">

                                <!-- NO CATEGORY -->
                                <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                                    <div class="item_name">
                                        Read
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin" ng-click="app.doShowConfirm()">
                            <div class="btn">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="(key, this) in ['1', '2']">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <div class="profile_moon sprite sprite-icon-certified-google2x"></div>
                            <div class="account_picture">
                                <!--<img src=".././imgs/profile.jpg">-->
                                <div class="profile_image_filler">
                                    <div class="table_cell">
                                        ML
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div class="blue_link">Kristian Lember</div>
                                <div class="via">via Private Group Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td with_checkmark">
                        <div class="checkmark_text">Has voted:</div>
                        <div class="sprite sprite-voted-check2x"></div>
                    </div>

                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown">

                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    Admin
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown">

                                <!-- NO CATEGORY -->
                                <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                                    <div class="item_name">
                                        Read
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin">
                            <div class="btn">
                                <div class="table_cell">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pretend_tr" ng-repeat="(key, this) in ['1', '2']">
                    <div class="pretend_td">
                        <div class="profile_image_wrapper dark">
                            <div class="profile_moon sprite sprite-icon-certified-id2x"></div>
                            <div class="account_picture">
                                <!--<img src=".././imgs/profile.jpg">-->
                                <div class="profile_image_filler">
                                    <div class="table_cell">
                                        KL
                                    </div>
                                    <div class="profile_circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="name_wrap">
                            <div class="table_cell">
                                <div class="blue_link">Kristian Lember {{$index}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="pretend_td with_checkmark">
                        <div class="checkmark_text">Has voted:</div>
                        <div class="sprite sprite-voted-nocheck2x"></div>
                    </div>

                    <div class="pretend_td">
                        <div cos-dropdown class="classic_dropdown">

                            <div class="dropdown_selection">
                                <div class="dropdown_text">
                                    Admin
                                </div>

                                <div class="arrow_holder">
                                    <div class="table_cell">
                                        <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                        <div class="v_line"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown">

                                <!-- NO CATEGORY -->
                                <div class="dropdown_item" ng-repeat="(key, this) in ['1', '2']">
                                    <div class="item_name">
                                        Read
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pretend_td recycle_bin_wrap">
                        <div class="btn_wrap recycle_bin" ng-class="$odd ? 'disabled disabled_with_tooltip' : ''">
                            <div class="btn">
                                <div class="tooltip">
                                    Permission via Group, remove User from the Group or override the permissions selecting appropriate value from the dropdown.
                                    Permission via Group, remove User from the Group or override the permissions selecting appropriate value from the dropdown.
                                </div>
                                <div class="table_cell disabled_area">
                                    <div class="sprite desktop_fix sprite-mytopics-icon-deletetopic2x"></div>
                                    <div class="sprite mobile_fix sprite-mytopics-icon-deletetopic2x"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div ui-view></div>

</div>
