.table_cell {
  display: table-cell;
  vertical-align: middle;
}

.all_zero {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 535px) {
    @content;
  }
}