.table {
  display: table;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
}

.table_row {
  display: table-row;
}

.all_zero {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.padding_all_zero {
    padding: 0;
}

.input_small {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px $lightest_gray;
  border-radius: 4px;
  height: 30px;
  font-size: 13px;
  padding: 0 10px;
  &:focus {
      border: 1px solid $dark_gray;
      outline: none;
  }
}


.text_dod_dot_dot {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

.default_setup {
    background: $light_gray;
    @extend .all_zero;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
}

.add_bottom_borders {
  & > div {
    &:not(:last-child) {
      border-bottom: 1px solid $lightest_gray;
    }
  }
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 535px) {
    @content;
  }
}

@mixin transform($transforms) {
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}


@mixin table_mobile_view {

    .pretend_th {
        float: left;
        width: initial !important;
        min-width: initial !important;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0 !important;
        border-bottom: none;
    }

    .pretend_tr:not(:first-child) {
        position: relative;
        display: block;
        width: 100%;
        border-top: 1px solid $lightest_gray;
        padding: 9px 0 20px;
    }

    .pretend_tr:first-child {
        width: 100%;
        padding-bottom: 10px;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .not_sortable {
        display: none !important;
    }

    .pretend_tr {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .mobile_text {
        text-decoration: none;
        opacity: 1;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .pretend_table_mobile_text {
        display: inline;
    }

    .pretend_tr:last-child .pretend_td:not(:first-child) {
        padding-bottom: 0;
    }

    .pretend_table, .pretend_tr, .pretend_td, .pretend_th {
        display: block;
    }

    .recycle_bin_wrap {
        position: absolute;
        right: 0 !important;
        margin-right: 0 !important;
        margin-top: -1px !important;
    }

}
