.table_cell {
  display: table-cell;
  vertical-align: middle;
}

.all_zero {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.input_small {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px $lightest_gray;
  border-radius: 4px;
  height: 30px;
  font-size: 13px;
  padding: 0 10px;
  &:focus {
      border: 1px solid $dark_gray;
      outline: none;
  }
}

.default_setup {
    background: $light_gray;
    @extend .all_zero;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
}


@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 535px) {
    @content;
  }
}