@use 'vars';
@use 'mixins_n_extends';

/* SEARCH AREA (Search bar styles in nav.scss) */
#search_area_close {
    position: fixed;
    top: 60px;
    left: 190px;
    right: 0;
    bottom: 0;
    z-index: 1;
    @include mixins_n_extends.tablet {
        left: 0;
    }
}

#search_area {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 190px;
    height: 60px;
    text-align: left;
    font-size: 14px;
    transition: all 220ms ease-out;

    @include mixins_n_extends.tablet {
        right: 136px;
    }

    @media (max-width: 750px) {
        left: 62px;
    }

    @media (max-width: 340px) {
        right: 70px;
    }

    @media  print {
        display: none;
    }

    #search_area_wrap {
        background: vars.$white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;

        @include mixins_n_extends.tablet {
            background: vars.$medium_black;
            display: table;
            height: 60px;
            width: 100%;
            position: relative;
        }

        .logo_area, .header_button {
            display: none;
            @include mixins_n_extends.tablet {
                display: table;
            }
        }

        #search_results_area {
            z-index: 5;

            @include mixins_n_extends.tablet {
                left: 0;
                width: 100%;
                position: fixed;
                padding-left: 190px;
                padding-right: 135px;
                @media (max-width: 750px) {
                    padding-left: 59px;
                }
            }

            #m_search_icon, #m_search_close {
                display: none;

                @include mixins_n_extends.tablet {
                    position: inherit;
                    display: table;
                    height: 60px;
                    width: 32px;
                    z-index: 6;
                    top: 0;

                    .sprite {
                        margin: 0 auto;
                    }
                }
            }

            #m_search_close {
                @include mixins_n_extends.tablet {
                    right: 135px;
                    cursor: pointer;
                }

                @media (max-width: 340px) {
                    right: 68px;
                }
            }
        }

        .ac-input {
            @include mixins_n_extends.tablet {
                position: relative;
                height: 60px;
                vertical-align: middle;
                width: 100%;
                top: 15px;
            }

            input {
                border: none;
                height: 60px;
                width: 100%;
                font-size: 14px;
                padding: 0 58px;
                box-sizing: border-box;
                @include mixins_n_extends.tablet {
                    border-radius: 15px;
                    border: none;
                    height: 30px;
                    padding: 0 34px 1px 34px;
                    box-sizing: border-box;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }
                }

                &:focus, input:focus {
                    outline: none;
                }
            }
        }

        #search_icon, #close_search_icon {
            position: absolute;
            width: 60px;
            height: 60px;
            display: table;
            top: 0;
            @include mixins_n_extends.tablet {
                display: none;
            }

            .sprite {
                margin: 0 auto;
            }

        }

        #close_search_icon {
            right: 0;
            cursor: pointer;
            @include mixins_n_extends.tablet {
                right: 0;
                cursor: pointer;
            }
        }

        #close_search_icon:hover {
            background: vars.$light_gray;
        }

        .search_cat {
            width: 100%;
            background: vars.$medium_gray;

            .cat_wrap {
                @extend %table_cell;
                padding: 0 20px 0 20px;
                height: 40px;
            }
        }

        #search_results_list {
            background: vars.$white;
            position: fixed;
            overflow-y: scroll;
            left: 190px;
            right: 0;
            height: 100%;

            @include mixins_n_extends.tablet {
                left: 0;
            }

            .last {
                margin-bottom: 60px;
            }
        }

        .results_area {
            padding: 5px 5px 15px 5px;
            background: vars.$white;
            .result_group {
                margin-bottom: 8px;
                display: table;
                width: 100%;

                .no_results {
                    text-align: center;
                    padding: 35px 20px 17px 20px;

                    @include mixins_n_extends.mobile {
                        padding: 15px 10px 0 10px;
                    }

                    .search_msgb {
                        display: inline-block;
                        margin-bottom: 10px;
                    }

                    .search_msg {
                        display: inline-block;
                        width: 560px;
                        @media (max-width: 600px) {
                            width: 100%;
                        }
                    }

                }

                .results_header, .result_links {
                    display: table-row;
                }

                .result_links {
                    &.active {
                        .result_link, .more_results {
                            color: vars.$sky_blue;
                            text-decoration: underline;
                        }
                    }
                }
                .result_title, .links_wrap {
                    display: table-cell;
                }

                .links_wrap, .result_title, .more_results {
                    padding: 5px 15px;
                }

                .links_wrap {
                    @include mixins_n_extends.mobile {
                        padding: 10px 15px;
                    }
                }

                .result_link, .result_title {
                    font-weight: bold;
                }

                .result_link {
                    color: vars.$deep_sky_blue;
                }

                .more_results {
                    color: vars.$deep_sky_blue;
                    font-size: 13px;
                    cursor: pointer;
                    display: inline-block;
                }

                .more_results:hover, .result_link:hover {
                    color: vars.$sky_blue;
                }

            }
        }
    }

    #donate_wrap {
        @include mixins_n_extends.mobile {
            display: none;
        }

        position: absolute;
        height: 60px;
        right: 0px;
        top: 0px;
        border-radius: 0px;
        background: #F5E6E8;
        border-radius: 32px 0px 0px 32px;

        .donate_item {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #donate_icon {
            position: static;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            background-image: url('../imgs/icon_donate.png');
        }

        #donate_text {
            font-family: 'Noto Sans', sans-serif;
            position: static;
            font-style: normal;
            color: #8E4765;
            margin-left: 10px;
        }

        #donate_button {
            padding: 10px 20px;
            box-sizing: border-box;
            border-radius: 4px;

            font-family: 'Noto Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #8E4765;
            background: linear-gradient(180deg, #ECD5D6 0%, #E598B8 100%);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
