$medium_black: #252525;
$dark_black: #1a1a1a;
$light_black: #3b3b3b;;
$black: #000;

$white: #fff;
$transparent_white: rgba(255, 255, 255, .69);
$sky_blue: #6fb6ff;
$deep-sky-blue: #0680fc;

$dark_gray: #a1a1a1;
$light_gray: #F6F6F6;

$bold: 700;
$light: 300;

$nav_d_width: 190px;
$nav_t_width: 230px;

.dark_line {
    background: $dark_black;
}

.light_line {
    background: $light_black;
}