@import 'vars';
@import 'mixins_n_extends';
@import 'icons';

.activity_wrap {
    // Overall styles for activity area
    .activity_area {
        .activity_content {
            position: relative;
            overflow: hidden;
            &:not(:first-child) {
                .left_side {
                    .line_top {
                        top: 6px;
                        height: 50px;
                    }
                }
            }
            &:last-child {
                .left_side {
                    .line_bottom {
                        height: 10px;
                        bottom: initial;
                    }
                }
            }
            .left_side {
                position: absolute;
                width: 82px;
                top: 0;
                bottom: 0;
                .line_top {
                    height: 56px;
                    background: $light_gray;
                    z-index: 1;
                }
                .icon {
                    margin-top: 11px;
                    position: relative;
                    z-index: 1;
                    .sprite {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .line_bottom {
                    background: $lightest_gray;
                    bottom: 0;

                }
                .line_top, .line_bottom {
                    width: 1px;
                    top: 0;
                    position: absolute;
                    left: 50%;
                }
            }

            .right_side {
                width: 100%;
                box-sizing: border-box;
                padding-left: 82px;
                cursor: pointer;
                .text_box {
                    margin-bottom: 10px;
                    background: $white;
                    box-shadow: inset 0 2px 6px 0 rgba(0,0,0,.01), 0 2px 3px 0 rgba(0,0,0,.1);
                    padding: 20px 21px;
                    box-sizing: border-box;
                    position: relative;

                    &.no_margin  {
                        margin-top: -9px;

                        .activity_group_row {
                            display: block;
                            clear: both;
                            height: 40px;
                            position: relative;
                            margin-bottom: 10px;

                            .name_wrap {
                                display: block;
                                padding-left: 50px;

                                span {
                                    margin-top: auto;
                                    margin-bottom: auto;
                                    top: 0;
                                    bottom: 0;
                                    height: max-content;
                                    position: absolute;

                                    &.date_area {
                                        right: 0;
                                    }
                                }
                            }
                        }


                    }

                    .main_text {
                        font-size: 14px !important;
                    }
                    .description_area {
                        margin-top: 6px;
                        font-size: 14px !important;
                    }
                    .date_area {
                        margin-top: 6px;
                        font-size: 13px;
                        opacity: .7;
                    }
                    .notch {
                        left: -18px;
                        top: 21px;
                        &.border-notch {
                            top: 22px;
                        }
                    }
                }

                .separator {
                    position: absolute;
                    right: 50px;
                    height: 50%;
                    background: $medium_gray;
                    z-index: 100;
                    width: 1px;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }
                .arrow_holder {
                    position: absolute;
                    right: 20px;
                    height: 5px;
                    top: 0;
                    bottom: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }

        }
    }

    // Compact view styles
    @media (min-width: 750px) {
        &.compact {
            .activity_area {
                .activity_content {
                    .left_side {
                        .line_top {
                            background: $white;
                        }
                    }
                    .right_side {
                        cursor: pointer;
                        .text_box {
                            border: 1px solid $lightest_gray;
                            .notch {
                                top: 19px;
                                &.border-notch {
                                    top: 20px;
                                    left: -21px;
                                }
                            }
                            .activity_link, .activity_conjunctive {
                                display: none !important;
                            }
                            .activity_action {
                                color: $deep_sky_blue;
                                cursor: pointer;
                                &:hover {
                                    @media (min-width: 1025px) {
                                        text-decoration: underline;
                                    }
                                }
                            }
                          /*  .description_area {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: box;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                line-clamp: 2;
                                box-orient: vertical;
                            }*/
                        }
                    }
                }
            }
        }
    }

    // Mobile view
    @mixin mobile {
        .activity_area {
            .activity_content {
                border-bottom: solid 1px $lightest_gray;
                margin-bottom: 20px;
                .left_side {
                    width: 30px;
                    .icon {
                        margin-top: 0;
                    }
                    .sprite {
                        margin-left: -5px;
                        margin-right: initial;
                        transform: scale(.75);
                    }
                    .line_top, .line_bottom {
                        display: none;
                    }
                }
                .right_side {
                    cursor: pointer;
                    padding-left: 30px;
                    .text_box {
                        background: none;
                        box-shadow: none;
                        margin-bottom: 20px;
                        padding: 0 20px 0 10px;
                        .activity_link, .activity_conjunctive {
                            display: none !important;;
                        }
                        .activity_action {
                            color: $deep_sky_blue;
                            cursor: pointer;
                        }
                        .description_area {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: box;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            line-clamp: 3;
                            box-orient: vertical;
                        }
                        .notch {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1024px) {
        &.modal {
            @include mobile();
        }
    }

    @media (max-width: 750px) {
        &.compact {
            @include mobile();
        }
    }

}