@import 'vars';
@import 'mixins_n_extends';

body, html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    bottom: 0;
    background: $medium_black;
}

body.body_fixed {
    position: fixed;
    overflow: initial;
    z-index: 1;
}

body.body_not_fixed {
    position: relative;
}

h1 {
    padding: 0;
    margin: 0;
    color: $dark_gray;
    font-weight: $light;
    font-size: 36px;
}

h2 {
    padding: 0;
    margin: 20px 0 0 0;
    color: $deep_sky_blue;
    font-weight: $bold;
    font-size: 16px;
}

#view {
    height: 100%;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

#close_mobile_menu {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear {
    display: none;
}

b {
    font-weight: $bold;
}

a:link, a:visited {
    text-decoration: none;
}

.line {
    width: 100%;
    height: 1px;
}

.dark_line {
    margin-top: 16px;
}

//Overall button styles
.blue_button {
    background: $deep_sky_blue;
    border-radius: 2px;
    font-weight: $bold;
    cursor: pointer;
    text-align: center;
    color: $white;
    font-size: 14px;
    padding: 5px 3px 6px;
    box-sizing: border-box;
}

.blue_button:hover {
    background: $sky_blue;
    @include tablet {
        background: $deep_sky_blue;
    }
}
