@import 'vars';
@import 'mixins_n_extends';
@import 'no_topics';
@import 'icons';

body, html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: 100%;
    bottom: 0;
    color: $medium_black;
    background: $medium_black;
    -webkit-text-size-adjust: 100%;
}

body {

}

body.body_fixed, body.ngdialog-open {
    position: fixed !important;
    overflow: initial;
    z-index: 1;
}

body.body_not_fixed {
    position: relative;
}

h1 {
    padding: 0;
    margin: 0;
    color: $dark_gray;
    font-weight: $light;
    font-size: 36px;
}

h2 {
    padding: 0;
    margin: 20px 0 0 0;
    color: $deep_sky_blue;
    font-weight: $bold;
    font-size: 16px;
}

#view {
    height: 100%;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

#close_mobile_menu {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear {
    display: none;
}


b {
    font-weight: $bold;
}

a img, a {
    outline: none;
}

img {
    border: 0;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-size: 13px;
        opacity: .7;
        font-weight: $medium;
        text-decoration: underline;
        cursor: pointer;
        &:first-child {
            text-align: left;
        }
        &:hover {
            opacity: 1;
        }
        .th_text {
            position: relative;
            display: inline;
            .sprite {
                position: absolute;
                right: -11px;
                top: 4px;
            }
        }
    }
}

.user_list {
    
    td {
        padding: 5px 0;
        &:nth-child(1) {
            font-size: 14px;
            font-weight: $bold;
        }
    }

    .name_wrap {
        display: table;
        height: 40px;
    }
}


.btn_wrap.white_bg {
    background-color: $white;
}

.btn_wrap {
    border-radius: 4px;
    border: solid 1px $lightest_gray;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
        .tooltip {
            visibility: visible;
        }
    }

    .btn {
        width: inherit;
        height: inherit;
        display: table;
        position: relative;
        

        .sprite {
            margin: 0 auto;
        }
    }

}

.btn_wrap.white_bg:not(.disabled) {
    &:hover {
        border: solid 1px $lightest_gray;
        @include tablet {
            background: $white !important;
        }
    }
}

.mobile_fix {
    display: none;
}

@include tablet {
    .desktop_fix {
        display: none;
    }
    .mobile_fix {
        display: block;
    }
}

.btn_wrap.recycle_bin:not(.disabled) {
    background-color: $white;
    &:hover {
        border: solid 1px $pinky_red;
        background: $pinky_red;
        
        .sprite.desktop_fix {
            @extend .sprite-mytopics-icon-deletetopic02x;
        }

        @include tablet {
            background: initial;
            border: solid 1px $lightest_gray;
        }
    }
}



.btn_wrap.check.yes {

    &:hover {
        border: solid 1px $aqua_marine_border;
        @include tablet {
            border: solid 1px $lightest_gray;
        }

        .sprite {
            @extend .sprite-voted-check2x;
        }
    }
}

.btn_wrap.check.no {
    
    .sprite {
        @extend .sprite-voted-nocheck2x;
    }

    &:hover {

        border: solid 1px $pinky_red_dark;
        @include tablet {
            border: solid 1px $lightest_gray;
        }

        .sprite {
            @extend .sprite-voted-nocheck2x;
        }
    }
}

//Overall button styles and other general items

.disabled {
    opacity: .5 !important;
    cursor: default !important;
}

.group_circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    color: $medium_black;
    display: table;
    font-size: 14px;
    text-align: center;
    float: left;
    display: table;
    background: $another_gray !important;
    margin-right: 20px;
    margin-top: 4px;
}

.group_circle.small {
    height: 20px;
    width: 20px;
    font-size: 11px;
    margin-top: 0;
    font-weight: $bold;
}

.via {
    font-weight: $medium;
    font-size: 13px;
}

.mobile_extra_info {
    display: none;
}

.searchbox_with_icon_and_text {
    position: relative;
    input {
        padding-left: 34px !important;
        padding-right: 129px !important;
        @media (max-width: 560px) {
            padding-right: 5px !important;
        }
    }
    .search_icon {
        position: absolute;
        height: 30px;
        width: 36px;
        display: table;
        top: 0;
        .sprite {
            margin: 0 auto;
        }
    }
    .search_text {
        position: absolute;
        display: table;
        right: 0;
        top: 0;
        text-align: right;
        height: 30px;
        padding-right: 10px;
        cursor: pointer;

        .blue_link {
            font-size: 13px !important;
        }

        @media (max-width: 560px) {
            display: none;
        }
    }
}

.searchbox_with_icon_and_text.only_text {
    input {
        padding-left: 10px !important;
    }
}

// .search_with_dropdown.dropdown_active {
.search_with_dropdown {
    .search_area_wrap {
        display: none;
    }
}

.search_with_dropdown.dropdown_active {
    input {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .search_area_wrap {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        overflow: hidden;
        background: $white;
        max-height: 250px;
        position: absolute;
        left: 1px;
        right: 1px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        z-index: 2;
        display: block;

        .search_dropdown_area {
            max-height: 250px;
            overflow-y: auto;

            .search_dropdown_item {
                min-height: 30px;
                display: table;
                padding: 0 5px;
                font-size: 13px;
                width: 100%;
                box-sizing: border-box;
                
                &:hover {
                    background-color: $transparent_blue;
                    cursor: pointer;
                    .blue_link {
                        .submit_link {
                            display: inline;
                        }
                    }
                    @include tablet {
                        background-color: initial;
                    }
                }

                @include tablet {
                    .blue_link {
                        display: none;
                    }
                }

                .table_cell {
                    padding: 5px;
                }
                .blue_link {
                    font-weight: $bold;
                    font-size: 13px;
                    width: 174px;
                    text-align: right;
                    .submit_link {
                        display: none;
                    }
                }
            }
        }

    }
}

.lock_icon_wrap {
    display: inline-block;
    .sprite-icon-lock2x {
        float: left;
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.profile_image_wrapper {
    width: 40px;
    height: 40px;
    position: relative;
    float: left;
    margin-right: 10px;
    font-size: 14px;

    .profile_moon {
        position: absolute;
        z-index: 1;
        right: -2px;
    }

    .account_picture {
        width: inherit;
        height: inherit;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: inherit;
            height: inherit;
        }

        .profile_image_filler {
            width: inherit;
            height: inherit;
            display: table;
            position: relative;
            text-align: center;
            border-radius: 50%;
            box-sizing: border-box;
            color: $white;
            .profile_circle {
                position: absolute;
                width: inherit;
                height: inherit;
                border: 1px solid $white;
                border-radius: 50%;
                box-sizing: border-box;
                left: 0;
                top: 0;
            }
        }
    }
}

.profile_image_wrapper.dark {

    .profile_image_filler {
        color: $dark_gray;
        .profile_circle {
            border: 1px solid $smooth_gray;
            color: $dark_gray;
        }
    }

}

.profile_image_wrapper.big {
    
    .profile_moon {
        right: -3px;
    }

    width: 80px;
    height: 80px;
    font-size: 24px;

}

a:link, a:visited {
    text-decoration: none;
}

.line {
    width: 100%;
    height: 1px;
}

.clearer {
    clear: both;
}

.error_input {
    border: solid 1px $pinky_red !important;
}

.error_label {
    color: $pinky_red;
    font-size: 13px;
    display: table;
    margin-top: 6px;

    .sprite {
        float: left;
        margin-right: 7px;
        margin-top: 1px;
    }
}

.blue_button {
    background: $deep_sky_blue;
    border-radius: 2px;
    font-weight: $bold;
    cursor: pointer;
    text-align: center;
    color: $white;
    font-size: 14px;
    padding: 5px 5px 6px;
    box-sizing: border-box;
}

.gray_button {
    @extend .blue_button;
    background: $lightest_gray;
    color: $medium_black;
    border: 1px solid $id_dark !important;
    border-radius: 4px;
    padding: 6px 10px 5px 10px;
    font-size: 13px;

    &:hover {
        background: $medium_gray !important;
        @include tablet {
            background: $lightest_gray;
        }
    }

}

.blue_button.no, .blue_button.yes {
    border-radius: 4px;
}

.blue_button.no {
    background: $white;
    color: $medium_black;
    border: solid 1px $lightest_gray;
    &:hover {
        background: $lightest_gray !important;
        @include tablet {
            background: $white !important;
        }
    }
}

.blue_button.yes {
    background: $pinky_red;
    border: solid 1px $pinky_red_border;
    &:hover {
        background: $pinky_red_dark_hover !important;
        @include tablet {
            background: $pinky_red !important;
        }
    }
}

.blue_button[disabled], .blue_button.disabled {
    background: $disabled_blue;
    cursor: initial;
}

.blue_link {
    color: $deep_sky_blue;
    font-size: 14px;
    cursor: pointer;
}

.blue_link:hover {
    text-decoration: underline;
    @include tablet {
        text-decoration: none;
    }
}

.black_link {
    @extend .blue_link;
    color: $medium_black;
}

.blue_button:not([disabled]):not(.disabled):hover {
    background: $dark_blue;
    @include tablet {
        background: $deep_sky_blue;
    }
}

#loading_bar {
    pointer-events: none;
    transition: 350ms linear all;

    .bar {
        transition: width 350ms;

        background: $deep_sky_blue;
        position: fixed;
        z-index: 10002;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
    }
}

/* TOGGLE WIDGET */
.toggle_widget.no {
    background: $aqua_marine;
    border: 1px solid $aqua_marine_border_second;
    
    .toggle_circle {
        margin-left: 31px;
    }

    .text_no {
        opacity: 0;
    }
}

.toggle_widget.no.text_on {
    .toggle_circle {
        margin-left: 40px;
    }
}

.toggle_widget.no:hover {
    background: $aqua_marine_border_second;

    @include tablet {
        background: $aqua_marine;
    }
}

.toggle_widget.yes {
    background: $pinky_red;
    border: 1px solid $pinky_red_border;

    .toggle_circle {
        margin-left: 1px;
    }

    .text_yes {
        opacity: 0;
    }
}

.toggle_widget.yes:hover {
    background: $pinky_red_dark_hover;

    @include tablet {
        background: $pinky_red;
    }
}

.toggle_widget {
    position: absolute;
    box-sizing: border-box;
    right: 20px;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;

    .toggle_text {
        display: none;
    }
    .toggle_circle {
        height: 26px;
        width: 26px;
        background: $white;
        border-radius: 50%;
        position: absolute;
        top: 1px;
        transition: all 150ms ease-out;
        z-index: 1;
    }
}

.toggle_widget.text_on {
    width: 69px;
    .toggle_text {
        display: table;
        position: absolute;
        font-size: 14px;
        font-weight: $bold;
        color: $white;
        height: inherit;
        width: 44px;
        margin-top: -1px;
        text-align: center;
    }
    .text_yes {
        color: $green_dark;
    }
    .text_no {
        margin-left: 24px;
    }
}

.toggle_widget.relative {
    position: relative;
    float: right;
    right: 0;
    margin-top: -5px;
}


/* EDIT TOOLTIP */
.tooltip {
    background: $transparent_black;
    position: absolute;
    padding: 5px 10px 8px;
    color: $white;
    width: 380px;
    border-radius: 4px;
    font-size: 13px;
    bottom: 120%;
    text-align: left;
    margin-left: -349px;
    box-sizing: border-box;
    visibility: hidden;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        right: 12px;
        margin-left: -4px;
        border-width: 4px;
        border-style: solid;
        border-color: $transparent_black transparent transparent transparent;
    }
}

.tooltip.question {
    width: 240px;
    visibility: visible;
    margin-left: -209px;
    padding: 10px;

    .blue_button {
        float: left;
        width: 105px;
        margin-top: 10px;
        border-radius: 4px;

        &:first-child {
            margin-right: 10px;
        }
    }
}

/* EDIT BUBBLE */
.edit_bubble {
    position: absolute;
    background: $light_gray;
    z-index: 1;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 6px;
    width: 100%;
    margin-left: -20px;
    
    @include tablet {
        width: initial;
        left: 20px;
        right: 20px;
        margin-left: 0;
    }

    .bubble_arrow {
        position: absolute;
        top: -10px;
    }

    .bubble_content {
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 4px;
        padding-right: 80px;

        .bubble_title {
            margin-bottom: 2px;
        }

        .bubble_description {
            font-weight: $medium;
            font-size: 11px;
            margin-bottom: 10px;
        }

    }

    .blue_button {
        border-radius: 4px;
    }

    .blue_link_wrapper {
        width: 100%;
        text-align: center;
        margin-top: 8px;

        .blue_link {
            font-weight: $medium;
        }
    }

}

.edit_bubble.date_picker {
    padding: 10px 0;
    width: 320px;
    box-sizing: border-box;
    margin-left: 0;

    @include tablet {
        width: initial;
        left: 20px;
        right: 20px;
    }
    
    @media (max-width: 400px) {
        left: 5px;
        right: 5px;
    } 
    
    .bubble_arrow {
        left: 17px;
    }

    .bubble_section {
        padding: 0 20px;
        @media (max-width: 400px) {
            padding: 0 15px;
        } 
    }

    .bubble_section_table {
        padding: 0 14px;
        @media (max-width: 400px) {
            padding: 0 4px;
        } 
    }

    .bubble_content {
        margin-bottom: 12px;
        padding-right: 0;
        
        .bubble_title {
            padding-right: 80px;
        }
        
        .bubble_description {
            margin-top: 17px;
            margin-bottom: 11px;
            font-size: inherit;

            .picker_deadline_date {
                float: left;
            }

            .picker_days_left {
                float: right;
            }
        }
        
        .month_chooser {
            margin-top: 15px;
            height: 30px;
            display: table;
            width: 100%;
            text-align: center;
            @include tablet {
                height: 40px;
            }
            .arrow, .month_text {
                @extend .table_cell;
            }
            .arrow {
                box-sizing: border-box;
                width: 30px;
                border-radius: 4px;
                @include tablet {
                    width: 40px;
                }
                &:first-child {
                    padding-right: 1px;
                }
                &:last-child {
                    padding-left: 1px;
                }
                &:hover {
                    background: $medium_gray;
                    @include tablet {
                        background: none;
                    }
                }
                cursor: pointer;
                .sprite {
                    margin: 0 auto;
                }
            }
        }

         table {
            text-align: center;
            table-layout: fixed;
            width: 100%;
            margin-top: 12px;
            border-collapse: collapse;

            th {
                font-weight: $bold;
                opacity: .7;
                padding-bottom: 7px;
            }

            td {
                font-weight: $medium;
                cursor: pointer;

                &:hover {
                    .date_circle {
                        background: $medium_gray;
                        @include tablet {
                            background: none;
                        }
                    }
                } 

                .date_circle {
                    display: inline-table;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    text-align: center;

                    @include tablet {
                        width: 40px;
                        height: 40px;
                    }
                    
                }
                .date_circle.selected {
                    background: $aqua_marine;
                }
            }

            td.no_date {
                cursor: initial;
            } 
            
        }

    } 
}

/* CLASSIC DROPDOWN */
.classic_dropdown {
    color: $medium_black;
    font-size: 13px;
    border-radius: 4px;
    background-color: $white;
    border: solid 1px $lightest_gray;
    box-sizing: border-box;
    height: 30px;
    z-index: 1;

    .dropdown_selection {
        padding: 5px 42px 6px 10px;
        position: relative;
        cursor: pointer;
        text-align: left;

        .arrow_holder {
            display: table;
            position: absolute;
            right: 0;
            top: 0;
            height: 30px;
            width: 29px;

            .sprite {
                margin: 0 auto;
            }

            .v_line {
                width: 1px;
                background: $medium_gray;
                left: 0 !important;
                top: 0 !important;
                bottom: 2px !important;
                right: initial;
                margin-left: -1px;
                position: absolute;
            }
        }

        &:hover .dropdown_text {
            color: $deep_sky_blue;
            @include tablet {
                color: $medium_black;
            }
        }

    }

    .dropdown {
        border-left: solid 1px $lightest_gray;
        border-right: solid 1px $lightest_gray;
        border-bottom: solid 1px $lightest_gray;
        border-radius: 0 0 4px 4px;
        background-color: $white;
        width: 100%;
        left: -1px;
        top: 29px;
        position: absolute;
        color: $medium_black;
        max-height: 500px;
        overflow-y: auto;
        display: none;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        padding: 5px 0;

        .dropdown_item {
            text-align: left;
            .item_name {
                cursor: pointer;
                padding: 5px 10px;
                &:hover {
                    color: $deep_sky_blue;
                    @include tablet {
                        color: $medium_black;
                    }
                }
            }

            .item_category {
                padding: 5px 0 5px 10px;
            }

            .item_names_wrap {
                .item_name {
                    padding-left: 4px;
                }
            }

            .item_category, .item_names_wrap {
                float: left;
            }
        }

    }
}

.dropdown_active:not(.disabled) .dropdown {
    display: block;
}


.disabled.classic_dropdown {
    .dropdown_selection {
        cursor: default;
         &:hover .dropdown_text {
            color: $medium_black;
        }
    }
}

.classic_dropdown.dropdown_active:not(.disabled) {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 2;
}

/* INFO BAR */

.info_bar_wrap {
    position: fixed;
    width: 100%;
    z-index: 9999;
    font-size: 14px;
    font-weight: $bold;

    @include tablet {
        margin-top: 60px;
    }

    .info_bar {
        height: 100%;
        width: 100%;
        display: table;

        .info_row {
            display: table-row;
        }

        .info_bar_text {
            @extend .table_cell;
            padding: 10px 0 11px 0;
        }

        .info_icon {
            width: 56px;
            @extend .table_cell;

            vertical-align: top;
            padding: 13px 0 13px 0;

            .sprite {
                margin: 0 auto;
            }
        }

        .info_icon:last-child {
            cursor: pointer;
            height: 100%;
        }

    }

}

.ngdialog-open {
    .info_bar_wrap {
        @include tablet {
            margin-top: 0;
        }
    }
}

/* ANIMATED LOADER */
.loader_wrap {
    float: left;
    position: relative;
    width: 100%;
}


.loader {
  font-size: 10px;
  margin: 22px auto;
  text-indent: -9999em;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #0680fc;
  background: -moz-linear-gradient(left, #0680fc 10%, rgba(6,128,252, 0) 42%);
  background: -webkit-linear-gradient(left, #0680fc 10%, rgba(6,128,252, 0) 42%);
  background: -o-linear-gradient(left, #0680fc 10%, rgba(6,128,252, 0) 42%);
  background: -ms-linear-gradient(left, #0680fc 10%, rgba(6,128,252, 0) 42%);
  background: linear-gradient(to right, #0680fc 10%, rgba(6,128,252, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #0680fc;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: $light_gray;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
