@use 'vars';
@use 'mixins_n_extends';

#groups_root {
    @extend %default_setup;
    padding: 0 20px 10px 20px;

    .groups_header {
        padding: 0 10px 10px 10px;
        background: vars.$light_gray;

        h2 {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            color: vars.$medium_black;
        }

        #filter {
            float:right;
            .bar_select {
                background-color: vars.$white;
                padding: 10px 15px;
                border: solid 1px vars.$white;
                color: vars.$dark_gray;
            }
        }

        #create_group {
            float: right;

            .blue_button {
                color: vars.$white;
            }
        }
    }
    .groups_wrap {
        padding: 0 10px 10px 10px;
        background: vars.$light_gray;

        .group_wrap {
            background: vars.$white;
            margin-top: 10px;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
            width: 284px;
            height: 336px;
            display: block;
            float: left;
            margin-right: 16px;

            .group_shown_content {
                padding: 30px 20px 16px;
                position: relative;
                height: 225px;
                @media (max-width: 768px) {
                    padding-bottom: 69px;
                }

                .group_header {
                    display: table;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 20px;

                    .group_icon {
                        width: 64px;
                        height: 64px;
                        .group_circle {
                            margin-top: 0;
                            .group_icon {
                                width: 64px;
                            }
                        }
                    }

                    .button_cell {
                        @extend %table_cell;
                        @media (max-width: 768px) {
                            position: absolute;
                            display: block;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            padding: 20px;
                            .blue_button {
                                float: none;
                            }
                        }
                    }

                    .blue_button {
                        float: right;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }

                .group_name {
                    color: vars.$deep_sky_blue;
                    font-weight: vars.$bold;
                    font-size: 26px;
                    padding-right: 20px;
                    font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    overflow: hidden;
                }

                .group_details {
                    margin-top: 16px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: vars.$black;
                }
            }

            .join_button {
                padding: 0px 16px;
                .blue_button {
                    width: 100%;
                    border: none;
                }
            }
        }
    }
}