@use 'vars';
@use 'mixins_n_extends';

#back_link {
    padding: 20px 20px 0px 20px;
    background: vars.$light_gray;
    text-align: left;

    a {
        margin-left: 10px;
        display: inline-block;
        color: vars.$black;
    }
}
#group_root {
    padding: 10px 20px 10px 20px;
    background: vars.$light_gray;
    text-align: left;
    height: 100%;

    .no_results {
        text-align: center;

        .title_area {
            h3 {
                font-weight: 700;
                font-size: 26px;
                line-height: 36px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
            }
        }

        .big_button{
            .button_cell{
                .topic_text{
                    padding: 10px 24px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .no_results_img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .group_wrap {
        background: vars.$white;
        margin-top: 10px;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
        width: 100%;
        position: relative;

        .group_shown_content {
            padding: 30px 20px 16px;
            position: relative;
            min-height: 100px;

            .group_header {
                width: 100%;
                box-sizing: border-box;
                width: 100%;
                margin-bottom: 0px;
                position: relative;

                @include mixins_n_extends.mobile {
                    padding-bottom: 40px;
                }

                .group_name {
                    color: vars.$black;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    margin-bottom: 16px;
                    display: inline;
                    position: relative;
                }
                .group_details {
                    font-size: 14px;
                    line-height: 24px;
                    color: vars.$medium_black;
                    padding: 20px 20px 20px 0;
                }

                .group_members {
                    cursor: pointer;
                    display: inline;
                    background: vars.$deep_sky_blue;
                    border-radius: 4px;
                    color: vars.$white;
                    font-weight: 700;
                    padding: 8px 16px;
                    width: max-content;
                    margin-right: 8px;

                    .icon {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .separator {
                        width: 1px;
                        height: 20px;
                        background: vars.$dark_blue;
                        vertical-align: middle;
                        display: inline-block;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .count {
                        font-weight: 100;
                        margin-left: 4px;
                        display: inline-block;
                    }
                }

                .group_actions {
                    vertical-align: middle;
                    position: absolute;
                    right: 0;
                    top: 0;

                    .bar_select{
                        background: vars.$light_gray;
                        color: black;
                        border: solid 1px vars.$lightest_gray;

                        .select_text {
                            padding: 8px 13px;
                        }
                    }

                    .bar_select_blue {
                        background: vars.$deep_sky_blue;
                        color: vars.$white!important;
                        border: solid 1px vars.$dark_blue;
                        margin-right: 6px;

                        .select_text {
                            padding: 8px 13px;
                        }
                    }

                    &.mobile {
                        display: none;
                    }

                    .dropdown {
                        width: max-content;
                        z-index: 9;
                    }
                }

                @include mixins_n_extends.mobile {
                    .group_actions {
                        position: relative;
                        float: none;
                        bottom: 0;
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 5px;
                        display: block;

                        &.mobile {
                            display: block;
                        }

                        .group_members {
                            display: block;
                            width: calc(100% - 30px);
                            text-align: center;
                        }

                        .bar_select {
                            margin-top: 5px;
                            width: 100%;
                            .icon_holder {
                                position: absolute;
                                right: 15px;
                                top: 20px;
                            }
                        }
                    }

                    .light_gray_button_big {
                        width: 100%;
                        margin-top: 5px;
                    }
                }

                .group_icon {
                    display: block;

                    .group_circle {
                        margin-top: 0;
                        .group_icon {
                            width: 96px;
                            height: 96px;
                            img {
                                width: 96px;
                                height: 96px;
                                aspect-ratio: 1;
                                object-fit: contain;
                            }
                        }
                    }
                }

                .button_cell {
                    @extend %table_cell;
                    @media (max-width: 768px) {
                        position: absolute;
                        display: block;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 20px;
                        .blue_button {
                            float: none;
                        }
                    }
                }

                .blue_button {
                    float: right;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }

        .content {
            background: vars.$white;
            width: 100%;
            padding: 0 20px 20px 20px;
            box-sizing: border-box;
            position: relative;

            .pretend_th {
                &:first-child {
                    width: 55%;
                    text-align: left;

                    @include mixins_n_extends.tablet {
                        width: auto;
                        min-width: 50%;
                    }
                }
                &.member_level {
                    min-width: 120px;
                }

                text-align: right;
                width: auto;
            }

            .pagination_wrapper {
                display: block;
                width: max-content;
                position: absolute;
                right: 20px;
            }

            @include mixins_n_extends.tablet {
                .pretend_th:first-child {
                    width: auto;
                    min-width: 50%;
                }
            }
            @include mixins_n_extends.mobile {
                .bar_select {
                    background-color: vars.$white;
                    padding: 0px;
                    border: solid 1px vars.$lightest_gray;
                    color: vars.$dark_gray;
                    width: 100%;
                    margin-bottom: 16px;

                    .select_text {
                        padding: 10px;
                    }

                    .icon_holder {
                        float: right;
                        margin-right: 5px;
                        margin-top: 8px;
                    }
                }

                .default_table {
                    .pretend_tr {
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 5px;

                        .pagination_wrapper {
                            width: 100%;
                            text-align: center;
                            position: relative;
                        }
                    }

                    .pretend_tr:nth-child(odd) {
                        background-color: vars.$light_gray;
                    }

                    .pretend_td {
                        display: inline-block;
                        text-align: left;
                        padding: 10px 0 0 0;

                        &:first-child {
                            width: 100%;
                            padding: 16px 0 0 16px;
                        }
                        &:nth-child(2) {
                            width: 40%;
                        }

                        .mobile_label {
                            line-height: 24px;
                            color: #6A6A6A;
                            text-transform: capitalize;
                        }
                        .pretend_table_mobile_text  {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .header_row_wrap {
        width: 100%;
        display: table-row;

        @include mixins_n_extends.mobile {
            overflow: hidden;
            display: block;
            text-align: center;
        }

        .header_row {
            padding: 0 20px 0 10px;
            top: 54px;
            overflow: hidden;

            @include mixins_n_extends.mobile {
                padding: 0px 10px 15px 10px;
            }

            .tab_button {
                float: left;
                position: relative;
                height: 40px;
                overflow: hidden;
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;
                cursor: pointer;

                @include mixins_n_extends.mobile {
                    width: 50%;
                }

                .tab_buttom_wrap {
                    position: relative;
                    height: 40px;
                    margin: 0 auto;

                    .tab_button_text {
                        font-size: 14px;
                        padding-top: 10px;
                        opacity: 0.7;
                    }

                    .blue_bottom_line {
                        width: 0%;
                        left: 50%;
                        height: 2px;
                        position: absolute;
                        background: vars.$deep_sky_blue;
                        transition: all 300ms cubic-bezier(.45, .78, 0, 1);
                        bottom: 0;

                        @include mixins_n_extends.tablet {
                            transition: none;
                        }

                        margin-top: -2px;
                    }

                    &:hover {
                        .blue_bottom_line {
                            width: 100%;
                            left: 0%;
                            @include mixins_n_extends.tablet {
                                transition: none;

                                width: auto;
                                left: initial;
                            }
                        }
                    }
                }
            }

            .tab_button.active {
                .tab_buttom_wrap {
                    .tab_button_text {
                        opacity: 1;
                    }

                    .blue_bottom_line {
                        width: 100%;
                        left: 0%;
                        height: 2px;
                        background: vars.$deep_sky_blue;
                    }
                }
            }

            .blue_button_wrap {
                float: right;

                .blue_button {
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 4px;
                    position: relative;
                }
            }

        }
    }
}
