@use 'vars';
@use 'mixins_n_extends';
@use 'icons';

#groups_root {
    @extend .default_setup;

    .groups_wrap {
        padding: 0 10px 10px 10px;
        background: vars.$light_gray;

        .group_wrap {
            background: vars.$white;
            margin-top: 10px;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);

            .group_shown_content {
                padding: 30px 20px 16px;
                position: relative;
                @media (max-width: 768px) {
                    padding-bottom: 69px;
                }

                .group_header {
                    display: table;
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: 20px;

                    .group_icon {
                        width: 40px;
                        .group_circle {
                            margin-top: 0;
                            .group_icon {
                                width: 40px;
                            }
                        }
                    }

                    .button_cell {
                        @extend .table_cell;
                        @media (max-width: 768px) {
                            position: absolute;
                            display: block;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            padding: 20px;
                            .blue_button {
                                float: none;
                            }
                        }
                    }

                    .blue_button {
                        float: right;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }

                .group_name {
                    color: vars.$deep_sky_blue;
                    font-weight: vars.$bold;
                    font-size: 26px;
                    padding-right: 20px;
                }

                .group_details {
                    margin-top: 19px;
                    .group_details_header {
                        .show_in_mobile {
                            display: none;
                            @media (max-width: 768px) {
                                display: block;
                            }
                        }
                        .group_column {
                            float: left;
                            box-sizing: border-box;

                            &:not(.text_group) {
                                padding-right: 20px;
                                width: 16.5%;
                                @media (max-width: 768px) {
                                    width: 50%;
                                }
                            }

                            &.text_group {
                                width: 66.6%;
                                float: left;
                                @media (max-width: 768px) {
                                    margin-top: 15px;
                                    width: 100%;
                                    float: none;
                                }
                            }
                        }
                    }
                }
            }

            .group_hidden_content {
                padding: 20px 20px 11px;

                .group_table {

                    .table_upper_block {
                        height: 30px;
                        font-size: 13px;
                        background: vars.$medium_gray;
                        display: table;
                        width: 100%;
                        padding-left: 10px;
                        box-sizing: border-box;
                        .blue_link {
                            font-size: 13px;
                        }
                    }

                    .table_wrapper {
                        padding: 0 10px;
                        .pretend_table {

                            .pretend_td {
                                font-size: 13px;
                            }

                            .pretend_td:nth-child(2), .pretend_td:nth-child(3), .pretend_th:nth-child(2), .pretend_th:nth-child(3)   {
                                text-align: center;
                            }


                            .pretend_td:nth-child(2), .pretend_th:nth-child(2) {
                                min-width: 134px;
                            }

                            .pretend_td:nth-child(3), .pretend_th:nth-child(3) {
                                width: 76px;
                            }

                            .pretend_tr:not(:first-child) .pretend_td {
                                padding-top: 11px;
                                padding-bottom: 11px;
                            }

                            .pretend_tr:nth-child(2) .pretend_td {
                                padding-top: 19px;
                            }

                            @media (max-width: 500px) {

                                @include mixins_n_extends.table_mobile_view;

                                .pretend_td:not(:first-child) {
                                    padding: 0 !important;
                                    width: initial !important;
                                    min-width: initial !important;
                                    text-align: left;
                                }

                                .pretend_td:first-child {
                                    padding: 11px 0 !important;
                                    width: 100%;
                                }
                            }

                        }
                    }
                }

            }

        }
    }
}