/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite_temp2 {
    background-image: url('../imgs/icons_sprite_temp.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite_temp2 {
        background-image: url('../imgs/icons_sprite_temp2x.png');
		 background-size: 158px 158px;
	}
}

.sprite-icon-social-twitter2x {
	width: 20px;
	height: 20px;
	background-position: 0 0;
}

.sprite-icon-category-add2x {
	width: 12px;
	height: 12px;
	background-position: -20px -20px;
}

.sprite-icon-category-add2x-black {
	width: 12px;
	height: 12px;
	background-position: -32px -32px;
}

.sprite-icon-category-delete2x {
	width: 10px;
	height: 10px;
	background-position: -44px -44px;
}

.sprite-icon-arrow-reply2x {
	width: 12px;
	height: 11px;
	background-position: -54px -54px;
}

.sprite-icon-reportmessage-default2x {
	width: 12px;
	height: 12px;
	background-position: -66px -65px;
}

.sprite-icon-reportmessage-hover2x {
	width: 12px;
	height: 12px;
	background-position: -78px -77px;
}

.sprite-icon-thumbsdown-default2x {
	width: 12px;
	height: 12px;
	background-position: -90px -89px;
}

.sprite-icon-thumbsdown-hover2x {
	width: 12px;
	height: 12px;
	background-position: -102px -101px;
}

.sprite-icon-thumbsup-hover2x {
	width: 12px;
	height: 12px;
	background-position: -114px -113px;
}

.sprite-icon-thumbsup-default2x {
	width: 12px;
	height: 12px;
	background-position: -126px -125px;
}

.sprite-icon-mobile-settings-active2x {
	width: 20px;
	height: 21px;
	background-position: -138px -137px;
}