/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
    background-image: url('../imgs/icons_sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
        background-image: url('../imgs/icons_sprite2x.png');
		background-size: 2467px 1899px;
	}
}

.sprite-arrow-calendar-left2x {
	width: 9px;
	height: 14px;
	background-position: 0 0;
}

.sprite-arrow-calendar-right2x {
	width: 9px;
	height: 14px;
	background-position: -9px -14px;
}

.sprite-btn-expand2x {
	width: 16px;
	height: 16px;
	background-position: -18px -28px;
}

.sprite-btn-expand2x-white {
	width: 16px;
	height: 16px;
	background-position: -34px -44px;
}

.sprite-btn-minimize2x {
	width: 16px;
	height: 16px;
	background-position: -50px -60px;
}

.sprite-btn-minimize2x-white {
	width: 16px;
	height: 16px;
	background-position: -66px -76px;
}

.sprite-btn-popup-close-2x-green {
	width: 14px;
	height: 14px;
	background-position: -82px -92px;
}

.sprite-btn-popup-close2x {
	width: 14px;
	height: 14px;
	background-position: -96px -106px;
}

.sprite-bullet-arrow2x {
	width: 13px;
	height: 5px;
	background-position: -110px -120px;
}

.sprite-bullet-plus2x {
	width: 9px;
	height: 9px;
	background-position: -123px -125px;
}

.sprite-checkmark2x {
	width: 16px;
	height: 12px;
	background-position: -132px -134px;
}

.sprite-check-timeline-gray2x {
	width: 28px;
	height: 24px;
	background-position: -148px -146px;
}

.sprite-check-timeline-green2x {
	width: 28px;
	height: 28px;
	background-position: -176px -170px;
}

.sprite-check-timeline-green-start2x {
	width: 30px;
	height: 30px;
	background-position: -204px -198px;
}

.sprite-check-timeline-yellow2x {
	width: 28px;
	height: 28px;
	background-position: -234px -228px;
}

.sprite-check-timeline-yellow-start2x {
	width: 30px;
	height: 30px;
	background-position: -262px -256px;
}

.sprite-dropdown-arrowdown-big2x {
	width: 13px;
	height: 8px;
	background-position: -292px -286px;
}

.sprite-dropdown-arrowdown-small2x {
	width: 8px;
	height: 6px;
	background-position: -305px -294px;
}

.sprite-icon-arrow-right-topic-tab2x {
	width: 22px;
	height: 12px;
	background-position: -313px -300px;
}

.sprite-icon-arrow-right-topic-tab2x-hover {
	width: 22px;
	height: 12px;
	background-position: -335px -312px;
}

.sprite-icon-arrow-topic-tab2x {
	width: 22px;
	height: 12px;
	background-position: -357px -324px;
}

.sprite-icon-arrow-topic-tab2x-hover {
	width: 22px;
	height: 12px;
	background-position: -379px -336px;
}

.sprite-icon-creategroup2x {
	width: 84px;
	height: 86px;
	background-position: -401px -348px;
}

.sprite-icon-joingroup2x {
	width: 97px;
	height: 71px;
	background-position: -485px -434px;
}

.sprite-icon-mobile-edit2x {
	width: 18px;
	height: 18px;
	background-position: -582px -505px;
}

.sprite-icon-mobile-settings2x {
	width: 20px;
	height: 21px;
	background-position: -600px -523px;
}

.sprite-icon-back2x {
	width: 16px;
	height: 18px;
	background-position: -620px -544px;
}

.sprite-icon-certified-fb2x {
	width: 14px;
	height: 14px;
	background-position: -636px -562px;
}

.sprite-icon-certified-fb-2-x2x {
	width: 28px;
	height: 28px;
	background-position: -650px -576px;
}

.sprite-icon-certified-google2x {
	width: 14px;
	height: 14px;
	background-position: -678px -604px;
}

.sprite-icon-certified-google-2-x2x {
	width: 28px;
	height: 28px;
	background-position: -692px -618px;
}

.sprite-icon-certified-id2x {
	width: 14px;
	height: 14px;
	background-position: -720px -646px;
}

.sprite-icon-certified-id-2-x2x {
	width: 28px;
	height: 28px;
	background-position: -734px -660px;
}

.sprite-icon-certified-id-inverted2x {
	width: 14px;
	height: 14px;
	background-position: -762px -688px;
}

.sprite-icon-certified-id-inverted-2-x2x {
	width: 28px;
	height: 28px;
	background-position: -776px -702px;
}

.sprite-icon-closemenu-b-2x {
	width: 12px;
	height: 12px;
	background-position: -804px -730px;
}

.sprite-icon-closemenu2x {
	width: 12px;
	height: 12px;
	background-position: -816px -742px;
}

.sprite-icon-delete-topic2x {
	width: 46px;
	height: 40px;
	background-position: -828px -754px;
}

.sprite-icon-dropdown-arrowdown2x {
	width: 11px;
	height: 7px;
	background-position: -874px -794px;
}

.sprite-icon-favourite2x {
	width: 22px;
	height: 22px;
	background-position: -885px -801px;
}

.sprite-icon-favourite2x-white {
	width: 12px;
	height: 12px;
	background-position: -907px -823px;
}

.sprite-icon-favourite-notfilled2x {
	width: 22px;
	height: 22px;
	background-position: -919px -835px;
}

.sprite-icon-hamburger2x {
	width: 16px;
	height: 12px;
	background-position: -941px -857px;
}

.sprite-icon-inputfield-error2x {
	width: 16px;
	height: 14px;
	background-position: -957px -869px;
}

.sprite-icon-list-ordering2x {
	width: 6px;
	height: 11px;
	background-position: -973px -883px;
}

.sprite-icon-lock2x {
	width: 8px;
	height: 11px;
	background-position: -979px -894px;
}

.sprite-icon-lock2x-white {
	width: 8px;
	height: 11px;
	background-position: -987px -905px;
}

.sprite-icon-notification-check2x {
	width: 16px;
	height: 16px;
	background-position: -995px -916px;
}

.sprite-icon-notification-error2x {
	width: 16px;
	height: 14px;
	background-position: -1011px -932px;
}

.sprite-icon-notification-info2x {
	width: 16px;
	height: 16px;
	background-position: -1027px -946px;
}

.sprite-icon-search-b-2x {
	width: 15px;
	height: 15px;
	background-position: -1043px -962px;
}

.sprite-icon-search-gray-2x {
	width: 15px;
	height: 15px;
	background-position: -1058px -977px;
}

.sprite-icon-search2x {
	width: 15px;
	height: 15px;
	background-position: -1073px -992px;
}

.sprite-i-d-kaart2x {
	width: 142px;
	height: 34px;
	background-position: -1088px -1007px;
}

.sprite-id-spinner2x {
	width: 34px;
	height: 35px;
	background-position: -1230px -1041px;
}

.sprite-img-idkaart2x {
	width: 203px;
	height: 98px;
	background-position: -1264px -1076px;
}

.sprite-login-icon-facebook2x {
	width: 14px;
	height: 14px;
	background-position: -1467px -1174px;
}

.sprite-login-icon-google2x {
	width: 14px;
	height: 14px;
	background-position: -1481px -1188px;
}

.sprite-login-icon-id2x {
	width: 18px;
	height: 13px;
	background-position: -1495px -1202px;
}

.sprite-menu-icon-about2x {
	width: 18px;
	height: 15px;
	background-position: -1513px -1215px;
}

.sprite-menu-icon-connections2x {
	width: 21px;
	height: 17px;
	background-position: -1531px -1230px;
}

.sprite-menu-icon-faq2x {
	width: 17px;
	height: 17px;
	background-position: -1552px -1247px;
}

.sprite-menu-icon-groups2x {
	width: 17px;
	height: 16px;
	background-position: -1569px -1264px;
}

.sprite-menu-icon-groups2x-dark {
	width: 17px;
	height: 16px;
	background-position: -1586px -1280px;
}

.sprite-menu-icon-help2x {
	width: 17px;
	height: 17px;
	background-position: -1603px -1296px;
}

.sprite-menu-icon-logout2x {
	width: 17px;
	height: 16px;
	background-position: -1620px -1313px;
}

.sprite-menu-icon-topics2x {
	width: 16px;
	height: 18px;
	background-position: -1637px -1329px;
}

.sprite-mobiil-i-d2x {
	width: 149px;
	height: 34px;
	background-position: -1653px -1347px;
}

.sprite-mytopics-icon-closed2x {
	width: 12px;
	height: 12px;
	background-position: -1802px -1381px;
}

.sprite-mytopics-icon-closed2x-w {
	width: 12px;
	height: 12px;
	background-position: -1814px -1393px;
}

.sprite-mytopics-icon-deletetopic02x {
	width: 11px;
	height: 13px;
	background-position: -1826px -1405px;
}

.sprite-mytopics-icon-deletetopic2x {
	width: 11px;
	height: 13px;
	background-position: -1837px -1418px;
}

.sprite-mytopics-icon-followup2x {
	width: 12px;
	height: 12px;
	background-position: -1848px -1431px;
}

.sprite-mytopics-icon-followup2x-w {
	width: 12px;
	height: 12px;
	background-position: -1860px -1443px;
}

.sprite-mytopics-icon-inprogress2x {
	width: 12px;
	height: 12px;
	background-position: -1872px -1455px;
}

.sprite-mytopics-icon-inprogress2x-w {
	width: 12px;
	height: 12px;
	background-position: -1884px -1467px;
}

.sprite-mytopics-icon-voting2x {
	width: 12px;
	height: 12px;
	background-position: -1896px -1479px;
}

.sprite-mytopics-icon-voting2x-w {
	width: 12px;
	height: 12px;
	background-position: -1908px -1491px;
}

.sprite-tooltip-arrow2x {
	width: 5px;
	height: 9px;
	background-position: -1920px -1503px;
}

.sprite-tooltip-arrow-grey2x {
	width: 9px;
	height: 5px;
	background-position: -1925px -1512px;
}

.sprite-tooltip-arrow-grey-shadow2x {
	width: 17px;
	height: 10px;
	background-position: -1934px -1517px;
}

.sprite-voted-check2x {
	width: 23px;
	height: 18px;
	background-position: -1951px -1527px;
}

.sprite-voted-nocheck2x {
	width: 16px;
	height: 16px;
	background-position: -1974px -1545px;
}

.sprite-x0-menu-icon-help2x {
	width: 17px;
	height: 17px;
	background-position: -1990px -1561px;
}

.sprite-x1-mytopics-icon-discuss-big2x {
	width: 61px;
	height: 58px;
	background-position: -2007px -1578px;
}

.sprite-x2-mytopics-icon-newtopic-big2x {
	width: 70px;
	height: 78px;
	background-position: -2068px -1636px;
}

.sprite-x3-icon-topbar-earch2x {
	width: 18px;
	height: 18px;
	background-position: -2138px -1714px;
}

.sprite-x4-icon-language-dropdown2x {
	width: 11px;
	height: 7px;
	background-position: -2156px -1732px;
}

.sprite-x5-cos-logo-small2x {
	width: 150px;
	height: 28px;
	background-position: -2167px -1739px;
}

.sprite-x6-cos-logo-big2x {
	width: 150px;
	height: 132px;
	background-position: -2317px -1767px;
}