/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite_temp2 {
    background-image: url('../imgs/icons_sprite_temp.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite_temp2 {
        background-image: url('../imgs/icons_sprite_temp2x.png');
		 background-size: 138px 138px;
	}
}

.sprite-icon-category-add2x {
	width: 12px;
	height: 12px;
	background-position: 0 0;
}

.sprite-icon-category-add2x-black {
	width: 12px;
	height: 12px;
	background-position: -12px -12px;
}

.sprite-icon-category-delete2x {
	width: 10px;
	height: 10px;
	background-position: -24px -24px;
}

.sprite-icon-arrow-reply2x {
	width: 12px;
	height: 11px;
	background-position: -34px -34px;
}

.sprite-icon-reportmessage-default2x {
	width: 12px;
	height: 12px;
	background-position: -46px -45px;
}

.sprite-icon-reportmessage-hover2x {
	width: 12px;
	height: 12px;
	background-position: -58px -57px;
}

.sprite-icon-thumbsdown-default2x {
	width: 12px;
	height: 12px;
	background-position: -70px -69px;
}

.sprite-icon-thumbsdown-hover2x {
	width: 12px;
	height: 12px;
	background-position: -82px -81px;
}

.sprite-icon-thumbsup-hover2x {
	width: 12px;
	height: 12px;
	background-position: -94px -93px;
}

.sprite-icon-thumbsup-default2x {
	width: 12px;
	height: 12px;
	background-position: -106px -105px;
}

.sprite-icon-mobile-settings-active2x {
	width: 20px;
	height: 21px;
	background-position: -118px -117px;
}