.arrow_th_sort_up {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' transform='scale(1 -1)' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L3 11L0 7H2V0H4V7H6Z' fill='%23878787'/%3E%3C/svg%3E%0A");
    width: 6px;
    height: 11px;
}

.arrow_th_sort_down {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7L3 11L0 7H2V0H4V7H6Z' fill='%23878787'/%3E%3C/svg%3E%0A");
    width: 6px;
    height: 11px;
}

.bullet_arrow_left {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='6' viewBox='0 0 13 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 3.5V5.5L0 3L4 0.5V2.5H13V3.5H4Z' fill='%232A2A2A'/%3E%3C/svg%3E%0A");
    width: 13px;
    height: 6px;
}

.icon_topics {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2.50732H2.5V1C2.5 0.723858 2.72386 0.5 3 0.5H15C15.2761 0.5 15.5 0.723858 15.5 1V15C15.5 15.2761 15.2761 15.5 15 15.5H13.5V3.00732V2.50732H13Z' stroke='white'/%3E%3Crect x='3.25' y='5.25' width='7.5' height='0.5' stroke='white' stroke-width='0.5'/%3E%3Crect x='3.25' y='8.25' width='7.5' height='0.5' stroke='white' stroke-width='0.5'/%3E%3Crect x='3.25' y='11.25' width='7.5' height='0.5' stroke='white' stroke-width='0.5'/%3E%3Crect x='3.25' y='14.25' width='3.5' height='0.5' stroke='white' stroke-width='0.5'/%3E%3Crect x='0.5' y='2.5' width='13' height='15' rx='0.5' stroke='white'/%3E%3C/svg%3E");
    width: 16px;
    height: 18px;
}

.icon_plus_black {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93885 7.06115L2.38419e-07 7.06115L0 4.93851L4.93885 4.93851L4.93885 0H7.06149V4.93851H12V7.06115H7.06149L7.06149 12H4.93885L4.93885 7.06115Z' fill='%232A2A2A'/%3E%3C/svg%3E");
    width: 12px;
    height: 12px;
}

.icon_topic_black {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 1.00087C12 0.444631 11.5492 0 10.9932 0H1.00685C0.449949 0 0 0.448106 0 1.00087V12.9991C0 13.5554 0.45078 14 1.00685 14H10.9932C11.5501 14 12 13.5519 12 12.9991V1.00087ZM10 2H2V3H10V2ZM10 5H2V6H10V5ZM2 8V9H10V8H2ZM6 11H2V12H6V11Z' fill='%232A2A2A'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 14px;
}

.icon_members {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.28571 11.5585C5.28571 12.9562 7.68419 14.0893 10.6429 14.0893C13.6015 14.0893 16 12.9562 16 11.5585C16 10.6149 14.9068 9.79191 13.2862 9.35675' stroke='white'/%3E%3Ccircle cx='10.6429' cy='6.05357' r='4.28571' stroke='white'/%3E%3Cellipse cx='6.35721' cy='13.7014' rx='5.35714' ry='2.53078' transform='rotate(-180 6.35721 13.7014)' fill='%230680FC' stroke='white'/%3E%3Ccircle cx='6.357' cy='8.19642' r='4.28571' fill='%230680FC' stroke='white'/%3E%3C/svg%3E%0A");
    width: 17px;
    height: 18px;
}

.icon_settings {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.8467 7.44193L10.9143 6.9265C10.9706 6.62626 11 6.31656 11 6C11 5.68189 10.9703 5.37073 10.9135 5.06912L11.8467 4.55323C11.9706 4.48549 12.0262 4.34517 11.9857 4.21452C11.7052 3.35324 11.2275 2.57421 10.6033 1.92582C10.5073 1.82663 10.3506 1.80244 10.2293 1.87018L9.39641 2.33059C8.88925 1.86093 8.28454 1.49512 7.61608 1.26694V0.428247C7.61608 0.292764 7.51752 0.174216 7.37852 0.145183C6.45101 -0.0532029 5.50076 -0.0435255 4.61874 0.145183C4.47974 0.174216 4.38118 0.292764 4.38118 0.428247V1.26787C3.71272 1.49649 3.10811 1.86275 2.60114 2.33285L1.77051 1.8726C1.64667 1.80485 1.49251 1.82663 1.39647 1.92824C0.772235 2.57421 0.294581 3.35324 0.0140546 4.21694C-0.0289088 4.34759 0.0292182 4.48791 0.153054 4.55565L1.08606 5.07142C1.02956 5.37231 1 5.6827 1 6C1 6.3173 1.02956 6.62769 1.08606 6.92858L0.153054 7.44435C0.0292182 7.51209 -0.0263815 7.65241 0.0140546 7.78306C0.294581 8.64434 0.772235 9.42337 1.39647 10.0718C1.49251 10.171 1.6492 10.1951 1.77051 10.1274L2.60187 9.66782C3.10933 10.1382 3.71457 10.5045 4.3837 10.733V11.5718C4.3837 11.7072 4.48227 11.8258 4.62127 11.8548C5.54877 12.0532 6.49903 12.0435 7.38104 11.8548C7.52004 11.8258 7.61861 11.7072 7.61861 11.5718V10.7322C8.2872 10.5036 8.89194 10.1372 9.39899 9.66702L10.2318 10.1274C10.3556 10.1951 10.5098 10.1734 10.6058 10.0718C11.2301 9.42579 11.7077 8.64676 11.9883 7.78306C12.0262 7.64999 11.9706 7.50967 11.8467 7.44193ZM6 8C7.10457 8 8 7.10457 8 6C8 4.89543 7.10457 4 6 4C4.89543 4 4 4.89543 4 6C4 7.10457 4.89543 8 6 8Z' fill='%232A2A2A'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 12px;
};

.icon_x_black {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.00013 6.50211L1.50221 10L0 8.49781L3.49792 4.99989L0.000238752 1.50222L1.50245 0L5.00013 3.49768L8.49781 0L10 1.50222L6.50235 4.99989L10.0003 8.49781L8.49805 10L5.00013 6.50211Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 10px;
}

.icon_delete {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.5 2C5.64 1.9065 5.738 1.7545 5.738 1.5735V1.022C5.738 0.7335 5.504 0.5 5.216 0.5H4.716C4.4275 0.5 4.1935 0.7335 4.1935 1.022V1.5735C4.1935 1.7545 4.2915 1.9065 4.4315 2H0V3H10V2H5.5ZM1.5 13H8.4555L10 4H0L1.5 13ZM5.5 5H4.5V12H5.5V5ZM7.5 5H8.5L7.5 12H6.5L7.5 5ZM1.5 5H2.5L3.5 12H2.5L1.5 5Z' fill='%23FF1D42'/%3E%3C/svg%3E%0A");
    width: 10px;
    height: 13px;
}

.icon_arrow_down_black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.22563 0.592401C7.02744 0.592401 6.82924 0.668271 6.67828 0.819236L3.99961 3.4979L1.32172 0.819236C1.01902 0.516531 0.529733 0.516531 0.227029 0.819236C-0.0756762 1.12194 -0.0756762 1.61122 0.227029 1.91393L3.99961 5.68729L7.77297 1.91393C8.07568 1.61122 8.07568 1.12194 7.77297 0.819236C7.62201 0.668271 7.42382 0.592401 7.22563 0.592401Z' fill='black'/%3E%3C/svg%3E");
    width: 8px;
    height: 6px;
}

.icon_arrow_down_white {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.22563 0.592401C7.02744 0.592401 6.82924 0.668271 6.67828 0.819236L3.99961 3.4979L1.32172 0.819236C1.01902 0.516531 0.529733 0.516531 0.227029 0.819236C-0.0756762 1.12194 -0.0756762 1.61122 0.227029 1.91393L3.99961 5.68729L7.77297 1.91393C8.07568 1.61122 8.07568 1.12194 7.77297 0.819236C7.62201 0.668271 7.42382 0.592401 7.22563 0.592401Z' fill='white'/%3E%3C/svg%3E");
    width: 8px;
    height: 6px;
}

.icon_feedback_btn {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.7221 19.1522C21.7221 18.8431 21.805 18.548 21.9499 18.2951C21.9802 18.2385 22.0179 18.1858 22.0549 18.134C22.0684 18.115 22.0819 18.0961 22.0949 18.0773C23.2959 16.2506 23.9999 14.0656 23.9999 11.733C24.0206 5.25527 18.6505 0 12.0103 0C6.21914 0 1.3874 4.01171 0.255392 9.33724C0.0897317 10.1171 0 10.911 0 11.74C0 18.2248 5.16306 23.6206 11.8032 23.6206C12.8593 23.6206 14.2812 23.2974 15.0612 23.0796C15.8412 22.8618 16.6143 22.5738 16.8145 22.4965C17.0146 22.4192 17.2355 22.377 17.4564 22.377C17.7049 22.377 17.9396 22.4262 18.1535 22.5176L22.0672 23.9297C22.0672 23.9297 22.2329 24 22.3364 24C22.6402 24 22.8886 23.7541 22.8886 23.4379C22.8886 23.3677 22.8541 23.2482 22.8541 23.2482L21.7221 19.1522ZM10 15C10 15.5523 9.55228 16 9 16C8.44772 16 8 15.5523 8 15C8 14.4477 8.44772 14 9 14C9.55228 14 10 14.4477 10 15ZM12 16C12.5523 16 13 15.5523 13 15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15C11 15.5523 11.4477 16 12 16ZM15 16C15.5523 16 16 15.5523 16 15C16 14.4477 15.5523 14 15 14C14.4477 14 14 14.4477 14 15C14 15.5523 14.4477 16 15 16Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
}

.icon_feedback_arrow {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54673 0.312623C9.14706 -0.104208 8.49906 -0.104208 8.09938 0.312623C7.69971 0.729454 7.69971 1.40527 8.09938 1.8221L11.0816 5H1C0.434777 5 0 5.41077 0 6.00026C0 6.58975 0.434777 6.98244 1 6.98244H11.0816L8.09938 10.1779C7.69971 10.5947 7.69971 11.2705 8.09938 11.6874C8.49906 12.1042 9.14706 12.1042 9.54673 11.6874L15 6L9.54673 0.312623Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 15px;
    height: 12px;
}

.icon_checkmark_white {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.4548 4.50431L16.6036 35.6067L0.792969 18.3016L6.20692 13.3552L15.9872 24.06L33.5451 0.162354L39.4548 4.50431Z' fill='white'/%3E%3C/svg%3E%0A");
    width: 40px;
    height: 36px;
}
