/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
	background-image: url('../imgs/icons_sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		 background-image: url('../imgs/icons_sprite2x.png');
		 background-size: 1088px 920px;
	}
}

.sprite-dropdown-arrowdown-big2x {
	width: 13px;
	height: 8px;
	background-position: 0 0;
}

.sprite-icon-inputfield-error2x {
	width: 16px;
	height: 14px;
	background-position: -13px -8px;
}

.sprite-icon-notification-check2x {
	width: 16px;
	height: 16px;
	background-position: -29px -22px;
}

.sprite-icon-notification-error2x {
	width: 16px;
	height: 14px;
	background-position: -45px -38px;
}

.sprite-icon-notification-info2x {
	width: 16px;
	height: 16px;
	background-position: -61px -52px;
}

.sprite-dropdown-arrowdown-small2x {
	width: 8px;
	height: 6px;
	background-position: -77px -68px;
}

.sprite-x6-cos-logo-big2x {
	width: 150px;
	height: 132px;
	background-position: -85px -74px;
}

.sprite-icon-closemenu-b-2x {
	width: 12px;
	height: 12px;
	background-position: -235px -206px;
}

.sprite-icon-search-b-2x {
	width: 15px;
	height: 15px;
	background-position: -247px -218px;
}

.sprite-icon-hamburger2x {
	width: 16px;
	height: 12px;
	background-position: -262px -233px;
}

.sprite-x4-icon-language-dropdown2x {
	width: 11px;
	height: 7px;
	background-position: -278px -245px;
}

.sprite-x3-icon-topbar-earch2x {
	width: 18px;
	height: 18px;
	background-position: -289px -252px;
}

.sprite-x1-mytopics-icon-discuss-big2x {
	width: 61px;
	height: 58px;
	background-position: -307px -270px;
}

.sprite-x2-mytopics-icon-newtopic-big2x {
	width: 70px;
	height: 78px;
	background-position: -368px -328px;
}

.sprite-x0-menu-icon-help2x {
	width: 17px;
	height: 17px;
	background-position: -438px -406px;
}

.sprite-mytopics-icon-deletetopic02x {
	width: 11px;
	height: 13px;
	background-position: -455px -423px;
}

.sprite-x5-cos-logo-small2x {
	width: 150px;
	height: 28px;
	background-position: -466px -436px;
}

.sprite-login-icon-id2x {
	width: 18px;
	height: 13px;
	background-position: -616px -464px;
}

.sprite-login-icon-google2x {
	width: 14px;
	height: 14px;
	background-position: -634px -477px;
}

.sprite-login-icon-facebook2x {
	width: 14px;
	height: 14px;
	background-position: -648px -491px;
}

.sprite-btn-popup-close2x {
	width: 14px;
	height: 14px;
	background-position: -662px -505px;
}

.sprite-icon-certified-google2x {
	width: 14px;
	height: 14px;
	background-position: -676px -519px;
}

.sprite-icon-certified-id-inverted2x {
	width: 14px;
	height: 14px;
	background-position: -690px -533px;
}

.sprite-icon-certified-id2x {
	width: 14px;
	height: 14px;
	background-position: -704px -547px;
}

.sprite-icon-certified-fb2x {
	width: 14px;
	height: 14px;
	background-position: -718px -561px;
}

.sprite-voted-nocheck2x {
	width: 16px;
	height: 16px;
	background-position: -732px -575px;
}

.sprite-voted-check2x {
	width: 23px;
	height: 18px;
	background-position: -748px -591px;
}

.sprite-icon-list-ordering2x {
	width: 6px;
	height: 11px;
	background-position: -771px -609px;
}

.sprite-btn-minimize2x {
	width: 16px;
	height: 16px;
	background-position: -777px -620px;
}

.sprite-btn-expand2x {
	width: 16px;
	height: 16px;
	background-position: -793px -636px;
}

.sprite-mytopics-icon-deletetopic2x {
	width: 11px;
	height: 13px;
	background-position: -809px -652px;
}

.sprite-icon-favourite2x {
	width: 22px;
	height: 22px;
	background-position: -820px -665px;
}

.sprite-icon-favourite-notfilled2x {
	width: 22px;
	height: 22px;
	background-position: -842px -687px;
}

.sprite-mytopics-icon-infollowup2x {
	width: 12px;
	height: 12px;
	background-position: -864px -709px;
}

.sprite-mytopics-icon-invoting2x {
	width: 12px;
	height: 12px;
	background-position: -876px -721px;
}

.sprite-mytopics-icon-progress2x {
	width: 12px;
	height: 12px;
	background-position: -888px -733px;
}

.sprite-icon-back2x {
	width: 16px;
	height: 18px;
	background-position: -900px -745px;
}

.sprite-icon-closemenu2x {
	width: 12px;
	height: 12px;
	background-position: -916px -763px;
}

.sprite-icon-search2x {
	width: 15px;
	height: 15px;
	background-position: -928px -775px;
}

.sprite-menu-icon-logout2x {
	width: 17px;
	height: 16px;
	background-position: -943px -790px;
}

.sprite-menu-icon-connections2x {
	width: 21px;
	height: 17px;
	background-position: -960px -806px;
}

.sprite-menu-icon-about2x {
	width: 18px;
	height: 15px;
	background-position: -981px -823px;
}

.sprite-menu-icon-faq2x {
	width: 17px;
	height: 17px;
	background-position: -999px -838px;
}

.sprite-menu-icon-help2x {
	width: 17px;
	height: 17px;
	background-position: -1016px -855px;
}

.sprite-bullet-plus2x {
	width: 9px;
	height: 9px;
	background-position: -1033px -872px;
}

.sprite-bullet-arrow2x {
	width: 13px;
	height: 5px;
	background-position: -1042px -881px;
}

.sprite-menu-icon-topics2x {
	width: 16px;
	height: 18px;
	background-position: -1055px -886px;
}

.sprite-menu-icon-groups2x {
	width: 17px;
	height: 16px;
	background-position: -1071px -904px;
}