@import 'vars';
@import 'mixins_n_extends';

#root_lightbox_wrap {
    @extend .all_zero;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 11;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);

    #close_lightbox {
        @extend .all_zero;
        position: absolute;
        cursor: pointer;
        z-index: 10;
    }

    #lightbox {
        @extend .all_zero;
        
        #lighbox_content {
            z-index: 11;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 320px;

            #lightbox_header {
                width: 100%;
                height: 54px;
                background: $white;
                border-radius: 4px 4px 0 0;
                display: table;
                box-sizing: border-box;
                
                #lightbox_header_text {
                    @extend .table_cell;
                    font-weight: $bold;
                    font-size: 16px;
                    padding: 15px 0 15px 20px;
                    box-sizing: border-box;
                }

                #lightbox_close {
                    width: 54px;
                    height: 100%;
                    display: table;
                    float: right;
                    cursor: pointer;
                    border-radius: 0 4px 0 0;

                    &:hover {
                        background: $light_gray;
                    }

                    .sprite {
                            margin: 0 auto;
                    }

                }
            }
        }
    }
}

