@import 'vars';
@import 'mixins_n_extends';

.logo_area {
    width: 190px;
    height: 60px;
    background: $dark_black;
    display: table;
    cursor: pointer;

    @include tablet {
         background: none;
         position: absolute;
         left: 0;
    }

    @include mobile {
        width: 59px;
    }

    .logo {
        margin-top: 16px;
        @include mobile {
            width: 28px;
        }
    }
}

.logo {
    margin: 0 auto;
}


.nav_is_open {
    right: 0;
    width: $nav_t_width;
}

nav {

    width: $nav_d_width;
    height: 100%;
    background: $medium_black;
    color: $transparent_white;
    font-size: 13px;
    position: fixed;
    z-index: 10;

    .dark_line {
        margin-top: 16px;
    }

    .logo {
        margin-top: 20px;
    }

    @include tablet {
        right: -$nav_t_width;
        transition: all 220ms cubic-bezier(.45,.78,0,1);
        overflow-y: visible;
        overflow-x: hidden;
        padding-bottom: 60px;
        box-sizing: border-box;
        top: 60px;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

    .nav_inside {
        padding: 20px;

        .blue_button {
            margin-top: 20px;
            margin-bottom: 20px;
            @include tablet {
                margin-top: -10px;
            }
        }

        a:link, a:visited {
            color: $transparent_white;
        }

        .sprite, a, .section_item {
           -webkit-transform: translateZ(0);
           transform: translateZ(0);
        }

        .section_header {
            font-size: 14px;

            .sprite {
                opacity: 1 !important;
            }
        }

        .bold_white {
            font-weight: 700;
            color: $white;
        }

        .bold_blue {
            font-weight: 700;
            color: $sky_blue;
        }

        a:hover {
            color: $white;
        }

        #account_area {
            margin-bottom: 21px;
            display: table;
        }

        .section {

            & {
                margin-top: 16px;
            }

            .section_item {
                padding: 4px 0 4px 12px ;
                height: 20px;
                display: block;

                @include tablet {
                    padding: 8px 0 27px 12px ;
                    box-sizing: border-box;
                }

                    /* Use tables to center icons*/
                    .section_icon {
                        width: 21px;
                        overflow: hidden;
                        height: 20px;
                        display: table;
                        float: left;
                        margin-right: 16px;

                        .sprite {
                            margin: 0 auto;
                            opacity: .69;
                        }
                    }

                    .section_icon.arrow_down {
                        float: right;
                        margin-right: 1px;
                        margin-top: 1px;
                    }


                }

                .dropdown_active .section_item {
                    background: $black !important;
                }

                .dropdown_active .dropdown {
                    visibility: visible;
                    height: initial;
                }

                .dropdown {
                    // display: none;
                    visibility: hidden;
                    height: 0;
                    width: 100%;
                    .section_item {
                        padding-left: 49px;
                        padding-right: 5px;
                    }
                }

                .section_item:not(.section_header):hover, .section_item.active {
                    cursor: pointer;
                    font-weight: bold;
                    color: $white;

                    @include tablet {
                        font-weight: initial;
                        opacity: .69;

                        &.bold_blue {
                            font-weight: 700;
                            color: $sky_blue;
                            opacity: 1;

                            .sprite {
                                opacity: .69;
                            }
                        }
                    }

                    & {
                        background: $black;

                        @include tablet {
                            -webkit-tap-highlight-color: rgba(0, 0, 0, .45);
                            background: initial;
                        }

                    }

                    .sprite {
                        opacity: 1;
                    }

                }
        }

    }


}


#mobile_header {
    height: 60px;
    background: $medium_black;
    z-index: 4;
    padding-right: 138px;
    padding-left: 190px;
    left: 0;
    right: 0;

    position: fixed;
    width: 100%;
    box-sizing: border-box;

    @include mobile {
        padding-left: 59px;
    }

    .header_button.overview {
        width: 144px;
        right: 234px;
        @media (max-width: 560px) {
            right: 169px;
        }
        @media (max-width: 360px) {
            width: 58px;
            right: 171px;
            .header_button_icon {
                width: 55px;
                .sprite {
                    float: none;
                    margin: 0 auto;
                }
            }
            .header_button_text {
                display: none;
            }
        }
    }

    .header_button.overview_active {
        @media (max-width: 560px) {
            width: 53px;
            .header_button_icon {
                .sprite {
                    float: none;
                    margin: 0 auto;
                }
            }
            .header_button_text {
                display: none;
            }
        }
    }
    
    .header_button {
        width: 118px;
        height: 60px;
        position: absolute;
        right: 0;
        color: $white;
        font-weight: bold;
        font-size: 14px;
        display: table;
        cursor: pointer;
        padding-right: 1px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, .45);

        &:nth-child(2) {
            right: 118px;
        }

       #line_holder, .header_button_icon, .header_button_text {
            @extend .table_cell;
            text-align: center;
        }

        .header_button_icon {
            width: 34px;
        }

        .sprite {
            float: right;
        }

        .v_line {
            height: 30px;
            width: 1px;
            float: left;
        }
    }


    /* SEARCH BAR (search area styles in content.scss) */

     #m_search_bar {
        display: table;
        height: 60px;
        width: 100%;
        position: relative;

        #m_search_icon, #m_search_close {
            position: absolute;
            height: 60px;
            width: 32px;
            display: table;

            .sprite {
                margin: 0 auto;
            }
        }

        #m_search_close {
            right: 0;
            cursor: pointer;
        }

        #m_search_bar_wrap {
            @extend .table_cell;

            input {
                border-radius: 15px;
                border: none;
                height: 30px;
                padding: 0 34px 1px 34px;
                box-sizing: border-box;
                width: 100%;

                &:focus, input:focus{
                    outline: none;
                }
            }
        }
    }


}
