@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ngdialog {
    box-sizing: border-box;
}

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
    box-sizing: inherit;
}

.ngdialog {
    position: fixed;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .0s;
    animation: ngdialog-flyout .0s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    -webkit-animation: ngdialog-flyin .0s;
    animation: ngdialog-flyin .0s;
}
