.picker-dialog-frame {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden
}

.picker-dialog-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000
}

.picker-dialog {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #acacac;
    width: auto;
    padding: 0;
    z-index: 1001;
    overflow: auto;
    -moz-box-shadow: rgba(0, 0, 0, .2) 0 4px 16px;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 4px 16px;
    box-shadow: rgba(0, 0, 0, .2) 0 4px 16px
}

.picker-dialog-content {
    font-size: 0;
    padding: 0
}

.picker-dialog-title,
.picker-dialog-buttons {
    display: none
}