@import 'vars';
@import 'mixins_n_extends';
@import 'icons';

#topics_admin_root {
    @extend .default_setup;

    .timeline {
        height: 85px;
        display: table;
        padding: 0 60px;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        margin-top: 15px;
        position: relative;
        background: $light_gray;

        @media (max-width: 767px) {
            padding: 0;
            height: 106px;
            margin-top: 22px;
        }

        .milestones_wrap {
            text-align: center;
            margin-bottom: 38px;
            display: none;
            width: 100px;

            @media (max-width: 767px) {
                display: table-row;
                height: 42px;
            }

            .milestones_section {
                display: inline-table;
                background: $lightest_gray;
                padding-right: 12px;
                border-radius: 12px;
                margin-left: -2px;
                .table_cell {
                    width: auto;
                    .milestones_text {
                        padding-left: 9px;
                    }
                    .milestones_checkmark {
                        padding-right: 5px;
                    }
                }
            }

        }

        .table_cell {
            position: relative;
            width: 100%;

            .background_line {
                height: 4px;
                width: 100%;
                position: absolute;
                left: 0;
                margin-top: -2px;
            }

            .progress_line {
                @extend .background_line;

                &.progress_status_line {
                    width: 33%;
                }

                &.in_progress_line {
                    width: 25%;
                }

                &.voting_line {
                    width: 66%;
                }

                &.in_voting_line {
                    width: 50%;
                }

                &.follow_up_line {
                    width: 100%;
                }

                &.in_follow_up_line {
                    width: 75%;
                }
            }

            .days_left_wrap {
                height: 24px;
                display: table;
                border-radius: 100px;
                font-weight: $bold;
                padding: 0 10px;
                position: absolute;
                margin-top: -12px;

                &.days_left_in_progress {
                    left: 25%;
                }

                &.days_left_voting {
                    left: 50%;
                }

                &.days_left_follow_up {
                    left: 75%;
                }

                &.days_left_closed {
                    left: 99%;
                }
            }

            .checkmark {
                height: 30px;
                width: 30px;
                display: table;
                margin-top: -15px;
                position: absolute;

                @media (max-width: 767px) {
                    display: none;
                }

                .table_cell {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    .sprite {
                        margin: 0 auto;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .tooltip {
                        visibility: visible;
                        @include tablet {
                            visibility: hidden;
                        }
                    }
                }
            }

            .checkmark_in_progress {
                left: 32%;
            }

            .checkmark_voting {
                left: 65%;
            }
        }

        .additional_info {
            position: absolute;
            top: 2px;
        }

        .additional_info.signing_deadline {
            right: 60px;
            @media (max-width: 767px) {
                width: 100%;
                left: 0;
                text-align: center;
                top: 33px;
            }
        }

        .additional_info.current_phase {
            left: 60px;
            @media (max-width: 767px) {
                display: none;
            }
        }

    }

    .content_wrap {

        .tabs_wrap_wrap {
            height: 44px;
            position: relative;
            display: table;
            width: 100%;

            .arrow_btn {
                position: absolute;
                background: linear-gradient(90deg, rgba(246, 246, 246, 100%) 72.5%, rgba(246, 246, 246, 0%) 100%);
                height: inherit;
                width: 70px;
                z-index: 2;
                border-bottom: 1px solid $lightest_gray;
                display: table;
                box-sizing: border-box;
                cursor: pointer;
                .sprite {
                    margin-left: 4px;
                }
                &:hover {
                    .sprite {
                        margin-left: 0;
                        @extend .sprite-icon-arrow-topic-tab2x-hover;
                    }
                }

            }

            .arrow_btn.right {
                right: 0;
                background: linear-gradient(90deg, rgba(246, 246, 246, 0%) 0, rgba(246, 246, 246, 100%) 28.5%);
                left: auto;
                .sprite {
                    margin-left: auto;
                    margin-right: 4px;
                }
                &:hover {
                    .sprite {
                        margin-left: auto;
                        margin-right: 0;
                        @extend .sprite-icon-arrow-right-topic-tab2x-hover;
                    }
                }
            }

            .fake_cell {
                display: table-cell;
                min-width: 310px;
                @include tablet {
                    display: none;
                }
            }

            .tabs_wrap {
                height: inherit;
                position: relative;
                display: table-cell;
                width: 70%;
                padding-left: 60px;
                box-sizing: border-box;
                @include tablet {
                    width: 100%;
                    padding-left: 0;
                }
                .tabs_visible_area {
                    height: inherit;
                    position: relative;
                    overflow: hidden;

                    @include tablet {
                        padding-left: 10px;
                    }

                    .tabs_rails {
                        height: inherit;
                        width: 99999px;
                        position: absolute;
                        top: 0;
                        .tabs_train {
                            height: inherit;
                            float: left;
                            position: absolute;
                            transition: all 450ms cubic-bezier(.45, .78, 0, 1);
                            @include tablet {
                                transition: none;
                            }
                            .tab {
                                display: table;
                                height: inherit;
                                float: left;
                                background: $white;
                                font-size: 14px;
                                font-weight: bold;
                                padding: 0 20px;
                                box-sizing: border-box;
                                margin-right: 10px;
                                border: 1px solid $lightest_gray;
                                position: relative;
                                z-index: 1;
                                text-align: center;
                                color: $text_gray;

                                &:hover {
                                    cursor: pointer;
                                    background: $light_gray;
                                    @include tablet {
                                        background: $white;
                                    }
                                }
                                @include tablet {
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                            .selected {
                                background: $light_gray;
                                border-bottom: 1px solid $light_gray;

                                &:hover {
                                    cursor: initial;
                                }
                            }
                        }
                    }
                }
            }

            .line {
                position: absolute;
                bottom: 0;
                left: 0;
            }

        }

        .content {
            display: table;
            width: 100%;
            box-sizing: border-box;
            position: relative;

            .main_panel {
                box-sizing: border-box;
                display: table-cell;
                width: 70%;
                position: relative;

                .info_bar_wrap {
                    position: relative;
                    z-index: 1;
                    .info_icon {
                        vertical-align: middle;
                    }
                    @include tablet {
                        margin-top: 0;
                    }

                }

                .main_content_wrap {
                    position: relative;
                    box-sizing: border-box;

                    @include tablet {
                        width: 100%;
                    }
                    .iframe_content_wrap {
                        padding: 30px 60px;

                        @media (max-width: 767px) {
                            padding: 30px 20px;
                        }

                        .topic_info.open {
                            .more_info_button {
                                .table_cell {
                                    .circle_holder {
                                        .circle_wrap {
                                            .circle {
                                                bottom: -1px;
                                            }
                                            &:nth-child(2) {
                                                .circle {
                                                    bottom: auto;
                                                    top: -2px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .line {
                                margin-top: 63px;
                            }

                        }

                        .topic_info {
                            position: relative;
                            margin-bottom: 29px;
                            display: block;

                            .container_pin {
                                top: -4px;
                                right: -41px;
                                &:active {
                                    top: -5px;
                                    right: -42px;
                                }
                                @media (max-width: 767px) {
                                    display: blocK;
                                    top: auto;
                                    right: 0;
                                    &:active {
                                        top: auto;
                                        right: -1px;
                                    }
                                }
                            }

                            .container_report {
                                top: -4px;
                                right: -12px;
                                &:active {
                                    top: -5px;
                                    right: -13px;
                                }
                                @media (max-width: 767px) {
                                    display: blocK;
                                    top: auto;
                                    right: 28px;
                                    &:active {
                                        top: auto;
                                        right: 28px;
                                    }
                                }
                            }


                            .more_info_button {
                                margin-bottom: 21px;
                                font-family: "Noto Sans";
                                font-size: 14px;
                                line-height: 22px;
                                color: $deep_sky_blue;
                                display: none;
                                @media (max-width: 767px) {
                                    display: table;
                                }
                                .table_cell {
                                    width: 100%;
                                    height: 100%;

                                    .more_info_button_text_wrap {
                                        display: inline-block;

                                        .arrow_down_wrap {
                                            display: inline-block;
                                            margin-right: 5px;

                                            .arrow_down_blue {
                                                width: 8px;
                                                height: 5px;
                                                display: inline-block;
                                                vertical-align: middle;
                                            }
                                        }
                                    }

                                    .more_info_attachment_wrap {
                                        background-color: $deep_sky_blue;
                                        color:$white;
                                        height: 22px;
                                        width: 38px;
                                        border-radius: 11px;
                                        margin-left: 7px;
                                        display: inline-block;

                                        .more_info_attachment_icon {
                                            margin-left: 6px;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }

                            .info_sections_wrap {
                                .info_section {
                                    margin-bottom: 7px;
                                    font-size: 13px;
                                    line-height: 30px;

                                    @media (min-width: 767px) {
                                        line-height: 18px;
                                    }

                                    .info_section_title {
                                        font-weight: bold;

                                        @media (min-width: 767px) {
                                            display: inline-block;
                                            font-weight: 400;
                                        }
                                    }
                                    .info_section_content {
                                        color: $deep_sky_blue;

                                        @media (min-width: 767px) {
                                            display: inline-block;

                                            .blue_link {
                                                line-height: 18px;
                                            }
                                        }
                                    }
                                    .info_section_separator {
                                        color: $medium_black;
                                    }
                                    .file_type {
                                        padding: 0 3px 0px 3px;
                                        font-size: 12px;
                                        margin-left: 10px;
                                    }
                                    .info_section_add_attachments {
                                        margin-top: 15px;
                                    }
                                }
                                tooltip, .tooltip_author {
                                    display: inline;
                                }
                            }

                            .line {
                                margin-top: 22px;
                                @media (max-width: 767px) {
                                    margin-top: 32px;
                                }
                            }
                            .info_section, .blue_link {
                                font-size: 14px;
                                line-height: 30px;
                            }
                            .creator_data_tooltip_row {
                                display: table-row;
                            }
                        }

                        /** For @media print - hiding the topic_content_read_only and showing later with CSS when print is pushed **/
                        #topic_content_read_only {
                            display: inline;
                        }

                        @media print {
                            #topic_content_area {
                                iframe {
                                    display: none !important;
                                }

                                #topic_content_read_only {
                                    display: inline !important; /** Whatever happens, on print show read-only content **/
                                }
                            }
                        }

                        .topic_content {
                            font-family: 'Noto Sans', sans-serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 175%;
                            word-break: break-word;

                            h1, h2, h3, h4, h5, h6 {
                                font-family: 'Noto Sans', sans-serif;
                                color: $medium_black;
                                margin: 20px 0;
                                line-height: 135%;
                                font-weight: bold;
                            }

                            h1 {
                                font-size: 46px;
                            }

                            h2 {
                                font-size: 40px;
                            }

                            h3 {
                                font-size: 34px;
                            }

                            h4 {
                                font-size: 28px;
                            }

                            h5 {
                                font-size: 22px;
                            }

                            h6 {
                                font-size: 16px;
                            }

                            @include mobile {
                                h1 {
                                    font-size: 30px;
                                }

                                h2 {
                                    font-size: 24px;
                                }

                                h3 {
                                    font-size: 18px;
                                }

                                h4, h5, h6 {
                                    font-size: 16px;
                                }
                            }

                            code {
                                font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
                            }

                            .fs8, .font-size\:8 {
                                font-size: 8px;
                            }
                            .fs9, .font-size\:9 {
                                font-size: 9px;
                            }
                            .fs10, .font-size\:10 {
                                font-size: 10px;
                            }
                            .fs11, .font-size\:11 {
                                font-size: 11px;
                            }
                            .fs12, .font-size\:12 {
                                font-size: 12px;
                            }
                            .fs13, .font-size\:13 {
                                font-size: 13px;
                            }
                            .fs14, .font-size\:14 {
                                font-size: 14px;
                            }
                            .fs15, .font-size\:15 {
                                font-size: 15px;
                            }
                            .fs16, .font-size\:16 {
                                font-size: 16px;
                            }
                            .fs17, .font-size\:17 {
                                font-size: 17px;
                            }
                            .fs18, .font-size\:18 {
                                font-size: 18px;
                            }
                            .fs19, .font-size\:19 {
                                font-size: 19px;
                            }
                            .fs20, .font-size\:20 {
                                font-size: 20px;
                            }
                            .color\:black {
                                color:black;
                            }
                            .color\:red {
                                color:red;
                            }
                            .color\:green {
                                color:green;
                            }
                            .color\:blue {
                                color:blue;
                            }
                            .color\:yellow {
                                color:yellow;
                            }
                            .color\:orange {
                                color:orange;
                            }
                            .center {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: center;
                            }
                            .justify {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: justify;
                            }
                            .left {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: left;
                            }
                            .right {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: right;
                            }
                            ul.indent li{
                                list-style: none;
                            }
                            img {
                                max-width: 100%;
                            }
                        }
                    }

                }
            }

            .side_panel {
                padding: 30px 30px 10px 30px;
                display: table-cell;
                width: 30%;
                min-width: 250px;
                background: $side_panel_gray;
                vertical-align: top;

                @include tablet {
                    top: 60px;
                    position: fixed;
                    z-index: 1;
                    width: 100%;
                    box-sizing: border-box;
                    bottom: 0;
                    left: 0;
                    overflow: auto;
                    padding: 20px 20px 40px;
                    min-width: initial;
                }
                .options_wrap {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 20px;
                    .options_header {
                        background: $light_gray;
                        padding: 0 10px;
                        height: 40px;
                        display: table;
                        width: 100%;
                        font-weight: $bold;
                        box-sizing: border-box;
                    }
                    .options_content {
                        background: $white;
                        padding: 5px 10px;
                        .blue_link, .personal_note {
                            padding: 5px 0;
                        }
                        .line {
                            margin: 5px 0;
                        }
                        .file_type {
                            font-size: 9px;
                            padding: 2px;
                        }
                    }
                }
            }

        }

    }
}
