@import 'vars';
@import 'mixins_n_extends';
@import 'icons';

#topics_admin_root {
    @extend .default_setup;

    .timeline {
        height: 85px;
        display: table;
        padding: 0 60px;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        margin-top: 15px;
        position: relative;
        background: $light_gray;

        @media (max-width: 767px) {
            padding: 0;
            height: 106px;
            margin-top: 22px;
        }

        .milestones_wrap {
            text-align: center;
            margin-bottom: 38px;
            display: none;
            width: 100px;

            @media (max-width: 767px) {
                display: table-row;
                height: 42px;
            }

            .milestones_section {
                display: inline-table;
                background: $lightest_gray;
                padding-right: 12px;
                border-radius: 12px;
                margin-left: -2px;
                .table_cell {
                    width: auto;
                    .milestones_text {
                        padding-left: 9px;
                    }
                    .milestones_checkmark {
                        padding-right: 5px;
                    }
                }
            }

        }

        .table_cell {
            position: relative;
            width: 100%;

            .background_line {
                height: 4px;
                width: 100%;
                position: absolute;
                left: 0;
                margin-top: -2px;
            }

            .progress_line {
                @extend .background_line;
            }

            .days_left_wrap {
                height: 24px;
                display: table;
                border-radius: 100px;
                font-weight: $bold;
                padding: 0 10px;
                position: absolute;
                margin-top: -12px;
            }

            .checkmark {
                height: 30px;
                width: 30px;
                display: table;
                margin-top: -15px;
                position: absolute;

                @media (max-width: 767px) {
                    display: none;
                }

                .table_cell {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    .sprite {
                        margin: 0 auto;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .tooltip {
                        visibility: visible;
                        @include tablet {
                            visibility: hidden;
                        }
                    }
                }
            }

        }

        .additional_info {
            position: absolute;
            top: 2px;
        }

        .additional_info.signing_deadline {
            right: 60px;
            @media (max-width: 767px) {
                width: 100%;
                left: 0;
                text-align: center;
                top: 33px;
            }
        }

        .additional_info.current_phase {
            left: 60px;
            @media (max-width: 767px) {
                display: none;
            }
        }

    }

    .content_wrap {

        .tabs_wrap_wrap {
            height: 44px;
            position: relative;
            display: table;
            width: 100%;

            .arrow_btn {
                position: absolute;
                background: linear-gradient(90deg, rgba(246, 246, 246, 100%) 72.5%, rgba(246, 246, 246, 0%) 100%);
                height: inherit;
                width: 70px;
                z-index: 2;
                border-bottom: 1px solid $lightest_gray;
                display: table;
                box-sizing: border-box;
                cursor: pointer;
                .sprite {
                    margin-left: 4px;
                }
                &:hover {
                    .sprite {
                        margin-left: 0;
                        @extend .sprite-icon-arrow-topic-tab2x-hover;
                    }
                }

            }

            .arrow_btn.right {
                right: 0;
                background: linear-gradient(90deg, rgba(246, 246, 246, 0%) 0, rgba(246, 246, 246, 100%) 28.5%);
                left: auto;
                .sprite {
                    margin-left: auto;
                    margin-right: 4px;
                }
                &:hover {
                    .sprite {
                        margin-left: auto;
                        margin-right: 0;
                        @extend .sprite-icon-arrow-right-topic-tab2x-hover;
                    }
                }
            }

            .fake_cell {
                display: table-cell;
                min-width: 310px;
                @include tablet {
                    display: none;
                }
            }

            .tabs_wrap {
                height: inherit;
                position: relative;
                display: table-cell;
                width: 70%;
                padding-left: 60px;
                box-sizing: border-box;
                @include tablet {
                    width: 100%;
                    padding-left: 0;
                }
                .tabs_visible_area {
                    height: inherit;
                    position: relative;
                    overflow: hidden;

                    @include tablet {
                        padding-left: 10px;
                    }

                    .tabs_rails {
                        height: inherit;
                        width: 99999px;
                        position: absolute;
                        top: 0;
                        .tabs_train {
                            height: inherit;
                            float: left;
                            position: absolute;
                            transition: all 450ms cubic-bezier(.45, .78, 0, 1);
                            @include tablet {
                                transition: none;
                            }
                            .tab {
                                display: table;
                                height: inherit;
                                float: left;
                                background: $white;
                                font-size: 14px;
                                font-weight: bold;
                                padding: 0 20px;
                                box-sizing: border-box;
                                margin-right: 10px;
                                border: 1px solid $lightest_gray;
                                position: relative;
                                z-index: 1;
                                text-align: center;
                                color: $text_gray;

                                &:hover {
                                    cursor: pointer;
                                    background: $light_gray;
                                    @include tablet {
                                        background: $white;
                                    }
                                }
                                @include tablet {
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }
                            .selected {
                                background: $light_gray;
                                border-bottom: 1px solid $light_gray;

                                &:hover {
                                    cursor: initial;
                                }
                            }
                        }
                    }
                }
            }

            .line {
                position: absolute;
                bottom: 0;
                left: 0;
            }

        }

        .content {
            display: table;
            width: 100%;
            box-sizing: border-box;
            position: relative;

            .main_panel {
                box-sizing: border-box;
                display: table-cell;
                width: 70%;
                position: relative;

                .info_bar_wrap {
                    position: relative;
                    z-index: 1;
                    .info_icon {
                        vertical-align: middle;
                    }
                    @include tablet {
                        margin-top: 0;
                    }

                }

                .main_content_wrap {
                    position: relative;
                    box-sizing: border-box;

                    @include tablet {
                        width: 100%;
                    }
                    .iframe_content_wrap {
                        padding: 30px 60px;

                        @media (max-width: 767px) {
                            padding: 30px 20px;
                        }

                        .topic_info.open {
                            .more_info_button {
                                .table_cell {
                                    .circle_holder {
                                        .circle_wrap {
                                            .circle {
                                                bottom: -1px;
                                            }
                                            &:nth-child(2) {
                                                .circle {
                                                    bottom: auto;
                                                    top: -2px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .line {
                                margin-top: 63px;
                            }

                        }

                        .topic_info {
                            position: relative;
                            margin-bottom: 29px;

                            .container_favorite {
                                top: -4px;
                                right: -41px;
                                &:active {
                                    top: -5px;
                                    right: -42px;
                                }
                                @media (max-width: 767px) {
                                    top: auto;
                                    bottom: 20px;
                                    right: 0;
                                    &:active {
                                        top: auto;
                                        bottom: 19px;
                                        right: -1px;
                                    }
                                }
                            }

                            .more_info_button {
                                width: 36px;
                                height: 20px;
                                background-color: $mobile_gray;
                                border: 1px solid $mobile_border_gray;
                                border-radius: 4px;
                                position: absolute;
                                bottom: 21px;
                                display: none;
                                @media (max-width: 767px) {
                                    display: table;
                                }
                                .table_cell {
                                    width: 100%;
                                    height: 100%;
                                    .circle_holder {
                                        width: 20px;
                                        margin: 0 auto;
                                        .circle_wrap {
                                            float: left;
                                            height: 4px;
                                            width: 4px;
                                            position: relative;
                                            &:not(:first-child) {
                                                margin-left: 4px;
                                            }
                                            .circle {
                                                position: absolute;
                                                height: 4px;
                                                width: 4px;
                                                border-radius: 50%;
                                                background: $circle_gray;
                                            }
                                        }
                                    }
                                }
                            }

                            .info_sections_wrap {
                                .info_section {
                                    margin-bottom: 7px;
                                }
                                tooltip, .tooltip_author {
                                    display: inline;
                                }
                            }

                            .line {
                                margin-top: 22px;
                                @media (max-width: 767px) {
                                    margin-top: 32px;
                                }
                            }
                            .info_section, .blue_link {
                                font-size: 13px;
                            }
                            .creator_data_tooltip_row {
                                display: table-row;
                            }
                        }

                        .topic_content {
                            font-family: 'Noto Serif', serif;
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 175%;
                            word-break: break-word;

                            h1, h2, h3, h4, h5, h6 {
                                font-family: 'Open Sans', sans-serif;
                                color: $medium_black;
                                margin: 20px 0;
                                line-height: 135%;
                                font-weight: bold;
                            }

                            h1 {
                                font-size: 46px;
                            }

                            h2 {
                                font-size: 40px;
                            }

                            h3 {
                                font-size: 34px;
                            }

                            h4 {
                                font-size: 28px;
                            }

                            h5 {
                                font-size: 22px;
                            }

                            h6 {
                                font-size: 16px;
                            }

                            @include mobile {
                                h1 {
                                    font-size: 30px;
                                }

                                h2 {
                                    font-size: 24px;
                                }

                                h3 {
                                    font-size: 18px;
                                }

                                h4, h5, h6 {
                                    font-size: 16px;
                                }
                            }

                            a {
                                color: $deep_sky_blue;
                            }

                            code {
                                font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
                            }

                            .fs8 {
                                font-size: 8px
                            }
                            .fs9 {
                                font-size: 9px
                            }
                            .fs10 {
                                font-size: 10px;
                            }
                            .fs11 {
                                font-size: 11px;
                            }
                            .fs12 {
                                font-size: 12px;
                            }
                            .fs13 {
                                font-size: 13px;
                            }
                            .fs14 {
                                font-size: 14px;
                            }
                            .fs15 {
                                font-size: 15px;
                            }
                            .fs16 {
                                font-size: 16px;
                            }
                            .fs17 {
                                font-size: 17px;
                            }
                            .fs18 {
                                font-size: 18px;
                            }
                            .fs19 {
                                font-size: 19px;
                            }
                            .fs20 {
                                font-size: 20px;
                            }
                            .black {
                                color: black;
                            }
                            .red {
                                color: red;
                            }
                            .green {
                                color: green;
                            }
                            .blue {
                                color: blue;
                            }
                            .yellow {
                                color: yellow;
                            }
                            .orange {
                                color: orange;
                            }
                            .center {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: center;
                            }
                            .justify {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: justify;
                            }
                            .left {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: left;
                            }
                            .right {
                                width: 100%;
                                margin: 0 auto;
                                list-style-position: inside;
                                display: block;
                                text-align: right;
                            }
                            ul.indent li{
                                list-style: none;
                            }
                            img {
                                max-width: 100%;
                            }
                        }
                    }

                }
            }

            .side_panel {
                padding: 30px 30px 10px 30px;
                display: table-cell;
                width: 30%;
                min-width: 250px;
                background: $side_panel_gray;
                vertical-align: top;

                @include tablet {
                    top: 60px;
                    position: fixed;
                    z-index: 1;
                    width: 100%;
                    box-sizing: border-box;
                    bottom: 0;
                    left: 0;
                    overflow: auto;
                    padding: 20px 20px 40px;
                    min-width: initial;
                }
                .options_wrap {
                    width: 100%;
                    font-size: 14px;
                    margin-bottom: 20px;
                    .options_header {
                        background: $light_gray;
                        padding: 0 10px;
                        height: 40px;
                        display: table;
                        width: 100%;
                        font-weight: $bold;
                        box-sizing: border-box;
                    }
                    .options_content {
                        background: $white;
                        padding: 5px 10px;
                        .blue_link, .personal_note {
                            padding: 5px 0;
                        }
                        .line {
                            margin: 5px 0;
                        }
                        .file_type {
                            font-size: 9px;
                            padding: 2px;
                        }
                    }
                }
            }

        }

    }

}
