@import 'vars';
@import 'mixins_n_extends';
@import 'icons';

#topics_root {
    @extend .default_setup;

    .v_line.separator {
        width: 1px;
        background: $medium_gray;
        top: 0;
        bottom: 0;
        position: absolute;

        @media (max-width: 750px) {
            display: none;
        }
    }

    .topics_left .v_line.separator {
        right: 0;
    }

    .topics_right .v_line.separator {
        left: -1px;
    }

    .v_line.absolute_separator {
        left: 38%;
        margin-left: -1px;

        @media (max-width: 1680px) {
            left: 33%;
        }

        @media (max-width: 1320px) {
            left: 38%;
        }
    }

    #topics_wrap {
        background: $light_gray;

        

        .container_header {
            margin-top: 10px;
            height: 30px;
            background: $medium_gray;
            display: table;
            width: 100%;
            padding-left: 5px;
            box-sizing: border-box;

            .header_text {
                @extend .table_cell;
                font-size: 13px;
                padding-left: 5px;
            }

            .header_img_wrap {
                height: 30px;
                width: 25px;
                @extend .table_cell;
                img {
                    height: 20px;
                    width: 20px;
                    display: block;
                }
            }


            .minimize_container {
                @extend .table_cell;
                width: 36px;
                cursor: pointer;

                .sprite {
                    margin: 0 auto;
                }

                &:hover {
                    background: $dark_gray;

                    @include tablet {
                        background: initial;
                    }
                }
            }
        }

        .topics_left {
            width: 28%;

            @media (max-width: 1680px) {
                width: 33%;
            }

            @media (max-width: 1320px) {
                width: 38%;
            }

            @media (max-width: 750px) {
                width: 100%;
            }

            padding: 10px 11px 10px 10px;
            box-sizing: border-box;
            float: left;
            position: relative;

            .container_header {
                margin-top: 20px;
            }

            .small_topic {
                height: 120px;
                background: $white;
                padding: 13px 20px 17px 20px;
                box-sizing: border-box;
                cursor: pointer;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                position: relative;

                .favorite_container {
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }

                &:not(:first-child) {
                    margin-top: 10px;
                }

                .small_topic_small_text {
                    font-size: 13px;
                }

                .small_topic_left_cont {
                    float: left;
                }

                .small_topic_right_cont {
                    float: right;
                }

                .small_topic_header {
                    height: 20px;

                    .small_topic_icon, .small_topic_small_text {
                        float: left;
                        opacity: .69;
                    }

                    .small_topic_left_cont {
                        .small_topic_icon {
                            margin: 3px 8px 0 0;
                        }
                    }

                    .small_topic_right_cont {
                        position: relative;

                        .icon_container {
                            height: 20px;
                            width: 20px;
                            overflow: hidden;
                            border-radius: 50%;

                            .topic_image {
                                width: 20px;
                                height: 20px;
                            }

                        }

                        .small_topic_icon {
                            margin: 1px 8px 0 0;
                        }

                        &:hover .hover_info {
                            display: block;
                            @include tablet {
                                display: none;
                            }
                        }

                        &:hover .small_topic_small_text, &:hover .small_topic_icon {
                            opacity: 1;
                            @include tablet {
                                opacity: .69;
                            }
                        }

                        .hover_info {
                            background-color: $transparent_black;
                            position: absolute;
                            color: $white;
                            border-radius: 4px;
                            padding: 14px 15px 1px 15px;
                            font-weight: $bold;
                            font-size: 14px;
                            display: none;
                            width: 300px;
                            z-index: 9999;
                            right: 0;
                            margin-right: -340px;
                            top: 0;
                            margin-top: -15px;

                            .info_arrow {
                                position: absolute;
                                left: -5px;
                                top: 20px;
                            }

                            .hover_item {
                                margin-bottom: 15px;
                                .icon_container {
                                    float: left;
                                    margin: 0 12px 0 0;
                                }
                            }
                        }
                    }

                }

                .small_topic_title {
                    font-size: 16px;
                    color: $deep_sky_blue;
                    font-weight: $bold;
                    margin-top: 6px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .line {
                    margin-top: 9px;
                }

                .small_topic_footer {
                    color: $medium_black;
                    margin-top: 14px;
                }

            }

            .small_topic.active, .container_header.active  {
                background: $deep_sky_blue;

                .small_topic_title, .small_topic_small_text, .header_text {
                    color: $white !important;
                }

                .sprite-menu-icon-groups2x-dark {
                    @extend .sprite-menu-icon-groups2x;
                }

                .sprite-mytopics-icon-progress2x {
                    @extend .sprite-mytopics-icon-progress2x-w;
                }

                .sprite-mytopics-icon-infollowup2x {
                    @extend .sprite-mytopics-icon-infollowup2x-w;
                }

                .sprite-mytopics-icon-invoting2x {
                    @extend .sprite-mytopics-icon-invoting2x-w;
                }
                
                .sprite-icon-lock2x {
                    @extend .sprite-icon-lock2x-white;
                }
                
                .sprite-btn-expand2x {
                    @extend .sprite-btn-expand2x-white;
                }

                .sprite-btn-minimize2x {
                    @extend .sprite-btn-minimize2x-white;
                }

                .minimize_container:hover {
                    background: $dark_blue;

                    @include tablet {
                        background: initial;
                    }
                }

            }

            .small_topic:hover {
                .small_topic_title {
                    text-decoration: underline;
                    @include tablet {
                        text-decoration: none;
                    }
                }
            }
        }

        .topics_right {
            width: 72%;

            @media (max-width: 1680px) {
                width: 67%;
            }

            @media (max-width: 1320px) {
                width: 62%;
            }

            @media (max-width: 750px) {
                width: 100%;
            }

            padding: 0 10px 10px 10px;
            float: left;
            position: relative;
            box-sizing: border-box;

            .info_container {
                width: 100%;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);

                .via {
                    font-weight: $medium;
                    font-size: 13px;
                }

                .blue_link {
                    display: inline;
                }

                .second_header {
                    height: 50px;
                    padding-left: 9px;
                    margin-top: 0;

                    .table_cell {
                        input {
                            @extend .input_small;
                        }
                    }

                    .table_cell:nth-child(1) {
                        padding-right: 10px;
                    }

                    .table_cell:nth-child(2) {
                        width: 100px;
                    }

                    .table_cell:nth-child(3) {
                        width: 60px;
                        text-align: right;
                        padding-right: 10px;
                        padding-bottom: 1px;

                        .blue_link {
                            font-size: 13px;
                        }

                    }

                }

                .container_content.activity_container {
                    padding: 20px 20px 10px 20px;
                }

                .container_content {
                    background: $white;
                    width: 100%;
                    padding: 0 20px;
                    box-sizing: border-box;
                    position: relative;

                    .highlight {
                        padding: 0 2px;
                    }

                    .activity {
                        padding-left: 130px;
                        margin-bottom: 10px;
                        @media (max-width: 700px) {
                            padding-left: 85px;
                        }

                        .activity_left {
                            width: 107px;
                            position: absolute;
                            margin-left: -130px;
                            @media (max-width: 700px) {
                                width: 70px;
                                margin-left: -85px;
                            }

                            .activiy_time {
                                font-size: 13px;
                                opacity: .7;
                                margin-top: 3px;
                            }

                            .view_older {
                                font-size: 13px;
                            }
                        }

                        .activity_right {
                            font-size: 14px;

                            .activity_icon {
                                float: left;
                                margin: 1px 10px 0 0;
                            }

                            .activiy_title {
                                font-weight: $bold;
                            }

                            .activiy_description {
                                margin-top: 1px;
                                opacity: 0.7;
                            }

                        }

                    }

                    .content_top {

                        .container_title {
                            color: $deep_sky_blue;
                            font-size: 36px;
                            font-weight: $bold;
                            padding: 20px 27px 20px 0;
                            @include tablet {
                                font-size: 26px;
                            }
                            img {
                                float: left;
                                height: 40px;
                                width: 40px;
                                margin-top: 4px;
                                margin-right: 20px;
                            }
                        }
                        .container_favorite {
                            position: absolute;
                            right: 15px;
                            top: 15px;
                            width: 22px;
                            height: 22px;
                            cursor: pointer;
                            background-color: $lightest_gray;
                            border-radius: 50%;
                            overflow: hidden;

                            .ff_table_fix {
                                display: table;
                                width: 100%;
                                height: 100%;
                            }

                            &:hover {
                                .yellow_bg {
                                    width: 24px;
                                    height: 24px;
                                    top: 0;
                                    right: 0;
                                    @include tablet {
                                        width: 0;
                                        height: 0;
                                    }
                                }
                            }

                            &:active {
                                width: 24px;
                                height: 24px;
                                top: 14px;
                                right: 14px;
                                .yellow_bg {
                                    transition: none;
                                    width: 24px;
                                    height: 24px;
                                    top: 0;
                                    right: 0;
                                }
                            }

                            .yellow_bg {
                                transition: all 360ms cubic-bezier(.45, .78, 0, 1);
                                @include tablet {
                                    transition: none;
                                }
                                background: $favorite_yellow;
                                border-radius: 50%;
                                width: 0;
                                height: 0;
                                position: absolute;
                                top: 12px;
                                right: 12px;
                            }

                            .sprite {
                                margin: 0 auto;
                                position: relative;
                                z-index: 1;
                            }

                        }

                        .container_favorite.favorited {
                            .yellow_bg {
                                transition: none;
                                width: 24px;
                                height: 24px;
                                top: 0;
                                right: 0;
                            }
                        }

                    }

                    .content_bottom {
                        padding-bottom: 20px;
                        .content_column {
                            margin-top: 20px;
                            width: 33.3%;
                            float: left;
                            position: relative;
                                box-sizing: border-box;
                            @media (max-width: 1280px) {
                                width: 50%;
                            }
                            @include tablet {
                                position: initial;
                            }
                            @media (max-width: 700px) {
                                &:nth-child(1) {
                                    padding-right: 10px;
                                }

                                &:nth-child(2) {
                                    padding-left: 10px;
                                }
                            }
                            @include mobile {
                                width: 100%;
                                &:nth-child(1), &:nth-child(2) {
                                    padding-right: 0;
                                    padding-left: 0;
                                }
                            }

                            .content_item {

                                &:not(:last-child) {
                                    margin-bottom: 20px;
                                }

                                .item_description {
                                    font-size: 13px;
                                    opacity: .7;
                                }
                                .item_content {

                                    .item_text, .v_line, .item_link {
                                        float: left;
                                    }

                                    .v_line {
                                        height: 14px;
                                        width: 1px;
                                        background: $medium_black;
                                        margin-right: 7px;
                                        margin-top: 4px;
                                    }

                                    .v_line.bold {
                                        width: 2px;
                                    }

                                    .item_text {
                                        font-weight: $bold;
                                        margin-right: 7px;
                                        font-size: 16px;
                                    }

                                    .item_link {
                                        font-size: 13px;
                                        margin-top: 2px;
                                        margin-right: 7px;
                                    }

                                    .remove {
                                        color: $pinky_red;
                                        .sprite {
                                            float: left;
                                            margin-top: 4px;
                                            margin-right: 5px;
                                        }
                                    }

                                                                        
                                    .float_left {
                                        display: inline-block;
                                        position: relative;
                                        margin-left: 2px;
                                        width: 40px;
                                        .v_line, .item_link {
                                            position: absolute;
                                        }
                                        .v_line {
                                            bottom: -1px;
                                        }
                                        .item_link {
                                            bottom: -3px;
                                            left: 10px;
                                        }
                                    }

                                }
                            }
                        }

                    }

                }

            }

            .info_container.group_detail {

                .content_column:nth-child(1) {
                    width: 33.3%;

                    @media (max-width: 1280px) {
                        width: 50%;
                    }
                    @include mobile {
                        width: 100%;
                    }
                }
                
                .content_column:nth-child(2) {
                    width: 66.6%;

                    @media (max-width: 1280px) {
                        width: 50%;
                    }
                    @include mobile {
                        width: 100%;
                    }
                }

                .container_title {
                    padding-top: 16px !important;
                    padding-bottom: 15px !important;
                }
            }

            .info_container.vote_results {

                .container_content {
                    .content_bottom {

                        .content_column {
                            width: 66.6%;

                            @media (max-width: 1280px) {
                                width: 50%;
                            }
                            @include mobile {
                                width: 100%;
                            }
                        }

                        .content_column:first-child {
                            padding-right: 20px;
                            box-sizing: border-box;
                            
                            @include mobile {
                                padding-right: 0;
                            }

                            .content_item {

                                .item_content:nth-child(2) {
                                    margin-top: 4px;
                                }

                                .item_content {
                                    margin: 9px 0;
                                    float: left;
                                    @include mobile {
                                        width: 100%;
                                    }

                                    .item_text:first-child {
                                        width: 111px;
                                        @include mobile {
                                            width: initial;
                                        }
                                    }

                                    .item_text:last-child {
                                        @include mobile {
                                            float: right;
                                        }
                                    }
                                }

                            }

                        }

                        .content_column:nth-child(2) {
                            width: 33.3%;

                            @media (max-width: 1280px) {
                                width: 50%;
                            }

                            .content_item {
                                .item_content {
                                    margin-top: 5px;
                                }
                            }
                        }

                    }
                }
            }

            .info_container.group_list {

                .container_content {
                    table {
                        width: 100%;
                        border-collapse: collapse;

                        th {
                            border-bottom: 1px solid $lightest_gray;
                            padding: 20px 0 10px 0;
                        }
                        th {
                            font-size: 13px;
                            opacity: .7;
                            font-weight: $medium;
                            text-decoration: underline;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                            .th_text {
                                position: relative;
                                display: inline;
                                .sprite {
                                    position: absolute;
                                    right: -11px;
                                    top: 4px;
                                }
                            }
                        }

                        td {
                            padding: 5px 0;

                            &:first-child {
                                padding-right: 10px;
                            }
                        }

                        td:nth-child(1) {
                            font-size: 14px;
                            font-weight: $bold;
                        }

                        tr:nth-child(2) td {
                            padding-top: 14px;
                        }

                        tr:last-child td {
                            padding-bottom: 19px;
                        }

                        td:nth-child(2), th:nth-child(2) {
                            text-align: center;
                            width: 100px;
                        }
                        td:nth-child(3), th:nth-child(3) {
                            font-size: 13px;
                            text-align: center;
                            width: 100px;
                        }
                        td:nth-child(4), th:nth-child(4) {
                            text-align: center;
                            width: 117px;
                            text-decoration: none;
                            @media (max-width: 1280px) {
                                width: initial;
                                span {
                                    display: none;
                                }
                            }
                        }
                        .table_wrap {
                            border-radius: 4px;
                            border: solid 1px $lightest_gray;
                            width: 30px;
                            height: 30px;
                            margin: 0 auto;
                            cursor: pointer;

                            &:hover {
                                border: solid 1px $pinky_red;
                                background: $pinky_red;
                                
                                .tooltip {
                                    visibility: visible;
                                }
                                
                                .sprite {
                                    @extend .sprite-mytopics-icon-deletetopic02x;
                                    /*@media (max-width: 1024px) {
	                                    background-position: -579px -548px;

                                    }*/
                                }
                                /*@include tablet {
                                    background: initial;
                                    border: solid 1px $lightest_gray;
                                }*/
                            }

                            .delete_topic_btn {
                                width: inherit;
                                height: inherit;
                                display: table;
                                position: relative;
                            }
                        }

                        .sprite {
                            margin: 0 auto;
                        }

                    }
                }

            }

            .info_container.group_list.user_list {
                .container_content {
                    table {

                        tr:nth-child(2) td {
                            padding-top: 10px;
                        }

                        .name_wrap {
                            display: table;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
