body, html {
    background: #ffffff;
    height: initial !important;
    min-height: initial !important;
    width: 100%;
}

#widget_wrapper {
    border: 1px solid #E5E5E5;
}

#root_lightbox {
    background-color: rgba(200, 200, 200, 0.6);

    #lightbox {
        top: 10px;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

.comments_section {
    margin: 0;
}

#widget_header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #F5F5F5;

    .widget_user_cell {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }

    .tabel_cell {
        vertical-align: middle;
        line-height: 27px;
    }

    #widget_header_logo_wrapper {
        margin-left: 20px;

        .widget_text_header {
            position: relative;
            display: inline-block;
            color: #252525;
            font-family: 'Noto Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            line-height: 60px;
            height: 60px;
            vertical-align: middle;
            top: 0px;
        }
        #widget_header_logo_items {
            position: relative;
            display: inline-block;

            #widget_logo {
                position: relative;
                display: inline-block;
                height: 28px;
                width: 150px;
                top: 10px;
                margin-left: 5px;
            }
        }
    }

    #widget_user {
        display: table;
        position: absolute;
        top: 0;
        right: 10px;
        height: 60px;

        #account_area {
            display: table-cell;
            padding-right: 10px;
            vertical-align: middle;
        }

        .profile_image_wrapper {
            width: 28px;

            #widget_user_image {
                width: 28px;
                height: 28px;
                margin-top: 16px;
            }

            .profile_image_filler {
                color: #E5E5E5;
            }

            .profile_circle {
                border-color: #E5E5E5;
            }
        }

        #user_name {
            height: 60px;
            color: #252525;
            font-family: 'Noto Sans', sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
        }

        #login, #log_out {
            color: #0680FC;
            font-family: 'Noto Sans', sans-serif;
            font-size: 13px;
            line-height: 19px;
        }

        a {
            color: #0680FC;
        }
    }
    @media (max-width: 650px) {
        height: initial;

        #widget_header_logo_wrapper {
            width: calc(100% - 40px);
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: 1px solid #E5E5E5;

            #widget_header_logo_items {
                height: 60px;

                #widget_logo {
                    margin-left: 0px;
                }
            }
        }

        #widget_user {
            right: 0;
            left: 20px;
            width: 100%;
            position: relative;
            height: 60px;

            #account_area {
                display: block;
            }

            #login {
                padding-left: 0;
            }
        }
        .widget_user_cell {
            display: inline-block;
            line-height: 60px !important;
            &:last-child {
                right: 40px;
                position: absolute;
                top: 15px;
            }
        }
        .white_button {
            line-height: initial;
            height: 30px;
            width: 40px;
        }
        .blue_button {
            line-height: initial;
            margin-top: 15px;
        }
    }

    @media (max-width: 370px) {
        .widget_user_cell:last-child {
            position: initial;
            right: 0;
            padding-left: 0;
            padding-top: 10px;
            padding-bottom: 10px;

            .white_button {
                line-height: initial;
                height: 30px;
                width: auto;
            }
        }
    }

}

#widget_footer {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: table;

    .widget_footer_link {
        vertical-align: middle;
        float: left;
        padding: 20px 0px 20px 20px;

        a {
            color: #0680FC;
            font-family: 'Noto Sans', sans-serif;
            font-size: 13px;
            line-height: 19px;
        }
    }

    #widget_footer_logo_wrapper {
        margin-left: 20px;
        margin-right: 20px;
        float: right;

        .widget_text_footer {
            position: relative;
            display: inline-block;
            color: #252525;
            font-family: 'Noto Sans', sans-serif;
            font-size: 13px;
            text-align: center;
            line-height: 60px;
            height: 60px;
            vertical-align: middle;
            top: 0;
        }
        #widget_footer_logo_items {
            position: relative;
            display: inline-block;

            #widget_footer_logo {
                position: relative;
                display: inline-block;
                height: 28px;
                width: 150px;
                top: 10px;
                margin-left: 5px;
            }
        }
    }

    @media (max-width: 650px) {
        height: initial;

        #widget_footer_logo_wrapper, .widget_footer_link {
            float: none;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 20px 0 0px 0px;
            position: relative;
        }
        .widget_footer_link {
            display: inline-block;
            padding: 0;
            vertical-align: middle;
            line-height: 60px;
        }
        #widget_footer_logo_wrapper {
            padding: 0;
        }
    }

    @media (max-width: 310px) {
        #widget_footer_logo_items {
            height: 60px;
        }
    }
}
