<div ng-controller="HelpFormCtrl">
<div class="help_widget" ng-if="showHelp">
    <div class="help_top">
        <div class="help_back_link" ng-click="helpback()"><div class="sprite sprite-icon-arrow-topic-tab2x"></div></div>
        <div class="help_title_text_wrapper">
            <div class="help_title_text">Help center</div>
        </div>
        <div id="help_close" ng-click="closeHelp()">
            <div class="table_cell">
                <div class="sprite sprite sprite-btn-popup-close2x">
                </div>
            </div>
        </div>
    </div>
    <div class="help_content">
        <iframe id="help_frame" name="help_frame" ng-if="showHelp" frameborder="0"  ng-src="https://citizenos.com/help?app=true" width="100%"></iframe>
    </div>
</div>
<div ng-show="!app.config.helplink" class="help_bubble" ng-click="showHelp = !showHelp"></div>
<a ng-if="app.config.helplink" class="help_bubble" ng-href={{app.config.helplink}} target="_blank"></a>
</div>
