<div ng-controller="HelpFormCtrl">
<div class="help_widget" ng-if="showHelp">
    <div class="help_top">
        <div class="help_title_text_wrapper">
            <div class="help_title_text" translate="HELP_WIDGET.TITLE">We’re here to help!</div>
        </div>
        <div class="help_description">
            <span translate="HELP_WIDGET.DESCRIPTION">If you have questions or comments, we’re eager to hear them and help you!</span>
            <!--a><span class="sprite sprite-bullet-arrow2x"></span><span translate="HELP_WIDGET.LINK_FAQ">Frequently asked questions</span></a>
            <a><span class="sprite sprite-bullet-arrow2x"></span><span translate="HELP_WIDGET.LINK_HELP_PAGE">Help page</span></a-->
        </div>
    </div>
    <div class="help_bottom">
        <div class="help_bottom_title" translate="HELP_WIDGET.SEND_US_MESSAGE">Send us a message</div>
        <form name="helpForm" novalidate>
            <input id="email" type="email" name="email" placeholder="{{'HELP_WIDGET.PLACEHOLDER_WRITE_YOUR_EMAIL' | translate}}" ng-model="form.email" ng-class="{'error_input': errors.email}" maxlength="254" required/>
            <label for="email" class="error_label" ng-if="helpForm.email.$error.email">
                <div class="table_cell">
                    <div class="sprite sprite-icon-inputfield-error2x"></div>
                    <span translate="HELP_WIDGET.ERROR_INVALID_EMAIL"></span>
                </div>
            </label>
            <textarea placeholder="{{'HELP_WIDGET.PLACEHOLDER_WRITE_YOUR_MESSAGE' | translate}}" ng-model="form.description" name="description" maxlength="2048" required></textarea>
            <div class="blue_button_wrap">
                <button type="submit" ng-click="sendHelp()" cos-disabled="helpForm.$invalid" class="blue_button" translate="HELP_WIDGET.BTN_SEND">Send</button>
            </div>
        </form>
    </div>
</div>
<div class="help_bubble" ng-click="showHelp = !showHelp"></div>
</div>
