<!-- LIGHTBOX SKELETON -->
<div class="line lightest_line"></div>
<div id="root_lightbox" class="full_screen left_menu_visible">
    <div id="lightbox" class="aligned_left_top">
        <div id="lightbox_wrap">

            <div id="lightbox_header">

                <div id="lightbox_header_text">
                    <div class="title" translate="MODALS.ACTIVITY_MODAL_HEADING">Full activity</div>

                    <div cos-dropdown class="classic_dropdown">

                        <div class="dropdown_selection">
                            <div class="dropdown_text medium" translate="ACTIVITY_FEED.FILTER_{{$ctrl.ActivityService.filter.toUpperCase()}}">
                                Show all activity ordered by time
                            </div>

                            <div class="arrow_holder">
                                <div class="table_cell">
                                    <div class="sprite sprite-icon-dropdown-arrowdown2x"></div>

                                    <div class="v_line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">

                            <!-- NO CATEGORY -->
                            <div class="dropdown_item" ng-repeat="(key, filter) in $ctrl.ActivityService.filters" ng-click="$ctrl.ActivityService.filterActivities(filter)">
                                <div class="item_name medium" translate="ACTIVITY_FEED.FILTER_{{filter.toUpperCase()}}">
                                    Show all activity ordered by time
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div id="lightbox_close" ng-click="$ctrl.app.closeThisDialog($event)">
                    <div class="table_cell">
                        <div class="sprite sprite-btn-popup-close2x">
                        </div>
                    </div>
                </div>


            </div>

            <div class="line lightest_line"></div>


            <!-- CONFIRM CONTENT -->
            <div class="lightbox_content" cos-scroll on-scroll="$ctrl.ActivityService.loadMore()">
                <div class="lightbox_section">
                    <div class="activity_wrap modal">
                        <div class="activity_area">
                            <activity item="group" ng-repeat="(key, group) in $ctrl.ActivityService.activities""></activity>
                        </div>
                    </div>
                </div>

            </div>

            <div class="lightbox_background"></div>


        </div>
    </div>

    <div id="close_lightbox" ng-click="$ctrl.app.closeThisDialog($event)">
    </div>

</div>
